<template>
	<div>
		<div class="u-block-spacing" :class="$style.block">
			<h1 class="u-heading" :class="$style.heading">Join our team.</h1>

			<div v-for="(post, index) in postings" :key="index" :class="$style.post">
				<div :class="$style.left">
					<p v-if="index + 1 < 10" :class="$style.label">{{ `0${index + 1}` }}</p>
					<p v-else :class="$style.label">{{ index + 1 }}</p>

					<h2 :class="$style.title">{{ post.text }}</h2>
				</div>

				<div :class="$style.right">
					<p :class="[$style.label, $style.desktop]">Description</p>

					<p class="u-copy" :class="$style.description">
						{{ trimDescription(post.descriptionPlain) }}
					</p>

					<BaseButton :href="post.hostedUrl" size="medium" appearance="primary" target="_blank" rel="noopener">
						Apply Now
					</BaseButton>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import flatten from 'lodash/flatten';
import getMetadata from '@/utils/get-metadata';

export default {
	async asyncData({ store, req }) {
		const [page, jobs] = await Promise.all([
			store.dispatch('pages/FETCH_PAGE_DATA', { pageName: 'careers', req }),
			store.dispatch('pages/FETCH_CAREER_PAGE_DATA'),
		]);
		return { page, jobs };
	},

	head() {
		return this.page
			? getMetadata(
					{
						...this.page.seo,
						path: this.$route && this.$route.path,
					},
					this.$sentry
			  )
			: {};
	},

	computed: {
		postings() {
			return flatten(this.jobs.map(({ postings }) => postings));
		},
	},

	methods: {
		trimDescription(text) {
			let result = 'No description provided.';

			if (text) {
				/* eslint-disable-next-line no-useless-escape */
				result = text.match(/[^\.!\?]+[\.!\?]+/g);
				result = result === null ? text : result.length > 2 ? result.slice(0, 3).join(' ') : result.join(' ');
			}

			return result;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	max-width: 91rem;
	padding: 0 size('s');
	margin-right: auto;
	margin-left: auto;
}

.desktop {
	@include below('medium') {
		display: none;
	}
}

.post {
	padding: size('m') 0;
	font-size: 1.6rem;
	border-bottom: 1px solid color('border');

	@include above('medium') {
		display: flex;
		justify-content: space-between;
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.left {
	@include above('medium') {
		width: 33%;
	}
}

.right {
	@include above('medium') {
		width: 66%;
	}
}

.label {
	margin-bottom: size('s');
	font-size: 1.2rem;
	text-transform: uppercase;

	&::after {
		display: block;
		width: 14px;
		height: 1px;
		margin-top: 8px;
		content: '';
		background-color: color('text');
	}
}

.title {
	@include use-text-style('heading-200');

	max-width: 80%;
	font-weight: 300;

	@include below('medium') {
		margin-bottom: size('s');
	}
}

.description {
	margin-bottom: size('s');
}
</style>
