<template>
	<div class="no-block-spacing">
		<ProviderRecaptcha
			v-slot="{ runRecaptcha, recaptchaReset }"
			:recaptcha-container-id="recaptchaContainerId"
			wait-to-initialize
		>
			<template v-if="!submittedSuccess">
				<template v-for="(slice, index) in page.slices">
					<BlockPageBanner
						v-if="slice.sliceType === 'PageBanner'"
						:key="index"
						v-bind="slice.props"
						:critical="index < 2"
					/>

					<BlockMultiColumnLayout
						v-else-if="slice.sliceType === 'MultiColumnLayout'"
						:key="index"
						:critical="index < 2"
						v-bind="slice.props"
					/>

					<div v-if="slice.sliceType === 'IntakeForm'" :key="index">
						<FormSpecRenderer
							ref="formSpecRenderer"
							:spec="getFormSpec(index)"
							:is-working="isWorking"
							cta-text="Submit"
							style-variation="primary"
							@submit="(data) => submit(data, runRecaptcha, recaptchaReset, `recaptcha-container-${index}`)"
						>
							<template #header>
								<h2 :class="$style.header">Intake form</h2>
								<p>
									Complete the following details regarding your healthcare facility or business needs and one of our
									team members will be in touch to answer your questions, provide a quote, and help fulfill your order.
								</p>
							</template>
							<template #error>
								<div v-if="error" role="alert" :class="$style.error">
									{{ error }}
								</div>
							</template>
							<template #below-form>
								<div :class="$style.recaptchaText">
									This site is protected by reCAPTCHA and the Google
									<a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
									<a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
								</div>
								<div :id="`recaptcha-container-${index}`" />
							</template>
						</FormSpecRenderer>
					</div>
				</template>
			</template>

			<div v-else>
				<template v-for="(slice, index) in page.afterSubmit">
					<BlockPageBanner
						v-if="slice.sliceType === 'PageBanner'"
						:key="index"
						v-bind="slice.props"
						:critical="index < 2"
					/>
					<BlockMultiColumnLayout
						v-else-if="slice.sliceType === 'MultiColumnLayout'"
						:key="index"
						:critical="index < 2"
						v-bind="slice.props"
					/>

					<div v-else-if="slice.sliceType === 'ThankYouMessage'" :key="index" :class="$style.block">
						<h2 :class="$style.header">{{ slice.props.heading }}</h2>
						<div :class="$style.thanksCopy" v-html="slice.props.message" />

						<div v-if="slice.props.ctaLink && slice.props.ctaLink.url" :class="$style.ctaSection">
							<BaseButton
								:smart="slice.props.ctaLink && slice.props.ctaLink.url"
								size="medium"
								appearance="primary"
								:class="$style.cta"
							>
								{{ slice.props.ctaText }}
							</BaseButton>
						</div>
					</div>
				</template>
			</div>
		</ProviderRecaptcha>
	</div>
</template>

<script>
import ProviderRecaptcha from '@components/provider-recaptcha';
import BlockPageBanner from '@components/block-page-banner';
import BlockMultiColumnLayout from '@components/block-multi-column-layout';
import FormSpecRenderer from '@components/form-spec-renderer';
import FormInput from '@components/form-input';
import FormInputProductQuality from '@components/form-input-product-quantity';
import FormTextarea from '@components/form-textarea';
import FormSelect from '@components/form-select';
import FormCheckbox from '@components/form-checkbox';
import { fromEntries } from '@/utils';
import getMetadata from '@/utils/get-metadata';
const formComponents = { FormInput, FormInputProductQuality, FormTextarea, FormSelect, FormCheckbox };

// prettier-ignore
const states = ['State', 'AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VI','VA','WA','WV','WI','WY'].map((state) => ({ value: state, text: state }));
// prettier-ignore
const categories = ['Category','Hospital','Dental','Other Healthcare','Nursing Home','Office','School','Hotel','Gym/Fitness','Salon','Spa','Other'].map(category => ({ value: category, text: category }));

export default {
	components: {
		ProviderRecaptcha,
		BlockPageBanner,
		BlockMultiColumnLayout,
		FormSpecRenderer,
		...formComponents,
	},

	beforeRouteEnter: (to, from, next) =>
		next((vm) => {
			if (!vm.isInitialRoute) vm.previousFullPath = from.fullPath;
		}),

	asyncData: async ({ store, req }) => ({
		page: await store.dispatch('pages/FETCH_PAGE_DATA', { pageName: 'healthcare_inquiries', req }),
		isInitialRoute: process.server,
	}),

	data: () => ({
		formSpec: [],
		recaptchaContainerId: '',
		formSpecLabels: {},
		isWorking: false,
		submittedSuccess: false,
		error: '',
		previousFullPath: '',
	}),

	head() {
		return this.page
			? getMetadata(
					{
						...this.page.seo,
						path: this.$route && this.$route.path,
					},
					this.page.seo,
					this.$sentry
			  )
			: {};
	},

	created() {
		this.formSpec = [
			{
				id: 'first_name',
				component: FormInput,
				labelHidden: true,
				label: 'First Name *',
				placeholder: 'First name',
				required: true,
				appearance: 'halfOnDesktop',
			},
			{
				id: 'last_name',
				component: FormInput,
				labelHidden: true,
				label: 'Last Name *',
				placeholder: 'Last name',
				required: true,
				appearance: 'halfOnDesktop',
			},
			{
				id: 'organization_name',
				component: FormInput,
				labelHidden: true,
				label: 'Healthcare facility or Company name *',
				placeholder: 'Healthcare facility or Company name',
				required: true,
				biggerSpacingBelow: true,
			},
			{
				id: 'email',
				component: FormInput,
				labelHidden: true,
				type: 'email',
				label: 'Your work email *',
				placeholder: 'Your work email',
				required: true,
			},
			{
				id: 'phone',
				component: FormInput,
				labelHidden: true,
				type: 'tel',
				label: 'Phone Number *',
				placeholder: 'Your phone number',
				required: true,
				biggerSpacingBelow: true,
			},
			{
				id: 'line1',
				component: FormInput,
				labelHidden: true,
				label: 'Mailing address',
				placeholder: 'Mailing address',
				required: true,
			},
			{
				id: 'city',
				component: FormInput,
				labelHidden: true,
				label: 'City',
				placeholder: 'City',
				required: true,
			},
			{
				id: 'state',
				component: FormSelect,
				type: 'select',
				labelHidden: true,
				label: 'State',
				placeholder: 'State',
				required: true,
				options: states,
				appearance: 'halfOnDesktop',
				default: 'State',
			},
			{
				id: 'postal_code',
				component: FormInput,
				labelHidden: true,
				label: 'Postal code',
				placeholder: 'Postal code',
				appearance: 'halfOnDesktop',
				required: true,
			},
			{
				id: 'industry',
				ref: 'industry',
				component: FormSelect,
				type: 'select',
				labelHidden: true,
				label: 'Category',
				placeholder: 'Category',
				required: true,
				options: categories,
				default: 'Category',
			},
			{
				id: 'Other Industry',
				component: FormInput,
				labelHidden: true,
				label: 'Other Category',
				placeholder: 'Other Category',
				renderCondition: (form) => form.industry === 'Other',
			},
			{
				type: 'section-title',
				default: 'Which air purifiers are you interested in purchasing?',
			},
			{
				id: 'air_pro_rx_quantity',
				component: FormInputProductQuality,
				labelHidden: true,
				type: 'product-quantity',
				label: 'Molekule Air Pro RX Quantity',
				displayLabel: 'Molekule Air Pro RX',
				imgUrl: '/prismic-images/molekule/b40adca3-b5ad-4a70-8e47-d09fc545a8b2_rxpro@3x.png',
				default: 0,
				renderCondition: (form, path) => !path.includes('/ca-en'),
			},
			{
				id: 'air_pro_quantity',
				component: FormInputProductQuality,
				labelHidden: true,
				type: 'product-quantity',
				label: 'Molekule Air Pro Quantity',
				displayLabel: 'Molekule Air Pro',
				imgUrl:
					'/prismic-images/molekule/4eaac954-b5cc-4650-ab8e-022b56297eca_04_MOL2005_Sequoia_Logo_centered_side_RGB%403x.png',
				default: 0,
				renderCondition: (form, path) => !path.includes('/ca-en'),
			},
			{
				id: 'air_quantity',
				component: FormInputProductQuality,
				labelHidden: true,
				type: 'product-quantity',
				label: 'Molekule Air Quantity',
				displayLabel: 'Molekule Air',
				imgUrl: '/prismic-images/molekule/d2519a9a-b530-42f9-b2a4-80d07dbe315e_m3@3x.png',
				default: 0,
			},
			{
				id: 'air_mini_plus_quantity',
				component: FormInputProductQuality,
				labelHidden: true,
				type: 'product-quantity',
				label: 'Molekule Air Mini+ Quantity',
				displayLabel: 'Molekule Air Mini+',
				imgUrl: '/prismic-images/molekule/acf3cb91-9e9c-459e-8ba1-e822d8e120c2_mini%2Bform-thumb.png',
				default: 0,
			},
			{
				id: 'air_mini_quantity',
				component: FormInputProductQuality,
				labelHidden: true,
				type: 'product-quantity',
				label: 'Molekule Air Mini Quantity',
				displayLabel: 'Molekule Air Mini',
				imgUrl: '/prismic-images/molekule/0e1e9ad5-3e38-4bd1-882e-b5d5cfbbddba_MiniMo@3x.png',
				default: 0,
				renderCondition: (form, path) => !path.includes('/ca-en'),
			},
			{
				id: 'description',
				component: FormTextarea,
				labelHidden: true,
				type: 'textarea',
				label: 'Message (optional)',
				placeholder: 'Please provide any additional context or questions.',
			},
			{
				id: 'Marketing Opt-in',
				component: FormCheckbox,
				type: 'checkbox',
				label: 'Marketing Opt-in',
				displayLabel:
					'<p>Send me announcements, offers, and sales info on Molekule.</p><p><a href="https://molekule.com/privacy" target="_blank">Privacy policy.</a></p>',
				default: false,
			},
		];

		this.formSpec.forEach((field) => {
			this.formSpecLabels[field.id] = field.label;
		});
	},

	methods: {
		submit(formData, runRecaptcha, recaptchaReset, recaptchaContainerId) {
			if (this.isWorking) return;
			if (formData.industry === 'Category') {
				const {
					formSpecRenderer: [formSpecRendererRef],
				} = this.$refs;
				const { industry: industryRef } = formSpecRendererRef.$refs;
				if (industryRef && industryRef.$el) {
					const selectElem = industryRef.$el.querySelector('select');
					selectElem && selectElem.focus();
					selectElem.setAttribute('data-focus-visible-added', '');
				}
				return;
			}

			this.recaptchaContainerId = recaptchaContainerId;
			this.isWorking = true;
			this.error = '';

			const formToSubmit = { 'Lead Type': { label: 'Lead Type', value: 'Purchase Inquiry' } };

			Object.entries(formData).forEach(([key, value]) => {
				formToSubmit[key] = {
					label: this.formSpecLabels[key],
					value,
				};
			});

			if (this.$route.query.utm_source || document.referrer) {
				formToSubmit.channel_source = {
					label: 'Channel source',
					value: this.$route.query.utm_source || document.referrer,
				};
			}

			if (this.previousFullPath) {
				formToSubmit.source = {
					label: 'Source',
					value: `${window.location.origin}${this.previousFullPath}`,
				};
			}

			if (formToSubmit.industry.value !== 'Other' || !formToSubmit['Other Industry'].value) {
				delete formToSubmit['Other Industry'];
			}

			formToSubmit['Marketing Opt-in'].value = formToSubmit['Marketing Opt-in'].value ? 'Yes' : 'No';

			runRecaptcha()
				.then((response) =>
					this.$axios.$post('/custom-apis/forms/purchase', {
						recaptchaResponse: response,
						form: formToSubmit,
					})
				)
				.then((data) => {
					if (data.success) {
						this.submittedSuccess = true;
						this.$nextTick(() => {
							// may be good to adjust to position after hero
							window.scrollTo(0, 0);
						});

						const formIdsToTealiumPropNames = {
							organization_name: 'lead_business_name',
							line1: 'lead_address1',
							postal_code: 'lead_zip',
							industry: 'lead_industry_category',
							'Other Industry': 'lead_industry_category',
							'Marketing Opt-in': 'lead_marketing_opt_in',
							air_pro_rx_quantity: 'lead_count_rxpro',
							air_quantity: 'lead_count_air',
							air_mini_plus_quantity: 'lead_count_minip',
							air_mini_quantity: 'lead_count_minib',
							description: 'lead_questions',
						};

						const leadProperties = fromEntries(
							Object.entries(formToSubmit).map(([key, { value }]) => [
								formIdsToTealiumPropNames[key] || `lead_${key}`,
								value,
							])
						);

						const quantitiesSum = Object.entries(formToSubmit).reduce(
							(sum, [key, { value }]) =>
								['air_pro_rx_quantity', 'air_quantity', 'air_mini_plus_quantity', 'air_mini_quantity'].includes(key)
									? sum + value
									: sum,
							0
						);

						this.$tealiumEvent('pro_rx_signup', {
							event_category: 'Leads',
							event_action: 'ProRX Lead Form',
							event_value: quantitiesSum,
							...leadProperties,
						});
					} else {
						throw new Error('returned error');
					}
				})
				.catch((e) => {
					this.error = 'Unexpected error occurred. Please try again in a few minutes.';
					recaptchaReset();
				})
				.finally(() => {
					this.isWorking = false;
				});
		},

		getFormSpec(index) {
			return this.formSpec.map((field) => ({
				...field,
				labelFor: `${field.id}-${index}`,
			}));
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.header {
	margin: 0 0 size('m');
	font-weight: 300;
	text-align: center;

	@include use-text-style('heading-400');
}

.block {
	max-width: 48rem;
	padding: size('s');
	margin: 1rem auto;
	line-height: 1.85714;

	button {
		line-height: 1;
	}
}

.thanksCopy p {
	@include use-text-style('type-500');

	font-weight: 300;
}

.ctaSection {
	margin: size('m++') 0;
	text-align: center;
}
.cta {
	position: relative;
	display: inline-block;
	padding: 0.9rem 3rem 0.8rem;
	line-height: 1;
	color: color('white');
	text-align: center;
	background-color: color('button-primary');
	border: 2px solid;
	border-color: color('button-primary');
	border-radius: 1.8rem;
	transition: all 0.25s ease-in-out;

	@include use-text-style('type-100');

	&.isWorking {
		transition: none;
	}

	&:hover,
	&:focus {
		background-color: color('button-primary-hover');
		border-color: color('button-primary-hover');
	}

	&:disabled {
		color: color('primary-200');
		background-color: color('button-disabled');
		border-color: color('button-disabled');
	}
}

.error {
	@include use-text-style('type-300');

	margin-bottom: size('m');
}

.recaptchaText {
	@include use-text-style('type-300');

	margin-top: size('m');

	a {
		text-decoration: underline;
	}
}
</style>
