<template>
	<div :id="id" class="u-block-spacing">
		<div class="u-wrap" :class="$style.block">
			<article v-for="(item, index) in items" :key="index" :class="$style.item">
				<div :class="$style.colMain">
					<div :class="$style.colMainTop">
						<h2 :class="$style.heading">{{ item.name }}</h2>
						<p v-if="item.subtitle" :class="$style.subtitle">{{ item.subtitle }}</p>
						<div
							v-if="$hasRichText(item.description)"
							v-rich-content
							class="u-copy"
							:class="[$style.description, $style.mobile]"
							v-html="item.description"
						></div>
					</div>
					<div :class="$style.colMainBottom">
						<BaseButton
							:smart="item.file.url"
							:target="item.file.target || (item.file.kind === 'document' ? '_blank' : null)"
							appearance="primary"
							size="medium"
							@click.native="$emit('click', { item })"
						>
							Download
						</BaseButton>
					</div>
				</div>
				<div
					v-if="$hasRichText(item.description)"
					v-rich-content
					class="u-copy"
					:class="[$style.colDescription, $style.description, $style.desktop]"
					v-html="item.description"
				></div>
			</article>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		items: {
			type: Array,
			required: true,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	padding: 0 size('s');
}

.item {
	display: flex;
	flex-wrap: wrap;
	padding: 4rem 0;
	border-bottom: 1px solid color('border');

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.col-main {
	flex: 0 0 auto;
	width: 100%;

	@include above('medium') {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 60%;
		padding-right: 5%;
	}
}

.col-description {
	display: none;

	@include above('medium') {
		display: block;
		flex: 0 0 auto;
		width: 40%;
	}
}

.heading {
	@include use-text-style('heading-300');

	margin-bottom: size('m');
	font-weight: 300;
}

.subtitle {
	@include use-text-style('type-300');

	margin-top: size('s') - size('m');
	margin-bottom: size('m');
}

.description {
	p {
		&:not(:last-child) {
			margin-bottom: size('s');
		}
	}

	&.mobile {
		margin-top: size('s') - size('m');
		margin-bottom: size('s');

		@include above('medium') {
			display: none;
		}
	}
}
</style>
