<template>
  <div
    :name="name"
    class="absolute bg-white z-10 justify-between w-max top-16 -left-12"
  >
    <ul class="pt-6" :name="name">
      <li
        v-for="item in navMenu[`${titleName}`]"
        :key="item.text"
        :name="name"
        class="px-12 pb-6"
      >
        <NuxtLink
          v-if="!item.isExternal"
          :name="name"
          class="text-mint-40 hover:text-black sub-menu-hov"
          :to="item.page"
          @click.native="tealiumClickHeader(item.text, item.page)"
          >{{ item.text }}</NuxtLink
        >
        <a
          v-else
          :name="name"
          class="text-mint-40 hover:text-black sub-menu-hov mk-link"
          :href="item.page"
          >{{ item.text }}</a
        >
        <span :name="name" class="border-b border-grey-20"></span>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'MkHeaderMenu',
  props: {
    leftPosition: {
      type: Number,
      default: 0,
    },
    titleName: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      navMenu: {
        product: [
          { text: 'Air-Mini', page: '/air-purifier-mini/', isExternal: false },
          { text: 'Air', page: '/air-purifier-air/', isExternal: false },
          {
            text: 'Air Pro',
            page: '/air-purifier-air-pro/',
            isExternal: false,
          },
          {
            text: 'Air Pro RX',
            page: '/air-purifier-pro-rx/',
            isExternal: false,
          },
          {
            text: 'View all',
            page: 'https://molekule.com/air-purifiers',
            isExternal: true,
          },
        ],
      },
    }
  },
  computed: {},
  async mounted() {},
  methods: {
    tealiumClickHeader(item, toUrl) {
      const tealiumPayload = this.$store.state.USER_STORE
        .CUSTOMER_DETAILS_TEALIUM
      tealiumPayload.event_category = 'Header'
      tealiumPayload.event_action = 'Clicked Navigation Bar'
      tealiumPayload.event_label = item
      tealiumPayload.page_type = item
      tealiumPayload.click_text = item
      tealiumPayload.click_url = `${window.location.href}${toUrl}`
      tealiumPayload.event_value = item
      tealiumPayload.click_location = 'Header'
      this.$root.$telium.setTealiumPayload('clicked_header', tealiumPayload)
    },
  },
}
</script>
