<template>
	<div class="text-base text-black font-primary-font-light">
		<span class="mk-strike relative">{{ currencyDisplay }}{{ actualPrice | centsToDollars | formatPrice }}</span>
	</div>
</template>
<script>
import { mapState } from 'vuex';
export default {
	name: 'MkActualPrice',
	props: {
		actualPrice: {
			type: [String, Number],
			default: '',
		},
	},
	data() {
		return {};
	},
	computed: {
		...mapState(['currencyDisplay']),
	},
	methods: {},
};
</script>

<style lang="postcss">
.mk-strike::before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	content: '';
	border-bottom: 2px solid red;
}
</style>
