<template>
  <div
    ref="toolTip"
    class="absolute mk-tooltip-text"
    :class="[
      rotateLeft ? 'right-2' : 'left-2',
      changeTopPosition ? 'top-11' : 'bottom-11',
      toolTipOptions && toolTipOptions.length && rotateLeft ? 'right-6' : '',
    ]"
  >
    <div
      class="bg-black text-white text-xs rounded p-3 right-0 bottom-full w-52 md:w-48 font-primary-font-regular"
      :class="rotateLeft ? 'rounded-br-none' : 'rounded-bl-none'"
    >
      <slot name="tooltipRightValue"></slot>
      <ul v-if="type === 'option'">
        <li
          v-for="(option, index) in toolTipOptions"
          :ref="`${index}_${option.action}`"
          :key="option.action"
          tabindex="0"
          class="py-0.5 font-primary-font-regular text-xs lg:text-base leading-4"
          @click="$emit('selected', option.action)"
          @keydown.enter="$emit('selected', option.action)"
        >
          {{ option.text }}
        </li>
      </ul>
      <span v-else>
        {{ tooltip }}
      </span>
      <svg
        class="absolute text-black h-7 -bottom-3.5 transform"
        :class="[
          rotateLeft && changeTopPosition
            ? '-right-0 rotate-90 -top-3.5'
            : rotateLeft && !changeTopPosition
            ? '-right-3.5 rotate-225 -bottom-3.5'
            : '-left-3.5 rotate-135 -bottom-3.5',
        ]"
        x="0px"
        y="0px"
        viewBox="0 0 255 255"
        xml:space="preserve"
      >
        <polygon class="fill-current" points="0,0 127.5,127.5 255,0"></polygon>
      </svg>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MkCartTooltip',
  props: {
    tooltip: {
      type: String,
      default: '',
    },
    rotateLeft: {
      type: Boolean,
      default: false,
    },
    iconPosition: {
      type: Object,
      default: null,
    },
    type: {
      type: String,
      default: '',
    },
    toolTipOptions: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      changeTopPosition: false,
    }
  },
  watch: {
    iconPosition() {
      let iconPos = this.iconPosition.iconPosition // info icon relative position
      if (this.$route.name === 'fullcart') {
        iconPos = this.iconPosition.iconPosition - 60 // added height on Header on Fullcart
      }
      const container = this.$refs.toolTip.getClientRects()[0]
      const arrowIconHeight = 40 // Arrow icon height
      const containerHeight = container.height + arrowIconHeight
      this.changeTopPosition = false
      if (iconPos - containerHeight < 0) {
        this.changeTopPosition = true
      }
    },
  },
}
</script>
