<template>
  <div>
    <button
      v-if="
        warantySku.includes(item.variant && item.variant.sku) &&
        !item.hasProtection &&
        !isCheckout &&
        !fromOrder
      "
      role="button"
      class="flex justify-center ml-22 px-2 py-1.5 border-0 rounded-3xl md:py-2 border-grey-20 leading-5 h-8 font-primary-font-regular focus:ring-black focus:ring-1 cursor-pointer hover:bg-grey-20 bg-grey-10 text-sm text-black"
      @click="showClyde"
    >
      <img alt="Clyde logo" class="mr-2" src="~/assets/images/clyde.svg" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="w-5 h-5 animate-spin hidden text-white"
      >
        <circle
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
          class="opacity-25"
        ></circle>
        <path
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          class="opacity-75"
        ></path></svg
      >Add product protection
    </button>
    <div
      v-if="item.hasProtection && item.protectionPlan"
      :class="!isCheckout ? 'flex mt-0 md:mt-6' : 'flex mt-6 md:mt-6'"
    >
      <div
        :class="
          !isSideCart && !isCheckout ? 'w-4/5 md:w-1/2 flex' : 'flex w-full'
        "
      >
        <div class="flex items-start justify-center mr-4 w-17 pt-0.5">
          <img alt="Clyde logo" class="mr-2" src="~/assets/images/clyde.svg" />
        </div>
        <div>
          <p
            class="primary-font-regular text-sm lg:text-base leading-5 lg:leading-6"
          >
            {{ item['protectionPlan']['name'][apiLocale] }}
          </p>
          <p
            v-if="isCheckout"
            class="flex text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6 mt-2 font-primary-font-regular"
          >
            <span aria-label="quantity">Qty: </span>
            <span class="pl-1 md:pl-0 lg:pl-0">{{
              item.protectionPlan.quantity
            }}</span>
          </p>
          <div
            v-if="!isCheckout && !fromOrder"
            class="flex-wrap items-center justify-start space-x-3 text-sm text-gray-500 font-primary-font-bold"
            :class="isSideCart ? 'flex' : 'flex md:hidden'"
          >
            <MkQuantityDropdown
              id="clyde_mobile_qty"
              :aria-label="item['protectionPlan']['name'][apiLocale]"
              :value="item.protectionPlan.quantity"
              :max="item.quantity"
              @change="updateValue"
            />
          </div>
          <div
            v-if="!isCheckout && fromOrder"
            class="flex-wrap items-center justify-start space-x-3 text-sm text-gray-500 font-primary-font-bold"
            :class="isSideCart ? 'flex' : 'flex md:hidden'"
          >
            <span aria-label="quantity">Qty: </span>
            <span class="md:font-light text-left">{{ item.quantity }}</span>
          </div>
        </div>
      </div>
      <div
        :class="
          !isSideCart && !isCheckout
            ? 'w-1/5 md:w-1/2 flex flex-col'
            : 'flex flex-col'
        "
      >
        <div
          class="flex justify-end w-full"
          :class="!isCheckout && !isSideCart ? 'md:justify-between' : ''"
        >
          <div v-if="!isCheckout && !isSideCart" class="hidden md:block">
            <span
              >${{
                item['protectionPlan']['price']['value']['centAmount']
                  | centsToDollars
              }}</span
            >
          </div>
          <div
            v-if="!isCheckout && !isSideCart && !fromOrder"
            class="hidden md:block"
          >
            <MkQuantityDropdown
              id="clyde_desktop_qty"
              :aria-label="item['protectionPlan']['name'][apiLocale]"
              :value="item.protectionPlan.quantity"
              :max="item.quantity"
              @change="updateValue"
            />
          </div>
          <div
            v-if="!isCheckout && !isSideCart && fromOrder"
            class="hidden md:block"
          >
            <span class="md:font-light text-left">{{ item.quantity }}</span>
          </div>
          <div>
            <span :class="!isSideCart && !isCheckout ? 'md:font-bold' : ''"
              >${{
                (item.protectionPlan.quantity *
                  item.protectionPlan.price.value['centAmount'])
                  | centsToDollars
              }}</span
            >
          </div>
        </div>
        <div v-if="!isCheckout && !fromOrder" class="flex justify-end">
          <div class="text-sm text-gray-500 font-primary-font-bold">
            <button
              role="button"
              tabindex="0"
              class="focus:ring"
              :aria-label="`${item['protectionPlan']['name'][apiLocale]} Close`"
              @click="changeQuantity('REMOVE_LINE_ITEM')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 12 11"
                class="w-3 h-3 fill-current"
              >
                <g fill="none" fill-rule="evenodd">
                  <g fill="#D7D5D4">
                    <g>
                      <g>
                        <g>
                          <path
                            d="M10.125 3.25c.552 0 1 .448 1 1l-.001 4.624 4.626.001c.552 0 1 .448 1 1v.25c0 .552-.448 1-1 1l-4.626-.001.001 4.626c0 .552-.448 1-1 1h-.25c-.552 0-1-.448-1-1l-.001-4.626-4.624.001c-.552 0-1-.448-1-1v-.25c0-.552.448-1 1-1l4.624-.001.001-4.624c0-.552.448-1 1-1h.25z"
                            transform="translate(-345 -363) translate(15 268) translate(92 89.554) translate(234 .661) rotate(45 10 10)"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import MkQuantityDropdown from '~/components/D2C/molecules/MkQuantityDropdown/MkQuantityDropdown.vue'
export default {
  name: 'MkClydeButton',
  components: {
    MkQuantityDropdown,
  },
  props: {
    item: {
      type: Object,
      default: {},
    },
    isSideCart: {
      type: Boolean,
      default: false,
    },
    isCheckout: {
      type: Boolean,
      default: false,
    },
    fromOrder: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      enableClide: false,
      warantySku: ['SQ2P-US', 'MH1-BBB-1', 'MN1B-US', 'MN2P-US'],
    }
  },
  async mounted() {
    try {
      await this.$clyde.init()
    } catch (exp) {
      console.log(exp)
    }
  },
  methods: {
    async showClyde() {
      try {
        await this.$clyde.getClyde(
          this.item.variant && this.item.variant.sku,
          this.selectedContract
        )
        this.tealiumWarranty('clicked_warranty_sidecart')
      } catch (exp) {
        console.log('clyde err', exp)
      }
    },
    async selectedContract($data) {
      if ($data.sku) {
        this.$store.commit('CHECKOUT_STORE/TOGGLE_PAGE_SPINNER')
        console.log('Selected Contract', $data)
        // let $product= await this.$repositories.product.getBySku($data.sku, this.CUSTOMER_ID)
        // console.log($product)
        try {
          const newProductPayload = {
            action: 'ADD_LINE_ITEM',
            variantSKU: $data.sku,
            lineItemId: this.item.id,
            quantity: this.item.quantity,
            variantId: this.item?.variant?.id, // $product.masterVariant.id
          }
          await this.addToCart(newProductPayload)
          this.tealiumWarranty('clicked_warranty_no')
        } catch (exp) {
          console.log(exp)
        }
      }
    },
    async addToCart(payload) {
      await this.$store.dispatch('CART_STORE/ADD_REMOVE_FROM_CART', payload)
      this.$store.commit('CHECKOUT_STORE/TOGGLE_PAGE_SPINNER')
    },
    updateValue(newValue) {
      if (newValue) {
        // if(newValue > this.item.protectionPlan.quantity){
        //     this.item.protectionPlan.quantity = newValue
        //     this.addQuantity()
        // }else if(newValue < this.item.protectionPlan.quantity){
        //     this.item.protectionPlan.quantity = newValue
        //     this.removeQuantity()
        // }
        this.item.protectionPlan.quantity = newValue
        this.changeQuantity('CHANGE_LINE_ITEM_QTY')
      } else if (newValue == 0) {
        this.changeQuantity('REMOVE_LINE_ITEM')
        // this.removeFullLineItem()
      }
    },
    //  async removeFullLineItem(){
    //         try {
    //         //    this.qtyUpdateProgress = true
    //             let newProductPayload = {
    //                 action: 'REMOVE_LINE_ITEM',
    //                 lineItemId: this.item.protectionPlan.id,
    //                 productId: this.item.protectionPlan.productId || null,
    //                 quantity: this.item.protectionPlan.quantity,
    //             }
    //             await this.$store.dispatch('CART_STORE/ADD_REMOVE_FROM_CART', newProductPayload)
    //         } catch (error) {
    //             console.error(error)
    //          //   this.qtyUpdateProgress = false
    //         }
    //     },
    //  async addQuantity() {
    //     try {
    //       //  this.qtyUpdateProgress = true
    //         let newProductPayload = {
    //             action: 'CHANGE_LINE_ITEM_QTY',
    //             lineItemId: this.item.protectionPlan.id,
    //             productId: this.item.protectionPlan.productId || null,
    //             quantity: this.item.protectionPlan.quantity,
    //             skuId: ''
    //         }
    //         await this.$store.dispatch('CART_STORE/ADD_REMOVE_FROM_CART', newProductPayload)
    //        // this.qtyUpdateProgress = false
    //     } catch (error) {
    //         //move to global error handler
    //         console.log(error)
    //        // this.qtyUpdateProgress = false
    //     }
    // },
    async changeQuantity($action) {
      try {
        this.$store.commit('CHECKOUT_STORE/TOGGLE_PAGE_SPINNER')
        //  this.qtyUpdateProgress = true
        const newProductPayload = {
          action: $action,
          lineItemId: this.item.protectionPlan.id,
          productId: this.item.protectionPlan.productId || null,
          quantity: this.item.protectionPlan.quantity,
          skuId: '',
        }
        await this.addToCart(newProductPayload)
        // this.qtyUpdateProgress = false
      } catch (error) {
        // move to global error handler
        console.log(error)
        this.$store.commit('CHECKOUT_STORE/TOGGLE_PAGE_SPINNER')
        // this.qtyUpdateProgress = false
      }
    },
    // async removeQuantity() {
    //     try {
    //       //  this.qtyUpdateProgress = true
    //         let newProductPayload = {
    //             action: 'CHANGE_LINE_ITEM_QTY',
    //             lineItemId: this.item.protectionPlan.id,
    //             productId: this.item.protectionPlan.productId || null,
    //             quantity: this.item.protectionPlan.quantity,
    //             skuId: ''
    //         }
    //         await this.$store.dispatch('CART_STORE/ADD_REMOVE_FROM_CART', newProductPayload)
    //       //  this.qtyUpdateProgress = false
    //     } catch (error) {
    //         //move to global error handler
    //         console.log(error)
    //       //  this.qtyUpdateProgress = false
    //     }
    // },
    tealiumWarranty(key) {
      const customerDetails = this.$store.state.USER_STORE
        .CUSTOMER_DETAILS_D2C_TEALIUM
      const tealiumPayload = {
        event_category: 'Warranty',
        event_action: 'Clicked sidecart CTA Warranty',
        page_type: this.isSideCart ? 'Side-cart' : 'Full-cart',
        event_label: this.item?.variant?.sku,
        event_value: this.$root.$utility.centsToDollarsConvert(
          this.SUB_TOTAL_PRICE
        ),
        gift_purchase: this.GIFT,
        offer_name: '',
        cart_discount: [
          this.$root.$utility.centsToDollarsConvert(this.DISCOUNT_PRICE),
        ],
        cart_product_id: [...new Set(this.LINE_ITEMS.map((x) => x.productId))],
        cart_product_quantity: [
          ...new Set(this.LINE_ITEMS.map((x) => x.quantity.toFixed(0) || '1')),
        ],
        cart_product_sku: [
          ...new Set(this.LINE_ITEMS.map((x) => x.variant.sku)),
        ],
        cart_total_items: this.LINE_ITEMS.length.toFixed(0),
        cart_total_value: this.$root.$utility.centsToDollarsConvert(
          this.SUB_TOTAL_PRICE
        ),
        ...customerDetails,
      }
      const list_price_array = []
      const product_list_price = [
        ...new Set(this.LINE_ITEMS.map((x) => x.price)),
      ]
      product_list_price.forEach((el) => {
        if (el.value) {
          list_price_array.push(
            this.$root.$utility.centsToDollarsConvert(el.value.centAmount)
          )
        }
      })
      tealiumPayload.cart_product_list_price = list_price_array
      tealiumPayload.cart_product_price = list_price_array
      if (key == 'clicked_warranty_no') {
        tealiumPayload.event_action = 'Closed Modal no cart_add'
      }
      this.$root.$telium.setTealiumPayload(key, tealiumPayload)
    },
  },
  computed: {
    ...mapState(['currencyDisplay','apiLocale']),
    ...mapState('USER_STORE', ['CUSTOMER_ID', 'CUSTOMER_DETAILS_D2C_TEALIUM']),
    ...mapState('CHECKOUT_STORE', ['SHOW_PAGE_SPINNER']),
    ...mapState('CART_STORE', [
      'SUB_TOTAL_PRICE',
      'DISCOUNT_PRICE',
      'LINE_ITEMS',
      'TOTAL_PRICE',
      'GIFT',
    ]),
  },
}
</script>
