<template>
	<div
		class="flex rounded w-full justify-between items-center bg-mint-20 px-2 md:px-4 py-2 font-primary-font-light text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6"
	>
		<p>Discount</p>
		<p>- {{ currencyDisplay }}{{ DISCOUNT_PRICE | centsToDollars | zeroDisplay | formatPrice }}</p>
	</div>
</template>
<script>
import { mapState } from 'vuex';
export default {
	name: 'MkDiscount',
	computed: {
		...mapState(['currencyDisplay']),
		...mapState('CART_STORE', ['DISCOUNT_PRICE']),
	},
};
</script>
