<template>
  <div class="flex">
    <img
      src="~/assets/images/free-shipping.svg"
      class="w-10 h-8"
      alt="free_shipping"
    />
    <p
      class="font-primary-font-regular text-grey-40 text-xs leading-4 w-12 h-8 ml-2 hidden lg:inline-block"
    >
      Free shipping
    </p>
  </div>
</template>
<script>
export default {
  name: 'MkFreeShipping',
}
</script>
