<template>
	<div class="sm:flex-1 flex items-center sm:justify-between">
		<div class="items-center m-auto">
			<nav class="z-0 flex items-center rounded-md -space-x-px" aria-label="Pagination" @click="selectPage">
				<button
					tabindex="0"
					aria-label="Previous page"
					class="inline-flex items-center text-sm font-primary-font-bold mr-4 md:mr-3.5 focus:outline-none focus:ring-1 focus:ring-black"
				>
					<p id="first" class="icon-left-arrow text-2xl"></p>
				</button>
				<div v-for="page of pages.pageNo" :key="page" :class="[page > 5 ? 'hidden md:inline-flex' : 'inline-flex']">
					<button
						:aria-label="`page number ${page}`"
						class="h-10 w-10 md:h-8 md:w-8 flex items-center justify-center font-primary-font-bold bg-white text-sm leading-5 hover:bg-grey-10 focus:outline-none focus:ring-1 focus:ring-black"
						:class="[
							page > 5 ? 'hidden md:inline-flex' : 'inline-flex',
							page == pages.currentPage ? 'bg-grey-50 rounded' : '',
						]"
					>
						{{ page }}
					</button>
				</div>
				<span
					class="font-primary-font-bold inline-flex items-center px-4 py-2 bg-white text-sm"
					@click.stop=""
				>
					...
				</span>
				<button
					aria-label="Next page"
					class="font-primary-font-bold inline-flex items-center rounded-r-md text-sm focus:outline-none focus:ring-1 focus:ring-black"
				>
					<p id="last" class="icon-right-arrow text-2xl"></p>
				</button>
			</nav>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MkPageNavigation',
	props: {
		pages: {
			type: Object,
			default() {
				return {
					pageNo: [],
					currentPage: 1,
				};
			},
		},
	},
	methods: {
		selectPage(event) {
			// window.scrollTo(0, this.$parent.$refs.compEl.offsetTop - 300);
			this.$emit('click', event);
		},
	},
};
</script>
