<template>
  <div
    class="relative box-border mktext"
    :class="[filterDropDown ? 'h-9 mk-small-drpdwn' : '']"
  >
    <ValidationProvider
      v-slot="{ errors }"
      :rules="rules"
      :immediate="false"
      onkeydown="return event.key != 'Enter';"
    >
      <div class="autocomplete">
        <div
          v-if="!displayonly"
          class="relative border rounded-md autocomplete-tap outline border-grey-20 focus:ring-grey-20 focus:rounded-br-none focus-within:border-black"
          :class="[
            {
              'border-error-20': errors.length > 0,
              'pointer-events-none select-none': disabled,
              'mk-input-without-label': !label,
            },
            `mk-text-input-${variant}`,
          ]"
        >
          <input
            :ref="`mk_select_input_${id}`"
            v-model="search"
            :name="id"
            placeholder=" "
            :aria-label="(ariaLabel ? ariaLabel : label) + ' dropdown'"
            :aria-activedescendant="'li_' + id + '_' + arrowCounter"
            :readonly="readOnly"
            @input="onInput"
            @change="onChange"
            :class="[filterDropDown ? 'h-8 font-primary-font-regular text-sm translate-y-2' : 'h-14 font-primary-font-light text-base', label ? 'pt-4' : 'pl-4 pt-0 translate-y-0 transform-none' ,{
              'origin-bottom-left pl-4':
                disabled || (blurStyle && label != null),
              'text-grey-20 ': disabled,
              'pl-4': search , 'w-11/12 md:w-80 lg:w-full	truncate lg:overflow-clip':source,'w-full':!source
            }]"
            @blur="focusOut()"
            class="block p-0 leading-6 bg-transparent border-transparent rounded-md cursor-pointer auto-input focus:border-transparent focus:outline-none focus:ring-transparent"
            @keypress="onKeyPress"
            :aria-expanded="showList ? 'true' : 'false'"
            @click="filterResults"
            aria-haspopup="listbox"
            @keydown.down="onArrowDown"
            :aria-controls="id + '-autocomplete-results'"
            @keydown.up="onArrowUp"
            autocomplete="off"
            @keydown.enter="onEnter"
            @keydown.space="onEnter"
            @keydown.esc="onEsc"
            @keydown.tab="onTab"
            @keydown.delete="filterResults"
          />
          <ul
            v-show="showList"
            :id="id + '-autocomplete-results'"
            :ref="`scroll_container_${id}`"
            :aria-label="label"
            tabindex="-1"
            role="listbox"
            class="absolute z-10 w-full h-auto py-1 overflow-auto font-light origin-top-right border rounded-md rounded-t-none autocomplete-results max-h-52 font-primary-font-light border-grey-20 rounded-b-md focus:outline-none"
          >
            <li v-if="isLoading" role="option" class="loading">
              Loading results...
            </li>
            <li
              v-for="(opt, i) in results"
              v-else
              :id="'li_' + id + '_' + i"
              ref="liList"
              :key="i"
              role="option"
              :aria-selected="selectedValue == opt[itemValue]"
              :value="opt[itemValue]"
              :selected="value === opt[itemValue]"
              :aria-activedescendant="opt[itemValue]"
              :aria-label="opt['ariaLabel'] || opt[itemText]"
              class="autocomplete-result px-4 py-0.5 hover:bg-grey-10 text-left cursor-pointer autocomplete-tap focus:outline-none"
              :class="{
                'is-active':
                  i === arrowCounter || selectedValue == opt[itemValue],
                'text-sm': filterDropDown,
              }"
              @click="setResult(opt, i)"
            >
              {{ opt[itemText] }}
            </li>
          </ul>
          <label
            :id="'lbl_' + id"
            aria-hidden="true"
            :for="id"
            :class="[
              { 'text-error-20': errors.length > 0, 'text-grey-20': disabled },
              filterDropDown ? 'pt-1 pb-4 px-4' : 'p-4',
            ]"
            class="absolute top-0 duration-300 cursor-pointer text-md origin-0 font-primary-font-light"
            @click="
              filterResults()
              $refs[`mk_select_input_${id}`].focus()
            "
          >
            {{ label }}
          </label>
          <div
            class="icon-down-arrow absolute text-2xl text-black transform -translate-y-1/2 pointer-events-none"
            aria-hidden="true"
            :class="[
              disabled ? 'text-grey-20' : '',
              filterDropDown ? 'right-3 top-4' : 'right-4 top-7',
            ]"
            @click="filterResults"
          ></div>
        </div>
        <div v-else-if="displayonly">
          <label :id="id" :label="label"></label>
          <p>{{ value }}</p>
        </div>
        <p
          v-show="errors"
          class="text-xs text-red-500 md:text-sm font-primary-font-regular"
        >
          {{ errors[0] }}
        </p>
        <p :id="'hlp' + id">{{ helpText }}</p>
      </div>
    </ValidationProvider>
  </div>
</template>
<script>
import { ValidationProvider } from 'vee-validate'
export default {
  name: 'MkSelectDropdown',
  components: {
    ValidationProvider,
  },
  props: {
    source: {
      default: false,
    },
    id: {
      type: String,
      default: null,
    },
    labelSrOnly: {
      type: [Boolean, String],
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
    helpText: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    labelFor: {
      type: String,
      default: null,
    },
    value: {
      type: String,
      default: null,
    },
    validation: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    displayonly: {
      type: Boolean,
      default: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: String,
      default: null,
    },
    variant: {
      type: String,
      default: 'outline',
    },
    options: {
      type: [Array, Object],
      default() {
        return []
      },
    },
    readOnly: {
      type: Boolean,
      default: true,
    },
    filterDropDown: {
      type: Boolean,
      default: false,
    },
    itemText: {
      type: String,
      default: 'text',
    },
    ariaLabel: {
      type: String,
      default: '',
    },
    itemValue: {
      type: String,
      default: 'value',
    },
  },
  data() {
    return {
      showList: false,
      results: [],
      search: '',
      isLoading: false,
      arrowCounter: -1,
      selectedValue: '',
      blurStyle: false,
    }
  },
  watch: {
    options(val, oldValue) {
      if (val.length !== oldValue.length) {
        this.results = val
        this.isLoading = false
        this.setValue()
      }
    },
    value() {
      this.setValue()
      // this.focusInput()
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside)
    this.results = this.options
    this.setValue()
    // this.focusInput()
    if (this.disabled) {
      this.$refs[`mk_select_input_${this.id}`].disabled = true
    }
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside)
  },
  methods: {
    onInput() {
      this.arrowCounter = 0
      this.filterResults()
    },
    onKeyPress(event) {
      const $filter = String.fromCharCode(event.which)
      if ($filter == ' ') {
        this.showList = true
      } else {
        this.results = this.options.filter((item) => {
          return item[this.itemText]
            .toLowerCase()[0]
            .includes($filter.toLowerCase())
        })
        if (this.results.length > 0) {
          this.showList = true
        }
      }
      this.arrowCounter = 0
    },
    onChange() {
      const $value = this.options.filter((item) => {
        return item[this.itemText]
          .toLowerCase()
          .includes(this.search.toLowerCase())
      })
      if ($value.length == 0) {
        const $previousValue = this.options.filter(($opt) => {
          console.log($opt[this.itemValue], this.selectedValue)
          return $opt[this.itemValue] == this.selectedValue
        })
        this.search =
          $previousValue.length > 0 ? $previousValue[0][this.itemText] : ''
        this.showList = false
      }
    },
    setValue() {
      let $value = []
      if (this.value && this.options.length > 0) {
        $value = this.options.filter((item) => {
          return item[this.itemValue]
            .toLowerCase()
            .includes(this.value.toLowerCase())
        })
        // Checks if returned value is in list of values, else pushes whatever value we tried to set
        if (!$value.length) return (this.search = this.value)
        // This is where main error was happening because if the filter returns a empty arr, [0].text is undefined
        this.search = $value[0][this.itemText]
      } else {
        this.search = ''
      }
    },
    filterResults() {
      if (this.search && !this.readOnly) {
        this.results = this.options.filter((item) => {
          return item[this.itemText]
            .toLowerCase()
            .includes(this.search.toLowerCase())
        })
      } else {
        this.results = this.options
      }
      if (this.disabled) {
        this.showList = false
      } else {
        this.showList = true
      }
    },
    setResult($result, $index) {
      this.selectedItem($result)
      this.arrowCounter = $index
      this.showList = false
      this.fixScrolling()
    },
    selectedItem($item) {
      this.search = $item[this.itemText]
      this.selectedValue = $item[this.itemValue]
      this.$emit('change', $item[this.itemValue])
    },
    onArrowDown(ev) {
      ev.preventDefault()
      if (this.results.length > 0) {
        this.showList = true
        if (
          this.arrowCounter + 1 < this.results.length &&
          this.results.length > 0
        ) {
          this.arrowCounter = this.arrowCounter + 1
          this.selectedItem(this.results[this.arrowCounter])
        }
        this.fixScrolling()
      }
    },
    onArrowUp(ev) {
      ev.preventDefault()
      if (this.results.length > 0) {
        this.showList = true
        if (this.arrowCounter > 0) {
          this.arrowCounter = this.arrowCounter - 1
          this.selectedItem(this.results[this.arrowCounter])
        }
        this.fixScrolling()
      }
    },
    onTab(ev) {
      this.showList = false
    },
    focusInput() {
      if (this.value != '' && this.value != null && this.label != null) {
        if (this.disabled) {
          // this.$refs.mk_select_input.disabled=true
        } else {
          this.$refs[`mk_select_input_${this.id}`].focus()
        }
      }
    },
    focusOut() {
      this.blurStyle = true
    },
    onEnter() {
      if (this.showList) {
        if (this.arrowCounter > -1) {
          this.setResult(this.results[this.arrowCounter], this.arrowCounter)
          if (!this.search) {
            this.arrowCounter = -1
          }
        }
      } else {
        this.showList = true
        if (this.arrowCounter < 0) {
          this.arrowCounter = 0
        }
      }
    },
    fixScrolling() {
      const $liHeight = this.$refs.liList[this.arrowCounter].clientHeight
      this.$refs[`scroll_container_${this.id}`].scrollTop =
        $liHeight * this.arrowCounter
    },
    onEsc() {
      this.showList = false
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.showList = false
        if (!this.search) {
          this.arrowCounter = -1
        }
      }
    },
  },
}
</script>
<style lang="postcss">
.autocomplete > div:focus > ul {
  @apply border-t border-black;
}
.autocomplete-results {
  @apply bg-white;
}
.autocomplete-result.is-active {
  @apply bg-grey-10;
}
.mk-text-input-outline {
  @apply border-b border-t-0 border-l-0 border-r-0 rounded-none;
}
.mk-text-input-outline input {
  @apply rounded-none focus:ring-0 pl-0;
}
.mk-text-input-outline label {
  @apply pl-0 text-base;
}
.mk-text-input-outline input:focus-within ~ label,
.mk-text-input-outline input:not(:placeholder-shown) ~ label {
  @apply ml-0 pl-0;
}
.mk-input-without-label input:focus-within,
.mk-input-without-label input:focus {
  @apply transform-none;
}
.autocomplete-results::-webkit-scrollbar {
  @apply w-1;
}
.autocomplete-results::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.autocomplete-results::-webkit-scrollbar-thumb {
  @apply bg-grey-20 rounded-md  w-1;
}
.autocomplete-results::-webkit-scrollbar-thumb:hover {
  @apply bg-grey-20;
}

.autocomplete-tap {
  -webkit-tap-highlight-color: transparent;
}
</style>
