<template>
  <div>
    <button
      :disabled="disabled"
      role="button"
      :class="[
        mksecondaryWidth,
        mksecondaryClass,
        disabled ? 'bg-grey-20 pointer-events-none text-white' : 'bg-black',
      ]"
      class="flex justify-center px-5 border-0 rounded-full border-grey-20 font-primary-font-regular focus:outline-none focus:ring-black focus:ring-1 cursor-pointer hover:bg-mint-30 bg-secondary text-black min-w-150"
      @click="!loading ? $emit('click') : ''"
    >
      <svg
        :class="[!loading ? 'hidden' : 'block']"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="w-5 h-5 animate-spin text-white"
      >
        <circle
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
          class="opacity-25"
        ></circle>
        <path
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          class="opacity-75"
        ></path>
      </svg>
      <span :class="[loading ? 'hidden' : 'block']">{{ buttonTitle }}</span>
    </button>
  </div>
</template>
<script>
export default {
  name: 'MkSecondaryButton',
  props: {
    buttonTitle: {
      type: String,
      default: '',
    },
    mksecondaryWidth: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    mksecondaryClass: {
      type: String,
      default: 'text-xl py-4 leading-6',
    },
  },
  data() {
    return {}
  },
}
</script>
