<template>
	<img :src="require(`~/assets/images/${name}`)" alt="Powered By Adyen" />
</template>
<script>
export default {
	name: 'MkStripeIcon',
	props: {
		name: {
			type: String,
			default: 'd-2-c-icons-general-stripe-logo.svg',
		},
	},
};
</script>
