<template>
  <label class="inline-flex items-center">
    <div
      role="img success"
      class="w-8 h-8 md:w-9 md:h-9 lg:w-11 lg:h-11"
      :aria-label="ariaLabel"
    >
      <img
        v-if="iconBlack"
        src="~/assets/images/icons-success.svg"
        class="w-full"
        alt="success"
      />
      <img
        v-else
        src="~/assets/images/check.svg"
        class="w-full"
        alt="success"
      />
    </div>
  </label>
</template>
<script>
export default {
  name: 'MkSuccessIcon',
  props: {
    ariaLabel: {
      type: String,
      default: '',
    },
    iconBlack: {
      type: Boolean,
      default: true,
    },
  },
}
</script>
