<template>
	<div
		class="grid grid-cols-6 p-4 md:py-4 md:pl-4 md:pr-5 lg:pl-4 lg:pr-6 lg:py-4 border border-grey-20 rounded-md my-6"
		:class="affirm ? 'w-full md:w-cart-register-md-inne lg:w-496' : 'w-full md:w-460 lg:w-610'"
	>
		<div class="col-span-5">
			<p class="font-primary-font-bold text-base"> Use my shipping address as my billing address </p>
			<div>
				<span class="font-primary-font-light">{{
					((address.streetAddress1 || address.streetName) + ',' || '') +
					' ' +
					(address.city + ',' || '') +
					' ' +
					(address.postalCode || '') +
					', ' +
					address.country
				}}</span>
			</div>
		</div>
		<div class="flex items-center justify-center h-full col-span-1">
			<div class="flex items-center justify-center w-full">
				<label
					ref="mkToggleCheckbox"
					for="toogleA"
					class="flex items-center cursor-pointer relative focus:outline-none focus:ring-1 focus:ring-black"
					role="button"
					tabindex="0"
					aria-label="Use my shipping address as my billing address"
					:aria-pressed="value"
					@keyup.enter="toggleCheckBox"
					@keyup.space="toggleCheckBox"
				>
					<input
						id="toogleA"
						ref="mkToggleCheckbox"
						type="checkbox"
						class="hidden mk-toggle-input"
						:disabled="disabled"
						:checked="value"
						:aria-pressed="value"
						@change="changeValue"
						@keydown="toggleCheckBox"
					/>
					<span class="toggle__line w-11 h-6 bg-grey-20 rounded-full shadow-inner"></span>
					<span
						class="toggle__dot absolute w-4 h-4 bg-white rounded-full shadow top-0 bottom-0 right-5 m-auto ease-in-out duration-300 transition left-1 border border-white box-content"
					></span>
				</label>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'MkToggleBtn',
	components: {},
	props: {
		value: {
			type: [Boolean],
			default: false,
		},
		disabled: {
			type: Boolean,
			default: false,
		},
		address: {
			type: Object,
			default: () => {},
		},
		affirm: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {};
	},
	methods: {
		changeValue(value) {
			this.$emit('change', value);
		},
		toggleCheckBox($evt) {
			if (
				$evt.keyCode === 32 ||
				$evt.keyCode === 13 ||
				$evt.keyCode === 38 ||
				$evt.keyCode === 39 ||
				$evt.keyCode === 40
			) {
				this.changeValue();
			}
		},
	},
};
</script>
<style lang="scss">
.mk-toggle-input {
	&:checked {
		~ {
			.toggle__dot {
				background-color: #fff;
				transform: translateX(100%);
			}
			.toggle__line {
				background-color: #000;
			}
		}
	}
}
</style>
