<template>
  <div
    :key="this.isAuthenticatedUser"
    class="flex flex-row-reverse items-center justify-center lg:mt-0 w-full"
  >
    <!-- <p
      role="document"
      :aria-label="`${productDiscount} percent off on ${
        this.productDetails && this.productDetails.productName
      } `"
      class="w-20 my-4 md:my-0.5 text-center text-sm text-error-20 font-primary-font-regular"
      v-if="showDiscount && showStrikedPrice && !quoteOnlyProduct"
    >
      {{ calculateDiscount}}% off
    </p>
    <p
      v-if="showAddToQuote && !showDiscount"
      role="alert"
      aria-label="Add to quote for the best price"
      :class="productStyle"
      class="w-full mt-1 text-sm text-center md:mb-2 font-primary-font-regular text-error-20"
    >
      Add to quote for best price
    </p>
    <p
      aria-label="stock is available"
      class="w-40 text-sm leading-6 text-center text-black font-primary-font-bold"
    >
      In stock
    </p>
    <p
      class="mt-2 text-lg text-black md:mt-1 h-7 md:text-base lg:text-2xl font-primary-font-light leading-5 md:leading-6 lg:leading-7"
    >
      <span
        :aria-label="`Striked price ${productPriceMSRP['centAmount']} `"
        class="relative mr-3 mk-strikethrough"
        v-if="showStrikedPrice && !quoteOnlyProduct"
        >${{ productPriceMSRP['centAmount'] | centsToDollars }}</span
      >
      <span
        :aria-label="`product price ${currentPrice['centAmount']} `"
        v-if="!showAddToQuote && !quoteOnlyProduct"
        >${{ currentPrice['centAmount'] | centsToDollars }}</span
      >
      <span :aria-label="`get the quote for the product`" v-else
        >Get quote</span
      >
    </p> -->
    <!-- <div
      class="flex flex-row mk-vertical-ctr justify-center mt-4 items-center text-black lg:text-lg font-primary-font-regular"
    >
      <button tabindex="0"
        type="button"
        class="text-base2 focus:ring"
        :class="'focus:outline-none'"
        aria-label="decrease quantity by one"
        @click="decrement"
        :disabled="quantity < 2"
      >
        -
      </button>
      <MkInput
        :aria-label="`total number of units ${quantity}`"
        aria-live="region"
        class="w-8 h-6"
        inputClass="lg:text-lg font-primary-font-regular pr-0 mk-moz-input-hide"
        :id="`${productDetails.productId}_item_product_quantity`"
        inputType="withoutlabel"
        type="number"
        :value="quantity"
        :mkQtyClass="['h-6 text-center pl-0', 'border-none']"
        @input="updateValue($event)"
        @keydown="preventLetters($event)"
      />
      <button tabindex="0"
        type="button"
        class="text-22 focus:ring"
        :class="'focus:outline-none'"
        aria-label="increase quantity by one"
        @click="increment"
        :disabled="quantity >= 99"
      >
        +
      </button>
    </div> -->
    <p
      class="font-primary-font-light text-lg mb-10 px-2 md:px-4 order-2 w-8/12 pt-8"
    >
      *Starting at 0% APR with <MkAffirmLogo class="inline-block" /><span>
        Prequalify now</span
      >
    </p>
    <div class="order-1 w-4/12">
      <MkPrimaryButton
        role="button"
        :aria-label="
          showAddToCart && !quoteOnlyProduct
            ? 'add the product to cart'
            : 'add the product to quote'
        "
        :loading="cartLoading"
        btn-class="text-sm font-normal w-40 h-10 py-3"
        class="float-right"
        :button-title="'Get ' + productDetails.productName"
        tabindex="0"
        @click="addToCart"
      />
    </div>
    <!-- :buttonTitle="showAddToCart && !quoteOnlyProduct ? 'Add to cart' : 'Request a Quote'" -->
  </div>
</template>
<script>
import { mapState } from 'vuex'
import MkPrimaryButton from '~/components/D2C/atoms/MkPrimaryButton.vue'
import MkAffirmLogo from '~/components/D2C/atoms/MkAffirmLogo.vue'
export default {
  name: 'MkProductCart',
  components: { MkPrimaryButton, MkAffirmLogo },
  props: {
    productDetails: {
      type: Object,
      default: () => {},
    },
    productStyle: {
      type: String,
      default: 'md:w-30',
    },
  },
  data() {
    return {
      quantity: 1,
      currentPrice: this.productDetails.productPriceMSRP,
      productPriceMSRP: this.productDetails.productPriceMSRP,
      productPriceTiers: this.productDetails.productPriceTiers,
      showStrikedPrice: false,
      price: 0,
      productDiscount: '',
      showAddToCart: true,
      showAddToQuote: false,
      cartLoading: false,
      showDiscount: false,
      quoteOnlyProduct: this.productDetails.quoteOnlyProduct,
      productImages: [],
    }
  },
  methods: {
    async getImage(productSlug) {
      if (productSlug) {
        const imageLink = await this.$root.$getImage(productSlug)
        if (imageLink != undefined) {
          this.productImages.push(imageLink)
        }
      }
    },
    quantityUpdated(value) {
      const productList = []
      productList.push(this.productDetails)
      productList.forEach((el) => {
        this.getImage(el.productSlug)
      })
      const tealiumPayload = {
        page_type: 'product',
        event_category: 'Ecommerce',
        event_value: this.quantity.toFixed(0),
        product_brand: [
          ...new Set(productList.map((x) => x.product_brand || 'Molekule')),
        ],
        product_category: [
          ...new Set(productList.map((x) => x.product_category || 'Filters')),
        ],
        product_discount_amount: [
          ...new Set(productList.map((x) => x.product_discount_amount || '0')),
        ],
        product_list_price: [
          ...new Set(productList.map((x) => x.productPriceTiers)),
        ],
        product_promo_code: [
          ...new Set(productList.map((x) => x.product_promo_code || '')),
        ],
        product_quantity: [
          ...new Set(
            productList.map(
              (x) => x.product_quantity || this.quantity.toFixed(0) || '1'
            )
          ),
        ],
        product_sku: [...new Set(productList.map((x) => x.productSku))],
        product_id: [...new Set(productList.map((x) => x.productId))],
        product_review_stars: [
          ...new Set(productList.map((x) => x.averageRating || '1')),
        ],
        product_in_stock: [
          ...new Set(productList.map((x) => x.productStockCount || '')),
        ],
        product_name: [...new Set(productList.map((x) => x.productName))],
        product_price: [
          ...new Set(
            productList.map((x) =>
              this.$root.$utility.centsToDollarsConvert(
                x.productPriceMSRP.centAmount,
                x.productPriceMSRP.fractionDigits
              )
            )
          ),
        ],
        product_plan_details: '',
        product_renewal_date: '',
      }
      const list_price_array = []
      tealiumPayload.product_list_price.forEach((el) => {
        if (el && el.length) {
          el.forEach((price) => {
            if (price.value) {
              list_price_array.push(
                this.$root.$utility.centsToDollarsConvert(
                  price.value.centAmount,
                  price.value.fractionDigits
                )
              )
            }
          })
        }
      })
      tealiumPayload.product_list_price = list_price_array
      if (!tealiumPayload.product_list_price.length) {
        tealiumPayload.product_list_price = tealiumPayload.product_price
      }
      tealiumPayload.product_image_url = this.productImages
      if (value == 'increment') {
        tealiumPayload.event_action = 'Changed Quantity'
        tealiumPayload.event_label = 'Increased'
        tealiumPayload.event_value = 'Increased'
        this.$root.$telium.setTealiumPayload(
          'quantity_increase',
          tealiumPayload,
          'T_LINK_TRACK'
        )
      } else if (value == 'decrement') {
        tealiumPayload.event_action = 'Changed Quantity'
        tealiumPayload.event_label = 'Decreased'
        tealiumPayload.event_value = 'Decreased'
        this.$root.$telium.setTealiumPayload(
          'quantity_decrease',
          tealiumPayload,
          'T_LINK_TRACK'
        )
      }
    },
    quoteAdded() {
      const productList = []
      productList.push(this.productDetails)
      const tealiumPayload = {
        page_type: 'cart',
        page_url: window.location.href,
        session_id: '12345',
        cart_id: this.CART_ID,
        event_category: 'B2B Request Quote',
        event_action: 'Clicked Request Quote',
        cart_product_id: [...new Set(productList.map((x) => x.productId))],
        cart_product_quantity: [this.quantity.toFixed(0)],
        cart_product_sku: [...new Set(productList.map((x) => x.productSku))],
        cart_total_items: productList.length.toFixed(0),
        cart_total_value: this.$root.$utility.centsToDollarsConvert(
          this.SUB_TOTAL_PRICE
        ),
        cart_discount: [
          this.$root.$utility.centsToDollarsConvert(this.DISCOUNT_PRICE),
        ],
        event_label: window.location.href,
        event_value: '1',
      }
      const list_price_array = []
      const product_list_price = [
        ...new Set(productList.map((x) => x.productPriceMSRP)),
      ]
      product_list_price.forEach((el) => {
        list_price_array.push(
          this.$root.$utility.centsToDollarsConvert(
            el.centAmount,
            el.fractionDigits
          )
        )
      })
      tealiumPayload.cart_product_price = list_price_array
      this.$root.$telium.setTealiumPayload(
        'request_quote_start',
        tealiumPayload,
        'T_LINK_TRACK'
      )
    },
    increment() {
      this.quantity++
      this.setPriceDetails()
      this.quantityUpdated('increment')
    },
    decrement() {
      this.quantity--
      this.setPriceDetails()
      this.quantityUpdated('decrement')
    },
    updateValue(newValue) {
      if (newValue && newValue <= 0) {
        this.quantity = 1
      } else if (String(newValue).length <= 4) {
        this.quantity = newValue
      }
      this.setPriceDetails()
    },
    setPriceDetails() {
      this.showStrikedPrice = false
      this.showAddToCart = true
      this.showAddToQuote = false
      const { productPriceMSRP, productPriceTiers } = this.productDetails
      this.currentPrice = productPriceMSRP
      if (productPriceTiers && this.quantity > 0) {
        let curIndex = null
        productPriceTiers.forEach((item, index) => {
          if (this.quantity >= item.minimumQuantity) {
            curIndex = index
          }
        })
        if (curIndex !== null) {
          this.showStrikedPrice = true
          if (this.isAuthenticatedUser) {
            this.currentPrice = productPriceTiers[curIndex].value
            this.showDiscount = true
          } else {
            this.showAddToCart = false
            this.showAddToQuote = true
          }
        }
      }
    },
    preventLetters(e) {
      if (e && ['e', 'E'].includes(e.key) && typeof e.key !== 'number') {
        e.preventDefault()
      }
    },
    async addToCart() {
      // @@TODO UPDATE TO REAL AUTHENTICATED CUSTOMER
      try {
        this.cartLoading = true
        const newCartPayload = {
          tealiumVisitorId: '',
        }
        const newProductPayload = {
          action: 'ADD_LINE_ITEM',
          productId: this.productDetails.productId || null,
          quantity: this.quantity,
        }
        try {
          newProductPayload.variantId = this.productDetails.masterVariant.id
        } catch (e) {
          console.log(e)
        }
        if (this.AUTHENTICATED) {
          newCartPayload.customerId = this.CUSTOMERID
        }
        try {
          if (!this.CART_ID) {
            await this.$store.dispatch('CART_STORE/CREATE_CART', newCartPayload)
          }
          if (
            this.showAddToQuote &&
            !this.quoteOnlyProduct &&
            !this.AUTHENTICATED
          ) {
            await this.$store.commit(
              'CART_STORE/QUOTE_FLYOUT',
              newProductPayload
            )
          }
          await this.$store.dispatch(
            'CART_STORE/ADD_REMOVE_FROM_CART',
            newProductPayload
          )
          await this.$store.dispatch('CART_STORE/CHECK_CART_HAS_QUOTE')

          // showing Quote form with cart having only quote item
          const lineItem = this.$store.state.CART_STORE.LINE_ITEMS
          let hasOnlyQuote = true

          if (lineItem.length) {
            for (let i = 0; i < lineItem.length; i++) {
              if (!lineItem[i].quoteOnlyProduct) {
                hasOnlyQuote = false
                break
              }
            }
          } else {
            hasOnlyQuote = false
          }
          if (hasOnlyQuote) {
            await this.$store.dispatch('CART_STORE/ADD_REMOVE_FROM_CART', {
              action: 'SET_CART_AS_QUOTE',
            })
            await this.$store.dispatch(
              'CART_STORE/REQUEST_QUOTE',
              'REQUEST_QUOTE'
            )
            this.quoteAdded()
          } else {
            await this.$store.dispatch(
              'MK_CART_STORE/TOGGLE_SIDE_CART',
              'MK_SIDE_CART'
            )
            this.cartOperation('add')
          }
          this.cartLoading = false
        } catch (error) {
          // move to global error handler
          console.log(error)
        }
      } catch (exp) {
        this.cartLoading = false
      }
    },
    async cartOperation(key) {
      const tealiumPayload = {
        page_type: 'cart',
        cart_id: this.CART_ID,
        cart_product_id: [...new Set(this.LINE_ITEMS.map((x) => x.productId))],
        cart_product_quantity: [
          ...new Set(this.LINE_ITEMS.map((x) => x.quantity.toFixed(0) || '1')),
        ],
        cart_product_sku: [
          ...new Set(this.LINE_ITEMS.map((x) => x.variant.sku)),
        ],
        cart_total_items: this.LINE_ITEMS.length.toFixed(0),
        cart_total_value: this.$root.$utility.centsToDollarsConvert(
          this.SUB_TOTAL_PRICE
        ),
        cart_discount: [
          this.$root.$utility.centsToDollarsConvert(this.DISCOUNT_PRICE),
        ],
        product_brand: [
          ...new Set(this.LINE_ITEMS.map((x) => x.product_brand || 'Molekule')),
        ],
        product_category: [
          ...new Set(
            this.LINE_ITEMS.map((x) => x.productType?.obj?.name || 'Filters')
          ),
        ],
        product_discount_amount: [
          ...new Set(
            this.LINE_ITEMS.map((x) => x.product_discount_amount || '0')
          ),
        ],
        product_name: [...new Set(this.LINE_ITEMS.map((x) => x.name['en-US']))],
        product_promo_code: '',
        product_quantity: [
          ...new Set(this.LINE_ITEMS.map((x) => x.quantity.toFixed(0) || '1')),
        ],
        product_sku: [...new Set(this.LINE_ITEMS.map((x) => x.variant.sku))],
        product_id: [...new Set(this.LINE_ITEMS.map((x) => x.productId))],
      }
      const productImgUrl = []
      for (let i = 0; i < this.LINE_ITEMS.length; i++) {
        productImgUrl.push(
          await this.$root.$getImage(this.LINE_ITEMS[i]?.variant?.sku)
        )
      }
      tealiumPayload.product_image_url = productImgUrl
      const list_price_array = []
      const product_list_price = [
        ...new Set(this.LINE_ITEMS.map((x) => x.price)),
      ]
      product_list_price.forEach((el) => {
        if (el.value) {
          list_price_array.push(
            this.$root.$utility.centsToDollarsConvert(
              el.value.centAmount,
              el.value.fractionDigits
            )
          )
        }
      })
      tealiumPayload.cart_product_price = list_price_array
      tealiumPayload.cart_product_list_price = list_price_array
      tealiumPayload.product_list_price = list_price_array
      tealiumPayload.product_price = list_price_array
      if (key == 'add') {
        tealiumPayload.event_category = 'Ecommerce'
        tealiumPayload.event_action = 'Added to Cart'
        tealiumPayload.event_label = 'Added from' + window.location.href
        tealiumPayload.event_value = [
          ...new Set(this.LINE_ITEMS.map((x) => x.variant.sku)),
        ]
        this.$root.$telium.setTealiumPayload('cart_add', tealiumPayload)
      }
    },
  },
  computed: {
    ...mapState('CART_STORE', [
      'CART',
      'CART_ID',
      'AUTH_PROCESS',
      'DISCOUNT_PRICE',
      'SUB_TOTAL_PRICE',
      'LINE_ITEMS',
    ]),
    ...mapState('USER_STORE', ['AUTHENTICATED', 'CUSTOMERID']),
    isAuthenticatedUser() {
      return this.AUTHENTICATED
    },
    calculateDiscount() {
      console.log(
        ((this.productPriceMSRP.centAmount - this.currentPrice.centAmount) /
          this.productPriceMSRP.centAmount) *
          100
      )
      return Math.round(
        ((this.productPriceMSRP.centAmount - this.currentPrice.centAmount) /
          this.productPriceMSRP.centAmount) *
          100
      )
    },
  },
  watch: {
    AUTH_PROCESS() {
      this.isAuthenticatedUser = this.AUTHENTICATED
      this.currentPrice = this.productDetails.productPriceMSRP
      this.productPriceMSRP = this.productDetails.productPriceMSRP
      this.productPriceTiers = this.productDetails.productPriceTiers
      this.quoteOnlyProduct = this.productDetails.quoteOnlyProduct
      this.setPriceDetails()
    },
  },
}
</script>

<style lang="postcss">
.mk-strikethrough:before {
  border-bottom: 2px solid red;
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
@-moz-document url-prefix() {
  .mk-moz-input-hide {
    -moz-appearance: textfield;
    padding: 0;
  }
  .mk-vertical-ctr {
    align-items: center;
  }
}
</style>
