<template>
	<div
		class="inline-flex flex-wrap items-center justify-center space-x-4 text-sm text-gray-500 lg:flex font-primary-font-bold"
	>
		<button
			tabindex="0"
			type="button"
			class="icon-minus text-xs text-grey-40 focus:ring-black focus:ring-1"
			:aria-label="`${ariaLabel} Decrease quantity by one `"
			:disabled="quantity < 1"
			@click="decrement"
		></button>
		<div class="relative box-border mktext" :class="{ 'border ring rounded': inputFocus }">
			<ValidationProvider
				v-slot="{ errors }"
				:rules="rules"
				:immediate="false"
				onkeydown="return event.key != 'Enter';"
			>
				<div class="autocomplete">
					<div
						v-if="!displayonly"
						class="relative rounded-md autocomplete-tap outline border-grey-20 focus:ring-grey-20 focus:rounded-br-none focus-within:border-black"
						:class="[
							{
								'border-error-20': errors.length > 0,
								'pointer-events-none select-none': disabled,
								'mk-input-without-label': !label,
							},
							`mk-text-input-${variant}`,
						]"
					>
						<input
							:ref="`mk_select_input_${id}`"
							v-model="search"
							:name="id"
							placeholder=" "
							aria-live="region"
							:aria-label="showList ? 'list expanded' : `Total number of units ${quantity}`"
							:aria-activedescendant="'li_' + id + '_' + arrowCounter"
							:readonly="readOnly"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
							:class="[
								label ? 'pt-4' : 'pt-0 translate-y-0 transform-none',
								{
									'origin-bottom-left': disabled || (blurStyle && label != null),
									'text-grey-20 ': disabled,
									'w-11/12 md:w-80 lg:w-full	truncate lg:overflow-clip': source,
									'w-7': !source,
									'cursor-pointer': search < 10,
								},
							]"
							class="text-black block p-0 leading-6 bg-transparent border-transparent rounded-md auto-input focus:border-transparent focus:outline-none focus:ring-transparent text-center h-8 font-primary-font-light text-base"
							:aria-expanded="showList ? 'true' : 'false'"
							aria-haspopup="listbox"
							:aria-controls="id + '-autocomplete-results'"
							autocomplete="off"
							@input="onInput"
							@change="onChange"
							@blur="focusOut()"
							@keypress="onKeyPress"
							@click="filterResults"
							@keydown.down="onArrowDown"
							@keydown.up="onArrowUp"
							@keydown.enter="onEnter"
							@keydown.space="onEnter"
							@keydown.esc="onEsc"
							@keydown.tab="onTab"
							@keydown.delete="filterResults"
							@focus="inputFocus = false"
						/>
						<ul
							v-show="showList"
							:id="id + '-autocomplete-results'"
							:ref="`scroll_container_${id}`"
							:aria-label="label"
							tabindex="-1"
							role="listbox"
							class="absolute z-10 w-20 -right-26 h-auto overflow-auto font-light origin-top-right border autocomplete-results max-h-62 font-primary-font-light border-grey-20 focus:outline-none"
						>
							<li v-if="isLoading" role="option" class="loading" aria-selected="false"> Loading results... </li>
							<li
								v-for="(opt, i) in results"
								v-else
								:id="'li_' + id + '_' + i"
								ref="liList"
								:key="i"
								tabindex="0"
								role="option"
								:aria-selected="selectedValue == opt[itemValue]"
								:value="opt[itemValue]"
								:selected="value === opt[itemValue]"
								:aria-activedescendant="opt[itemValue]"
								:aria-label="(opt['ariaLabel'] || opt[itemText]) + ' selected'"
								class="text-black text-center autocomplete-result px-4 flex items-center justify-center h-8 darkest hover:bg-grey-10 cursor-pointer autocomplete-tap focus:outline-none"
								:class="{
									'is-active': i === arrowCounter || selectedValue == opt[itemValue],
								}"
								@click="setResult(opt, i)"
								@keypress.enter="setResult(opt, i)"
							>
								{{ opt[itemText] }}
							</li>
						</ul>
						<p
							:id="'lbl_' + id"
							aria-hidden="true"
							:for="id"
							:class="[
								{
									'text-error-20': errors.length > 0,
									'text-grey-20': disabled,
								},
							]"
							class="absolute top-0 duration-300 cursor-pointer text-md origin-0 font-primary-font-light p-4"
							@click="
								filterResults();
								$refs[`mk_select_input_${id}`].focus();
							"
						>
							{{ label }}
						</p>
					</div>
					<div v-else-if="displayonly">
						<p :id="id" :label="label"></p>
						<p>{{ value }}</p>
					</div>
					<p v-show="errors" class="text-xs text-red-500 md:text-sm font-primary-font-regular">
						{{ errors[0] }}
					</p>
					<p :id="'hlp' + id">{{ helpText }}</p>
				</div>
			</ValidationProvider>
		</div>
		<button
			tabindex="0"
			type="button"
			class="icon-plus text-xs text-grey-40 focus:ring-black focus:ring-1"
			:class="quantity >= max ? 'cursor-not-allowed' : 'cursor-pointer'"
			:aria-label="`${ariaLabel} Increase quantity by one`"
			:disabled="quantity >= max"
			@click="increment"
		></button>
	</div>
</template>
<script>
import { ValidationProvider } from 'vee-validate';
export default {
	name: 'MkQuantityDropdown',
	components: {
		ValidationProvider,
	},
	props: {
		source: {
			type: Boolean,
			default: false,
		},
		id: {
			type: String,
			default: null,
		},
		labelSrOnly: {
			type: [Boolean, String],
			default: false,
		},
		type: {
			type: String,
			default: 'text',
		},
		helpText: {
			type: String,
			default: null,
		},
		placeholder: {
			type: String,
			default: null,
		},
		label: {
			type: String,
			default: null,
		},
		labelFor: {
			type: String,
			default: null,
		},
		value: {
			type: [String, Number],
			default: null,
		},
		validation: {
			type: String,
			default: null,
		},
		disabled: {
			type: Boolean,
			default: false,
		},
		displayonly: {
			type: Boolean,
			default: false,
		},
		hasError: {
			type: Boolean,
			default: false,
		},
		rules: {
			type: String,
			default: null,
		},
		variant: {
			type: String,
			default: '',
		},
		// options: {
		//   type: [Array, Object],
		//   default: function () {
		//     return []
		//   }
		// },
		readOnly: {
			type: Boolean,
			default: true,
		},
		itemText: {
			type: String,
			default: 'text',
		},
		ariaLabel: {
			type: String,
			default: '',
		},
		itemValue: {
			type: String,
			default: 'value',
		},
		max: {
			type: Number,
			default: 20,
		},
	},
	data() {
		return {
			textInput: false,
			showList: false,
			results: [],
			search: '',
			isLoading: false,
			arrowCounter: -1,
			selectedValue: '',
			blurStyle: false,
			quantity: 1,
			options: [
				{ text: '1', value: 1, ariaLabel: 'one' },
				{ text: '2', value: 2, ariaLabel: 'two' },
				{ text: '3', value: 3, ariaLabel: 'three' },
				{ text: '4', value: 4, ariaLabel: 'four' },
				{ text: '5', value: 5, ariaLabel: 'five' },
				{ text: '6', value: 6, ariaLabel: 'six' },
				{ text: '7', value: 7, ariaLabel: 'seven' },
				{ text: '8', value: 8, ariaLabel: 'eight' },
				{ text: '9', value: 9, ariaLabel: 'nine' },
				{ text: '10+', value: 10, ariaLabel: 'more than ten' },
			],
			allOptions: [
				{ text: '1', value: 1, ariaLabel: 'one' },
				{ text: '2', value: 2, ariaLabel: 'two' },
				{ text: '3', value: 3, ariaLabel: 'three' },
				{ text: '4', value: 4, ariaLabel: 'four' },
				{ text: '5', value: 5, ariaLabel: 'five' },
				{ text: '6', value: 6, ariaLabel: 'six' },
				{ text: '7', value: 7, ariaLabel: 'seven' },
				{ text: '8', value: 8, ariaLabel: 'eight' },
				{ text: '9', value: 9, ariaLabel: 'nine' },
				{ text: '10+', value: 10, ariaLabel: 'more than ten' },
			],
			inputFocus: false,
		};
	},
	watch: {
		options(val, oldValue) {
			if (val.length !== oldValue.length) {
				this.results = val;
				this.isLoading = false;
				this.setValue();
			}
		},
		value() {
			this.setValue();
			// this.focusInput()
		},
		max() {
			if (this.max <= 10) {
				const $options = Object.assign([{}], this.allOptions);
				this.options = $options.splice(0, this.max);
			}
		},
	},
	mounted() {
		document.addEventListener('click', this.handleClickOutside);
		this.results = this.options;
		this.setValue();
		// this.focusInput()
		if (this.disabled) {
			this.$refs[`mk_select_input_${this.id}`].disabled = true;
		}
		if (this.max <= 10) {
			const $options = Object.assign([{}], this.allOptions);
			this.options = $options.splice(0, this.max);
		}
	},
	destroyed() {
		document.removeEventListener('click', this.handleClickOutside);
	},
	methods: {
		onInput() {
			// if(this.textInput){
			//  if(this.search >20){
			//    this.search = 20
			//  }
			//   this.quantity = this.search
			//   this.$emit('change', this.search)
			// } else {
			this.arrowCounter = 0;
			this.filterResults();
			// }
		},
		onKeyPress(event) {
			const $filter = String.fromCharCode(event.which);
			if ($filter === ' ') {
				this.showList = true;
			}
			this.arrowCounter = 0;
		},
		onChange() {
			if (!this.textInput && this.search.length === 1) {
				const $value = this.options.filter((item) => {
					return item[this.itemText].toLowerCase().includes(this.search.toLowerCase());
				});
				if ($value.length === 0) {
					const $previousValue = this.options.filter(($opt) => {
						console.log($opt[this.itemValue], this.selectedValue);
						return $opt[this.itemValue] === this.selectedValue;
					});
					this.search = $previousValue.length > 0 ? $previousValue[0][this.itemText] : '';
					this.quantity = $previousValue.length > 0 ? $previousValue[0][this.itemValue] : 0;
					this.showList = false;
				}
			} else {
				this.showList = false;
			}
		},
		setValue() {
			let $value = [];
			console.log(this.value, this.options.length, '--before check--');
			if (this.value && this.options.length > 0) {
				if (this.value === 10) {
					this.search = 10;
					this.quantity = 10;
				} else {
					$value = this.options.filter((item) => {
						return item[this.itemValue].toString().toLowerCase().includes(this.value.toString().toLowerCase());
					});
					// Checks if returned value is in list of values, else pushes whatever value we tried to set
					if (!$value.length) {
						this.search = this.value;
						this.quantity = this.value;
						return;
					}
					// This is where main error was happening because if the filter returns a empty arr, [0].text is undefined
					this.search = $value[0][this.itemText];
					this.quantity = $value[0][this.itemValue];
					this.selectedValue = $value[0][this.itemText];
				}
			}
		},
		filterResults() {
			if (!this.textInput) {
				if (this.search && !this.readOnly) {
					this.results = this.options.filter((item) => {
						return item[this.itemText].toLowerCase().includes(this.search.toLowerCase());
					});
				} else {
					this.results = this.options;
				}
				if (this.disabled) {
					this.showList = false;
				} else {
					this.showList = true;
				}
			} else {
				this.showList = false;
			}
		},
		setResult($result, $index) {
			if ($result[this.itemText] === '10+') {
				this.textInput = true;
				this.readOnly = false; // eslint-disable-line
				this.inputFocus = true;
			} else {
				this.textInput = false;
				this.readOnly = true; // eslint-disable-line
			}
			this.selectedItem($result);
			this.arrowCounter = $index;
			this.showList = false;
			this.fixScrolling();
		},
		selectedItem($item) {
			this.search = $item[this.itemText];
			this.quantity = $item[this.itemValue];
			this.selectedValue = $item[this.itemValue];
			// this.updateValue($item[this.itemValue])
			this.$emit('change', $item[this.itemValue]);
		},
		onArrowDown(ev) {
			ev.preventDefault();
			if (this.results.length > 0) {
				this.showList = true;
				if (this.arrowCounter + 1 < this.results.length && this.results.length > 0) {
					this.arrowCounter = this.arrowCounter + 1;
					this.selectedItem(this.results[this.arrowCounter]);
				}
				this.fixScrolling();
			}
		},
		onArrowUp(ev) {
			ev.preventDefault();
			if (this.results.length > 0) {
				this.showList = true;
				if (this.arrowCounter > 0) {
					this.arrowCounter = this.arrowCounter - 1;
					this.selectedItem(this.results[this.arrowCounter]);
				}
				this.fixScrolling();
			}
		},
		onTab(ev) {
			this.showList = false;
		},
		focusInput() {
			if (this.value !== '' && this.value !== null && this.label !== null) {
				if (this.disabled) {
					// this.$refs.mk_select_input.disabled=true
				} else {
					this.$refs[`mk_select_input_${this.id}`].focus();
				}
			}
		},
		focusOut() {
			if (this.textInput) {
				if (this.search > this.max) {
					this.search = this.max;
				}
				if (this.quantity !== this.search) {
					this.quantity = this.search;
					this.$emit('change', this.search);
				}
			}
			this.blurStyle = true;
		},
		onEnter() {
			if (this.showList) {
				if (this.arrowCounter > -1) {
					this.setResult(this.results[this.arrowCounter], this.arrowCounter);
					if (!this.search) {
						this.arrowCounter = -1;
					}
				}
			} else {
				this.showList = true;
			}
		},
		fixScrolling() {
			const $liHeight = this.$refs.liList[this.arrowCounter].clientHeight;
			this.$refs[`scroll_container_${this.id}`].scrollTop = $liHeight * this.arrowCounter;
		},
		onEsc() {
			this.showList = false;
		},
		handleClickOutside(evt) {
			if (!this.$el.contains(evt.target)) {
				this.showList = false;
				if (!this.search) {
					this.arrowCounter = -1;
				}
			}
		},
		increment() {
			this.quantity++;
			this.search = this.quantity;
			this.$emit('change', this.search);
		},
		decrement() {
			this.quantity--;
			this.search = this.quantity;
			this.$emit('change', this.search);
		},
		updateValue(newValue) {
			if (newValue && newValue <= 0) {
				this.quantity = 1;
			} else if (String(newValue).length <= 4) {
				this.quantity = newValue;
			}
			this.search = this.quantity;
			this.$emit('change', this.search);
		},
	},
};
</script>
<style lang="postcss">
.autocomplete > div:focus > ul {
	@apply border-t border-black;
}
.autocomplete-results {
	@apply bg-white;
}
.autocomplete-result.is-active {
	@apply bg-grey-10;
}
.mk-text-input-outline {
	@apply border-b border-t-0 border-l-0 border-r-0 rounded-none;
}
.mk-text-input-outline input {
	@apply rounded-none focus:ring-0 pl-0;
}
.mk-text-input-outline label {
	@apply pl-0 text-base;
}
.mk-text-input-outline input:focus-within ~ label,
.mk-text-input-outline input:not(:placeholder-shown) ~ label {
	@apply ml-0 pl-0;
}
.mk-input-without-label input:focus-within,
.mk-input-without-label input:focus {
	@apply transform-none;
}
.autocomplete-results::-webkit-scrollbar {
	@apply w-1;
}
.autocomplete-results::-webkit-scrollbar-track {
	@apply bg-transparent;
}
.autocomplete-results::-webkit-scrollbar-thumb {
	@apply bg-grey-20 rounded-md  w-1;
}
.autocomplete-results::-webkit-scrollbar-thumb:hover {
	@apply bg-grey-20;
}

.autocomplete-tap {
	-webkit-tap-highlight-color: transparent;
}
</style>
