<template>
  <div
    class="flex flex-col md:flex-row items-center justify-around bg-grey-70 w-full min-h-670 md:min-h-291 lg:min-h-478"
  >
    <MkAffirmInfo />
    <MkSaveBig />
    <MkConvenient />
  </div>
</template>

<script>
import MkAffirmInfo from '~/components/D2C/molecules/MkAffirmInfo.vue'
import MkSaveBig from '~/components/D2C/molecules/MkSaveBig.vue'
import MkConvenient from '~/components/D2C/molecules/MkConvenient.vue'

export default {
  name: 'MkAffirmFooter',
  components: { MkAffirmInfo, MkSaveBig, MkConvenient },
  computed: {},
}
</script>
