<template>
  <div
    class="flex flex-col lg:flex-row w-full md:w-369 lg:w-720 justify-between"
  >
    <div class="flex bg-grey-50 w-full flex-col h-full">
      <h1
        class="flex font-secondary-font-regular justify-center text-center lg:text-base2 md:text-28 md:px-6 md:py-10 px-16 pt-6 pb-8 text-mobile-title"
      >
        Almost done. Last step: filter refills.
      </h1>
      <div
        v-if="INACTIVE_SUBSCRIPTION.length == 1"
        role="img"
        class="flex items-center justify-center"
      >
        <MkProductImage
          v-if="
            INACTIVE_SUBSCRIPTION[0].value &&
            INACTIVE_SUBSCRIPTION[0].value.cart &&
            INACTIVE_SUBSCRIPTION[0].value.cart.obj &&
            INACTIVE_SUBSCRIPTION[0].value.cart.obj.lineItems[0] &&
            INACTIVE_SUBSCRIPTION[0].value.cart.obj.lineItems[0].variant
          "
          size-class="max-h-full lg:w-580 md:w-309 w-250"
          :product-name="
            INACTIVE_SUBSCRIPTION[0].value.cart.obj.lineItems[0].name[locale]
          "
          :product-sku="
            INACTIVE_SUBSCRIPTION[0].value.cart.obj.lineItems[0].variant.sku
          "
        />
        <!-- <img
          src="~/assets/images/air-filters-affirm.png"
          class="max-h-full lg:w-580 md:w-309 w-250"
        /> -->
      </div>
      <div v-if="INACTIVE_SUBSCRIPTION.length > 1">
        <div
          v-for="item in INACTIVE_SUBSCRIPTION"
          :key="item.id"
          class="flex flex-col md:flex-row justify-start pt-12 pb-10"
        >
          <div
            v-if="
              item.value &&
              item.value.cart &&
              item.value.cart.obj &&
              item.value.cart.obj.lineItems[0] &&
              item.value.cart.obj.lineItems[0].variant
            "
            role="img"
            class="flex flex-col items-center md:items-start justify-top order-2 md:order-1 md:pl-7 md:pr-5"
          >
            <MkProductImage
              size-class="lg:w-230 md:w-130 w-240"
              :product-name="item.value.cart.obj.lineItems[0].name[locale]"
              :product-sku="item.value.cart.obj.lineItems[0].variant.sku"
            />
            <!-- <img
              src="~/assets/images/air-filters-affirm.png"
              class="lg:w-230 md:w-130 w-240"
            /> -->
          </div>
          <div
            v-if="
              item.value &&
              item.value.cart &&
              item.value.cart.obj &&
              item.value.cart.obj.lineItems[0]
            "
            class="flex flex-col items-center md:items-start align-top order-1 md:order-2 mb-12"
          >
            <h2
              class="primary-font-light justify-center text-left lg:text-2xl md:text-lg text-base lg:mb-6 md:mb-4 mb-6"
            >
              {{ item.value.cart.obj.lineItems[0].name[locale] }}
            </h2>
            <p
              class="primary-font-light justify-center text-left lg:text-sm md:text-xs text-sm mb-2 md:pr-6"
            >
              Box contains
              {{
                item.value.cart.obj.lineItems[0].description &&
                item.value.cart.obj.lineItems[0].description[locale]
              }}
            </p>
            <p
              class="primary-font-light justify-center text-left lg:text-sm md:text-xs text-sm mb-2"
            >
              ${{
                item.value.cart.obj.lineItems[0].price.value.centAmount
                  | centsToDollars
              }}
              per device {{ item.value.cart.obj.custom.fields.period }} months
            </p>
            <p
              class="primary-font-light justify-center text-left lg:text-sm md:text-xs text-sm mb-2"
            >
              Next refill:
              {{ item.value.nextOrderDate | formatDateAurora('MM/DD/YY') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import MkProductImage from '~/components/D2C/organisms/MkProductImage/MkProductImage.vue'
export default {
  name: 'MkInactiveLineitem',
  components: {
    MkProductImage,
  },
  data() {
    return {
      locale: 'en-US',
    }
  },
  computed: {
    ...mapState('CHECKOUT_STORE', ['INACTIVE_SUBSCRIPTION']),
  },
}
</script>
