<template>
	<div
		class="flexw-full lg:w-470 flex-col md:rounded-lg lg:rounded bg-white py-6 px-2 md:px-4 lg:px-6 pb-10 mb-4 md:mb-10"
	>
		<h2
			class="font-secondary-font-regular text-xl md:text-2xl leading-6 md:leading-7 lg:leading-8 mb-8 md:mb-6 lg:mb-10 lg:mt-4 px-4"
		>
			Order summary
		</h2>
		<MkOrderTotal class="" />
		<MkOrderPromo class="mb-4 lg:mb-6" />
		<MkOrderCheckout class="" />
	</div>
</template>
<script>
import MkOrderTotal from '~/components/D2C/molecules/MkOrderTotal.vue';
import MkOrderPromo from '~/components/D2C/molecules/MkOrderPromo.vue';
import MkOrderCheckout from '~/components/D2C/molecules/MkOrderCheckout.vue';
export default {
	name: 'MkOrderSummary',
	components: {
		MkOrderTotal,
		MkOrderPromo,
		MkOrderCheckout,
	},
	data() {
		return {
			queryData: '', // Added for DEMO Route
		};
	},
	mounted() {
		this.queryData = this.$route.query.show; // Added for DEMO Route
	},
};
</script>
