<template>
	<div class="flex flex-col w-full md:w-690 lg:w-722 mb-2">
		<div class="bg-mint-20 mb-2 md:rounded-t-lg lg:rounded-t-lg px-4 py-8 md:pl-6 md:pr-4 md:py-8 lg:p-10">
			<h2 class="font-secondary-font-regular text-xl md:text-28 lg:text-2xl leading-6 md:leading-8 text-black">
				Keep fresh filters coming.
			</h2>
			<p class="mt-10 md:mt-6 font-primary-font-light text-base leading-6">
				Activate auto-refills to get filter replacements delivered every 6 months for $65 per refill pack (1 PECO-Filter
				and 2 Pre-Filters). Your next refill pack will ship a few days after your plan renews.
			</p>
		</div>
		<div v-if="showList && stepsCompleted == 1" class="bg-white px-4 pt-6 pb-8 md:px-6 md:pt-6 md:pb-8 lg:p-10 mb-2">
			<div class="flex justify-between items-center">
				<MkStepProgress step-title="Shipping" step-number="1" :class-active="stepsCompleted == 1 ? 'active' : ''" />
			</div>
			<div>
				<p class="pt-6 md:pt-8 font-primary-font-light text-base leading-6">
					Where would you like your next filter pack shipped?
				</p>
				<div class="mt-6 md:mt-8">
					<MkAddNewAddressTitle
						ref="add_new_address_button"
						:show-add="showAddress"
						@add-address="
							showAddress = !showAddress;
							disableButton = !disableButton;
							disableTrue = true;
						"
					/>
				</div>
				<ValidationObserver ref="shipping_validation_observer">
					<div v-if="showAddress">
						<MkAddressForm
							id="affirm_refill_shipping_form"
							v-model="shippingInfo"
							:value="selectedAddress"
							@input="setShippingInfo"
						/>
						<div class="mt-8 lg:mt-10">
							<MkPrimaryButton
								:disabled="disableTrue"
								:loading="addressLoading"
								class="font-primary-font-regular text-xl leading-6"
								button-title="Save address"
								font-size="text-xl"
								@click="saveAddress()"
							/>
						</div>
					</div>
				</ValidationObserver>
				<ValidationObserver ref="shipping_list_validation_observer">
					<div>
						<div class="flex flex-col md:flex-row">
							<div>
								<MkAddressTile
									:selected-address="selectedAddress"
									:rules="shippingEnabled ? 'required' : ''"
									:contents="STORE_SHIPPING_ADDRESSES"
									@selected="selected"
								/>
							</div>
						</div>
					</div>
					<div class="mt-10">
						<MkPrimaryButton
							:disabled="disableButton"
							:loading="loading"
							class="font-primary-font-regular text-xl leading-6"
							button-title="Next"
							font-size="text-xl"
							@click="SaveAddressToCart()"
						/>
					</div>
				</ValidationObserver>
			</div>
		</div>
		<div v-if="!showList" class="mt-2">
			<MkShippingInfo step-title="Shipping" :value="showselectedAddress" @editShipping="editShipping" />
		</div>
		<div v-if="stepsCompleted == 1" class="">
			<div class="flex-col bg-white px-4 md:px-6 lg:px-10 py-6 lg:py-10 mb-2">
				<div class="flex justify-between items-center">
					<MkStepProgress step-title="Payment" step-number="2" :class-active="stepsCompleted == 2 ? 'active' : ''" />
				</div>
			</div>
		</div>
		<div v-if="stepsCompleted == 2" class="mt-2">
			<div class="flex-col md:rounded-lg lg:rounded bg-white px-4 md:px-6 lg:px-10 py-6 lg:py-10 mb-2">
				<div class="flex justify-between items-center">
					<MkStepProgress step-title="Payment" step-number="2" :class-active="stepsCompleted == 2 ? 'active' : ''" />
				</div>
				<p class="font-primary-font-light text-base leading-6 mt-6 md:mt-8">
					Enter a card so your refills ship when it’s time to get fresh filters.
				</p>
				<div class="mt-8 md:mt-6 hidden md:block">
					<MkToggleBtn :value="useShippingAddress" :address="paymentAddressShow" @change="toggle_billing_address()" />
				</div>
				<ValidationObserver ref="payment_validation_observer">
					<div v-if="showAddressPayment" class="mt-6 lg:mt-8">
						<MkAddressForm id="affirm_billing_form" :value="paymentAddress" @input="setPaymentAddress" />
						<MkPrimaryButton
							:loading="loading"
							class="font-primary-font-regular text-xl leading-6"
							button-title="Save address"
							font-size="text-xl"
							@click="updateAddress()"
						/>
					</div>
					<MkAddNewAddressTitle
						tabindex="0"
						class="lg:mt-8 md:mt-6 mt-8"
						title="credit card"
						:show-add="showCreditCard"
						@add-address="showCard()"
					/>
					<div v-if="showCreditCard" class="mt-6 lg:mt-8">
						<MkAddNewCreditcard />
					</div>
					<div v-if="showCreditCard" class="mt-8 lg:mt-10">
						<MkPrimaryButton
							:loading="loading"
							class="font-primary-font-regular text-xl leading-6"
							button-title="Save credit card"
							font-size="text-xl"
							@click="updatePayment()"
						/>
					</div>
				</ValidationObserver>
				<MkCreditCard
					:credit-cards="CUSTOMER_CREDIT_CARD_DETAILS"
					:card-selected="selectedCard"
					@selected-card="setSelectedCard"
				/>
				<div class="block md:hidden">
					<div class="flex w-full items-center mt-6">
						<MkCheck radio-title="" />
						<p class="font-primary-font-light text-base pl-4"> Same as shipping address </p>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-white mb-2">
			<div
				class="flex-col md:rounded-lg lg:rounded bg-white px-4 pt-8 pb-7 md:px-6 md:pt-6 md:pb-10 lg:px-10 lg:py-10 mb-2"
			>
				<h2
					class="font-secondary-font-regular text-center text-black text-xl md:text-2xl leading-6 md:leading-7 lg:leading-8"
				>
					Order summary
				</h2>
				<div class="mt-8 mb-8 md:mt-8 md:mb-6 lg:mt-10 lg:mb-10 md:w-270 mx-auto">
					<div>
						<div class="flex flex-col">
							<div
								class="flex justify-between w-full mb-4 lg:mb-6 font-primary-font-light text-base leading-6"
								:class="[checkoutClass ? 'px-0 md:px-0 lg:px-0 ' : 'px-2 md:px-4 lg:px-4']"
							>
								<p>Subtotal</p>
								<p> ${{ SUB_TOTAL_PRICE | centsToDollars | zeroDisplay | formatPrice }} </p>
							</div>
							<div
								class="flex justify-between w-full mb-4 lg:mb-6 font-primary-font-light text-base leading-6"
								:class="[checkoutClass ? 'px-0 md:px-0 lg:px-0 ' : 'px-2 md:px-4 lg:px-4']"
							>
								<p>Shipping</p>
								<p> ${{ SHIPPING_PRICE | centsToDollars | zeroDisplay | formatPrice }} </p>
							</div>
							<div
								class="flex justify-between w-full mb-4 lg:mb-6 font-primary-font-light text-base leading-6"
								:class="[checkoutClass ? 'px-0 md:px-0 lg:px-0 ' : 'px-2 md:px-4 lg:px-4']"
							>
								<p>Tax</p>
								<p> ${{ TAX_PRICE | centsToDollars | zeroDisplay | formatPrice }} </p>
							</div>
							<div
								v-if="DISCOUNT_PRICE"
								class="flex rounded w-full justify-between items-center bg-mint-20 px-2 md:px-4 py-2 md:mt-2 lg:mt-4 font-primary-font-light text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6 mb-4"
							>
								<p>Discount</p>
								<p> -${{ DISCOUNT_PRICE | centsToDollars | zeroDisplay | formatPrice }} </p>
							</div>
						</div>
						<MkOrderPromo
							:account-class="true"
							:from-subscription="true"
							:subscription-cart-i-d="subscriptionSelected.cartId"
							@promoApiCall="setDetails"
						/>
						<div class="flex justify-between w-full">
							<p class="font-primary-font-bold">Order total</p>
							<p class="font-primary-font-bold"> ${{ TOTAL_PRICE | centsToDollars | zeroDisplay | formatPrice }} </p>
						</div>
						<div class="flex w-full items-center mt-8 md:mt-6 lg:mt-10">
							<ValidationProvider
								v-slot="{ errors, ariaMsg }"
								rules="required"
							>
								<label class="inline-flex items-top mt-6 lg:mt-8">
									<input
										id="checkBox"
										v-model="checkBox"
										type="checkbox"
										class="ml-0.5 w-6 h-6 text-black rounded-full checked:border-transparent focus:ring-1 focus:outline-none active:ring-0 mk-checkbox focus:border-black"
										@change="updateForm($event.target.checked ? '1' : '')"
									/>
									<span
										class="ml-4 font-primary-font-light leading-6 text-base q-reg-terms"
										for="accepted"
									>
										<p aria-hidden="true" class="font-primary-font-light text-base pb-2">
											Accept
											<span class="font-primary-font-bold">Terms & Condition</span>
										</p>
									</span>
								</label>
								<p
									v-show="errors"
									class="text-error-20 text-sm pl-11"
									v-bind="ariaMsg"
								>
									{{ errors[0] }}
								</p>
							</ValidationProvider>
						</div>
						<p v-if="error" role="alert" class="text-error-20"> Please provide all the required fields </p>
						<div>
							<MkSecondaryButton
								:disabled="!checkBox"
								:loading="orderLoading"
								class="flex justify-center items-center mt-8 lg:mt-10"
								mksecondary-width="w-full md:w-cart-register-md-inner lg:w-full text-black"
								button-title="Activate now"
								@click="activate()"
							/>
						</div>
					</div>
				</div>
				<div class="mt-8 md:mt-6 lg:mt-10">
					<p class="font-primary-font-light-italic text-base leading-6">
						Your auto-refills will renew every six months, charging your credit card the full amount upon renewal every
						six months until canceled. Sales tax may apply. Changes to your auto-refill schedule must be made at least
						15 days prior to your renewal date to avoid billing for the next renewal period. You can make changes to
						your auto-refill schedule in your account under "Options". If you decide to stop auto-refills, you will
						continue to receive any shipments still outstanding in your current renewal period but will not be billed
						for another renewal period.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { ValidationObserver,ValidationProvider } from 'vee-validate';
import { mapState } from 'vuex';
import MkStepProgress from '~/components/D2C/atoms/MkStepProgress.vue';
import MkAddNewAddressTitle from '~/components/D2C/atoms/MkAddNewAddressTitle.vue';
import MkAddressTile from '~/components/D2C/atoms/MkAddressTile.vue';
import MkPrimaryButton from '~/components/D2C/atoms/MkPrimaryButton.vue';
import MkOrderPromo from '~/components/D2C/molecules/MkOrderPromo.vue';
import MkSecondaryButton from '~/components/D2C/atoms/MkSecondaryButton.vue';
import MkCheck from '~/components/D2C/atoms/MkCheck.vue';
import MkShippingInfo from '~/components/D2C/molecules/MkShippingInfo.vue';
import MkToggleBtn from '~/components/D2C/atoms/MkToggleBtn.vue';
import MkCreditCard from '~/components/D2C/atoms/MkCreditCard.vue';
import MkAddressForm from '~/components/D2C/molecules/MkAddressForm.vue';
import MkAddNewCreditcard from '~/components/D2C/atoms/MkAddNewCreditcard.vue';

export default {
	name: 'MkRefillsShipping',
	components: {
		MkStepProgress,
		MkAddNewAddressTitle,
		MkAddressTile,
		MkPrimaryButton,
		MkOrderPromo,
		MkSecondaryButton,
		MkCheck,
		MkShippingInfo,
		MkToggleBtn,
		MkAddressForm,
		MkAddNewCreditcard,
		MkCreditCard,
		ValidationObserver,
		ValidationProvider
	},
	props: {
		subscriptionSelected: {
			type: Object,
			default: () => {},
		},
	},
	data() {
		return {
			stepNumber: 1,
			showList: true,
			disableButton: false,
			shippingEnabled: true,
			loading: false,
			stepsCompleted: 1,
			shippingAddress: {},
			orderLoading: false,
			showAddress: false,
			selectedAddress: {},
			showselectedAddress: {
				addressData: {},
			},
			shippingInfo: {},
			creditCardDetails: {},
			useShippingAddress: true,
			paymentAddress: {},
			selectedCard: {},
			showCreditCard: false,
			checkBox: false,
			SUB_TOTAL_PRICE: 0,
			SHIPPING_PRICE: 0,
			TAX_PRICE: 0,
			checkoutClass: true,
			TOTAL_PRICE: 0,
			DISCOUNT_PRICE: 0,
			shippingDetails: {},
			addressLoading: false,
			disableTrue: false,
			error: false,
			showAddressPayment: false,
			paymentAddressShow: {},
		};
	},
	computed: {
		...mapState('USER_STORE', [
			'SHIPPING_ADDRESSES',
			'CREDIT_CARD_DETAILS',
			'CUSTOMER_SHIPPING_ADDRESS',
			'CUSTOMER_CREDIT_CARD_DETAILS',
			'VALID_ADDRESS',
		]),
		...mapState('CART_STORE', ['CART_SUBSCRIPTION']),
		...mapState(['isEurope']),
		STORE_SHIPPING_ADDRESSES() {
			return this.CUSTOMER_SHIPPING_ADDRESS;
		},
	},
	watch: {
		shippingInfo: {
			deep: true,
			handler() {
				this.checkDataFilled();
			},
		},
	},
	mounted() {
		this.$root.$utility.fieldFocus(this, 'add_new_address_button');
	},
	methods: {
		setPaymentAddress($address) {
			this.paymentAddress = $address;
		},
		setShippingInfo($address) {
			this.shippingInfo = $address;
		},
		accepted() {
			this.checkBox = !this.checkBox;
		},
		selected(item) {
			this.selectedAddress = item;
			this.showselectedAddress = {
				addressData: item,
			};
			this.shippingEnabled = false;
		},
		showCard() {
			this.showCreditCard = !this.showCreditCard;
		},
		setSelectedCard($card) {
			this.selectedCard = $card;
		},
		async saveAddress() {
			try {
				const isValidForm = await this.$refs.shipping_validation_observer.validate();
				if (!isValidForm) {
					return;
				}
				this.addressLoading = true;
				this.shippingInfo.streetName = this.shippingInfo.streetAddress1;
				this.shippingInfo.streetNumber = this.shippingInfo.streetAddress2 ? this.shippingInfo.streetAddress2 : '';
				this.shippingInfo.phone = this.shippingInfo.phoneNumber;
				this.shippingInfo.isBusiness = false;
				this.shippingInfo.company = this.shippingInfo.companyName;
				this.shippingInfo.region = this.shippingInfo.state;
				const $data = {
					action: 'ADD_SHIPPING_ADDRESS',
					shippingAddress: this.shippingInfo,
					isDefaultAddress: false,
				};
				await this.$store.dispatch('USER_STORE/UPDATE_CUSTOMER_BY_ID', $data);
			} catch (error) {
			} finally {
				this.showAddress = false;
				this.addressLoading = false;
				this.disableButton = false;
				await this.$store.dispatch('USER_STORE/FETCH_CUSTOMER');
			}
		},
		async SaveAddressToCart() {
			try {
				const isValidForm = await this.$refs.shipping_list_validation_observer.validate();
				if (!isValidForm) {
					return;
				}
				this.updateSubscription('UPDATE_SHIPPING_ADDRESS');
			} catch (error) {
			} finally {
				this.showAddress = false;
			}
		},
		async updateSubscription($action) {
			this.loading = true;
			const newdata = {
				d2CPaymentRequestBean: {},
			};
			const $data = {
				container: this.subscriptionSelected.container,
				key: this.subscriptionSelected.key,
				data: {
					action: $action,
					updateCartRequestBean: {
						// productId: this.subscriptionSelected.lineItemList[0].productId,
						// lineItemId: this.subscriptionSelected.lineItemList[0].lineItemId,
						// variantId: this.subscriptionSelected.lineItemList[0].variantId
					},
				},
			};
			try {
				switch ($action) {
					case 'UPDATE_SHIPPING_ADDRESS':
						// this.selectedAddress.streetName = this.selectedAddress.streetAddress1
						// this.selectedAddress.phone = this.selectedAddress.phoneNumber
						// this.selectedAddress.company = this.selectedAddress.companyName || ''
						$data.data.updateCartRequestBean.shippingAddress = this.selectedAddress;
						$data.data.updateCartRequestBean.action = 'SET_SHIPPING_ADDRESS';
						$data.data.shippingAddressId = this.selectedAddress.id || '';
						$data.data.shippingCarrierOptionsBean = {
							shippingAddress: this.selectedAddress,
							primaryShipping: this.selectedAddress.isDefault,
						};
						break;
					case 'UPDATE_PAYMENT_OPTION':
						newdata.d2CPaymentRequestBean = {
							billingAddress: this.selectedCard.defaultBillingAddress,
							isDefaultPayment: this.selectedCard.defaultStatus,
							isDefaultAddress: false,
							paymentId: this.selectedCard.paymentId,
							paymentToken: this.selectedCard.paymentToken,
							paymentType: 'CREDITCARD',
						};
						newdata.action = 'UPDATE_PAYMENT_OPTION';
						newdata.channel = 'D2C';
						this.creditCardDetails = newdata;
						$data.data = this.creditCardDetails;
						break;
					case 'TURN_ON':
						break;
				}
				if ($action === 'UPDATE_SHIPPING_ADDRESS' || $action === 'SET_SHIPPING_METHOD') {
					let payload = {};
					if ($action === 'UPDATE_SHIPPING_ADDRESS') {
						payload = {
							action: 'SET_SHIPPING_ADDRESS',
							shippingAddress: this.selectedAddress,
							cartID: this.subscriptionSelected.cartId,
						};
					} else if ($action === 'SET_SHIPPING_METHOD') {
						payload = {
							action: 'SET_SHIPPING_METHOD',
							shippingMethod: {
								cost: this.shippingDetails.cost,
								name: this.shippingDetails.serviceName,
							},
							cartID: this.subscriptionSelected.cartId,
						};
					}
					await this.$store.dispatch('CART_STORE/UPDATE_CART_ACTION_SUBSCRIPTION', payload);
					if ($action === 'UPDATE_SHIPPING_ADDRESS') {
						const res = await this.$repositories.checkout.smartPost(this.subscriptionSelected.cartId);
						if (res.status === 200 && res.data) {
							const { data } = res;
							if (data && data.length) {
								this.shippingDetails = data[0];
							}
						}
						this.updateSubscription('SET_SHIPPING_METHOD');
					}
					this.setDetails();
				} else {
					await this.$store.dispatch('USER_STORE/UPDATE_SUBSCRIPTION_QUANTITY', $data);
				}
				this.loading = false;
				if ($action === 'UPDATE_SHIPPING_ADDRESS') {
					this.showAddress = false;
					this.stepsCompleted = 2;
					this.showList = false;
					this.paymentAddressShow = this.selectedAddress;
				} else if ($action === 'UPDATE_PAYMENT_OPTION') {
					this.updateSubscription('TURN_ON');
				} else if ($action === 'TURN_ON') {
					this.$emit('subscription-turned-on');
					this.orderLoading = false;
				}
			} catch (exp) {
				this.loading = false;
				this.orderLoading = false;
			}
		},
		editShipping() {
			this.showAddress = false;
			this.showList = true;
			this.stepsCompleted = 1;
		},
		toggle_billing_address() {
			this.useShippingAddress = !this.useShippingAddress;
			this.showAddressPayment = !this.showAddressPayment;
			if (this.useShippingAddress) {
				this.paymentAddressShow = this.selectedAddress;
				this.$forceUpdate();
			}
		},
		async updateAddress() {
			try {
				const isValidForm = await this.$refs.payment_validation_observer.validate();
				if (isValidForm && this.VALID_ADDRESS) {
					this.paymentAddressShow = this.paymentAddress;
					this.showAddressPayment = false;
				}
			} catch (error) {}
		},
		async updatePayment() {
			try {
				const isValidForm = await this.$refs.payment_validation_observer.validate();
				if (isValidForm) {
					this.loading = true;
					let $address = {};
					if (this.useShippingAddress) {
						$address = this.selectedAddress;
					} else {
						$address = this.paymentAddress;
					}
					const $data = {
						action: 'ADD_PAYMENT',
						billingAddress: $address,
						defaultPayment: false,
					};
					await this.$store.dispatch('USER_STORE/UPDATE_CUSTOMER_BY_ID', $data);
					this.showCreditCard = false;
					this.showAddressPayment = false;
					this.loading = false;
					await this.$store.dispatch('USER_STORE/FETCH_CUSTOMER');
				}
			} catch (error) {
				this.loading = false;
			}
		},
		async activate() {
			if (this.selectedCard && this.selectedCard.paymentId) {
				this.orderLoading = true;
				await this.updateSubscription('UPDATE_PAYMENT_OPTION');
			} else {
				this.error = true;
			}
		},
		setDetails() {
			if (this.CART_SUBSCRIPTION) {
				const { custom } = this.CART_SUBSCRIPTION;
				if (custom && custom.fields) {
					const {
						subTotal = 0,
						shippingCost = 0,
						totalTax = 0,
						totalDiscountPrice = 0,
						orderTotal = 0,
					} = custom.fields;
					this.SUB_TOTAL_PRICE = parseFloat(subTotal);
					this.SHIPPING_PRICE = parseFloat(shippingCost);
					this.TAX_PRICE = parseFloat(totalTax);
					this.TOTAL_PRICE = parseFloat(orderTotal);
					this.DISCOUNT_PRICE = parseFloat(totalDiscountPrice);
				}
			}
		},
		checkDataFilled() {
			const address = this.shippingInfo;
			if (this.showAddress) {
				if (
					address.streetAddress1 &&
					address.city &&
					address.country &&
					address.firstName &&
					address.lastName &&
					address.phoneNumber &&
					address.postalCode &&
					(this.isEurope ? true : address.state)
				) {
					this.disableTrue = false;
				} else {
					this.disableTrue = true;
				}
			}
		},
		updateForm(value){
			this.checkBox = value;
		}
	},
};
</script>
