<template>
  <div
    class="flex flex-col items-start justify-start text-black text-xs font-primary-font-regular pb-10"
    :class="[starClass, { 'md:items-start md:justify-start': isSingle }]"
  >
    <div
      :class="['flex w-full justify-start', { 'md:justify-start': isSingle }]"
      role="article"
      :aria-label="`${review} reviews with ${rating} ratings out of 5`"
    >
      <div v-for="(star, index) in stars" :key="index">
        <a :href="reviewLink">
          <svg
            class="star-svg h-4 w-4 fill-current mr-1"
            stroke="#000"
            :style="[{ fill: `url(#gradient${index}${star.raw})` }]"
            aria-hidden="true"
          >
            <polygon :points="getStarPoints" fill-rule=" nonzero" />
            <defs>
              <linearGradient :id="`gradient${index}${star.raw}`">
                <stop
                  :offset="star.percent"
                  stop-opacity="1"
                  :stop-color="getFullFillColor(star)"
                ></stop>
                <stop
                  :offset="star.percent"
                  stop-opacity="0"
                  :stop-color="getFullFillColor(star)"
                ></stop>
                <stop
                  :offset="star.percent"
                  stop-opacity="1"
                  :stop-color="styleEmptyStarColor"
                ></stop>
                <stop
                  offset="100%"
                  stop-opacity="1"
                  :stop-color="styleEmptyStarColor"
                ></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
      </div>
    </div>
    <div class="mt-2 text-black font-primary-font-regular text-xs">
      <a
        :href="reviewLink"
        :aria-label="`Share your experiences with the ${productDetail.productName}`"
        class="mk-link"
        >{{ review }} reviews / <span>{{ rating }} stars</span></a
      >
    </div>
  </div>
</template>
<script>
export default {
  name: 'MkProductRating',
  components: {},
  directives: {},
  props: {
    rating: {
      type: Number,
      default: 0,
    },
    starStyle: {
      type: Object,
    },
    isIndicatorActive: {
      type: Boolean,
      default: true,
    },
    review: {
      type: Number,
      default: 0,
    },
    starClass: {
      type: String,
      default: '',
    },
    isSingle: {
      type: Boolean,
      default: false,
    },
    productDetail: {},
  },
  data() {
    return {
      stars: [],
      emptyStar: 0,
      fullStar: 1,
      totalStars: 5,

      styleStarWidth: 16,
      styleStarHeight: 16,
      styleEmptyStarColor: '#fff',
      styleFullStarColor: '#111827',
    }
  },
  computed: {
    getStarPoints() {
      const centerX = this.styleStarWidth / 2
      const centerY = this.styleStarWidth / 2
      const innerCircleArms = 5
      const innerRadius = this.styleStarWidth / innerCircleArms
      const innerOuterRadiusRatio = 2.5
      const outerRadius = innerRadius * innerOuterRadiusRatio
      return this.calcStarPoints(
        centerX,
        centerY,
        innerCircleArms,
        innerRadius,
        outerRadius
      )
    },
    reviewLink() {
      const name = this.productDetail.productSlug
      const position = name.includes('molekule') && name.indexOf('molekule')
      return position > -1
        ? ['https://molekule.com/', name.slice(9), '-reviews'].join('')
        : '/'
    },
  },
  created() {
    this.setNestedConfigStyles(this.starStyle)
    this.initStars()
    this.setStars()
  },
  methods: {
    calcStarPoints(
      centerX,
      centerY,
      innerCircleArms,
      innerRadius,
      outerRadius
    ) {
      const angle = Math.PI / innerCircleArms
      const angleOffsetToCenterStar = 60
      const totalArms = innerCircleArms * 2
      let points = ''
      for (let index = 0; index < totalArms; index++) {
        const isEvenIndex = index % 2 == 0
        const radius = isEvenIndex ? outerRadius : innerRadius
        const currX =
          centerX + Math.cos(index * angle + angleOffsetToCenterStar) * radius
        const currY =
          centerY + Math.sin(index * angle + angleOffsetToCenterStar) * radius
        points += currX + ',' + currY + ' '
      }
      return points
    },
    initStars() {
      for (let index = 0; index < this.totalStars; index++) {
        this.stars.push({
          raw: this.emptyStar,
          percent: this.emptyStar + '%',
        })
      }
    },
    setStars() {
      let fullStarsCounter = Math.floor(this.rating)
      for (let index = 0; index < this.stars.length; index++) {
        if (fullStarsCounter !== 0) {
          this.stars[index].raw = this.fullStar
          this.stars[index].percent = this.calcStarFullness(this.stars[index])
          fullStarsCounter--
        } else {
          const surplus = Math.round((this.rating % 1) * 10) / 10 // Support just one decimal
          const roundedOneDecimalPoint = Math.round(surplus * 10) / 10
          this.stars[index].raw = roundedOneDecimalPoint
          return (this.stars[index].percent = this.calcStarFullness(
            this.stars[index]
          ))
        }
      }
    },
    getFullFillColor(starData) {
      return starData.raw !== this.emptyStar
        ? this.styleFullStarColor
        : this.styleEmptyStarColor
    },
    calcStarFullness(starData) {
      const starFullnessPercent = starData.raw * 100 + '%'
      return starFullnessPercent
    },
    setNestedConfigStyles(objToFlatten) {
      if (typeof objToFlatten === 'object') {
        for (const i in objToFlatten) {
          const newKey =
            'style' + i.charAt(0).toUpperCase() + i.substring(1, i.length)
          this[newKey] = objToFlatten[i]
        }
      }
    },
  },
}
</script>
