<template>
	<div class="u-block-spacing">
		<div v-if="formSuccess" ref="success" :class="$style.success">
			<h2 class="u-font-secondary" :class="$style.heading"> Thank you! </h2>

			<p :class="$style.description"> We will process your review and publish it within 3-7 business days. </p>
		</div>

		<form v-else-if="template" @submit.prevent="submit">
			<div v-for="(field, index) in template.fields" :key="index">
				<!-- <div v-else-if="field.input_type === 'RadioVertical'" :class="$style.radios">
					<h2 v-if="field.label" class="u-font-secondary" :class="$style.heading">
						{{ field.label }}
					</h2>

					<div :class="$style.choices">
						<div v-for="choice in field.choices" :key="choice.id" class="radio" :class="$style.radio">
							<input
								:id="`pr-${choice.id}`"
								v-model="formData[field.key]"
								type="radio"
								:value="choice"
								:name="field.id"
								:required="field.required"
								class="u-visuallyhidden"
							/>
							<label :for="`pr-${choice.id}`">{{ choice.value }}</label>
						</div>
					</div>
				</div> -->
				<div v-if="field.input_type === 'Stars'" :class="$style.rating">
					<h2 v-if="field.label" class="u-font-secondary" :class="$style.heading">
						{{ field.label }}
					</h2>

					<div :class="$style.ratingOptions">
						<div
							v-for="rating in ratings"
							:key="rating.value"
							:class="[$style.ratingButton, { [$style.ratingButtonActive]: formData[field.key] === rating.value }]"
						>
							<input
								:id="`pr-${field.id}-${rating.value}`"
								v-model.number="formData[field.key]"
								type="radio"
								:value="rating.value"
								:name="field.id"
								:required="field.required"
								class="u-visuallyhidden"
							/>
							<label :for="`pr-${field.id}-${rating.value}`">
								<BaseIcon :name="`stars-${rating.value}`" :title="`${rating.value} star`" />

								<span :class="$style.ratingButtonText">
									{{ rating.text }}
								</span>
							</label>
						</div>
					</div>
				</div>

				<FormInput
					v-else-if="field.input_type === 'TextBox'"
					v-model="formData[field.key]"
					:label="field.required ? `${field.label}*` : field.label"
					:label-for="`pr-${field.key}`"
					:type="field.answer_type"
					:placeholder="field.helper_text"
					:required="field.required"
					:class="$style.field"
				/>

				<FormTextArea
					v-else-if="field.input_type === 'TextArea'"
					v-model="formData[field.key]"
					:label="field.required ? `${field.label}*` : field.label"
					:label-for="`pr-${field.key}`"
					:placeholder="field.helper_text"
					:required="field.required"
					:class="$style.field"
					rows="10"
				/>

				<FormSelect
					v-else-if="field.input_type === 'Dropdown'"
					v-model="formData[field.key]"
					:label="field.required ? `${field.label}*` : field.label"
					:label-for="`pr-${field.key}`"
					:options="field.molekuleOptions"
					:required="field.required"
					:class="$style.field"
				/>

				<div v-else-if="field.input_type === 'CheckboxVertical'" :class="$style.checkboxes">
					<h2 v-if="field.label" class="u-font-secondary" :class="$style.heading">
						{{ field.label }}
					</h2>

					<div :class="$style.choices">
						<div v-for="choice in field.choices" :key="choice.id" class="checkbox" :class="$style.checkbox">
							<input
								:id="`pr-${choice.id}`"
								v-model="formData[field.key]"
								type="checkbox"
								:value="choice"
								class="u-visuallyhidden"
							/>
							<label :for="`pr-${choice.id}`">{{ choice.value }}</label>
						</div>
					</div>
				</div>

				<div v-else-if="field.input_type === 'RadioVertical'" :class="$style.radios">
					<h2 v-if="field.label" class="u-font-secondary" :class="$style.heading">
						{{ field.label }}
					</h2>

					<div :class="$style.choices" :data-pr-key="field.key">
						<div v-for="choice in field.choices" :key="choice.id" class="radio" :class="$style.radio">
							<input
								:id="`pr-${choice.id}`"
								v-model="formData[field.key]"
								type="radio"
								:value="choice"
								:name="field.id"
								:required="field.required"
								class="u-visuallyhidden"
							/>
							<label :for="`pr-${choice.id}`">{{ choice.value }}</label>
						</div>
					</div>
				</div>

				<div v-else-if="field.composite_type === 'Image'">
					<div :class="$style.upload">
						<label for="pr-Image" class="u-font-secondary" :class="$style.uploadLabel">
							{{ field.prompt }}
						</label>

						<div v-if="imagesUploading">
							<img src="~assets/images/loader.svg" alt="Loading" width="20" />
						</div>

						<button v-else type="button" @click="uploadOpen('pr-Image')">
							<BaseIcon width="30" height="30" name="plus" :class="$style.uploadIcon" />
						</button>

						<input
							id="pr-Image"
							ref="pr-Image"
							type="file"
							accept="image/*"
							multiple
							class="u-visuallyhidden"
							@change="uploadChange"
						/>
					</div>

					<div v-if="formData.images.length" :class="$style.mediaPreview">
						<div v-for="(image, imageIndex) in formData.images" :key="imageIndex" :class="$style.mediaPreviewItem">
							<div :class="$style.mediaPreviewImage">
								<div><img :src="image.url" alt="" /></div>

								<button
									type="button"
									aria-label="Remove Image"
									:class="$style.mediaPreviewBtn"
									@click="uploadRemove(imageIndex)"
								>
									<BaseIcon width="12" height="12" name="cross-small" title="Remove Image" />
								</button>
							</div>
						</div>
					</div>

					<div v-if="imagesError.length" :class="[$style.error, $style.errorImages]">
						<ul class="u-nolist">
							<li v-for="(error, errorIndex) in imagesError" :key="errorIndex">— {{ error.message }}</li>
						</ul>
					</div>
				</div>
			</div>

			<div :class="$style.fieldButton">
				<BaseButton type="submit" size="medium" appearance="secondary" :is-working="formSubmitted"> Submit </BaseButton>
			</div>

			<div v-if="formError" :class="$style.error">
				<p>{{ formError.message }}</p>

				<ul v-if="formError.fields" class="u-nolist">
					<li v-for="(field, index) in formError.fields" :key="index">
						<span v-if="field.error_message.error_code === 'RequiredField'">
							— {{ field.label }} is a {{ field.error_message.message }}.
						</span>

						<span v-if="field.error_message.error_code === 'ExceedsAllowedLength'">
							— {{ field.label }} {{ field.error_message.message }}
						</span>
					</li>
				</ul>
			</div>
		</form>
	</div>
</template>

<script>
import FormInput from '@components/form-input';
import FormTextArea from '@components/form-textarea';
import FormSelect from '@components/form-select';
import jump from 'jump.js';
import { asArray } from '@/utils';

let startedLoadingIovation = false;
let iovationBlackboxResolve;
let iovationBlackbox = new Promise((resolve) => {
	iovationBlackboxResolve = resolve;
});

function loadIovationIfNecessary(iovationUrl) {
	if (startedLoadingIovation) return;
	startedLoadingIovation = true;

	window.io_install_flash = false;
	window.io_install_stm = false;
	window.io_bb_callback = (bb, complete) => {
		iovationBlackbox = Promise.resolve(bb);
		if (iovationBlackboxResolve) {
			iovationBlackboxResolve(bb);
			iovationBlackboxResolve = undefined;
		}
	};

	const script = document.createElement('script');
	script.src = iovationUrl;
	script.async = true;
	document.head.appendChild(script);
}

export default {
	components: {
		FormInput,
		FormTextArea,
		FormSelect,
	},
	inject: ['getHeaderHeight'],

	props: {
		powerReviews: {
			type: Object,
			required: true,
		},
	},

	data() {
		const formData = {};
		this.powerReviews.template.fields.forEach((field) => {
			if (field.answer_type === 'single' || field.answer_type === 'text') {
				formData[field.key] = '';
			} else if (field.answer_type === 'multiple') {
				formData[field.key] = [];
			} else if (field.answer_type === 'numeric') {
				formData[field.key] = field.max_length || 0;
			} else if (!field.answer_type && field.field_type === 'collection') {
				// skip Images
			}
		});

		formData.images = [];

		return {
			formSubmitted: false,
			formSuccess: false,
			formError: false,
			formData,
			imagesUploading: false,
			imagesError: [],
			ratings: [
				{ value: 5, text: 'I love it' },
				{ value: 4, text: 'I like it' },
				{ value: 3, text: "It's ok" },
				{ value: 2, text: "Doesn't work for me" },
				{ value: 1, text: 'I hate it' },
			],
		};
	},

	computed: {
		template() {
			const template = this.powerReviews.template;
			const fields = template.fields
				.filter(({ key }) => key !== 'bottomline')
				.map((field) => {
					if (field.input_type === 'Dropdown') {
						return {
							...field,
							molekuleOptions: [
								{ value: '', text: '' },
								...field.choices.map((choice) => ({ value: choice, text: choice.value })),
							],
						};
					}
					return field;
				});

			const emailIndex = fields.findIndex((field) => field.key === 'email_collection');
			fields.splice(1, 0, fields.splice(emailIndex, 1)[0]); // move email field

			return {
				...template,
				fields,
			};
		},

		locale() {
			return this.powerReviews.locale;
		},

		merchantId() {
			return this.powerReviews.merchantId;
		},

		pageId() {
			const pageIds = {
				'Molekule Air': 'molekule-air',
				'Molekule Air Mini': 'molekule-air-mini',
				'Molekule Air Mini+': 'molekule-air-mini-plus',
				'Molekule Air Pro': 'molekule-air-pro',
			};

			return (
				(this.formData.whatmolekuledoyouhave &&
					this.formData.whatmolekuledoyouhave.value &&
					pageIds[this.formData.whatmolekuledoyouhave.value]) ||
				'molekule-air'
			);
		},
	},

	mounted() {
		loadIovationIfNecessary(this.$config.powerReviews.iovationUrl);
	},

	methods: {
		uploadOpen(input) {
			this.$refs[input][0].click();
		},

		uploadRemove(index) {
			this.formData.images.splice(index, 1);
		},

		uploadChange(e) {
			const fileList = e.target.files;

			if (!fileList.length) return;
			this.uploadCreatePreview(fileList);
		},

		async uploadCreatePreview(fileList) {
			const files = [...fileList];

			this.imagesError = [];
			this.imagesUploading = true;

			for (const file of files) {
				const data = await this.uploadCloudinary(file);

				if (data) {
					this.formData.images.push(data);
				} else {
					this.imagesError.push({
						message: `The image ${file.name} failed to upload, your image file size might be too large.`,
					});
				}
			}

			this.imagesUploading = false;
		},

		async uploadCloudinary(file) {
			const formData = new FormData();

			formData.append('file', file);
			formData.append('upload_preset', 'prod_preset');

			try {
				const { data } = await this.$axios.post('https://api.cloudinary.com/v1_1/powerreviews/auto/upload', formData);
				return data;
			} catch {
				return false;
			}
		},

		formatBytes(bytes) {
			return Math.round(bytes / 1000);
		},

		async submit() {
			const { writeUrl, writeApiKey, merchantGroupId } = this.$config.powerReviews;
			const url = `${writeUrl}/api/b2b/writereview/submit_review?apikey=${writeApiKey}&locale=${this.locale}&merchant_group_id=${merchantGroupId}&merchant_id=${this.merchantId}&page_id=${this.pageId}`;

			// disable the submit button
			this.formSubmitted = true;

			// remove all errors
			this.formError = false;

			// 1. filter all the fields to the ones the user has filled out (only send filled out fields)
			// 2. add the value to the field
			const fields = this.template.fields
				.filter((field) => this.formData[field.key])
				.map((field) => {
					return {
						...(field.field_type === 'collection'
							? { values: asArray(this.formData[field.key]) }
							: { value: this.formData[field.key] }),
						...field,
					};
				});

			// add images to the fields if uploaded
			if (this.formData.images.length) {
				this.formData.images.forEach((image, index) => {
					fields.push({
						composite_data: {
							raw: {
								height: image.height,
								width: image.width,
								url: image.secure_url,
								publicId: image.public_id,
								size: this.formatBytes(image.bytes),
							},
						},
						composite_type: 'Image',
						field_type: 'composite',
						key: `media_image_${index}`,
					});
				});
			}

			// console.log({ fields });
			// this.formSubmitted = false;
			// return;

			// post the data to power reviews
			this.$axios
				.post(url, { fields, iovation_black_box: await iovationBlackbox })
				.then((response) => {
					this.formSubmitted = false;
					this.formSuccess = true;

					this.$nextTick(() => {
						jump(this.$refs.success, { duration: 300, offset: -this.getHeaderHeight() - 40 });
					});

					this.$tealiumEvent('reviews_submit', {
						event_category: 'Reviews',
						event_action: 'Submitted a Review',
						event_label: (this.formData.whydidyoubuyamolekule || []).map((o) => o.value).join(', '),
						event_value: this.formData.rating,
						review_term: this.formData.email_collection,
					});
				})
				.catch((error) => {
					const { data } = error.response;

					this.formError = data;
					this.formSubmitted = false;
				});
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20rem;
}

.field {
	margin-bottom: size('s');

	input[type='text'],
	input[type='email'],
	textarea {
		-webkit-appearance: none;
	}
}

.fieldButton {
	margin-top: size('m');
	margin-bottom: 0;
	text-align: center;
}

.heading {
	margin-bottom: size('m');
	text-align: center;

	@include use-text-style('heading-400');
}

.description {
	color: color('primary-100');

	@include use-text-style('type');
	@include use-text-style('type-200');
}

// Success
.success {
	padding: size('m') 0;
	text-align: center;
}

// Error
.error {
	margin-top: 4rem;
	color: color('primary-100');

	@include use-text-style('type');
	@include use-text-style('type-200');

	ul {
		margin-top: size('s');
	}

	li {
		margin: size('base') 0;
	}
}

.errorImages {
	margin-top: 0;
	margin-bottom: size('m');
}

// Rating
.rating {
	margin-bottom: 5rem;
}

.ratingOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	@include below('medium') {
		flex-direction: column;
	}

	@include above('medium') {
		justify-content: space-between;
	}
}

.ratingButton {
	position: relative;
	margin: 0 0 size('s') 0;

	@include above('medium') {
		margin: 0;
	}

	&.ratingButtonActive svg {
		fill: color('primary');
	}

	label {
		text-align: center;
		cursor: pointer;
	}

	input[data-focus-visible-added]:focus + label {
		outline: rgb(59, 153, 252) auto 5px;
	}
}

.ratingButtonText {
	display: block;
	margin-top: size('xxs');
	color: color('primary-300');

	@include use-text-style('type');
	@include use-text-style('type-100');

	@include above('medium') {
		margin-top: size('s');
	}
}

// Checkboxes and radios
.checkboxes,
.radios {
	margin: 5rem 0;
}

.choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.checkbox,
.radio {
	margin: size('s') size('xxs');

	@include above('medium') {
		margin: size('s') 4rem;
	}
}

.radio {
	.choices[data-pr-key='whatmolekuledoyouhave'] &:nth-of-type(1) {
		order: 2;
	}
}

// Upload
.upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 21.5rem;
	padding: 3rem;
	margin: 4rem 0;
	text-align: center;
	border: 1px solid color('border');
	border-radius: 0.4rem;
}

.uploadLabel {
	margin-bottom: size('xxs');

	@include use-text-style('heading-400');
}

.uploadIcon {
	circle {
		fill: color('secondary');
		stroke: color('secondary');
	}
}

// Upload preview
.mediaPreview {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: size('s');
}

.mediaPreviewItem {
	margin: 0 size('s') size('s') 0;
}

.mediaPreviewImage {
	position: relative;
	width: 20rem;
	height: 20rem;
	padding: 2rem;
	border: 1px solid color('border');
	border-radius: 0.4rem;

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	img {
		max-height: 100%;
	}
}

.mediaPreviewBtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: size('xxs');
}
</style>
