<template>
	<div class="u-block-spacing" :class="$style.block">
		<h1 v-if="details.heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ details.heading }}</h1>

		<h2 v-if="details.sub_heading" class="u-font-secondary" :class="$style.subHeading">{{ details.sub_heading }}</h2>

		<p v-if="details.description" class="u-copy" :class="$style.description">{{ details.description }}</p>
	</div>
</template>

<script>
export default {
	props: {
		details: {
			type: Object,
			default: () => ({}),
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	text-align: center;
}

.subHeading {
	margin-bottom: size('m');
	white-space: pre-line;

	@include use-text-style('heading-400');
}

.description {
	white-space: pre-line;
}
</style>
