<template>
	<div :class="$style.block">
		<BlockIntro v-if="intro" :details="intro.primary" />

		<BlockForm :power-reviews="powerReviews" />
	</div>
</template>

<script>
import getMetadata from '@/utils/get-metadata';
import BlockIntro from './-block-intro';
import BlockForm from './-block-form';

export default {
	components: {
		BlockIntro,
		BlockForm,
	},

	async asyncData({ store, $axios, $config, req }) {
		const { writeUrl, writeApiKey, merchantGroupId, templatePageId } = $config.powerReviews;
		const locale = !['en-us', 'ca-en'].includes(store.state.locale)
			? 'en_US'
			: store.state.isUSWebsite
			? 'en_US'
			: 'en_CA';
		const merchantId = locale === 'en_CA' ? $config.powerReviews.merchantIdCA : $config.powerReviews.merchantIdUS;
		const url = `${writeUrl}/api/b2b/writereview/review_template`;
		const params = {
			apikey: writeApiKey,
			locale,
			merchant_group_id: merchantGroupId,
			merchant_id: merchantId,
			page_id: templatePageId,
		};
		// console.log(params);

		const [page, template] = await Promise.all([
			store.dispatch('pages/FETCH_PAGE_DATA', { pageName: 'write_a_review', req }),
			$axios.$get(url, { params }),
		]);

		return { page, powerReviews: { locale, merchantId, template } };
	},

	head() {
		return this.page
			? getMetadata(
					{
						...this.page.seo,
						path: this.$route && this.$route.path,
					},
					this.$sentry
			  )
			: {};
	},

	computed: {
		intro() {
			return this.page.slices.find((slice) => slice.sliceType === 'Intro');
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	max-width: 70rem + size('s') * 2;
	padding: 0 size('s');
	margin: 0 auto;
}
</style>
