<template>
  <transition :duration="500">
    <section
      class="fixed inset-0 z-40 overflow-hidden"
      aria-label="loading"
      tabindex="-1"
      role="alert"
      aria-modal="true"
    >
      <div class="absolute inset-0 overflow-hidden">
        <transition
          enter-active-class="transition-opacity duration-500 ease-linear"
          enter-class="opacity-0"
          enter-to-class="opacity-100"
          leave-active-class="transition-opacity duration-500 ease-linear"
          leave-class="opacity-100"
          leave-to-class="opacity-0"
        >
          <div
            class="absolute inset-0 transition-opacity bg-black bg-opacity-20"
            aria-hidden="true"
          >
            <svg
              class="text-black animate-spin w-10 h-10 block top-2/4 left-2/4 fixed"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
          </div>
        </transition>
      </div>
    </section>
  </transition>
</template>
<script>
export default {
  name: 'MkPageSpinner',
}
</script>
