<template>
	<div class="layer-bg">
		<client-only>
			<MkPageSpinner v-if="SHOW_PAGE_SPINNER" />
			<div class="flex flex-col mx-auto max-w-screen-xl pb-0 md:pb-15">
				<h1
					class="font-secondary-font-regular px-4 md:px-10 text-2xl md:text-28 lg:text-5xl py-6 md:py-10"
					:class="!LINE_ITEMS.length ? 'py-8 lg:px-10' : 'lg:px-5'"
				>
					Cart
				</h1>
				<div v-if="LINE_ITEMS.length == 0" class="mt-7" role="alert" aria-live="polite">
					<div class="w-full pb-8 px-4 md:px-10" :class="!LINE_ITEMS.length ? 'lg:px-10' : 'lg:px-5'">
						<p class="mb-2">You have no items in your shopping cart.</p>
						<span
							>Click<a
								ref="emptyCart"
								class="text-black text-base font-primary-font-bold hover:underline"
								aria-label="click here to continue shopping"
								href="/"
							>
								here</a
							><span> to continue shopping.</span></span
						>
					</div>
				</div>
				<div v-else class="flex flex-col lg:flex-row max-w-screen-xl md:px-10 lg:px-5 justify-between">
					<MkLandingCartCard @empty-cart="emptyCart" />
					<MkOrderSummary />
				</div>
			</div>
		</client-only>
	</div>
</template>
<script>
import { mapState } from 'vuex';
import MkLandingCartCard from '~/components/D2C/organisms/MkLandingCartCard.vue';
import MkOrderSummary from '~/components/D2C/organisms/MkOrderSummary.vue';
import MkPageSpinner from '~/components/D2C/atoms/MkPageSpinner/MkPageSpinner.vue';
export default {
	components: {
		MkLandingCartCard,
		MkOrderSummary,
		MkPageSpinner,
	},
	layout: 'aurora-layout',
	middleware: 'auth',
	computed: {
		...mapState('CHECKOUT_STORE', ['SHOW_PAGE_SPINNER']),
		...mapState('CART_STORE', ['LINE_ITEMS']),
	},
	head() {
		return {
			title: 'Full cart',
		};
	},
	async mounted() {
		await this.$store.dispatch('USER_STORE/FETCH_CUSTOMER');
		await this.$store.dispatch('CART_STORE/FETCH_CART', {});
	},
	methods: {
		emptyCart() {
			this.$root.$utility.elementFocus(this, 'emptyCart');
		},
	},
};
</script>
