<template functional>
	<div>
		<span class="screen-reader-only">{{ `${props.rating} star${rating !== 1 ? 's' : ''}` }}</span>
		<div aria-hidden="true" :class="$style.stars">
			<div :class="$style.starsInner">
				<div v-for="i in 5" :key="i" :class="[$style.star, { [$style.filled]: i <= props.rating }]" />
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		rating: {
			type: Number,
			required: true,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.starsInner {
	display: flex;
}

.star {
	flex: 0 0 auto;
	width: 1.6rem;
	height: 1.6rem;
	background-image: url('~assets/images/reviews-start-v2-empty.svg');
	background-size: contain;

	&:not(:last-child) {
		margin-right: size('base');
	}

	&.filled {
		background-image: url('~assets/images/reviews-start-v2-filled.svg');
	}
}
</style>
