<template>
	<div v-focus-trap="{ isOpen }" :class="$style.dialog"> <div tabindex="0" /><slot /><div tabindex="0" /> </div>
</template>

<script>
export default {
	props: {
		isOpen: {
			type: Boolean,
			required: true,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100vw;
}
</style>
