<template>
	<div :class="$style.spinner" :style="{ width: cssSize, height: cssSize }">
		<div :class="[$style.ring, $style.full]" :style="cssRingFullStyle" />
		<div :class="[$style.ring, $style.part]" :style="cssRingStyle" />
	</div>
</template>

<script>
const DEFAULT_SIZE = 20;
const DEFAULT_RING_SIZE = 3;

export default {
	props: {
		size: {
			type: Number,
			default: 0,
		},

		ringSize: {
			type: Number,
			default: 0,
		},

		ringBackgroundColor: {
			type: String,
			default: '',
		},
	},
	computed: {
		cssSize() {
			return `${this.size || DEFAULT_SIZE}px`;
		},

		cssRingStyle() {
			return { borderWidth: `${this.ringSize || DEFAULT_RING_SIZE}px` };
		},

		cssRingBackgroundColor() {
			return this.ringBackgroundColor ? { color: this.ringBackgroundColor } : {};
		},

		cssRingFullStyle() {
			return {
				...this.cssRingStyle,
				...this.cssRingBackgroundColor,
			};
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

@keyframes c-v-spinner-animation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	position: relative;
}

.ring {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0 solid;
	border-radius: 50%;

	&.part {
		border-color: currentColor transparent transparent transparent;
		animation: c-v-spinner-animation 1s linear infinite;
	}

	&.full {
		border-color: currentColor;
		opacity: 0.5;
	}
}
</style>
