<template>
	<component :is="component" v-bind="$attrs" :appearance="appearance" v-on="$listeners">
		<slot />
	</component>
</template>

<script>
export default {
	inheritAttrs: false,

	props: {
		appearance: {
			type: String,
			default: undefined,
		},
	},

	computed: {
		component() {
			const { appearance } = this;
			if (appearance === 'Arrow' || appearance === 'arrow') return 'BaseButtonArrow';
			return 'BaseButton';
		},
	},
};
</script>
