<template>
	<ProviderCustomColors
		:id="id"
		v-bind="getColorProps($props)"
		:default-colors="{
			copyColor: '#3c3b3b',
			copyColorDesktop: '#000',
			headingColor: '#3c3b3b',
			headingColorDesktop: '#000',
		}"
		has-desktop-colors
		:class="$style[`${appearance}Appearance`]"
	>
		<div
			:style="{
				'--desktop-bg-color': desktopBackgroundColor,
				'--desktop-header-bg-color': desktopHeaderBackgroundColor,
				'--desktop-row-headers-bg-color': desktopRowHeadersBackgroundColor || desktopBackgroundColor || '#ffffff',
				'--mobile-bg-color': mobileBackgroundColor || '#ffffff',
				'--mobile-header-bg-color': mobileHeaderBackgroundColor || '#ffffff',
				'--mobile-row-headers-bg-color': mobileRowHeadersBackgroundColor || mobileBackgroundColor || '#ffffff',
				'--row-headers-min-width': rowHeadersMinWidth,
				'--other-columns-min-width': otherColumnsMinWidth,
			}"
			:class="[$style.block, $style.backgroundColor]"
		>
			<div id="table-header" :class="[$style.tableHeader, $style.headerBackgroundColor]">
				<h2 :class="[$style.contentWrapper, { [$style.displayBelowMedium]: headingDesktop }]">
					{{ heading }}
				</h2>
				<h2 :class="[$style.contentWrapper, $style.displayAboveMedium]">
					{{ headingDesktop }}
				</h2>
			</div>

			<div
				ref="stickyHeader"
				:class="[
					$style.stickyHeader,
					$style.headerBackgroundColor,
					{ [$style.disablePositionSticky]: disableStickyHeader },
				]"
			>
				<slot
					name="topImagesMobile"
					v-bind="{ topImages, headingBgColorClass: $style.headerBackgroundColor, gridTemplateColumns, minWidth }"
				>
					<div
						v-if="topImages.length"
						:class="[$style.stickyHeaderRow, $style.imagesRow, $style.headerBackgroundColor]"
						:style="{ gridTemplateColumns, minWidth }"
					>
						<div
							v-for="(img, i) in topImages"
							:key="i"
							:class="[$style.stickyHeaderCell, $style.headerBackgroundColor]"
						>
							<div :class="$style.imageWrapper">
								<BaseImage
									v-if="img && Object.keys(img).length"
									:image="img.mobileImage"
									:images="{ medium: img.desktopImage }"
									compression-level="high"
									sizes="95px"
								/>
							</div>
						</div>
					</div>
				</slot>
				<div
					v-if="headers.length"
					:class="[$style.stickyHeaderHeadersRow, $style.backgroundColor]"
					:style="{ gridTemplateColumns, minWidth }"
				>
					<div
						v-for="(header, i) in headers"
						:key="header + i"
						:class="[
							header && i === 0 ? $style.stickyHeaderCellRowHeader : $style.stickyHeaderCell,
							{ [$style.rowHeadersBackgroundColor]: header && i === 0 },
							$style.backgroundColor,
						]"
					>
						<div v-if="header" v-rich-content v-html="header" />
					</div>
				</div>
			</div>

			<div
				v-if="normalRows.length || headers.length || topImages.length"
				ref="table"
				:class="$style.tableWrapper"
				@scroll="syncScrolling"
			>
				<table aria-labelledby="table-header" :class="[$style.table, $style.contentWrapper]">
					<thead v-if="headers.length" :class="$style.theadSmall">
						<tr>
							<component
								:is="header ? 'th' : 'td'"
								v-for="(header, i) in headers"
								:key="header"
								:class="i === 0 ? $style.rowHeader : $style.columnHeader"
								:scope="header ? 'col' : null"
							>
								<div v-if="header" v-rich-content v-html="header" />
							</component>
						</tr>
					</thead>

					<template v-if="topImages.length || headers.length">
						<thead v-if="appearance === 'primary'" :class="$style.theadMedium">
							<tr v-if="headers.length">
								<component
									:is="i !== 0 ? 'th' : 'td'"
									v-for="(header, i) in headers"
									:key="header"
									:class="i === 0 ? $style.rowHeader : $style.columnHeader"
									:scope="header ? 'col' : null"
								>
									<div v-if="header" v-rich-content v-html="header" />
								</component>
							</tr>
							<tr v-if="topImages.length" :class="$style.imagesRow">
								<td v-for="(img, i) in topImages" :key="i" :class="$style.imageRowCell">
									<div :class="$style.imageWrapper">
										<BaseImage
											v-if="img && Object.keys(img).length"
											:image="img.mobileImage"
											:images="{ medium: img.desktopImage }"
											sizes="125px"
											compression-level="high"
										/>
									</div>
								</td>
							</tr>
						</thead>

						<thead v-else-if="appearance === 'secondary'" :class="$style.theadMedium">
							<tr v-if="topImages.length" :class="$style.imagesRow">
								<td v-for="(img, i) in topImages" :key="i" :class="$style.imageRowCell">
									<div :class="$style.imageWrapper">
										<BaseImage
											v-if="img && Object.keys(img).length"
											:image="img.mobileImage"
											:images="{ medium: img.desktopImage }"
											sizes="125px"
											compression-level="high"
										/>
									</div>
								</td>
							</tr>
							<tr v-if="headers.length">
								<component
									:is="i !== 0 ? 'th' : 'td'"
									v-for="(header, i) in headers"
									:key="header"
									:class="i === 0 ? $style.rowHeader : $style.columnHeader"
									:scope="header ? 'col' : null"
								>
									<div v-if="header" v-rich-content v-html="header" />
								</component>
							</tr>
						</thead>
					</template>

					<tbody v-if="normalRows.length">
						<tr
							v-for="(row, i) in normalRows"
							:key="row[0] + i"
							:class="{ [$style.lastNormalRow]: i === normalRows.length - 1 }"
						>
							<component
								:is="j === 0 ? 'th' : 'td'"
								v-for="(cell, j) in row"
								:key="cell + j"
								v-rich-content
								:class="j === 0 ? [$style.rowHeader, $style.rowHeadersBackgroundColor] : $style.cell"
								v-html="cell"
							/>
						</tr>
						<tr
							v-if="bottomButtonsRow"
							:class="[$style.bottomButtonsRow, { [$style.showOnDesktop]: showCtaRowOnDesktop }]"
						>
							<component
								:is="i === 0 && cell && cell.text ? 'th' : 'td'"
								v-for="(cell, i) in bottomButtonsRow"
								:key="cell + i"
								:class="i === 0 && cell.text ? [$style.rowHeader, $style.rowHeadersBackgroundColor] : $style.cell"
							>
								<template v-if="i === 0">
									<template v-if="cell.textMobile || cell.textDesktop">
										<span
											v-rich-content
											:class="{ [$style.displayBelowMedium]: cell.textMobile && cell.textDesktop }"
											v-html="cell.textMobile || cell.textDesktop"
										/>
										<span
											v-if="cell.textMobile && cell.textDesktop"
											v-rich-content
											:class="$style.displayAboveMedium"
											v-html="cell.textDesktop"
										/>
									</template>
								</template>
								<div v-else :class="$style.buttonWrapper">
									<template v-if="cell">
										<div
											v-if="cell.textMobile || (cell.link && cell.link.url)"
											:class="[{ [$style.displayBelowMedium]: cell.textDesktop }, $style.buttonWrapperInner]"
										>
											<BaseButton
												:class="$style.button"
												:smart="cell.link && cell.link.url"
												appearance="primary"
												size="medium"
												add-to-cart-source="compare"
											>
												{{ cell.textMobile }}
											</BaseButton>
										</div>
										<div v-if="cell.textDesktop" :class="[$style.displayAboveMedium, $style.buttonWrapperInner]">
											<BaseButton
												:class="$style.button"
												:smart="cell.link && cell.link.url"
												appearance="primary"
												size="medium"
												add-to-cart-source="compare"
											>
												{{ cell.textDesktop }}
											</BaseButton>
										</div>
									</template>
								</div>
							</component>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<GlobalEvents target="window" @resize="debouncedSyncScrolling" />
	</ProviderCustomColors>
</template>

<script>
import ProviderCustomColors, { getColorProps } from '@components/provider-custom-colors';
import debounce from 'lodash/debounce';

export default {
	components: { ProviderCustomColors },
	inheritAttrs: false,

	props: {
		id: {
			type: String,
			default: null,
		},

		items: {
			type: Array,
			default: () => [],
		},

		column2CtaLink: { type: Object, default: null },
		column3CtaLink: { type: Object, default: null },
		column4CtaLink: { type: Object, default: null },
		column5CtaLink: { type: Object, default: null },
		column2CtaText: { type: String, default: '' },
		column3CtaText: { type: String, default: '' },
		column4CtaText: { type: String, default: '' },
		column5CtaText: { type: String, default: '' },
		column2CtaTextDesktop: { type: String, default: '' },
		column3CtaTextDesktop: { type: String, default: '' },
		column4CtaTextDesktop: { type: String, default: '' },
		column5CtaTextDesktop: { type: String, default: '' },
		column2ImageMobile: { type: Object, default: null },
		column3ImageMobile: { type: Object, default: null },
		column4ImageMobile: { type: Object, default: null },
		column5ImageMobile: { type: Object, default: null },
		column2Image: { type: Object, default: null },
		column3Image: { type: Object, default: null },
		column4Image: { type: Object, default: null },
		column5Image: { type: Object, default: null },
		heading: { type: String, default: '' },
		headingDesktop: { type: String, default: '' },
		ctaRowHeader: { type: String, default: '' },
		desktopBackgroundColor: { type: String, default: '' },
		desktopHeaderBackgroundColor: { type: String, default: '' },
		desktopRowHeadersBackgroundColor: { type: String, default: '' },
		mobileBackgroundColor: { type: String, default: '' },
		mobileHeaderBackgroundColor: { type: String, default: '' },
		mobileRowHeadersBackgroundColor: { type: String, default: '' },

		disableStickyHeader: {
			type: Boolean,
			default: false,
		},

		hasMinWidth: {
			type: Boolean,
			default: true,
		},

		rowHeadersMinWidth: {
			type: String,
			default: '100px',
		},

		otherColumnsMinWidth: {
			type: String,
			default: '127px',
		},

		appearance: {
			type: String,
			default: 'primary',
			validator: (v) => ['primary', 'secondary'].includes(v),
		},

		showCtaRowOnDesktop: {
			type: Boolean,
			default: false,
		},

		headingColor: { type: String, default: '' },
		copyColor: { type: String, default: '' },
		headingColorDesktop: { type: String, default: '' },
		copyColorDesktop: { type: String, default: '' },
	},

	data() {
		return {
			rafPending: false,
			debouncedSyncScrolling: debounce(this.syncScrolling, 100),
		};
	},

	computed: {
		rows() {
			return this.items;
		},

		numberOfColumns() {
			const { rows } = this;
			const headers = rows.find((row) => row.rowType === 'Column Headers');

			const getColumnsSum = (row, checkHasContent) =>
				Object.entries(row).reduce(
					(sum, [key, val]) =>
						key.match(/^column(?!1$)\d+$/g) && (!checkHasContent || this.hasContent(val)) ? sum + 1 : sum,
					1
				);

			return headers || rows[0] ? getColumnsSum(headers || rows[0], Boolean(headers)) : 0;
		},

		headers() {
			return this.transformRowIntoArray(
				this.rows.find((row) => row.rowType === 'Column Headers'),
				this.numberOfColumns
			);
		},

		topImages() {
			const mobileImages = Object.keys(this.$props)
				.filter((key) => key.match(/^column\d+ImageMobile$/))
				.map((key) => Object.keys(this.$props[key]).length !== 0 && this.$props[key])
				.filter((row) => row);

			const desktopImages = Object.keys(this.$props)
				.filter((key) => key.match(/^column\d+Image$/))
				.map((key) => Object.keys(this.$props[key]).length !== 0 && this.$props[key])
				.filter((row) => row);

			const images = mobileImages.map((mobileImage, i) => {
				return {
					mobileImage,
					desktopImage: desktopImages[i],
				};
			});

			if (
				images.every((img) => (img.mobileImage && img.mobileImage.url) || (img.desktopImage && img.desktopImage.url))
			) {
				return [{}, ...images].slice(0, this.numberOfColumns);
			}

			return [];
		},

		normalRows() {
			return this.rows
				.filter((row) => row.rowType === 'Normal')
				.map((row) => this.transformRowIntoArray(row, this.numberOfColumns));
		},

		bottomButtonsRow() {
			const { $props: config } = this;
			const links = Object.keys(config)
				.filter((key) => key.match(/^column\d+CtaLink$/))
				.map((key) => config[key]);
			let stringsMobile = Object.keys(config)
				.filter((key) => key.match(/^column\d+CtaText$/))
				.map((key) => config[key]);
			let stringsDesktop = Object.keys(config)
				.filter((key) => key.match(/^column\d+CtaTextDesktop$/))
				.map((key) => config[key]);

			if (!stringsMobile.some(Boolean)) {
				stringsMobile = stringsMobile.filter(Boolean);
			}
			if (!stringsDesktop.some(Boolean)) {
				stringsDesktop = stringsDesktop.filter(Boolean);
			}

			const strings = stringsMobile.length > stringsDesktop.length ? stringsMobile : stringsDesktop;

			const buttonRows = strings.map((_, i) => ({
				link: links[i] || {},
				textMobile: stringsMobile[i] || '',
				textDesktop: stringsDesktop[i] || '',
			}));

			if (!buttonRows.length) return [];

			return [{ text: config.ctaRowHeader }, ...buttonRows].slice(0, this.numberOfColumns);
		},

		gridTemplateColumns() {
			let res = '';

			const { numberOfColumns, otherColumnsMinWidth, rowHeadersMinWidth } = this;

			// Other columns to row header column ratio
			const ocToRhRatio =
				parseFloat(otherColumnsMinWidth) && parseFloat(rowHeadersMinWidth)
					? parseFloat(otherColumnsMinWidth) / parseFloat(rowHeadersMinWidth)
					: 1;

			for (let i = 0; i < numberOfColumns; i++) {
				if (i === 0) {
					res += (1 / (1 + ocToRhRatio * (numberOfColumns - 1))) * 100 + '% ';
				} else {
					res += (ocToRhRatio / (1 + ocToRhRatio * (numberOfColumns - 1))) * 100 + '% ';
				}
			}

			return res;
		},

		minWidth() {
			const { rowHeadersMinWidth, otherColumnsMinWidth } = this;
			const rhMinWidthNum = parseFloat(rowHeadersMinWidth);
			const ocMinWidthNum = parseFloat(otherColumnsMinWidth);

			return this.hasMinWidth && rhMinWidthNum && ocMinWidthNum
				? `${rhMinWidthNum + ocMinWidthNum * (this.numberOfColumns - 1)}px`
				: null;
		},
	},

	methods: {
		getColorProps,

		transformRowIntoArray(row, numberOfColumns) {
			try {
				let count = 0;

				return Object.keys(row)
					.map((key) => {
						let output = false;

						if (key.match(/^column\d+$/g) && count < numberOfColumns) {
							count++;
							if (this.hasContent(row[key])) {
								output = this.parseHtml(row[key]);
							} else {
								output = '';
							}
						}

						return output;
					})
					.filter((cell) => cell !== false);
			} catch {
				return null;
			}
		},

		hasContent(str) {
			return this.$hasRichText(str);
		},

		syncScrolling() {
			if (!this.rafPending) {
				this.rafPending = true;
				window.requestAnimationFrame(() => {
					this.$refs.stickyHeader.scrollLeft = this.$refs.table.scrollLeft;
					this.rafPending = false;
				});
			}
		},

		parseHtml(html) {
			const xMarkSpan = html.match(/<(p|span) +class="x-mark">(.*?)<\/(p|span)>/g);
			const checkMarkSpan = html.match(/<(p|span) +class="check-mark">(.*?)<\/(p|span)>/g);
			if (xMarkSpan && xMarkSpan[0]) {
				return html.replace(
					xMarkSpan[0],
					'<span class="x-mark" aria-hidden="true"></span><span class="screen-reader-only">No</span>'
				);
			} else if (checkMarkSpan && checkMarkSpan[0]) {
				return html.replace(
					checkMarkSpan[0],
					'<span class="check-mark" aria-hidden="true"></span><span class="screen-reader-only">Yes</span>'
				);
			}

			return html;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

$color-border: rgba(color('black'), 0.1);

@mixin responsive-bg-colors($default-color, $medium-color) {
	background-color: var($default-color);

	@include above('medium') {
		background-color: var($medium-color);
	}
}

.block {
	white-space: pre-line;

	@include above('medium') {
		padding: 0 0 2.5rem;
	}
}

.tableHeader {
	@include use-text-style('heading-420');

	position: sticky;
	left: 0;
	width: 100vw;
	max-width: 100%;
	padding: 1.7em 2em 1em;
	font-family: font-family('secondary');
	font-weight: 300;
	text-align: center;

	@include above('medium') {
		padding: 3.7rem 2rem 3.3rem;
	}
}

.stickyHeader {
	position: sticky;
	top: var(--header-height);
	z-index: 2;
	margin: 0 0 -30px;
	overflow-x: hidden;

	&.disablePositionSticky {
		position: static;
	}

	@include above('medium') {
		display: none;
	}
}

.stickyHeaderRow {
	display: grid;
	align-items: flex-end;
}

.stickyHeaderHeadersRow {
	// stylelint-disable-next-line
	composes: stickyHeaderRow;

	@include use-text-style('heading-200');

	font-family: font-family('secondary');
	white-space: nowrap;
	border-top: none;
	border-bottom: none;
}

.imageWrapper {
	width: 9.5rem;
	margin-left: 1.25rem;

	@include above('medium') {
		width: 12.5rem;
		margin-left: 0;
	}
}

.stickyHeaderHeadersRow .stickyHeaderCell {
	height: 100%;
	padding: 3.1rem 1.25rem 1.6rem;
}

.rowHeader {
	position: sticky;
	left: 0;
	z-index: 1;
	text-align: right;

	@include above('medium') {
		position: initial;
		text-align: left;
	}
}

.stickyHeaderCellRowHeader {
	position: sticky;
	left: 0;
	font-family: font-family('primary');
	font-weight: 300;
	text-align: right;
	vertical-align: top;
	border-right: none;
	border-left: none;
	// stylelint-disable-next-line
	composes: stickyHeaderCell;

	@include use-text-style('type-100');
}

.tableWrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	margin: auto;
	overflow: auto;

	@include above('medium') {
		padding: 1rem 2rem 0;
	}
}

.table {
	width: 100%;
	margin: auto;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;

	.rowHeader,
	.cell {
		@include use-text-style('type-100');

		padding: 1.8rem 1.25rem;
		font-weight: 300;
		vertical-align: top;
		border: 1px solid $color-border;
		border-right: none;
		border-left: none;

		@include above('medium') {
			padding: 1.9rem 1.25rem 1.9rem 0;
			border: 1px solid color('primary-400');
			border-right: none;
			border-left: none;
		}
	}
}

.thead {
	.rowHeader,
	.columnHeader {
		padding: 0 1.25rem;
		font-family: font-family('secondary');
		text-align: left;
		border: none;

		@include use-text-style('heading-200');

		@include above('medium') {
			padding: 0 1.25rem 1rem 0;
		}
	}
}

.theadSmall {
	composes: thead;

	.rowHeader,
	.columnHeader {
		width: var(--other-columns-min-width);
		height: 0;
		overflow: hidden;
		font-size: 0;
	}

	.rowHeader {
		width: var(--row-headers-min-width);
	}

	@include above('medium') {
		display: none;
	}
}

.theadMedium {
	composes: thead;

	.rowHeader,
	.columnHeader {
		height: auto;
		overflow: visible;
	}

	.rowHeader {
		font-size: 0;
	}

	@include below('medium') {
		display: none;
	}
}

.imagesRow .imageRowCell {
	padding: 0;
	vertical-align: bottom;
}

.lastNormalRow {
	.rowHeader,
	.cell {
		border-bottom: none;
	}
}

.bottomButtonsRow {
	.buttonWrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		@include above('medium') {
			justify-content: flex-start;
		}
	}

	.buttonWrapperInner {
		width: 100%;
	}

	.button {
		min-width: min(13.65rem, 100%);
		white-space: normal;
	}

	.rowHeader,
	.cell {
		border-bottom: none;
	}

	@include above('medium') {
		display: none;

		&.showOnDesktop {
			display: table-row;
		}
	}
}

.block :global(.x-mark) {
	position: relative;
	width: 16px;
	height: 16px;

	&::after {
		position: absolute;
		left: 7px;
		height: 16px;
		content: '';
		border-left: 1px solid var(--custom-copy-color);
		transform: rotate(45deg);

		@include above('medium') {
			border-color: var(--custom-copy-color-desktop);
		}
	}

	&::before {
		position: absolute;
		left: 7px;
		height: 16px;
		content: '';
		border-left: 1px solid var(--custom-copy-color);
		transform: rotate(-45deg);

		@include above('medium') {
			border-color: var(--custom-copy-color-desktop);
		}
	}
}

.block :global(.check-mark) {
	display: block;
	width: 14px;
	height: 9px;
	border: 1px solid var(--custom-copy-color);
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);

	@include above('medium') {
		border-color: var(--custom-copy-color-desktop);
	}
}

.contentWrapper {
	max-width: 134rem;
	margin: auto;
}

.backgroundColor {
	@include responsive-bg-colors(--mobile-bg-color, --desktop-bg-color);
}

.headerBackgroundColor {
	@include responsive-bg-colors(--mobile-header-bg-color, --desktop-header-bg-color);
}

.rowHeadersBackgroundColor {
	@include responsive-bg-colors(--mobile-row-headers-bg-color, --desktop-row-headers-bg-color);
}

.secondaryAppearance {
	.block {
		@include above('medium') {
			padding: 0;
		}
	}

	.tableHeader {
		@include use-text-style('heading-180');

		padding: 4rem 1.618rem;

		@include above('medium') {
			margin-bottom: 1.2rem;
		}
	}

	.contentWrapper {
		max-width: 900px;
	}

	.tableWrapper,
	.stickyHeaderRow {
		padding: 0 4rem;
	}

	.stickyHeaderCell {
		padding-left: 0;
	}

	.rowHeader,
	.stickyHeaderCellRowHeader {
		text-align: left;
	}

	.stickyHeaderHeadersRow {
		@include use-text-style('heading-100');

		font-family: font-family('primary');
		font-weight: 300;
	}

	.imageWrapper {
		@include above('medium') {
			position: relative;
			left: -5.8rem;
			width: 21.6rem;
		}

		@include above('large') {
			left: -29%;
			width: 27.6rem;
		}
	}

	.thead .columnHeader {
		@include above('medium') {
			@include use-text-style('heading-180');

			padding: 0 2.4rem 1.618rem 0;
		}
	}

	.bottomButtonsRow .cell {
		border: none;
	}

	.table {
		.rowHeader,
		.cell {
			padding: 1.6rem 1.6rem 1.6rem 0;
			border-color: $color-border;

			@include above('medium') {
				padding: 1.5rem 1.6rem 1.2rem 0;
			}
		}

		.rowHeader {
			@include above('medium') {
				padding-left: 2.9rem;
			}
		}
	}
}

.displayBelowMedium {
	@include above('medium') {
		display: none;
	}
}

.displayAboveMedium {
	@include below('medium') {
		display: none;
	}
}
</style>
