<template>
	<ProviderProductsNormalized
		v-if="productsGrouped"
		v-slot="{ productsNormalized }"
		is-products-grouped
		:items="productsGrouped.items"
	>
		<BlockProductsGroupedView
			v-bind="{
				...$props,
				productsGrouped,
				initialSlide: initialSlide(productsNormalized),
				productsNormalized,
				descriptionNormalized,
				medium,
			}"
		/>
	</ProviderProductsNormalized>
</template>

<script>
import { mapState } from 'vuex';
import ProviderProductsNormalized from '@components/provider-products-normalized';
import BlockProductsGroupedView from '@components/block-products-grouped-view';

export default {
	components: {
		ProviderProductsNormalized,
		BlockProductsGroupedView,
	},

	props: {
		id: {
			type: String,
			default: 'sales',
		},

		variationId: {
			type: String,
			default: 'global',
		},

		defaultOnMobile: {
			type: String,
			default: '',
		},
	},

	computed: {
		...mapState({
			productsGrouped(state) {
				const { productsGroupedV2 } = state.globalData;
				return productsGroupedV2 && productsGroupedV2[this.variationId || 'global'];
			},
		}),

		...mapState('screen', ['medium']),

		descriptionNormalized() {
			const { description } = this.productsGrouped;
			return this.$hasRichText(description) ? description : '';
		},
	},

	methods: {
		initialSlide(productsNormalized) {
			const { defaultOnMobile } = this;
			if (!defaultOnMobile) return 0;
			const index = productsNormalized.findIndex(({ name }) => name === defaultOnMobile);
			return index === -1 ? 0 : index;
		},
	},
};
</script>
