<template>
	<div :class="$style.componentWrapper">
		<div v-if="heading" id="table-header" :class="$style.componentHeader">
			<div :class="$style.heading" v-html="heading"></div>
		</div>
		<table :class="[$style.table, $style.mediumOnly]">
			<template v-if="topImages.length || headers.length">
				<thead :class="$style.theadMedium">
					<tr v-if="topImages.length" :class="$style.imagesRow">
						<td v-for="(img, i) in topImages" :key="`top-image-${i}`" :class="$style.imageRowCell">
							<div :class="$style.imageWrapper">
								<BaseImage
									v-if="img && Object.keys(img).length"
									:image="img.mobileImage"
									:images="{ medium: img.desktopImage }"
									sizes="125px"
									compression-level="high"
								/>
							</div>
						</td>
					</tr>
					<template v-if="headers.length">
						<tr v-for="(row, i) in headers" :key="`top-headers-${i}`" :class="$style.columnHeader">
							<th
								v-for="(header, j) in row"
								:key="`top-headers-${i}-header-${j}`"
								v-rich-content
								:class="[$style.headerCell, $style.theading]"
								v-html="header"
							>
							</th>
						</tr>
					</template>
					<template v-if="subheaders.length">
						<tr v-for="(row, i) in subheaders" :key="`top-subheaders-${i}`" :class="$style.columnHeader">
							<th
								v-for="(subheader, j) in row"
								:key="`top-subheaders-${i}-subheader-${j}`"
								v-rich-content
								:class="[$style.headerCell, $style.subtheading]"
								v-html="subheader"
							>
							</th>
						</tr>
					</template>
				</thead>
			</template>
			<tbody v-if="normalRows.length">
				<tr v-for="(row, i) in normalRows" :key="`row-${i}`" :class="{ [$style.active]: i === normalRows.length - 1 }">
					<template v-for="(cell, j) in row">
						<td
							v-if="cell && Object.keys(cell).length"
							:key="`row-${i}-cell-${j}`"
							v-rich-content
							:class="[$style.cell, i === 1 ? $style.active : null]"
							v-html="cell"
						/>
					</template>
				</tr>
			</tbody>
		</table>
		<template v-if="mobileItems.length">
			<table
				v-for="(item, index) in mobileItems"
				:key="`mobile-item-${index}`"
				:class="[$style.table, $style.mobileOnly]"
			>
				<thead :class="$style.thead">
					<tr :class="$style.columnHeader">
						<th :class="$style.columnHeader" colspan="2">
							<template v-if="topImages.length">
								<BaseImage
									v-if="topImages[index + 1].mobileImage"
									:image="topImages[index + 1].mobileImage"
									compression-level="high"
								/>
							</template>
						</th>
					</tr>
					<template v-if="item.headerRows.length">
						<tr
							v-for="(header, headerIndex) in item.headerRows"
							:key="`mobile-item-header-${headerIndex}`"
							:class="$style.columnHeader"
						>
							<th v-rich-content :class="$style.theading" colspan="2" v-html="header"></th>
						</tr>
					</template>
					<template v-if="item.subheaderRows.length">
						<tr
							v-for="(subheader, subheaderIndex) in item.subheaderRows"
							:key="`mobile-item-subheader-${subheaderIndex}`"
							:class="$style.columnHeader"
						>
							<th v-rich-content :class="$style.subtheading" colspan="2" v-html="subheader"></th>
						</tr>
					</template>
				</thead>
				<tbody>
					<template v-if="item.normalRows.length">
						<tr v-for="(normal, normalIndex) in item.normalRows" :key="`mobile-item-normal-${normalIndex}`">
							<td v-if="normalIndex === 0" :class="$style.cell">
								{{ mobileRowHeader1 }}
							</td>
							<td v-if="normalIndex === 1" :class="[$style.cell, $style.active]">
								{{ mobileRowHeader2 }}
							</td>
							<td v-rich-content :class="[$style.cell, normalIndex === 1 ? $style.active : null]" v-html="normal"></td>
						</tr>
					</template>
				</tbody>
			</table>
		</template>
		<div v-if="description" :class="$style.description" v-html="description"></div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		description: {
			type: String,
			default: '',
		},

		heading: {
			type: String,
			default: '',
		},

		mobileRowHeader1: {
			type: String,
			default: '',
		},

		mobileRowHeader2: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},

		column2ImageMobile: { type: Object, default: null },
		column3ImageMobile: { type: Object, default: null },
		column4ImageMobile: { type: Object, default: null },
		column2Image: { type: Object, default: null },
		column3Image: { type: Object, default: null },
		column4Image: { type: Object, default: null },
	},

	data() {
		return {
			firstMeaningfulColumn: 2,
		};
	},

	computed: {
		rows() {
			return this.items;
		},

		numberOfColumns() {
			const { rows } = this;
			const headers = rows.find((row) => row.rowType.toLowerCase() === 'header');

			const getColumnsSum = (row, checkHasContent) =>
				Object.entries(row).reduce(
					(sum, [key, val]) =>
						key.match(/^column(?!1$)\d+$/g) && (!checkHasContent || this.hasContent(val)) ? sum + 1 : sum,
					1
				);
			return headers || rows[0] ? getColumnsSum(headers || rows[0], Boolean(headers)) : 0;
		},

		headers() {
			return this.rows
				.filter((row) => row.rowType.toLowerCase() === 'header')
				.map((row) => this.transformRowIntoArray(row, this.numberOfColumns));
		},

		subheaders() {
			return this.rows
				.filter((row) => row.rowType.toLowerCase() === 'subheader')
				.map((row) => this.transformRowIntoArray(row, this.numberOfColumns));
		},

		topImages() {
			const mobileImages = Object.keys(this.$props)
				.filter((key) => key.match(/^column\d+ImageMobile$/))
				.map((key) => this.$props[key])
				.filter((row) => row);

			const desktopImages = Object.keys(this.$props)
				.filter((key) => key.match(/^column\d+Image$/))
				.map((key) => this.$props[key])
				.filter((row) => row);
			const images = mobileImages.map((mobileImage, i) => {
				return {
					mobileImage,
					desktopImage: desktopImages[i],
				};
			});
			if (
				images.every((img) => (img.mobileImage && img.mobileImage.url) || (img.desktopImage && img.desktopImage.url))
			) {
				return [{}, ...images].slice(0, this.numberOfColumns);
			}

			return [];
		},

		normalRows() {
			return this.rows
				.filter((row) => row.rowType.toLowerCase() === 'normal')
				.map((row) => this.transformRowIntoArray(row, this.numberOfColumns));
		},

		mobileItems() {
			const desktopData = this.rows;
			const meaningfulColumns = [];
			Object.keys(desktopData[0]).forEach((key) => {
				const [, number] = key.split('column');
				const colNumber = parseInt(number);
				if (!isNaN(colNumber) && colNumber >= this.firstMeaningfulColumn) {
					meaningfulColumns.push(key);
				}
			});
			return meaningfulColumns.map((propName) => {
				let i = 0;
				const rowsObj = {
					headerRows: [],
					subheaderRows: [],
					normalRows: [],
				};
				while (desktopData[i] && desktopData[i][propName]) {
					const value = desktopData[i][propName];
					const type = desktopData[i].rowType.toLowerCase();
					const typeGroupPropName = `${type}Rows`;
					if (rowsObj[typeGroupPropName]) {
						rowsObj[typeGroupPropName].push(value);
					}
					i = i + 1;
				}
				return rowsObj;
			});
		},
	},

	methods: {
		transformRowIntoArray(row, numberOfColumns) {
			try {
				let count = 0;

				return Object.keys(row)
					.map((key) => {
						let output = false;

						if (key.match(/^column\d+$/g) && count < numberOfColumns) {
							count++;
							if (this.hasContent(row[key])) {
								output = this.parseHtml(row[key]);
							} else {
								output = '';
							}
						}
						return output;
					})
					.filter((cell) => cell !== false);
			} catch {
				return null;
			}
		},

		hasContent(str) {
			return this.$hasRichText(str);
		},

		parseHtml(html) {
			const xMarkSpan = html.match(/<(p|span) +class="x-mark">(.*?)<\/(p|span)>/g);
			const checkMarkSpan = html.match(/<(p|span) +class="check-mark">(.*?)<\/(p|span)>/g);
			if (xMarkSpan && xMarkSpan[0]) {
				return html.replace(
					xMarkSpan[0],
					'<span class="x-mark" aria-hidden="true"></span><span class="screen-reader-only">No</span>'
				);
			} else if (checkMarkSpan && checkMarkSpan[0]) {
				return html.replace(
					checkMarkSpan[0],
					'<span class="check-mark" aria-hidden="true"></span><span class="screen-reader-only">Yes</span>'
				);
			}

			return html;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';
$color-border: rgba(color('black'), 0.1);

.heading {
	font-size: 3.2rem;

	@include above('medium') {
		font-size: 4rem;
	}
}

.componentWrapper {
	padding: 0 1rem;

	@include above('medium') {
		padding: 0 2.1rem;
	}
}

.componentHeader {
	@include use-text-style('heading-400');

	padding: 1.7em 1em 1em;
	font-family: font-family('secondary');
	font-weight: 300;
	text-align: center;

	@include above('medium') {
		@include use-text-style('heading-700');

		max-width: 72rem;
		padding: 3.7rem 0 3.3rem;
		margin-right: auto;
		margin-left: auto;
	}
}

.table {
	width: 100%;
	margin: 1rem auto 3rem;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

.headerCell {
	padding: 1.8rem 1.25rem;
	font-family: font-family('secondary');
	text-align: left;
	border: none;

	@include above('medium') {
		padding: 0 1.25rem;
	}
}

.thead {
	.theading {
		@include use-text-style('heading-300');

		padding-bottom: 2rem;
		vertical-align: top;

		@include above('medium') {
			@include use-text-style('heading-400');
		}
	}
	.subtheading {
		@include use-text-style('type-500');

		font-family: font-family('primary');
		font-weight: 300;
		line-height: 2.4rem;
		vertical-align: top;

		@include above('medium') {
			@include use-text-style('heading-150');
		}
	}

	:last-child > .subtheading {
		padding-bottom: 2rem;
		border-bottom: 1px solid color('primary-250');
	}
}

.theadMedium {
	composes: thead;

	.columnHeader {
		height: auto;
		overflow: visible;
	}

	.rowHeader {
		font-size: 0;
	}

	@include below('medium') {
		display: none;
	}
}

.cell {
	@include use-text-style('type-500');

	padding: 1.8rem 1.25rem;
	font-weight: 300;
	text-align: left;
	vertical-align: top;
	border-right: none;
	border-left: none;

	&:first-child {
		border-radius: 0.5rem 0 0 0.5rem;
	}

	&:last-child {
		border-radius: 0 0.5rem 0.5rem 0;
	}

	@include above('medium') {
		@include use-text-style('heading-150');

		padding: 1.9rem 1.25rem 1.9rem;
		border-right: none;
		border-left: none;

		&:first-child {
			padding-left: 4rem;
		}
	}
}

.imageRowCell {
	padding: 0;
	vertical-align: bottom;
}

.active {
	font-weight: 800;
	background-color: color('secondary-300');
	border: none;
}

.description {
	padding: 4.7rem 2.4rem;
	line-height: 2.8rem;
	color: color('primary-200');
	text-align: left;

	@include above('medium') {
		padding: 4.7rem 0;
		line-height: 2.4rem;
		text-align: center;
	}

	@include use-text-style('type-100');
}

.mediumOnly {
	@include below('medium') {
		display: none;
	}
}

.mobileOnly {
	@include above('medium') {
		display: none;
	}
}
</style>
