<template>
	<ProviderCustomColors
		:id="id"
		:class="[$style.block, { [$style.hasExtraPadding]: hasExtraPadding }]"
		:style="{ backgroundColor }"
		v-bind="getColorProps($props)"
	>
		<h2 v-if="heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ heading }}</h2>

		<MoleculeCarousel
			v-if="isCarousel"
			:autoplay="false"
			:has-navigation="false"
			:initial-slide="Math.floor(awards.length / 2)"
		>
			<MoleculeCarouselSlide v-for="(award, index) in awards" :key="index" :slide-index="index" :class="$style.item">
				<div :class="$style.image">
					<BaseImage
						:image="award.logoMobile || {}"
						:images="{ medium: award.logo || {} }"
						fit
						contain
						compression-level="high"
						:sizes="sizes"
					/>
				</div>

				<div v-if="award.description" :class="$style.descriptionWrapper">
					<p :class="$style.description" :style="{ maxWidth: maxWidths.singleMobile }">{{ award.description }}</p>
				</div>
			</MoleculeCarouselSlide>
		</MoleculeCarousel>

		<div v-else :class="$style.listing" :style="{ maxWidth: maxWidths.container }">
			<div v-for="(award, index) in awards" :key="index" :class="$style.item">
				<div :class="$style.image">
					<BaseImage
						:image="award.logoMobile || {}"
						:images="{ medium: award.logo || {} }"
						fit
						contain
						compression-level="high"
						:sizes="sizes"
					/>
				</div>

				<div v-if="award.description" :class="$style.descriptionWrapper">
					<p :class="[$style.description]" :style="{ maxWidth: maxWidths.singleDesktop }">
						<a
							v-if="award.quoteLinkUrl && award.quoteLinkUrl.url"
							:href="award.quoteLinkUrl.url"
							:target="award.quoteLinkUrl.target"
							>{{ award.description }}</a
						>
						<span v-else>{{ award.description }}</span>
					</p>
				</div>
			</div>
		</div>
	</ProviderCustomColors>
</template>

<script>
import ProviderCustomColors, { getColorProps } from '@components/provider-custom-colors';
import MoleculeCarousel from '@components/molecule-carousel';
import MoleculeCarouselSlide from '@components/molecule-carousel-slide';
import debounce from 'lodash/debounce';

export default {
	components: {
		ProviderCustomColors,
		MoleculeCarousel,
		MoleculeCarouselSlide,
	},

	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		backgroundColor: {
			type: String,
			default: '',
		},

		awards: {
			type: Array,
			default: () => [],
		},

		maxWidthSingleMobile: {
			type: Number,
			default: 0,
		},

		maxWidthSingleDesktop: {
			type: Number,
			default: 0,
		},

		maxWidthContainer: {
			type: Number,
			default: 0,
		},

		hasExtraPadding: {
			type: Boolean,
			default: false,
		},

		headingColor: {
			type: String,
			default: '',
		},

		copyColor: {
			type: String,
			default: '',
		},
	},

	data() {
		return {
			windowWidth: 0,
			debouncedResize: debounce(this.handleResize, 100),
		};
	},

	computed: {
		isCarousel() {
			return this.windowWidth ? this.windowWidth < this.$style.breakpoint : false;
		},

		maxWidths() {
			const parse = (val, fallback = 'none') => (val ? `${val / 10}rem` : fallback);

			return {
				singleDesktop: parse(this.maxWidthSingleDesktop),
				singleMobile: parse(this.maxWidthSingleMobile),
				container: parse(this.maxWidthContainer, '110rem'),
			};
		},

		sizes() {
			return `(min-width: 1200px) ${
				(parseFloat(this.maxWidths.container) / 3) * 10
			}px, (min-width: 768px) calc((100vw - 40px) * 0.34), calc(100vw - 40px)`;
		},
	},

	mounted() {
		this.windowWidth = window.innerWidth;
		window.addEventListener('resize', this.debouncedResize);
	},

	destroyed() {
		window.removeEventListener('resize', this.debouncedResize);
	},

	methods: {
		getColorProps,

		handleResize() {
			this.windowWidth = window.innerWidth;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	padding: 13.3rem size('s');

	@include above('medium') {
		padding: 11.2rem size('s');
	}
}

.hasExtraPadding {
	@include above('medium') {
		padding: 19.2rem size('s');
	}
}

.listing {
	@include above('medium') {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
	}
}

.heading {
	@include use-text-style('heading-400');
	@include font-family('primary');

	margin-bottom: 7.8rem;
	font-weight: 300;

	@include above('medium') {
		margin-bottom: 10rem;
	}
}
.item {
	text-align: center;

	@include above('medium') {
		width: percentage(1 / 3);
	}

	.hasExtraPadding & {
		@include above('medium') {
			margin-bottom: size('m+');
		}
	}
}

.image {
	position: relative;
	height: 10rem;
}

.descriptionWrapper {
	@include above('medium') {
		padding: 0 2.4rem;
	}
}

.description {
	@include use-text-style('type-500');

	margin: size('m') auto 0;
	line-height: 1.33333;
	white-space: pre-line;
}

:export {
	/* stylelint-disable-next-line property-no-unknown */
	breakpoint: 768;
}
</style>
