<template>
	<section
		:id="id"
		class="u-block-spacing u-block-no-bottom-spacing u-block-no-top-spacing"
		:class="[$style.block, { [$style.hasTabs]: hasTabs }]"
		aria-label="Tech path tab panels"
	>
		<p class="screen-reader-only">
			This is a section with multiple tab panels. Each panel contains a carousel with information about the technology
			of a product and buttons to switch between slides.
		</p>
		<div :class="$style.inner">
			<div :class="$style.innerInner">
				<div :class="$style.buttonsOverlay">
					<h2 v-if="heading" :class="$style.heading">{{ heading }}</h2>

					<!-- eslint-disable-next-line vuejs-accessibility/interactive-supports-focus -->
					<div
						v-if="hasTabs"
						:class="$style.buttonsOverlayInner"
						role="tablist"
						aria-label="Specifications of products"
						@keydown.left.prevent="($event) => navigateTabs($event, 'left')"
						@keydown.right.prevent="($event) => navigateTabs($event, 'right')"
					>
						<template v-for="(tab, tabIndex) in tabs">
							<button
								:id="`tech-tab-${tabIndex}`"
								ref="tabs"
								:key="`${tabIndex}`"
								role="tab"
								:data-index="tabIndex"
								:aria-controls="`tech-tab-panel-${tabIndex}`"
								:aria-selected="String(currentTab === tabIndex)"
								:tabindex="currentTab === tabIndex ? 0 : -1"
								:class="[$style.button, { [$style.isActive]: currentTab === tabIndex }]"
								@click="activateTab(tabIndex)"
							>
								{{ tab.name }}
							</button>
							<span v-if="tabIndex < tabs.length - 1" :key="`${tabIndex}-sep`" aria-hidden="true"> | </span>
						</template>
					</div>
				</div>

				<transition-group name="fade-in-out" tag="div" :class="$style.tabs">
					<div
						v-for="(tab, tabIndex) in tabs"
						v-show="(mounted && medium) || tabIndex === currentTab"
						:id="`tech-tab-panel-${tabIndex}`"
						:key="`${tabIndex}-${tab.name}`"
						:aria-labelledby="`tech-tab-${tabIndex}`"
						role="tabpanel"
						:tabindex="tabIndex !== currentTab ? -1 : 0"
						:hidden="tabIndex !== currentTab ? 'hidden' : null"
						:aria-hidden="String(tabIndex !== currentTab)"
						:class="[$style.tab, { [$style.isActive]: tabIndex === currentTab }]"
					>
						<div :class="$style.row">
							<div :class="[$style.col, $style.mobile]">
								<div :class="$style.imageWrapper">
									<div :class="$style.imageLabels">
										<ul :class="$style.imageLabelsList">
											<li
												v-for="(slide, index) in tab.slides"
												:key="index"
												:class="[$style.imageLabel, { [$style.isActive]: index === currentSlide[tabIndex] }]"
												:style="slide.style"
											>
												<button
													:class="$style.imageLabelButton"
													:aria-label="`Go to slide ${index + 1}`"
													:aria-current="index === currentSlide[tabIndex]"
													@click="switchSlide(tabIndex, index)"
												>
													<div :class="$style.imageLabelInner">
														<div :class="$style.imageLabelLine" />
														<div :class="$style.imageLabelPoint"> {{ slide.symbol }}</div>
													</div>
												</button>
											</li>
										</ul>
									</div>

									<BaseImage
										:image="tab.image"
										sizes="(min-width: 768px) 350px, calc((100vw - 40) * 0.75)"
										compression-level="medium"
									/>
								</div>
							</div>

							<div :class="[$style.col, $style.mobile]">
								<div v-if="heading" :class="[$style.heading, $style.spacer]">{{ heading }}</div>
								<div v-if="hasTabs" :class="[$style.tabsSpacer, $style.desktop]"></div>

								<MoleculeCarousel
									:ref="`carousel${tabIndex}-mobile`"
									:autoplay="false"
									:has-navigation="false"
									has-pagination
									@slidechanged="slideChanged(tabIndex, $event)"
								>
									<MoleculeCarouselSlide
										v-for="(slide, index) in tab.slides"
										:key="index"
										:slide-index="index"
										:hidden-override="
											medium || tabIndex !== currentTab || index !== currentSlide[tabIndex] ? true : null
										"
										:class="$style.slide"
									>
										<div :class="$style.slideTop">
											<div :class="$style.slideTopCol">
												<div :class="$style.slideSymbol">{{ slide.symbol }}</div>
											</div>
											<div :class="$style.slideTopCol">
												<div :class="$style.slideDesc">
													<p>
														<strong>{{ slide.title1 }}</strong>
													</p>
													<p>
														{{ slide.description }}
													</p>
												</div>
											</div>
										</div>
										<div :class="$style.slideBottom">
											<div :class="$style.slideImageLabel">
												{{ slide.imageLabel }}
											</div>
											<div :class="$style.slideImageWrapper">
												<BaseImage :images="{ medium: slide.image }" sizes="300px" compression-level="medium" />
											</div>
										</div>
									</MoleculeCarouselSlide>
								</MoleculeCarousel>
							</div>

							<div :class="[$style.col, $style.desktop]">
								<div v-if="heading" :class="[$style.heading, $style.spacer]">{{ heading }}</div>
								<div v-if="hasTabs" :class="[$style.tabsSpacer, $style.desktop]"></div>

								<MoleculeCarousel
									:ref="`carousel${tabIndex}-desktop`"
									:autoplay="false"
									:has-navigation="false"
									has-pagination
									@slidechanged="slideChanged(tabIndex, $event)"
								>
									<MoleculeCarouselSlide
										v-for="(slide, index) in tab.slides"
										:key="index"
										:slide-index="index"
										:hidden-override="
											!medium || tabIndex !== currentTab || index !== currentSlide[tabIndex] ? true : null
										"
										:class="$style.slide"
									>
										<div :class="$style.slideTop">
											<div :class="$style.slideTopCol">
												<div :class="$style.slideSymbol">{{ slide.symbol }}</div>
											</div>
											<div :class="$style.slideTopCol">
												<div :class="$style.slideDesc">
													<p>
														<strong>{{ slide.title1 }}</strong>
													</p>
													<p>
														{{ slide.description }}
													</p>
												</div>
											</div>
										</div>
										<div :class="$style.slideBottom">
											<div :class="$style.slideImageLabel">
												{{ slide.imageLabel }}
											</div>
											<div :class="$style.slideImageWrapper">
												<BaseImage :images="{ medium: slide.image }" sizes="300px" compression-level="medium" />
											</div>
										</div>
									</MoleculeCarouselSlide>
								</MoleculeCarousel>
							</div>

							<div :class="[$style.col, $style.desktop]">
								<div :class="$style.imageWrapper">
									<div :class="$style.imageLabels">
										<ul :class="$style.imageLabelsList">
											<li
												v-for="(slide, index) in tab.slides"
												:key="index"
												:class="[$style.imageLabel, { [$style.isActive]: index === currentSlide[tabIndex] }]"
												:style="slide.style"
											>
												<button
													:class="$style.imageLabelButton"
													:aria-label="`Go to slide ${index + 1}: ${slide.titleOnImage}`"
													:aria-current="index === currentSlide[tabIndex]"
													@click="switchSlide(tabIndex, index)"
												>
													<div :class="$style.imageLabelInner">
														<div :class="$style.imageLabelPoint"> {{ slide.symbol }}</div>
														<div :class="$style.imageLabelLine" />
														<div :class="$style.imageLabelText">{{ slide.titleOnImage }}</div>
													</div>
												</button>
											</li>
										</ul>
									</div>

									<BaseImage
										:image="tab.image"
										sizes="(min-width: 768px) 350px, calc((100vw - 40) * 0.75)"
										compression-level="medium"
									/>
								</div>
							</div>
						</div>
					</div>
				</transition-group>
			</div>
		</div>
	</section>
</template>

<script>
import { mapState } from 'vuex';
import MoleculeCarousel from '@components/molecule-carousel';
import MoleculeCarouselSlide from '@components/molecule-carousel-slide';
import { fromEntries } from '@/utils';

export default {
	components: {
		MoleculeCarousel,
		MoleculeCarouselSlide,
	},

	inheritAttrs: false,

	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},
	},

	data() {
		return {
			currentTab: 0,
			currentSlide: fromEntries([...new Set(this.items.map((x) => x.tabName))].map((_, i) => [i, 0])),
			mounted: false,
		};
	},

	computed: {
		...mapState('screen', ['medium']),

		tabNames() {
			return [...new Set(this.items.map((x) => x.tabName))];
		},

		tabImages() {
			return this.tabNames.map((tabName) => {
				const foundItem = this.items.find((x) => x.tabName === tabName && x.tabImage && x.tabImage.url);
				return foundItem ? foundItem.tabImage : {};
			});
		},

		slidesExtended() {
			return this.items.map((slide) => {
				const top = (slide.positionTop || 0) * (slide.positionTopNegative === 'Yes' ? -1 : 1);
				const left = slide.positionLeft || 0;

				return {
					...slide,
					style: {
						top: `${top}%`,
						left: `${left}%`,
						width: `${100 - left + 40}%`,
						'--width-base': `${100 - left}%`,
					},
				};
			});
		},

		tabs() {
			const { slidesExtended } = this;

			return this.tabNames
				.map((tabName, i) => ({
					name: tabName,
					image: this.tabImages[i],
					slides: slidesExtended.filter((slide) => slide.tabName === tabName),
				}))
				.filter(({ name, image, slides }) => name && image && image.url && slides.length);
		},

		hasTabs() {
			return this.tabs.length > 1;
		},
	},

	mounted() {
		this.mounted = true;
	},

	methods: {
		navigateTabs(event, direction) {
			const { target } = event;
			const { tabs } = this.$refs;
			const increment = direction === 'left' ? -1 : 1;

			if (tabs[Number(target.dataset.index) + increment]) {
				tabs[Number(target.dataset.index) + increment].focus();
				this.activateTab(Number(target.dataset.index) + increment);
			} else if (direction === 'left') {
				tabs[tabs.length - 1].focus();
				this.activateTab(tabs.length - 1);
			} else if (direction === 'right') {
				tabs[0].focus();
				this.activateTab(0);
			}
		},

		activateTab(index) {
			this.currentTab = index;
		},

		slideChanged(tab, n) {
			this.currentSlide[tab] = n;

			this.$tealiumEvent('clicked_pureair_module', {
				event_category: 'Learn More',
				event_action: 'Clicked Path to Pure Air Module',
				event_value: n + 1,
			});
		},

		switchSlide(tabIndex, n) {
			const breakpoint = this.medium ? 'desktop' : 'mobile';
			this.$refs[`carousel${tabIndex}-${breakpoint}`][0].switchSlide(n);
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	padding: size('s++') 0;
	overflow: hidden;
	background-color: color('primary-700');

	@include above('medium') {
		padding: 0;
	}
}

.heading {
	@include font-family('secondary');
	@include use-text-style('heading-300');

	margin-bottom: size('s++');
	color: color('primary-300');
	white-space: pre-line;

	@include above('medium') {
		@include use-text-style('heading-180');

		margin-bottom: size('l');
	}

	.block.hasTabs & {
		@include above('medium') {
			margin-bottom: size('s++');
		}
	}

	&.spacer {
		visibility: hidden;

		@include below('medium') {
			display: none;
		}
	}
}

.inner {
	max-width: 144rem;
	padding: 0;
	margin: 0 auto;
}

.innerInner {
	position: relative;
}

.buttonsOverlay {
	@include below('medium') {
		width: 100%;
		padding: 0 size('s++');
		text-align: center;
	}

	@include above('medium') {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 50%;
	}

	.block:not(.hasTabs) & {
		@include above('medium') {
			padding-bottom: 0;
		}
	}
}

.buttonsOverlayInner {
	@include use-text-style('heading-100');

	margin-bottom: size('s++');
	font-weight: 300;

	span {
		display: inline-block;
		margin: 0 1.25rem;
		font-size: 1.4em;
		vertical-align: middle;
		opacity: 0.25;
	}

	@include above('medium') {
		margin-bottom: 0;
	}

	@include above('xlarge') {
		@include use-text-style('heading-300');
	}
}

.button {
	transition: opacity time('slow');

	&:not(.isActive) {
		opacity: 0.25;
	}
}

.tabs {
	position: relative;
	display: flex;
}

.tab {
	z-index: 1;
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	padding: 0;
	margin-right: -100%;

	@include transition('fade-hide');

	@include above('medium') {
		visibility: hidden;
		background-color: color('primary-600');
		opacity: 0;
	}

	&.isActive {
		@include above('medium') {
			visibility: visible;
			opacity: 1;
		}
	}
}

/* stylelint-disable-next-line no-descending-specificity */
.buttonsOverlay,
.tab {
	@include above('medium') {
		padding: size('m++') size('s');
	}

	@include above('xlarge') {
		padding: size('xxl++') size('l');
	}
}

.row {
	flex: 0 0 auto;
	width: 100%;

	@include above('medium') {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.mobile {
		@include above('medium') {
			display: none;
		}
	}

	.desktop {
		@include below('medium') {
			display: none;
		}
	}
}

.col {
	@include above('medium') {
		flex: 0 0 auto;
		width: 50%;
	}

	&.mobile:nth-child(odd),
	&.desktop:nth-child(even) {
		position: relative;
		padding: 0 size('s') size('s+');
		margin-bottom: size('s+');
		background-color: color('primary-600');

		&::after {
			position: absolute;
			right: 2rem;
			bottom: -0.1rem;
			left: 2rem;
			display: block;
			height: 0.1rem;
			content: '';
			background: color('primary-250');
		}

		@include above('medium') {
			align-self: center;
			padding: 0;
			margin-bottom: 0;

			&::after {
				display: none;
			}
		}
	}

	&.mobile:nth-child(even),
	&.desktop:nth-child(odd) {
		padding: 0 size('m+');

		@include above('medium') {
			padding: 0;
			padding-right: size('m');
		}

		@include above('large') {
			padding-right: calc(50% - 40rem);
		}

		@include above('xlarge') {
			width: 40%;
			padding-right: calc(40% - 40rem);
		}
	}
}

.tabsSpacer {
	@include below('medium') {
		display: none;
	}

	@include above('medium') {
		height: 2.5rem + size('m++');
	}

	@include above('xlarge') {
		height: 3.4rem + size('m++');
	}
}

.slideTop {
	@include above('medium') {
		display: flex;
		margin-bottom: size('m++');
	}
}

.slideTopCol {
	&:first-child {
		display: none;

		@include above('medium') {
			display: block;
			flex: 0 0 auto;
			width: 5rem;
		}
	}

	&:last-child {
		@include above('medium') {
			flex: 1 1 auto;
		}
	}
}

.slideDesc {
	@include use-text-style('type-500');

	font-weight: 300;
	color: color('primary-300');

	@include above('medium') {
		padding-top: 0.8rem;
	}

	p {
		strong:only-child {
			display: block;
			margin-bottom: size('s');
			font-weight: inherit;
			color: color('primary');

			@include above('xlarge') {
				margin-bottom: size('m+');
			}
		}
	}
}

.slideSymbol {
	@include use-text-style('type-500');

	display: flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	width: 3.8rem;
	height: 3.8rem;
	font-weight: 300;
	border: 0.1rem solid color('primary-250');
	border-radius: 50%;
}

.slideBottom {
	position: relative;
	display: none;

	@include above('medium') {
		display: block;
	}
}

.slideImageWrapper {
	max-width: 30rem + size(m) * 2;
	padding: 0 size('m');
	margin: 0 auto;
}

.imageWrapper {
	position: relative;
	width: 70%;
	max-width: 50rem;

	@include above('large') {
		width: 35rem;
	}
}

.imageLabel {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	height: 0;

	@include above('xlarge') {
		width: calc(var(--width-base) + 55%) !important;
	}

	@include above('xxlarge') {
		width: calc(var(--width-base) + 90%) !important;
	}
}

.imageLabelButton {
	display: block;
	width: 100%;
	font: inherit;
	text-align: left;
}

.imageLabelInner {
	position: relative;
	left: -1rem;
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	width: 100%;

	@include above('medium') {
		left: -1.5rem;
	}
}

.imageLabelPoint {
	@include use-text-style('type-500');

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.8rem;
	height: 3.8rem;
	font-weight: 300;
	line-height: 1;
	color: color('primary-300');
	background-color: color('secondary');
	border: 0.1rem solid color('secondary');
	border-radius: 50%;
	transition: background-color time('fast'), border-color time('fast');

	.imageLabel.isActive & {
		background-color: transparent;
		border-color: color('primary-250');
	}

	&.desktop {
		@include below('large') {
			display: none;
		}
	}

	&.mobile {
		@include above('large') {
			display: none;
		}
	}
}

.imageLabelLine {
	flex: 1 1 auto;
	height: 1px;
	padding: 0 size('xxs');
	background-color: color('text');
	background-clip: content-box;
}

.imageLabelText {
	@include use-text-style('type');
	@include use-text-style('type-100');

	width: 10rem;
	font-weight: 300;
	white-space: pre-line;

	@include below('large') {
		display: none;
	}

	@include above('xlarge') {
		@include use-text-style('type-500');

		width: 13.5rem;
	}
}
</style>
