<template>
	<div :id="id" class="u-block-spacing" :class="$style.block">
		<div class="u-wrap">
			<h2 v-if="heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ heading }}</h2>

			<div :class="$style.listing">
				<BlockTimelineStep
					v-for="(item, index) in timelineWithNext"
					:id="`timeline-${randomId}-${index}`"
					:key="index"
					:item="item"
					:index="index"
					:is-server="isServer"
					:class="[$style.row, { isActive: activeTimeline === index }]"
					@showTimeline="timelineActivate"
				/>
			</div>

			<div :class="$style.listingMobile">
				<MoleculeCarousel
					ref="carousel"
					:autoplay="false"
					:has-navigation="false"
					:has-pagination="false"
					@slidechanged="showTimeline"
				>
					<MoleculeCarouselSlide
						v-for="(item, index) in timelineWithNext"
						:key="index"
						:slide-index="index"
						:class="$style.slideMobile"
					>
						<BlockTimelineStep
							:item="item"
							mobile
							:index="index"
							:is-first="index === 0"
							:is-server="isServer"
							:class="{ isActive: activeTimeline === index, past: activeTimeline > index }"
						/>
					</MoleculeCarouselSlide>
				</MoleculeCarousel>
			</div>

			<div :class="$style.timeline">
				<ul ref="timelineList" class="u-nolist" :class="$style.timelineList">
					<li
						v-for="(item, index) in timeline"
						:key="index"
						:class="[$style.timelineItem, { [$style.timelineItemActive]: activeTimeline === index }]"
					>
						<button
							type="button"
							:class="$style.timelineButton"
							:aria-expanded="String(activeTimeline === index)"
							:aria-controls="`timeline-${randomId}-${index}`"
							@click="timelineActivate(index)"
						>
							<span :class="$style.timelineCircle" />
							<span :class="$style.timelineText">{{ item.year }}</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
import MoleculeCarousel from '@components/molecule-carousel';
import MoleculeCarouselSlide from '@components/molecule-carousel-slide';
import scrollIntoView from 'smooth-scroll-into-view-if-needed';
import BlockTimelineStep from './block-timeline-step';

export default {
	components: {
		MoleculeCarousel,
		MoleculeCarouselSlide,
		BlockTimelineStep,
	},

	props: {
		id: {
			type: String,
			default: null,
		},

		timeline: {
			type: Array,
			default: () => [],
		},

		heading: {
			type: String,
			default: '',
		},
	},

	data() {
		return {
			activeTimeline: 0,
			randomId: Math.floor(Math.random() * 1000000000),
			isServer: true,
		};
	},

	computed: {
		timelineWithNext() {
			const { timeline } = this;
			return timeline.map((item, index) => ({
				...item,
				next: timeline[index + 1],
			}));
		},
	},

	mounted() {
		this.isServer = this.$isServer;
	},

	methods: {
		timelineActivate(index) {
			this.showTimeline(index);
			this.$refs.carousel.switchSlide(index);
		},

		showTimeline(index) {
			if (index === this.activeTimeline) return;
			this.activeTimeline = index;

			const { timelineList } = this.$refs;
			if (timelineList) {
				scrollIntoView(timelineList.children[index].firstElementChild, {
					behavior: 'smooth',
					inline: 'center',
					boundary: timelineList.parentElement,
				});
			}

			const label = this.timeline[index].year;
			this.$tealiumEvent('molekule_story_click', {
				event_category: 'Homepage',
				event_action: 'Clicked Molekule Story',
				event_label: label,
				story_header: label,
			});
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

$timeline-color-line: #999;
$timeline-color-background: color('primary-600');

.block {
	padding: size('m') 0;
	background-color: $timeline-color-background;

	@include above('large') {
		padding: size('m') size('s');
	}
}

.listing {
	position: relative;
	display: none;

	@include above('medium') {
		display: flex;
	}
}

.listingMobile {
	@include above('medium') {
		display: none;
	}
}

.slideMobile {
	flex: 0 0 auto;
	width: 100%;
}

// Timeline
.timeline {
	width: 100%;
	padding-left: size('s');
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	@include above('medium') {
		margin-top: size('m');
	}

	@include above('large') {
		padding-left: 0;
	}

	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
}

.timelineList {
	display: flex;
	padding-top: 1.9rem;
}

.timelineItem {
	flex: 0 0 202px;
	white-space: nowrap;
	border-top: 1px solid $timeline-color-line;

	@include use-text-style('type-100');

	@include above('medium') {
		flex: 1 1 auto;
	}
}

.timelineButton {
	margin-top: -1.9rem;
	text-align: center;
}

.timelineCircle {
	position: relative;
	display: block;
	width: 7.2rem;
	height: 3.7rem;
	background-color: $timeline-color-background;

	// outer
	&::before {
		display: inline-block;
		width: 3.7rem;
		height: 3.7rem;
		content: '';
		background-color: color('white');
		border: 1px solid $timeline-color-line;
		border-radius: 50%;
		transition: transform 0.3s;
		transform: scale(0);
	}

	// inner
	&::after {
		position: absolute;
		top: 1.4rem;
		left: 50%;
		width: 0.9rem;
		height: 0.9rem;
		margin-left: -0.4rem;
		content: '';
		background-color: color('primary');
		border-radius: 50%;
	}
}

.timelineText {
	display: block;
	margin-top: 0.8rem;
}

.timelineCircle::after,
.timelineText {
	opacity: 0.55;
}

.timelineItemActive {
	.timelineCircle::before {
		transform: scale(1);
	}

	.timelineCircle::after,
	.timelineText {
		opacity: 1;
	}

	.timelineText {
		font-weight: 700;
	}
}
</style>
