<template>
	<div
		:id="id"
		:style="{
			'--bg-color': backgroundColor || '#fff',
			'--copy-color': copyColor || '#3c3b3b',
		}"
		:class="$style.blockCtas"
	>
		<div v-for="(cta, i) in items" :key="cta.ctaText + i" :class="$style.ctaBlock">
			<div :class="$style.content">
				<h2 v-if="cta.heading" :class="$style.heading">{{ cta.heading }}</h2>
				<div v-if="$hasRichText(cta.copy)" :class="$style.copy" v-html="cta.copy" />
				<div :class="$style.ctaWrapper">
					<BaseButtonAuto
						:appearance="cta.ctaVariant"
						:smart="cta.ctaLink && cta.ctaLink.url"
						:target="cta.ctaLink && cta.ctaLink.target"
						size="medium"
					>
						{{ cta.ctaText }}
					</BaseButtonAuto>
				</div>
			</div>
			<span v-if="i !== items.length - 1" :class="$style.divider" />
		</div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		backgroundColor: {
			type: String,
			default: '',
		},

		copyColor: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.blockCtas {
	color: var(--copy-color);
	white-space: pre-line;
	background-color: var(--bg-color);
}

.ctaBlock {
	padding: 0 4.5rem;

	@include above('medium') {
		padding: 0 8rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 57rem;
	height: 100%;
	min-height: 33.8rem;
	padding: 6rem 0;
	margin: auto;
	text-align: center;

	@include above('medium') {
		min-height: 37.85rem;
	}
}

.heading {
	@include use-text-style('heading-420');
}

.copy {
	@include use-text-style('type-500');

	margin: 1.444em 0 0;
	font-weight: 300;
}

.ctaWrapper {
	margin: 3.5rem 0 0;
	white-space: normal;
}

.divider {
	display: block;
	width: 100%;
	max-width: 128rem;
	height: 1px;
	padding: 0 4.5rem;
	margin: 0 auto;
	background: color('primary-250');
}
</style>
