<template>
	<div
		v-if="showAlert && $hasRichText(alert.content)"
		:id="id || alert.id"
		:style="{ color: alert.textColor, backgroundColor: alert.backgroundColor }"
		role="region"
		aria-label="Announcement"
	>
		<client-only>
			<div :class="$style.inner">
				<BaseImage
					v-if="alert.backgroundImage && alert.backgroundImage.url"
					:image="alert.backgroundImageMobile || {}"
					:images="{ medium: alert.backgroundImage || {} }"
					compression-level="medium"
					fit
					sizes="(min-width: 1024px) 800px, 100vw"
				/>

				<component
					:is="(!alert.isClosingEnabled && linkNormalized && linkNormalized.component) || 'div'"
					:class="[
						isDislayingIcon ? $style.contentPlusLeftPosition : $style.content,
						{ [$style.isLink]: !alert.isClosingEnabled && linkNormalized },
					]"
					:to="linkNormalized && linkNormalized.to"
					:href="linkNormalized && linkNormalized.href"
				>
					<div v-rich-content v-html="alert.content" />

					<div v-if="!alert.isClosingEnabled && linkNormalized" :class="$style.iconWrapper">
						<BaseIcon
							:class="$style.iconChevron"
							name="chevron-right-thin"
							title="Learn More"
							width="12"
							height="18"
							:fill="alert.textColor"
						/>
					</div>
					<button v-else-if="alert.isClosingEnabled" :class="$style.iconWrapper" @click="close">
						<BaseIcon
							:class="$style.iconClose"
							name="cross-thin"
							title="Close"
							width="32"
							height="32"
							:fill="alert.textColor"
						/>
					</button>
				</component>
			</div>
		</client-only>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import { getCookie, setCookie } from 'tiny-cookie';

const storageName = 'hide_alert';

export default {
	props: {
		id: {
			type: String,
			default: null,
		},
	},

	data: () => ({ showAlert: true }),

	computed: {
		...mapState({ alert: (state) => state.globalData.alert }),

		linkNormalized() {
			const { link } = this.alert;
			if (!link || !Object.keys(link).length) return null;

			const component = link.url && link.url.startsWith('http') ? 'a' : 'nuxt-link';
			return {
				...link,
				component,
				to: component === 'nuxt-link' ? link.url : null,
				href: component === 'a' ? link.url : null,
			};
		},

		isDislayingIcon() {
			const { alert, linkNormalized } = this;
			return (!alert.isClosingEnabled && linkNormalized) || alert.isClosingEnabled;
		},
	},

	beforeMount() {
		if (getCookie(storageName)) this.showAlert = false;
	},

	methods: {
		close() {
			setCookie(storageName, true, { expires: `${this.alert.showAgainAfter || 1}D` });

			this.showAlert = false;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.inner {
	position: relative;
	max-width: 80rem;
	padding: 1.3rem 2.9rem;
	margin: 0 auto;

	@include above('large') {
		max-width: none;
		padding: 1.3rem 5rem;
		margin: 0;
	}
}

.iconWrapper {
	flex: 0 0 auto;
	cursor: pointer;

	@include above('large') {
		margin: 0 6.5rem 0 0;
	}
}

.iconChevron {
	margin-left: 1rem;
}

.iconClose {
	position: relative;
	right: -1rem;
}

.content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	p {
		@include use-text-style('type-400');

		font-weight: 300;
		line-height: 1.6666666667;

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		@include above('medium') {
			@include use-text-style('type-100');
		}
	}

	a {
		text-decoration: underline;
	}

	&.isLink {
		cursor: pointer;
	}

	@include above('large') {
		> div:first-of-type {
			margin: auto;
		}
	}
}

.contentPlusLeftPosition {
	composes: content;

	@include above('large') {
		> div:first-of-type {
			position: relative;
			left: 6rem;
		}
	}
}
</style>
