<template>
	<div :id="id" :class="$style.block">
		<div :class="[$style.products, { [$style.__reversedOrderOnDesktop]: reversedOrderOnDesktop }]">
			<div
				v-for="(product, index) in productsNormalized"
				:key="product.sku"
				:class="[$style.product, { [$style.__hasMobileDescription]: Boolean(product.descriptionMobileTop) }]"
				:style="{ backgroundColor: product.backgroundColor }"
			>
				<div :class="$style.productInner">
					<div :class="$style.rowInfo1">
						<div>
							<div :class="$style.productName">
								<strong>{{ product.name }}</strong>
							</div>
							<p v-if="product.discount" :class="$style.discount">
								{{ `Save ${priceMoney(product.discount, currencySymbol)}` }}
							</p>
						</div>
						<div>
							<div :class="$style.reviewsWrapper">
								<MoleculeReviewInfo
									:link="product.reviewsLink && product.reviewsLink.url"
									:page-id="product.powerreviewsPageId"
								/>
							</div>
						</div>
						<div v-if="product.descriptionMobileTop" :class="[$style.infoCol, $style.__mobileOnly]">
							<p :class="[$style.infoDescription, $style.__mobileTop]">{{ product.descriptionMobileTop }}</p>
						</div>
					</div>
					<div :class="$style.rowImage">
						<div :class="$style.imageWrapper">
							<BaseImage
								:critical="critical"
								:image="product.imageMobile"
								compression-level="medium"
								:images="{ medium: product.imageDesktop }"
								sizes="(min-width: 1440px) 34.2vw, (min-width: 1200px) 50vw, (min-width: 1024px) calc(100vw - 90px), (min-width: 768px) 335px, calc(100vw - 40px)"
							/>
							<BlockWatermark
								v-if="product.watermarkImageDesktop"
								:critical="critical"
								:image="product.watermarkImageMobile"
								:images="product.watermarkImageDesktop"
								:watermark-height="product.watermarkHeight || 50"
								:watermark-width="product.watermarkWidth || 100"
								:watermark-opacity="product.watermarkOpacity"
								:watermark-position="product.watermarkPosition || 'Center'"
							/>
						</div>
					</div>
					<div :class="$style.rowInfo2">
						<div :class="[$style.infoCol, $style.__hideWhenHasMobileDescription]">
							<p v-if="product.description" :class="$style.infoDescription">{{ product.description }}</p>
							<p v-if="product.descriptionSecondary" :class="[$style.infoDescription, $style.__secondary]">{{
								product.descriptionSecondary
							}}</p>
						</div>
						<div>
							<div
								v-if="product.productOrBundle"
								:class="[$style.priceWrapper, { [$style.hasStrikeThrough]: product.discount }]"
							>
								<BlockAffirm
									v-if="product.productOrBundle.currentPrice"
									page-type="landing"
									:price="product.productOrBundle.currentPrice"
									:class="$style.affirm"
									@update="($event) => $emit('affirm-updated', { el: $event, index })"
								/>
								<span>
									<span v-if="product.discount">
										<span class="u-visuallyhidden">regular price</span>
										<span :class="$style.listPriceWrapper">
											<span :class="$style.listPrice">
												{{ priceMoney(product.productOrBundle.listPrice, currencySymbol) }}
											</span>
										</span>
										<span class="u-visuallyhidden">sale price</span>
									</span>
									{{ priceMoney(product.productOrBundle.currentPrice, currencySymbol) }}
								</span>
							</div>
						</div>
					</div>
					<div :class="$style.rowBottom">
						<div v-if="product.ctaLink && product.ctaLink.url" :class="$style.ctaWrapper">
							<BaseButton
								:smart="product.ctaLink.url"
								:target="product.ctaLink.target"
								:class="$style.buyButton"
								size="medium"
								appearance="primary"
							>
								{{ product.ctaText || product.ctaLink.url }}
							</BaseButton>
						</div>
						<div :ref="`affirmContainer${index}`" :class="$style.affirmWrapper"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import BlockAffirm from '@components/block-affirm';
import MoleculeReviewInfo from '@components/molecule-review-info';
import BlockWatermark from '@components/block-watermark';

export default {
	components: {
		BlockAffirm,
		MoleculeReviewInfo,
		BlockWatermark,
	},

	inheritAttrs: false,

	props: {
		items: {
			type: Array,
			default: () => [],
		},

		id: {
			type: String,
			default: null,
		},

		critical: {
			type: Boolean,
			default: false,
		},

		reversedOrderOnDesktop: {
			type: Boolean,
			default: false,
		},

		productsNormalized: {
			type: Array,
			required: true,
		},

		priceMoney: {
			type: Function,
			required: true,
		},

		currencySymbol: {
			type: String,
			required: true,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.products {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	@include above('large') {
		font-size: 0.9765625vw;
	}

	@include above('xlarge') {
		font-size: 0.83333vw;
	}

	@include above('xxlarge') {
		font-size: 0.69444vw;
	}

	&.__reversedOrderOnDesktop {
		@include above('medium') {
			flex-direction: row-reverse;
		}
	}
}

.product {
	position: relative;
	z-index: 2;
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	padding: 5rem size('s');
	text-align: center;

	@include above('medium') {
		flex-grow: 1;
		width: 50%;
	}

	@include above('large') {
		padding: 5rem size('s++');
		text-align: left;
	}
}

.productInner {
	position: relative;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	width: 100%;
}

.rowInfo1,
.rowInfo2,
.rowImage {
	margin-bottom: size('m');
	font-weight: 300;

	@include above('large') {
		margin-bottom: size('s');
	}
}

.rowInfo1,
.rowInfo2,
.rowBottom {
	@include above('large') {
		display: flex;
		justify-content: space-between;
	}
}

.infoCol {
	&.__mobileOnly {
		@include above('large') {
			display: none;
		}
	}

	.product.__hasMobileDescription &.__hideWhenHasMobileDescription {
		@include below('large') {
			display: none;
		}
	}
}

.priceWrapper.hasStrikeThrough {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.listPriceWrapper {
	color: color('red');
	text-decoration: line-through;
}

.listPrice {
	color: color('primary-200');
}

.rowInfo2 {
	font-size: 1.4em;
	font-weight: 300;

	@include above('medium') {
		font-size: 2.1em;
	}
}

.productName {
	@include font-family('secondary');

	font-size: 3em;
	font-weight: 400;

	@include below('large') {
		margin-bottom: size('xs');
	}

	> strong {
		font-weight: inherit;
	}
}

.discount {
	@include use-text-style('type-500');

	margin: 1rem 0 2.5rem;
	font-weight: 300;
	color: color('primary');

	@include above('medium') {
		padding: 0;
	}
}

.reviewsWrapper {
	display: flex;
	justify-content: center;

	[class*='starsWrapper'],
	[class*='starsWrapper'] svg {
		width: 9.1em;
		height: 1.4em;
		margin: 0 auto;
	}
}

.infoDescription {
	margin-bottom: size('xs');
	white-space: pre-line;

	&:last-child {
		margin-bottom: size('s');

		@include above('large') {
			margin-bottom: 0;
		}
	}

	&.__secondary {
		font-size: 0.857em;
	}

	&.__mobileTop {
		margin: size('xs') 0 0;
		font-size: 1.8rem;
	}
}

.affirm {
	display: inline;

	&::after {
		content: '* |';

		@include above('large') {
			white-space: pre-line;
			content: '*\Aor';
		}
	}

	.hasStrikeThrough & {
		&::after {
			content: '*';
		}
	}
}

.rowImage {
	display: flex;
	align-items: flex-start;
	justify-content: center;

	@include above('medium') {
		flex-grow: 1;
	}

	@include above('large') {
		align-items: flex-end;
		order: 1;
	}

	.product.__hasMobileDescription & {
		align-items: flex-end;
	}
}

.imageWrapper {
	position: relative;
	width: 100%;
	max-width: 33.5rem;

	@include above('large') {
		max-width: 49.2em;
	}
}

.rowBottom {
	flex-direction: row-reverse;
	align-items: center;
	order: 2;
}

.ctaWrapper {
	@include below('large') {
		margin-bottom: size('m');
	}
}

.affirmWrapper {
	@include below('large') {
		font-size: 1.2rem;
	}

	@include above('xlarge') {
		font-size: 1.4em;
	}

	:global(.affirm-pmt-bottom) {
		font-weight: 300;

		&::before {
			content: '*';
		}
	}

	:global(.affirm-modal-trigger) {
		font-weight: 400;
	}
}
</style>
