<template>
	<nav :class="$style.nav">
		<ul class="u-nolist" :class="$style.list">
			<li v-for="(section, index) in content" :key="index" :class="$style.listItem">
				<a
					:href="`#${section.props.anchor}`"
					class="u-font-secondary"
					:class="$style.link"
					@click.prevent="scroll(section.props.anchor)"
				>
					{{ section.props.heading }}
				</a>
			</li>
		</ul>
	</nav>
</template>

<script>
import jump from 'jump.js';

export default {
	props: {
		content: {
			type: Array,
			default: () => [],
		},
	},

	methods: {
		scroll(anchor) {
			const element = document.getElementById(anchor);

			if (element) {
				const headerHeightFull = parseFloat(document.body.style.getPropertyValue('--header-height-full'));

				jump(element, { duration: 300, offset: headerHeightFull * -1 - 20 });
			}
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.nav {
	position: sticky;
	top: var(--header-height, size('header'));
	z-index: 1;
	padding: 0 size('s');
	text-align: center;
	background-color: color('white');
	border-bottom: 1px solid color('border');
	transition: top 0.25s linear;

	@include above('medium') {
		top: size('header');
	}
}

.list {
	display: flex;
	justify-content: space-around;
	margin: 0 (size('base') * -1);
}

.listItem {
	flex: 0 1 auto;
}

.link {
	display: inline-block;
	padding: 2rem size('base');
	font-size: 1.2rem;

	@include above('medium') {
		font-size: 2rem;
	}
}
</style>
