<template>
	<div
		v-if="showAlertBar && $hasRichText(alertBar.alertContent)"
		:id="id || alertBar.variationId"
		:style="{ color: alertBar.alertTextColor, backgroundColor: alertBar.alertBackgroundColor }"
		role="region"
		aria-label="Announcement"
	>
		<client-only>
			<div :class="$style.inner">
				<BaseImage
					v-if="alertBar.alertBackgroundImage && alertBar.alertBackgroundImage.url"
					:image="alertBar.alertBackgroundImageMobile || {}"
					:images="{ medium: alertBar.alertBackgroundImage || {} }"
					compression-level="medium"
					fit
					sizes="(min-width: 1024px) 800px, 100vw"
				/>

				<component
					:is="(!alertBar.alertClosingEnabled && linkNormalized && linkNormalized.component) || 'div'"
					:class="[
						isDislayingIcon ? $style.contentPlusLeftPosition : $style.content,
						{ [$style.isLink]: !alertBar.alertClosingEnabled && linkNormalized },
					]"
					:to="linkNormalized && linkNormalized.to"
					:href="linkNormalized && linkNormalized.href"
				>
					<div v-rich-content v-html="alertBar.alertContent" />

					<div v-if="!alertBar.alertClosingEnabled && linkNormalized" :class="$style.iconWrapper">
						<BaseIcon
							:class="$style.iconChevron"
							name="chevron-right-thin"
							title="Learn More"
							width="12"
							height="18"
							:fill="alertBar.alertTextColor"
						/>
					</div>
					<button v-else-if="alertBar.alertClosingEnabled" :class="$style.iconWrapper" @click="close">
						<BaseIcon
							:class="$style.iconClose"
							name="cross-thin"
							title="Close"
							width="32"
							height="32"
							:fill="alertBar.alertTextColor"
						/>
					</button>
				</component>
			</div>
		</client-only>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import { getCookie, setCookie } from 'tiny-cookie';

const storageName = 'hide_alert_bar';

export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		variationId: {
			type: String,
			default: 'global',
		},
	},

	data: () => ({ showAlertBar: true }),

	computed: {
		...mapState({
			alertBar(state) {
				const { alertV1 } = state.globalData;
				return alertV1 && alertV1[this.variationId || 'global'];
			},
		}),

		linkNormalized() {
			const { alertLink } = this.alertBar;
			if (!alertLink || !Object.keys(alertLink).length) return null;

			const component = alertLink.url && alertLink.url.startsWith('http') ? 'a' : 'nuxt-link';
			return {
				...alertLink,
				component,
				to: component === 'nuxt-link' ? alertLink.url : null,
				href: component === 'a' ? alertLink.url : null,
			};
		},

		isDislayingIcon() {
			const { alertBar, linkNormalized } = this;
			return (!alertBar.alertClosingEnabled && linkNormalized) || alertBar.alertClosingEnabled;
		},
	},

	beforeMount() {
		if (getCookie(storageName)) this.showAlertBar = false;
	},

	methods: {
		close() {
			setCookie(storageName, true, { expires: `${this.alertBar.alertShowAgainAfter || 1}D` });

			this.showAlertBar = false;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.inner {
	position: relative;
	max-width: 80rem;
	padding: 1.3rem 2.9rem;
	margin: 0 auto;

	@include above('large') {
		max-width: none;
		padding: 1.3rem 5rem;
		margin: 0;
	}
}

.iconWrapper {
	flex: 0 0 auto;
	cursor: pointer;

	@include above('large') {
		margin: 0 6.5rem 0 0;
	}
}

.iconChevron {
	margin-left: 1rem;
}

.iconClose {
	position: relative;
	right: -1rem;
}

.content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	p {
		@include use-text-style('type-400');

		font-weight: 300;
		line-height: 1.6666666667;

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		@include above('medium') {
			@include use-text-style('type-100');
		}
	}

	a {
		text-decoration: underline;
	}

	&.isLink {
		cursor: pointer;
	}

	@include above('large') {
		> div:first-of-type {
			margin: auto;
		}
	}
}

.contentPlusLeftPosition {
	composes: content;

	@include above('large') {
		> div:first-of-type {
			position: relative;
			left: 6rem;
		}
	}
}
</style>
