<template>
	<section
		:id="id"
		:style="{ '--background-color': backgroundColor, '--copy-color': copyColor, '--border-color': bordersColor }"
		:class="[
			$style.multiColumnText,
			{ [$style.hasLessThanOrEqualTo3Items]: items.length <= 3 },
			{ [$style.hasOneItem]: items.length == 1 },
			{ [$style.borderBottom]: includeBottomBorder },
		]"
	>
		<h2 v-if="heading" :class="$style.heading">{{ heading }}</h2>
		<div :class="$style.items">
			<div v-for="(item, index) in items" :key="index" :class="$style.item">
				<h3>{{ item.heading }}</h3>
				<div v-rich-content :class="[$style.copy, { [$style.center]: item.centerAlign }]" v-html="item.copy" />
			</div>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		backgroundColor: {
			type: String,
			default: '#cfe9db',
		},

		copyColor: {
			type: String,
			default: '#3c3b3b',
		},

		bordersColor: {
			type: String,
			default: '#979797',
		},

		items: {
			type: Array,
			default: () => [],
		},

		includeBottomBorder: {
			type: Boolean,
			default: false,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.multiColumnText {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 4.5rem;
	color: var(--copy-color);
	text-align: center;
	background: var(--background-color);

	@include above('medium') {
		&.hasOneItem {
			padding: 1.5rem 0;
		}
	}

	@include above('large') {
		padding: 5rem 8.5rem;

		&.hasOneItem {
			padding: 1.5rem 0;
		}
	}

	&.borderBottom::after {
		position: absolute;
		right: 4.5rem;
		bottom: 0;
		left: 4.5rem;
		display: block;
		height: 0.1rem;
		content: '';
		background-color: var(--border-color);

		@include above('large') {
			right: 8.5rem;
			left: 8.5rem;
		}
	}
}

.heading {
	@include use-text-style('heading-180');

	margin: 0 0 3rem;
	font-family: font-family('secondary');
	font-weight: 300;
}

.items {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include above('medium') {
		flex-direction: row;
	}
}

.item {
	position: relative;
	text-align: left;

	h3 {
		@include use-text-style('type-200');

		margin: 2em 0 1.1em;
		font-weight: 700;
	}

	@include above('medium') {
		flex: 0 1 34rem;
		padding: 6.9rem 2.6rem;
	}

	.hasLessThanOrEqualTo3Items & {
		@include above('large') {
			padding: 6.9rem 3rem 2.3rem;
		}

		@include above('xlarge') {
			padding: 6.9rem 4rem 2.3rem;
		}

		@include above('xxlarge') {
			padding: 6.9rem 6rem 2.3rem;
		}
	}
	.hasOneItem & {
		@include above('medium') {
			flex-basis: 62rem;
			padding: 1.5rem 6rem 3rem;
		}
	}
}

.copy {
	margin: 0 0 5rem;

	p {
		@include use-text-style('type-100');

		font-weight: 300;
		line-height: 1.35714;
	}
	.hasOneItem &.center {
		text-align: center;
	}

	@include above('medium') {
		&:not(.center) {
			text-align: left;
		}
	}

	@include above('large') {
		margin: 0;
	}
}
</style>
