<template>
	<div class="u-block-spacing" :class="$style.section">
		<div :id="content.anchor" :class="$style.idElem" />
		<div :class="$style.left">
			<p :class="$style.label">{{ count }}</p>

			<h2 v-if="content.heading" :class="$style.heading">
				{{ content.heading }}
			</h2>
		</div>

		<div :class="$style.right">
			<p :class="[$style.label, $style.desktop]">&nbsp;</p>
			<div v-if="content.content" v-rich-content :class="$style.content" v-html="content.content" />
		</div>
	</div>
</template>

<script>
export default {
	props: {
		content: {
			type: Object,
			default: () => ({}),
		},

		index: {
			type: Number,
			default: 0,
		},
	},

	computed: {
		count() {
			const index = this.index + 1;
			return index < 10 ? `0${index}` : index;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.section {
	max-width: 105rem;
	padding: 0 size('s');
	margin-right: auto;
	margin-left: auto;

	@include above('medium') {
		display: flex;
	}
}

.left {
	@include above('medium') {
		flex: 0 0 auto;
		width: percentage(1 / 3);
		padding-right: size('m');
	}
}

.right {
	@include above('medium') {
		width: percentage(2 / 3);
	}
}

.desktop {
	@include below('medium') {
		display: none;
	}
}

.label {
	margin-bottom: size('s');
	font-size: 1.2rem;
	text-transform: uppercase;

	&::after {
		display: block;
		width: 1.4rem;
		height: 1px;
		margin-top: 0.8rem;
		content: '';
		background-color: color('text');
	}
}

.idElem {
	position: relative;
	top: -7rem;

	@include above('medium') {
		top: -9rem;
	}
}

.heading {
	@include use-text-style('heading-100');

	margin-bottom: size('s');
	font-weight: 300;

	@include above('large') {
		@include use-text-style('heading-300');
	}
}

.content {
	color: color('primary-100');
	overflow-wrap: break-word;

	@include use-text-style('type');
	@include use-text-style('type-100');

	h3,
	h4,
	h5,
	h6 {
		color: color('text');
	}

	h3 {
		margin-bottom: size('xxs');
	}

	h4 {
		margin-bottom: size('xxs');
	}

	p {
		margin-bottom: size('s');
	}

	a {
		text-decoration: underline;
	}

	ul {
		margin-left: size('m');

		li {
			margin-bottom: size('s');
		}
	}
}
</style>
