<template>
	<AtomIntersectionObserver
		v-if="items.length"
		:options="{ rootMargin: '100px' }"
		@enter="handleEnter"
		@leave="handleLeave"
	>
		<div :id="id" :class="$style.block">
			<div :class="$style.navigation" @keydown.right.prevent="switchTab('->')" @keydown.left.prevent="switchTab('<-')">
				<div :class="$style.navigationContent">
					<span v-for="({ state }, index) in items" :key="state">
						<button :class="$style.stateButton" @click="switchTab(index)">
							{{ state }}
							<span v-if="index === activeTab" :class="$style.underline" />
						</button>
						<span v-if="index !== items.length - 1" aria-hidden="true">/&nbsp;</span>
					</span>
				</div>
			</div>

			<div :class="$style.videosWrapper">
				<div
					v-for="(slide, index) in items"
					:key="slide.state"
					:style="{
						'--video-padding-mobile': aspectRatioMobile ? `${100 / aspectRatioMobile}%` : '139.7333%',
						'--video-padding-desktop': aspectRatioDesktop ? `${100 / aspectRatioDesktop}%` : '56.25%',
					}"
					:class="[$style.videoWrapper, { [$style.isActive]: index === activeTab }]"
				>
					<client-only>
						<ProviderElementActivityTracker v-slot="{ isFocused }">
							<MoleculeAutoplayVideoPlayPause :show-button="isFocused">
								<video
									ref="videos"
									v-lazy.video="
										!medium
											? slide.videoMobile && videoUrl(slide.videoMobile.url)
											: slide.videoDesktop && videoUrl(slide.videoDesktop.url)
									"
									:class="$style.video"
									:style="{ '--object-position': `${slide.alignment.toLowerCase()} center` }"
									:data-index="index"
									muted
									playsinline
									@canplay="handleCanplay"
									@ended="handleEnded"
								/>
							</MoleculeAutoplayVideoPlayPause>
						</ProviderElementActivityTracker>
					</client-only>
				</div>
			</div>
		</div>
	</AtomIntersectionObserver>
</template>

<script>
import AtomIntersectionObserver from '@components/atom-intersection-observer';
import ProviderElementActivityTracker from '@components/provider-element-activity-tracker';
import MoleculeAutoplayVideoPlayPause from '@components/molecule-autoplay-video-play-pause';
import { mapState } from 'vuex';

const isVideoPlaying = (video) =>
	Boolean(video.currentTime > 0 && !video.paused && !video.ended && video.readyState > 2);

export default {
	components: {
		AtomIntersectionObserver,
		ProviderElementActivityTracker,
		MoleculeAutoplayVideoPlayPause,
	},

	inheritAttrs: false,

	props: {
		id: {
			type: String,
			default: null,
		},

		aspectRatioMobile: {
			type: Number,
			default: null,
		},

		aspectRatioDesktop: {
			type: Number,
			default: null,
		},

		items: {
			type: Array,
			default: () => [],
		},
	},

	data: () => ({
		activeTab: 0,
		shouldSwitchTab: true,
		loadedVideos: [],
		startWhenAvailable: false,
		attemptedMobilePlay: false,
		attemptedDesktopPlay: false,
	}),

	computed: {
		...mapState('screen', ['medium']),

		mobileVideosCanplay() {
			return this.items
				.map((item) => item.videoMobile && item.videoMobile.url)
				.filter(Boolean)
				.every((video) => this.loadedVideos.includes(video));
		},

		desktopVideosCanplay() {
			return this.items
				.map((item) => item.videoDesktop && item.videoDesktop.url)
				.filter(Boolean)
				.every((video) => this.loadedVideos.includes(video));
		},
	},

	watch: {
		mobileVideosCanplay(val) {
			if (val && !this.medium && this.startWhenAvailable) {
				this.playVideo(this.activeTab);
			} else {
				this.attemptedMobilePlay = true;
			}
		},

		desktopVideosCanplay(val) {
			if (val && this.medium && this.startWhenAvailable) {
				this.playVideo(this.activeTab);
			} else {
				this.attemptedDesktopPlay = true;
			}
		},

		medium() {
			this.loadedVideos = [];
		},

		startWhenAvailable() {
			if (
				(this.medium && this.desktopVideosCanplay && this.attemptedDesktopPlay) ||
				(!this.medium && this.mobileVideosCanplay && this.attemptedMobilePlay)
			) {
				this.playVideo(this.activeTab);
			}
		},
	},

	methods: {
		playVideo(index) {
			this.$refs.videos[index].play();
		},

		handleEnter() {
			if (this.videosLazyloaded) {
				this.playVideo(this.activeTab);
			} else {
				this.startWhenAvailable = true;
			}
		},

		handleLeave() {
			if (!this.videosLazyloaded) {
				this.startWhenAvailable = false;
			}

			this.$refs.videos.forEach((elem) => elem.pause());
		},

		handleCanplay(e) {
			if (!this.loadedVideos.includes(e.target.src)) {
				this.loadedVideos.push(e.target.src);
			}
		},

		handleEnded(e) {
			const video = e.target;
			const currentVideoEnded = Number(video.dataset.index) === this.activeTab;

			if (!this.shouldSwitchTab && currentVideoEnded) {
				this.shouldSwitchTab = true;
			} else if (this.shouldSwitchTab && currentVideoEnded) {
				let newIndex = Number(e.target.dataset.index) + 1;
				if (newIndex > this.items.length - 1) newIndex = 0;

				this.switchTab(newIndex);
				const newVideo = this.$refs.videos[newIndex];
				if (!isVideoPlaying(newVideo)) {
					newVideo.play();
				}
			}

			if (!isVideoPlaying(video)) {
				video.play();
			}
		},

		switchTab(index) {
			if (typeof index === 'string') {
				if (index === '->') {
					index = this.activeTab + 1 <= this.items.length - 1 ? this.activeTab + 1 : 0;
				} else if (index === '<-') {
					index = this.activeTab - 1 >= 0 ? this.activeTab - 1 : this.items.length - 1;
				}
			}

			this.activeTab = index;

			const newVideo = this.$refs.videos[this.activeTab];
			this.shouldSwitchTab = newVideo.currentTime < 1;

			if (!isVideoPlaying(newVideo)) {
				newVideo.play();
			}
		},
		videoUrl(url) {
			const videoUrl = decodeURIComponent(url);
			if (videoUrl.startsWith('https://molekule.cdn.prismic.io/')) {
				const videoFile = videoUrl.split('/');
				return '/prismic-images/molekule/' + videoFile[videoFile.length - 1];
			}
			return url;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	position: relative;
}

.navigation {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-family: font-family('secondary');
	color: color('white');
	pointer-events: none;

	@include use-text-style('heading-500');

	@include above('medium') {
		@include use-text-style('heading-900');
	}
}

.navigationContent {
	@include below('medium') {
		margin: -1em 0 0;
	}
}

.stateButton {
	position: relative;
	display: inline-block;
	pointer-events: all;
}

.underline {
	position: absolute;
	bottom: 4px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: color('white');

	@include above('medium') {
		bottom: 6px;
		height: 4px;
	}
}

.videosWrapper {
	position: relative;
}

.videoWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;

	@include transition('fade-hide');

	&.isActive {
		position: relative;
		width: 100%;
		padding: var(--video-padding-mobile) 0 0;
		visibility: visible;
		opacity: 1;

		@include above('medium') {
			padding: var(--video-padding-desktop) 0 0;
		}
	}
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: var(--object-position);
	// height: 52.4rem;
}
</style>
