<template>
	<div>
		<div
			v-if="contentIcon && contentIcon.url && contentIconPosition === variantProps.position"
			:class="[$style.contentIconWrapper, $style[`align${textAlignDesktop}`]]"
		>
			<BaseImage :image="contentIcon" sizes="6.5625rem" compression-level="high" />
		</div>
		<div
			v-if="$hasRichText(variantProps.content)"
			v-rich-content
			:class="[
				$style.content,
				{
					[$style.hasMarginTop]: contentIcon && contentIcon.url && contentIconPosition === variantProps.position,
				},
			]"
			v-html="variantProps.content"
		/>
		<div
			v-if="ctaLink && ctaLink.url && ctaVerticalPosition === variantProps.ctaPosition"
			:class="[$style.buttonWrapper, classesAndStyles.buttonAlign]"
		>
			<BaseButtonAuto :smart="ctaLink.url" :target="ctaLink.target" :appearance="ctaVariant" size="medium" force-color>
				{{ ctaText || ctaLink.url }}
			</BaseButtonAuto>
		</div>
	</div>
</template>

<script>
const contentType = { type: [Array, String], default: '' };

export default {
	props: {
		ctaLink: {
			type: Object,
			default: null,
		},

		ctaText: {
			type: String,
			default: '',
		},

		ctaVariant: {
			type: String,
			default: '',
		},

		ctaVerticalPosition: {
			type: String,
			default: null,
		},

		contentTop: contentType,
		contentMiddle: contentType,
		contentBottom: contentType,

		textAlignDesktop: {
			type: String,
			default: '',
		},

		contentIcon: {
			type: Object,
			default: null,
		},

		contentIconPosition: {
			type: String,
			default: 'top',
		},

		classesAndStyles: {
			type: Object,
			required: true,
		},

		variant: {
			type: String,
			required: true,
			validator: (v) => ['top', 'middle', 'bottom'].includes(v),
		},
	},

	computed: {
		variantProps() {
			const variantProps = {};
			switch (this.variant) {
				case 'top':
					variantProps.position = 'top';
					variantProps.ctaPosition = 'top';
					variantProps.content = this.contentTop;
					break;
				case 'middle':
					variantProps.position = 'middle';
					variantProps.ctaPosition = 'center';
					variantProps.content = this.contentMiddle;
					break;
				case 'bottom':
					variantProps.position = 'bottom';
					variantProps.ctaPosition = 'bottom';
					variantProps.content = this.contentBottom;
			}

			return variantProps;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.contentIconWrapper {
	max-width: 10.5rem;

	&.alignleft {
		margin-right: auto;
	}

	&.aligncenter {
		margin-right: auto;
		margin-left: auto;
	}

	&.alignright {
		margin-left: auto;
	}

	@include below('medium') {
		display: none;
	}
}

.content {
	line-height: 1.85714;

	p {
		@include use-text-style('type-200');

		font-weight: 300;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	a {
		text-decoration: underline;
	}

	/* linter doesn't like specificity here */
	/* stylelint-disable */
	h2 {
		@include use-text-style('heading-200');
	}

	h3 {
		@include use-text-style('heading-180');
	}

	h4 {
		@include use-text-style('heading-150');
	}

	h5,
	h6 {
		@include use-text-style('heading-100');
	}

	&.hasMarginTop {
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			&:first-child {
				@include above('medium') {
					margin-top: 1em;
				}
			}
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@include font-family('secondary');

		margin-bottom: 1em;

		.layer.__full & {
			text-align: center;
		}
	}
	/* stylelint-enable */
	ul {
		padding: 0;
		margin: 1rem 0 1rem 3rem;

		li {
			padding: 0;
			margin: 0 0 2rem;
			font-weight: 300;

			@include use-text-style('type-200');
		}
	}

	.blockContentBottom & {
		@include below('medium') {
			margin-top: size('s++');
		}
	}
}

.buttonWrapper {
	width: 100%;
	padding-top: size('s+');

	&:only-child {
		padding-top: 0;
	}

	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}
}
</style>
