<template>
	<div :id="id">
		<BlockStatisticsV3Mobile v-bind="propsToBind" :shared-style="{ ...$style }" />
		<BlockStatisticsV3Desktop v-bind="propsToBind" :shared-style="{ ...$style }" />
	</div>
</template>

<script>
import BlockStatisticsV3Mobile from '@components/block-statistics-v3-mobile';
import BlockStatisticsV3Desktop from '@components/block-statistics-v3-desktop';
import { mapState } from 'vuex';

export default {
	components: {
		BlockStatisticsV3Mobile,
		BlockStatisticsV3Desktop,
	},

	props: {
		id: {
			type: String,
			default: null,
		},

		sliceLabel: {
			type: String,
			default: '',
		},

		moduleTitle: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},

		autoadvance: {
			type: Boolean,
			default: false,
		},

		autoadvanceIntervalDelay: {
			type: Number,
			default: 10000,
		},
	},

	computed: {
		...mapState({ statisticsGlobal: (state) => state.globalData.statisticsV3 }),

		propsToBind() {
			if (this.sliceLabel !== 'global') {
				return {
					moduleTitle: this.moduleTitle,
					items: this.items,
					autoadvance: this.autoadvance,
					autoadvanceIntervalDelay: this.autoadvanceIntervalDelay || 10000,
				};
			}

			return {
				...this.statisticsGlobal,
				autoadvanceIntervalDelay: this.statisticsGlobal.autoadvanceIntervalDelay || 10000,
			};
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.statisticsImage {
	padding: 2rem 3.3rem 0.4rem;

	@include above('large') {
		padding: 0;
	}

	@include below('large') {
		position: relative;
	}
}

.separator {
	display: block;
	width: calc(100% - 2.6rem * 2);
	height: 1px;
	margin: 3.6rem auto 2.7rem;
	background: color('primary-250');

	@include above('large') {
		width: 100%;
		margin: 3.2rem 0 4.7rem;
	}
}

.information,
.detailsAndFootnote,
.heading {
	padding: 0 5.1rem;
	font-weight: 300;
	line-height: 1.5556;

	@include above('large') {
		max-width: 55.5rem;
		padding: 0;
		line-height: 1.3333;
	}
}

.information {
	@include use-text-style('type-500');

	p:not(:last-child) {
		margin-bottom: 1em;
	}

	@include above('large') {
		line-height: 1.45;
	}
}

.detailsAndFootnote {
	@include use-text-style('type-400');

	padding: 0 8rem 0 5.1rem;
	margin-top: 2.3em;
	line-height: 1.7;

	p:not(:last-child) {
		margin: 0 0 0.8em;
	}

	@include above('large') {
		padding: 0;
		margin-top: 1.6em;

		&:not(:last-child) {
			margin-top: 0;
		}
	}
}

.heading {
	@include use-text-style('type-500');

	margin: 0 0 0.65em;
	font-family: font-family('secondary');

	@include above('large') {
		@include use-text-style('heading-180');

		margin: 0 0 0.95em;
	}
}
</style>
