<template>
	<ProviderCustomColors
		:id="id"
		v-bind="getColorProps($props)"
		:default-colors="{ headingColor: '#fff', copyColor: '#fff' }"
		has-desktop-colors
		:class="$style.container"
	>
		<BaseImage
			fit
			:image="mobileImage"
			:images="{ medium: null }"
			:class="$style.mobileOnly"
			:critical="critical"
			sizes="100vw"
			:compression-level="heading || description ? 'medium' : 'low'"
		/>

		<BaseImage
			:image="null"
			:images="{ medium: desktopImage }"
			:class="$style.noMobile"
			:critical="critical"
			sizes="100vw"
			:compression-level="heading || description ? 'medium' : 'low'"
		/>

		<div :class="$style.inner">
			<component :is="headingElement || 'h1'" v-if="heading" :class="$style.heading">{{ heading }}</component>

			<p v-if="description" :class="$style.description">{{ description }}</p>

			<div
				v-if="ctaText && ctaLink && ctaLink.url"
				:class="$style.ctaWrapper"
				:style="{ color: ctaVariant === 'Outline' && ctaTextColor }"
			>
				<BaseButton :smart="ctaLink && ctaLink.url" :appearance="ctaVariant" force-color size="medium">
					{{ ctaText }}
				</BaseButton>
			</div>
		</div>
	</ProviderCustomColors>
</template>

<script>
import ProviderCustomColors, { getColorProps } from '@components/provider-custom-colors';

export default {
	components: { ProviderCustomColors },

	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		description: {
			type: String,
			default: '',
		},

		mobileImage: {
			type: Object,
			default: () => ({}),
		},

		desktopImage: {
			type: Object,
			default: () => ({}),
		},

		headingElement: {
			type: String,
			default: '',
		},

		ctaText: {
			type: String,
			default: '',
		},

		ctaLink: {
			type: Object,
			default: null,
		},

		ctaVariant: {
			type: String,
			default: '',
		},

		ctaTextColor: {
			type: String,
			default: '',
		},

		critical: {
			type: Boolean,
			default: false,
		},

		headingColor: {
			type: String,
			default: '',
		},

		copyColor: {
			type: String,
			default: '',
		},

		headingColorDesktop: {
			type: String,
			default: '',
		},

		copyColorDesktop: {
			type: String,
			default: '',
		},
	},

	methods: { getColorProps },
};
</script>

<style lang="scss" module>
@import '@design';

.container {
	position: relative;
	height: 52rem;
	background-color: color('black');

	@include above('medium') {
		height: auto;
	}
}

.mobileOnly {
	@include above('medium') {
		display: none;
	}
}

.noMobile {
	@include below('medium') {
		display: none;
	}
}

.inner {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 size('s+');
	text-align: center;
}

.heading {
	@include font-family('secondary');

	max-width: 100%;
	font-size: 3.4rem;
	font-weight: 400;
	line-height: 4rem;
	white-space: pre-line;

	@include above('large') {
		@include use-text-style('heading-900');

		letter-spacing: -0.063rem;
	}
}

.description {
	max-width: 52rem;
	margin-top: size('s');

	@include use-text-style('type');
	@include use-text-style('type-100');
}

.ctaWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 9.75rem 0 0;
}
</style>
