<template>
	<ProviderCustomColors :id="id" v-bind="getColorProps($props)" :class="$style.block" :style="{ backgroundColor }">
		<div :class="$style.mobile">
			<div :class="$style.mobileTop">
				<h2 v-if="heading" :class="$style.heading">{{ heading }}</h2>
				<p v-if="subheading" :class="$style.subheading">{{ subheading }}</p>
			</div>

			<div :class="$style.carouselWrapper">
				<MoleculeCarousel
					:autoplay="false"
					:has-navigation="false"
					:has-pagination="items.length > 1"
					:class="$style.carousel"
				>
					<MoleculeCarouselSlide
						v-for="(item, index) in items"
						:key="index"
						:slide-index="index"
						:class="$style.carouselSlide"
					>
						<div :class="$style.mobileImageWrapper">
							<BaseImage
								:image="item.imageMobile && item.imageMobile.url ? item.imageMobile : item.image"
								:images="{ medium: null }"
								compression-level="medium"
								:params="{ cs: 'strip' }"
								sizes="calc(100vw - 50px)"
								:aspect="1"
							/>
						</div>

						<div :class="$style.mobileQuoteWrapper">
							<div v-if="$hasRichText(item.quote)" :class="[$style.quote, $style.quoteMobile]" v-html="item.quote" />
						</div>
					</MoleculeCarouselSlide>
				</MoleculeCarousel>
			</div>
		</div>

		<div :class="$style.desktop">
			<div :class="$style.row">
				<div :class="[$style.col, $style.colInfo]">
					<div :class="$style.leftTop">
						<h2 v-if="heading" :class="$style.heading">{{ heading }}</h2>
						<p v-if="subheading" :class="$style.subheading">{{ subheading }}</p>
					</div>

					<div :class="$style.leftMain">
						<template v-for="(item, index) in items">
							<div
								v-if="$hasRichText(item.quote)"
								:key="index"
								:class="[$style.leftMainSingle, { [$style.current]: desktopCurrent === index }]"
							>
								<div :class="[$style.quote, $style.quoteDesktop]" v-html="item.quote" />
							</div>
						</template>
					</div>

					<div :class="$style.leftBottom">
						<li :class="$style.socialList">
							<ul v-for="(item, index) in socialLinks" :key="index" :class="$style.socialListElement">
								<component :is="item.link.element" :class="$style.socialListLink" v-bind="item.link.props">
									<BaseIcon :class="$style.socialListIcon" :name="item.icon" :title="item.icon" />
								</component>
							</ul>
						</li>
					</div>
				</div>

				<div :class="[$style.col, $style.colImages]">
					<ul :class="$style.imagesDesktop">
						<li v-for="(item, index) in items" :key="index" :class="$style.imageWrapperDesktop">
							<div @mouseover="desktopCurrent = index" @focus="desktopCurrent = index">
								<BaseImage
									:image="null"
									:images="{ medium: item.image && item.image.url ? item.image : item.imageMobile }"
									compression-level="high"
									:aspect="1"
									sizes="calc((50vw - 66px) / 3)"
								/>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</ProviderCustomColors>
</template>

<script>
import ProviderCustomColors, { getColorProps } from '@components/provider-custom-colors';
import MoleculeCarousel from '@components/molecule-carousel';
import MoleculeCarouselSlide from '@components/molecule-carousel-slide';
import { prismicLinkToComponent } from '@/utils/prismic-helpers';

export default {
	components: {
		ProviderCustomColors,
		MoleculeCarousel,
		MoleculeCarouselSlide,
	},

	inheritAttrs: false,

	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		subheading: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},

		facebookLink: {
			type: Object,
			default: null,
		},

		instagramLink: {
			type: Object,
			default: null,
		},

		backgroundColor: {
			type: String,
			default: '',
		},

		headingColor: {
			type: String,
			default: '',
		},

		copyColor: {
			type: String,
			default: '',
		},
	},

	data() {
		return { desktopCurrent: 0 };
	},

	computed: {
		socialLinks() {
			return [
				{ icon: 'instagram', link: prismicLinkToComponent(this.instagramLink) },
				{ icon: 'facebook', link: prismicLinkToComponent(this.facebookLink) },
			].filter((link) => link.link.element !== 'span');
		},
	},

	methods: { getColorProps },
};
</script>

<style lang="scss" module>
@import '@design';

$desktop-gutter: 0.8rem;

.block {
	// carousel dots have base padding
	padding: size('m++') size('m-') (size('m++') - size('base'));

	@include below('medium') {
		text-align: center;
	}

	@include above('large') {
		padding: size('m++');
	}
}

.mobile {
	@include above('medium') {
		display: none;
	}
}

.carouselWrapper {
	margin: 0 negative('m-');
}

.carouselSlide {
	padding: 0 size('m-');
}

.mobileTop {
	max-width: 26rem;
	margin: 0 auto;
}

.heading {
	@include use-text-style('heading-410');

	margin-bottom: size('xxs');
	white-space: pre-line;

	@include above('large') {
		@include use-text-style('heading-420');

		margin-bottom: size('m++');
	}
}

.subheading {
	@include font-family('secondary');
	@include use-text-style('type-100');

	white-space: pre-line;

	@include above('large') {
		@include use-text-style('heading-180');
	}
}

.mobileImageWrapper {
	padding: size('m++') 0;
}

.mobileQuoteWrapper {
	max-width: 23.5rem;
	margin: 0 auto;
}

.quote {
	@include use-text-style('type-100');

	font-weight: 300;

	@include above('large') {
		@include use-text-style('type-500');
	}

	p {
		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	a {
		text-decoration: underline;
	}
}

.desktop {
	@include below('medium') {
		display: none;
	}
}

.row {
	display: flex;
}

.col {
	flex: 0 0 auto;
	width: 50%;

	&.colInfo {
		display: flex;
		flex-direction: column;
	}
}

.leftTop {
	flex: 1 0 auto;
	max-width: 34rem;
	max-height: percentage(1 / 3);
}

.leftMain {
	display: flex;
	flex: 1 0 auto;
	max-width: 32rem;
	padding-top: $desktop-gutter / 2 + size('s+');
	padding-bottom: size('s+');
}

.leftMainSingle {
	flex: 0 0 auto;
	width: 100%;
	margin-right: -100%;
	visibility: hidden;
	opacity: 0;

	@include transition('fade-hide');

	&.current {
		visibility: visible;
		opacity: 1;
	}
}

.leftBottom {
	flex: 0 0 auto;
}

.socialList {
	display: flex;
}

.socialListElement {
	display: block;
	flex: 0 0 auto;
	margin-right: size('s+');
}

.socialListLink {
	display: block;
}

.socialListIcon {
	display: block;
	width: 2.7rem;
	height: 2.7rem;
	fill: currentColor;
}

.imagesDesktop {
	display: flex;
	flex-wrap: wrap;
	margin: $desktop-gutter / -2;
	list-style: none;
}

.imageWrapperDesktop {
	flex: 0 0 auto;
	width: percentage(1 / 3);
	padding: $desktop-gutter / 2;
}
</style>
