<template>
	<div v-if="productsGrouped" :id="id" :class="$style.productsGrouped">
		<div :class="$style.background">
			<BaseImage
				v-if="productsGrouped.backgroundImageMobile"
				:class="$style.mobileImage"
				:image="productsGrouped.backgroundImageMobile || {}"
				fit
				sizes="100vw"
			/>
			<BaseImage
				v-if="productsGrouped.backgroundImageDesktop"
				:class="$style.desktopImage"
				:images="{ medium: productsGrouped.backgroundImageDesktop || {} }"
				fit
				sizes="100vw"
			/>
		</div>
		<div :class="$style.blockInner">
			<div :class="$style.copy">
				<h2
					v-if="productsGrouped.heading"
					:class="[$style.heading, { [$style.hasDescriptionBelow]: descriptionNormalized }]"
				>
					{{ productsGrouped.heading }}
				</h2>
				<h2 v-if="descriptionNormalized" v-rich-content :class="$style.description" v-html="descriptionNormalized" />
			</div>

			<div :class="$style.wrap">
				<div :class="$style.carouselWrapper">
					<MoleculeCarousel :autoplay="false" :initial-slide="initialSlide" :has-pagination="false">
						<MoleculeCarouselSlide
							v-for="(product, index) in productsNormalized"
							:key="index"
							:slide-index="index"
							:class="$style.column"
						>
							<BlockProductsGroupedSingle :product="product" />
						</MoleculeCarouselSlide>
					</MoleculeCarousel>
				</div>

				<client-only>
					<div v-if="medium" :class="$style.row">
						<div v-for="(product, index) in productsNormalized" :key="index" :class="$style.column">
							<BlockProductsGroupedSingle :product="product" />
						</div>
					</div>
				</client-only>
			</div>
		</div>
	</div>
</template>

<script>
import MoleculeCarousel from '@components/molecule-carousel';
import MoleculeCarouselSlide from '@components/molecule-carousel-slide';
import BlockProductsGroupedSingle from '@components/block-products-grouped-single';

export default {
	components: {
		MoleculeCarousel,
		MoleculeCarouselSlide,
		BlockProductsGroupedSingle,
	},

	props: {
		id: {
			type: String,
			default: 'sales',
		},

		variationId: {
			type: String,
			default: 'global',
		},

		defaultOnMobile: {
			type: String,
			default: '',
		},

		productsNormalized: {
			type: Array,
			default: () => [],
		},

		initialSlide: {
			type: Number,
			default: 0,
		},

		productsGrouped: {
			type: Object,
			default: null,
		},

		medium: {
			type: Boolean,
			default: null,
		},

		descriptionNormalized: {
			type: String,
			default: '',
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.productsGrouped {
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: color('secondary-200');
}

.blockInner {
	position: relative;
	padding: 4.55rem size('s') 0;

	@include above('medium') {
		padding-top: 5.8rem;
	}
}

.copy {
	padding: 0 3rem;
	margin: 0 0 3.9rem;
	text-align: center;

	@include above('medium') {
		margin: 0 0 7.3rem;
	}
}

.heading {
	@include use-text-style('heading-200');

	font-family: font-family('secondary');
	line-height: 1.256;
	white-space: pre-line;

	&.hasDescriptionBelow {
		margin: 0 0 0.4em;
	}

	@include above('medium') {
		@include use-text-style('heading-400');

		line-height: 1.1667;
		white-space: initial;

		&.hasDescriptionBelow {
			margin: 0 0 0.25em;
		}
	}
}

.description {
	@include use-text-style('type-200');

	font-weight: 300;
	line-height: 1.6;
	white-space: pre-line;

	@include above('medium') {
		@include use-text-style('heading-100');

		white-space: normal;
	}
}

.wrap {
	max-width: 144rem - 8rem;
	margin-right: auto;
	margin-left: auto;
}

.carouselWrapper {
	@include above('medium') {
		display: none;
	}
}

.row {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	text-align: center;

	@include above('medium') {
		flex: 0 0 auto;
		width: (100% / 3);
		max-width: 41rem;
	}
}
</style>
