<template>
	<div
		v-if="showWatermark"
		:class="[$style.watermarkImage, $style[`position${watermarkPosition}`]]"
		:style="{
			opacity: opacity,
			width: `${watermarkWidth}px`,
			height: `${watermarkHeight}px`,
		}"
	>
		<BaseImage
			:critical="critical"
			:image="image"
			compression-level="medium"
			:images="{ medium: images }"
			sizes="(min-width: 1440px) 34.2vw, (min-width: 1200px) 50vw, (min-width: 1024px) calc(100vw - 90px), (min-width: 768px) 335px, calc(100vw - 40px)"
		/>
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
	props: {
		critical: {
			type: Boolean,
			default: false,
		},

		image: {
			type: [Object, String],
			default: null,
		},

		images: {
			type: Object,
			default: () => ({}),
		},

		watermarkPosition: {
			type: String,
			required: true,
		},

		watermarkWidth: {
			type: Number,
			required: true,
		},

		watermarkHeight: {
			type: Number,
			required: true,
		},

		watermarkOpacity: {
			type: Number,
			default: 0.5,
		},
	},
	computed: {
		...mapState({ showWatermark: (state) => state.globalData.other.showWatermark }),
		opacity() {
			return this.watermarkOpacity || 0.5;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.watermarkImage {
	position: absolute;
	z-index: 99;
}

.positionTopLeft {
	top: 0;
	left: 0;
}

.positionTopRight {
	top: 0;
	right: 0;
}

.positionTopCenter {
	top: 0;
	right: 0;
	left: 0;
}

.positionBottomLeft {
	bottom: 0;
	left: 0;
}

.positionBottomRight {
	right: 0;
	bottom: 0;
}

.positionBottomCenter {
	right: 0;
	bottom: 0;
	left: 0;
}

.positionCenter {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
</style>
