<template>
	<div v-if="promoBarVariations">
		<GlobalHeaderPromoBar :promo-bar="promoBarVariations" />
	</div>
</template>

<script>
import { mapState } from 'vuex';
import GlobalHeaderPromoBar from '@components/global-header-promo-bar';

export default {
	components: {
		GlobalHeaderPromoBar,
	},

	props: {
		id: {
			type: String,
			default: '',
		},

		variationId: {
			type: String,
			default: 'global',
		},
	},

	computed: {
		...mapState({
			promoBarVariations(state) {
				const { promoBarVariations } = state.globalData;
				return promoBarVariations && promoBarVariations[this.variationId || 'global'];
			},
		}),
	},
};
</script>
