<template>
	<ProviderCustomColors
		v-if="variantOptions"
		:id="id"
		v-bind="getColorProps($props)"
		:default-colors="{ copyColorDesktop: copyColor === 'light' ? '#fff' : null }"
		has-desktop-colors
	>
		<div :class="[$style.layers, ...classesAndStyles.layersClasses]">
			<div :class="[$style.layer, ...classesAndStyles.mediaClasses]">
				<div :class="$style.block">
					<div v-if="mediaTypeMobile === 'image'" :class="[$style.blockImage, $style.__mobile]">
						<BaseImage
							:image="imageMobile"
							:images="{ medium: null }"
							sizes="100vw"
							:critical="critical"
							compression-level="low"
						/>
					</div>

					<div
						v-if="mediaTypeDesktop === 'image'"
						:class="[$style.blockImage, $style.__desktop]"
						:style="classesAndStyles.blockImageDesktopStyles"
					>
						<BaseImage
							:image="null"
							fit
							:images="{ medium: imageDesktop }"
							:sizes="variantOptions.desktopImageSizes || '100vw'"
							:critical="critical"
							compression-level="low"
						/>
					</div>

					<ProviderElementActivityTracker
						v-if="mediaTypeMobile === 'video' || mediaTypeDesktop === 'video'"
						v-slot="{ isFocused }"
					>
						<MoleculeAutoplayVideoPlayPause
							:style="classesAndStyles.blockVideoStyles"
							:class="[
								$style.videoWrapper,
								{
									[$style.belowMediumOnly]: mediaTypeDesktop !== 'video',
									[$style.mediumOnly]: mediaTypeMobile !== 'video',
								},
							]"
							:show-button="isFocused"
							:z-index="2"
						>
							<client-only>
								<video
									v-if="(mediaTypeDesktop === 'video' && medium) || (mediaTypeMobile === 'video' && !medium)"
									v-lazy.video="
										!medium ? videoMobile && videoUrl(videoMobile.url) : videoDesktop && videoUrl(videoDesktop.url)
									"
									:class="$style.video"
									autoplay
									muted
									loop
									playsinline
								/>
							</client-only>
						</MoleculeAutoplayVideoPlayPause>
					</ProviderElementActivityTracker>
				</div>
			</div>

			<div :class="[$style.layer, $style.__content, ...classesAndStyles.contentClasses]">
				<div :class="$style.block">
					<div :class="$style.blockContent" :style="classesAndStyles.contentStyles">
						<div v-if="contentProps.contentTop" :class="$style.blockContentTop">
							<div :class="$style.blockContentMultiple">
								<div :class="$style.blockContentMultipleInner">
									<BlockMultiColumnLayoutContent v-bind="contentProps" variant="top" />
								</div>

								<div :class="$style.blockContentMultipleInner">
									<BlockMultiColumnLayoutContent v-bind="contentProps" variant="bottom" />
								</div>
							</div>
						</div>

						<div v-if="contentProps.contentMiddle" :class="$style.blockContentCenter">
							<BlockMultiColumnLayoutContent v-bind="contentProps" variant="middle" />
						</div>

						<div v-if="contentProps.contentBottom" :class="$style.blockContentBottom">
							<div :class="$style.blockContentMultiple">
								<div :class="$style.blockContentMultipleInner">
									<BlockMultiColumnLayoutContent v-bind="contentProps" variant="bottom" />
								</div>

								<div :class="$style.blockContentMultipleInner">
									<BlockMultiColumnLayoutContent v-bind="contentProps" variant="top" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ProviderCustomColors>
</template>

<script>
import ProviderCustomColors, { getColorProps } from '@components/provider-custom-colors';
import ProviderElementActivityTracker from '@components/provider-element-activity-tracker';
import MoleculeAutoplayVideoPlayPause from '@components/molecule-autoplay-video-play-pause';
import BlockMultiColumnLayoutContent from '@components/block-multi-column-layout-content';
import { mapState } from 'vuex';

const variants = {
	'50% - 50%, image first': {
		media: ['__50'],
		desktopImageSizes: '50vw',
		content: ['__50', '__right'],
	},

	'50% - 50%, content first': {
		media: ['__50', '__right'],
		desktopImageSizes: '50vw',
		content: ['__50'],
	},

	'full image, content 50% left': {
		content: ['__50'],
	},

	'full image, content 50% right': {
		content: ['__50', '__right'],
	},

	'full image, content 25% left': {
		content: ['__25'],
	},

	'full image, content 25% right': {
		content: ['__25', '__right'],
	},

	'25% - 75%, content first': {
		media: ['__75', '__right'],
		desktopImageSizes: '75vw',
		content: ['__25'],
	},

	'75% - 25%, image first': {
		media: ['__75'],
		desktopImageSizes: '75vw',
		content: ['__25', '__right'],
	},
	'Full width copy only': {
		content: ['__full'],
	},
};

export default {
	components: {
		ProviderCustomColors,
		ProviderElementActivityTracker,
		MoleculeAutoplayVideoPlayPause,
		BlockMultiColumnLayoutContent,
	},

	inheritAttrs: false,

	props: {
		id: {
			type: String,
			default: null,
		},

		critical: {
			type: Boolean,
			default: false,
		},

		ctaLink: {
			type: Object,
			default: null,
		},

		ctaText: {
			type: String,
			default: '',
		},

		ctaColor: {
			type: String,
			default: null,
		},

		ctaVariant: {
			type: String,
			default: '',
		},

		ctaHorizontalAlign: {
			type: String,
			default: null,
		},

		ctaVerticalPosition: {
			type: String,
			default: null,
		},

		variantDesktop: { type: String, default: '' },
		variantMobile: {
			type: String,
			default: 'Image first',
		},
		contentTop: { type: [Array, String], default: '' },
		contentMiddle: { type: [Array, String], default: '' },
		contentBottom: { type: [Array, String], default: '' },
		imageMobile: { type: Object, default: null },
		imageDesktop: { type: Object, default: null },
		textAlignDesktop: { type: String, default: '' },
		textAlignMobile: { type: String, default: '' },

		mediaTypeMobile: {
			type: String,
			default: 'image',
		},

		mediaTypeDesktop: {
			type: String,
			default: 'image',
		},

		videoAspectRatioMobile: {
			type: Number,
			default: null,
		},

		videoAspectRatioDesktop: {
			type: Number,
			default: null,
		},

		videoMobile: { type: Object, default: null },
		videoDesktop: { type: Object, default: null },

		contentIcon: {
			type: Object,
			default: null,
		},

		contentIconPosition: {
			type: String,
			default: 'top',
		},

		headingColor: { type: String, default: '' },
		copyColor: { type: String, default: '' },
		headingColorDesktop: { type: String, default: '' },
		copyColorDesktop: { type: String, default: '' },
	},

	computed: {
		...mapState('screen', ['medium']),

		variantOptions() {
			return variants[this.variantDesktop];
		},

		variantOptionsMobile() {
			return {
				'Image first': {
					layers: ['__mobileImageFirst'],
				},
				'Content first': {
					layers: ['__mobileContentFirst'],
				},
			}[this.variantMobile];
		},

		classesAndStyles() {
			const {
				mapClasses,
				variantOptions,
				variantOptionsMobile,
				imageDesktop,
				ctaHorizontalAlign,
				videoAspectRatioMobile,
				videoAspectRatioDesktop,
			} = this;

			if (!variantOptions) return;

			return {
				layersClasses: mapClasses(variantOptionsMobile.layers),
				mediaClasses: mapClasses(variantOptions.media),
				contentClasses: mapClasses(variantOptions.content),
				buttonAlign: mapClasses([ctaHorizontalAlign]),
				blockImageDesktopStyles: {
					paddingBottom: imageDesktop && imageDesktop.url ? `${(imageDesktop.height / imageDesktop.width) * 100}%` : '',
				},
				blockVideoStyles: {
					'--video-padding-mobile': videoAspectRatioMobile ? `${100 / videoAspectRatioMobile}%` : '100%',
					'--video-padding-desktop': videoAspectRatioDesktop ? `${100 / videoAspectRatioDesktop}%` : '56.25%',
				},
				contentStyles: {
					'text-align': this.textAlignDesktop,
					'--text-align-mobile': this.textAlignMobile,
				},
			};
		},

		contentProps() {
			return {
				ctaLink: this.ctaLink,
				ctaText: this.ctaText,
				ctaVariant: this.ctaVariant,
				ctaVerticalPosition: this.ctaVerticalPosition,
				contentTop: this.contentTop,
				contentMiddle: this.contentMiddle,
				contentBottom: this.contentBottom,
				textAlignDesktop: this.textAlignDesktop,
				contentIcon: this.contentIcon,
				contentIconPosition: this.contentIconPosition,
				classesAndStyles: this.classesAndStyles,
			};
		},
	},

	methods: {
		getColorProps,

		mapClasses(classes = []) {
			const { $style } = this;
			return classes.map((cl) => $style[cl]);
		},

		videoUrl(url) {
			const videoUrl = decodeURIComponent(url);
			if (videoUrl.startsWith('https://molekule.cdn.prismic.io/')) {
				const videoFile = videoUrl.split('/');
				return '/prismic-images/molekule/' + videoFile[videoFile.length - 1];
			}
			return url;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

@function vw($rem) {
	@return $rem / 144rem * 100vw;
}

.layers {
	@include above('medium') {
		display: flex;
	}

	&.__mobileContentFirst {
		@include below('medium') {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}

.layer {
	@include above('medium') {
		display: flex;
		flex: 0 0 auto;
		width: 100%;
		margin-right: -100%;
		pointer-events: none;
	}

	&.__content {
		position: relative;
		z-index: 1;
	}

	&.__right {
		@include above('medium') {
			justify-content: flex-end;
		}
	}
}

.block {
	@include above('medium') {
		display: flex;
		flex: 0 0 auto;
		width: 100%;
		pointer-events: auto;
	}

	.layer.__25 & {
		@include above('medium') {
			width: 25%;
		}
	}

	.layer.__50 & {
		@include above('medium') {
			width: 50%;
		}
	}

	.layer.__75 & {
		@include above('medium') {
			width: 75%;
		}
	}
	.layer.__full & {
		width: 100%;
		max-width: 1024px;
		padding: size('m') size('s');
		margin: 0 auto;

		@include above('medium') {
			padding: size('m') size('l');
		}
	}
}

.blockImage {
	flex: 0 0 auto;
	width: 100%;

	&.__mobile {
		@include above('medium') {
			display: none;
		}
	}

	&.__desktop {
		position: relative;

		@include below('medium') {
			display: none;
		}
	}
}

.videoWrapper {
	position: relative;
	width: 100%;
	padding: var(--video-padding-mobile) 0 0;

	@include above('medium') {
		padding: var(--video-padding-desktop) 0 0;
	}
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blockContent {
	@include below('medium') {
		padding: size('s++') size('m+');
		text-align: var(--text-align-mobile) !important;
	}

	@include above('medium') {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	.layer.__50 & {
		@include above('medium') {
			max-width: calc(32rem + #{vw(5rem) * 2});
			padding-right: vw(5rem);
			padding-left: vw(5rem);
			margin-right: auto;
			margin-left: auto;
		}
	}

	.layer.__25 & {
		@include above('medium') {
			padding-left: vw(5rem);
		}
	}

	.layer.__25.__right & {
		@include above('medium') {
			padding-right: vw(5rem);
			padding-left: 0;
		}
	}
}

.blockContentTop {
	@include above('medium') {
		padding-top: vw(5rem);
	}
}

.blockContentMultiple {
	display: flex;

	.blockContentBottom & {
		align-items: flex-end;
	}
}

.blockContentMultipleInner {
	flex: 0 0 auto;
	width: 100%;
	margin-right: -100%;

	&:not(:first-child) {
		visibility: hidden;

		@include below('medium') {
			display: none;
		}
	}
}

.blockContentCenter {
	@include above('medium') {
		padding: vw(3rem) 0;
	}

	.layer.__full & {
		display: none;
	}
}

.blockContentBottom {
	@include above('medium') {
		padding-bottom: vw(5rem);
	}

	.layer.__full & {
		display: none;
	}
}

.belowMediumOnly {
	@include above('medium') {
		display: none;
	}
}

.mediumOnly {
	@include below('medium') {
		display: none;
	}
}
</style>
