<template>
	<div :id="id" :class="$style.block">
		<div :class="$style.columns">
			<div :class="[$style.col, $style.colImageDesktop]">
				<div :class="$style.imageDesktopWrapper">
					<BaseImage
						:image="null"
						:images="{ medium: imageDesktop }"
						sizes="(min-width: 1200px) 520px, 36vw"
						compression-level="medium"
					/>
					<BlockWatermark
						v-if="watermarkImageDesktop"
						:image="watermarkImageMobile"
						:images="watermarkImageDesktop"
						:watermark-height="watermarkHeight || 50"
						:watermark-width="watermarkWidth || 100"
						:watermark-opacity="watermarkOpacity"
						:watermark-position="watermarkPosition || 'Center'"
					/>
				</div>
			</div>

			<div :class="[$style.col, $style.colMain]">
				<div :class="$style.main">
					<h2 :class="[$style.mainName, { [$style.noMarginBottom]: product.discount }]">{{ name }}</h2>
					<p v-if="product.discount" :class="$style.discount">
						{{ `Save ${priceMoney(product.discount, currencySymbol)}` }}
					</p>

					<div v-if="powerreviewsPageId" :class="$style.mainReviewsWrapper">
						<MoleculeReviewInfo
							:link="reviewsLink && reviewsLink.url"
							:page-id="powerreviewsPageId"
							inherit-text-align
						/>
					</div>

					<div v-if="$hasRichText(description)" :class="$style.mainDescription" v-html="description" />

					<div :class="$style.mainImageMobile">
						<BaseImage
							:image="imageMobile"
							:images="{ medium: null }"
							sizes="calc(100vw - 80px)"
							compression-level="medium"
						/>
						<BlockWatermark
							v-if="watermarkImageMobile"
							:image="watermarkImageMobile"
							:images="watermarkImageDesktop"
							:watermark-height="watermarkHeight || 50"
							:watermark-width="watermarkWidth || 100"
							:watermark-opacity="watermarkOpacity"
							:watermark-position="watermarkPosition || 'Center'"
						/>
					</div>

					<div
						v-if="product.productOrBundle"
						:class="[$style.mainPrice, { [$style.hasStrikeThrough]: product.discount }]"
					>
						<BlockAffirm
							v-if="product.productOrBundle.currentPrice"
							page-type="landing"
							:price="product.productOrBundle.currentPrice"
							:class="$style.affirm"
							@update="($event) => $emit('affirm-updated', $event)"
						/><span>
							<span v-if="product.discount">
								<span class="u-visuallyhidden">regular price</span>
								<span :class="$style.listPriceWrapper">
									<span :class="$style.listPrice">
										{{ priceMoney(product.productOrBundle.listPrice, currencySymbol) }}
									</span>
								</span>
								<span class="u-visuallyhidden">sale price</span>
							</span>
							{{ priceMoney(product.productOrBundle.currentPrice, currencySymbol) }}
						</span>
					</div>

					<div :class="$style.mainBottom">
						<div :class="$style.mainBottomButton">
							<div v-if="product.ctaLink && product.ctaLink.url" :class="$style.mainCtaDesktop">
								<BaseButton
									size="medium"
									appearance="primary"
									:smart="product.ctaLink.url"
									:target="product.ctaLink.target"
								>
									{{ ctaText }}
								</BaseButton>
							</div>
						</div>

						<div :class="$style.mainBottomAffirm">
							<div ref="affirmContainer" :class="$style.affirmWrapper" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MoleculeReviewInfo from '@components/molecule-review-info';
import BlockAffirm from '@components/block-affirm';
import BlockWatermark from '@components/block-watermark';

export default {
	components: {
		MoleculeReviewInfo,
		BlockAffirm,
		BlockWatermark,
	},

	props: {
		id: {
			type: String,
			default: null,
		},

		name: {
			type: String,
			default: '',
		},

		sku: {
			type: String,
			default: '',
		},

		discount: {
			type: Number,
			default: 0,
		},

		powerreviewsPageId: {
			type: String,
			default: '',
		},

		reviewsLink: {
			type: Object,
			default: null,
		},

		description: {
			type: [String, Array],
			default: '',
		},

		ctaText: {
			type: String,
			default: '',
		},

		ctaLink: {
			type: Object,
			default: null,
		},

		imageDesktop: {
			type: Object,
			default: null,
		},

		imageMobile: {
			type: Object,
			default: null,
		},

		product: {
			type: Object,
			required: true,
		},

		priceMoney: {
			type: Function,
			required: true,
		},

		currencySymbol: {
			type: String,
			required: true,
		},

		watermarkImageDesktop: {
			type: Object,
			default: null,
		},

		watermarkImageMobile: {
			type: Object,
			default: null,
		},

		watermarkPosition: {
			type: String,
			default: 'Center',
		},

		watermarkWidth: {
			type: Number,
			default: 100,
		},

		watermarkHeight: {
			type: Number,
			default: 50,
		},

		watermarkOpacity: {
			type: Number,
			default: 0.5,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	@include below('medium') {
		text-align: center;
	}
}

.columns {
	@include above('medium') {
		display: flex;
	}
}

.col {
	@include above('medium') {
		flex: 0 0 auto;
		width: 50%;
	}

	&.colImageDesktop {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 8rem 7%;
		background-color: color('primary-600');

		@include below('medium') {
			display: none;
		}
	}

	&.colMain {
		@include above('medium') {
			display: flex;
			padding: 5rem 7%;
		}

		@include above('xlarge') {
			padding: 10rem 7%;
		}
	}
}

.imageDesktopWrapper {
	position: relative;
	flex: 0 0 auto;
	width: 100%;
	max-width: 52rem;
}

.main {
	padding: size('m+');
	color: color('primary-300');

	@include above('medium') {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		// justify-content: space-between;
		width: 100%;
		max-width: 57rem;
		padding: 0;
	}
}

.mainName {
	@include font-family('secondary');
	@include use-text-style('heading-300');

	margin-bottom: size('s+');

	@include above('medium') {
		@include use-text-style('heading-400');

		flex-grow: 1;
		margin-bottom: size('s');
	}

	&.noMarginBottom {
		margin-bottom: 0;
	}
}

.discount {
	@include use-text-style('type-500');

	margin: 1rem 0 2.5rem;
	font-weight: 300;
	color: color('primary');

	@include above('medium') {
		padding: 0;
	}
}

.mainReviewsWrapper {
	margin-bottom: size('xs');

	@include below('medium') {
		display: flex;
		justify-content: center;
	}

	@include above('medium') {
		flex-grow: 2;
		order: 3;
		margin-bottom: size('s');
	}
}

.mainDescription {
	@include use-text-style('type-500');

	max-width: 31rem;
	margin: 0 auto 4rem;
	font-weight: 300;

	@include above('medium') {
		flex-grow: 1;
		order: 2;
		margin: 0 0 size('s');
	}

	@include above('large') {
		font-size: 2.1rem;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	a {
		color: inherit;
		text-decoration: underline;
	}
}

.mainImageMobile {
	position: relative;
	margin-bottom: size('m+');

	@include above('medium') {
		display: none;
	}
}

.mainPrice {
	@include use-text-style('type-500');

	margin-bottom: size('xs');
	font-weight: 300;

	@include above('medium') {
		@include use-text-style('heading-180');

		flex-grow: 2;
		order: 4;
		margin-bottom: size('s');
	}

	&.hasStrikeThrough {
		@include below('medium') {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.listPriceWrapper {
	color: color('red');
	text-decoration: line-through;
}

.listPrice {
	color: color('primary-200');
}

.affirm {
	display: inline;

	&::after {
		content: '* |';
	}

	.hasStrikeThrough & {
		@include below('medium') {
			&::after {
				content: '*';
			}
		}
	}
}

.mainBottom {
	@include above('medium') {
		order: 5;
	}

	@include above('xlarge') {
		display: flex;
		align-items: center;
	}
}

.mainBottomAffirm {
	@include above('xlarge') {
		flex: 1 1 auto;
		min-width: 0;
		padding-right: size('s');
	}
}

.mainBottomButton {
	position: relative;

	@include below('xlarge') {
		margin-bottom: size('s');
	}

	@include above('xlarge') {
		flex: 0 0 auto;
		order: 2;
	}

	@include above('medium') {
		position: absolute;
		right: size('s++');
	}
}

.affirmWrapper {
	font-size: 1.2rem;

	@include above('medium') {
		font-size: 1.4rem;
	}

	:global(.affirm-pmt-bottom) {
		font-weight: 300;

		&::before {
			content: '*';
		}
	}

	:global(.affirm-modal-trigger) {
		font-weight: 400;
	}
}
</style>
