<template>
	<section :class="$style.sheerID" class="u-block-spacing u-block-no-bottom-spacing">
		<form :id="id" :class="$style.segmentForm">
			<div v-if="formCopy" v-html="formCopy" />
			<h2 v-if="formHeader">{{ formHeader }}</h2>
			<ul>
				<li v-for="(item, itemIndex) in items" :key="itemIndex">
					<label :for="`segment${itemIndex}`" :class="$style.label">
						<input
							:id="`segment${itemIndex}`"
							v-model="segmentId"
							type="radio"
							name="segment"
							:class="$style.radio"
							:value="item.segmentId"
						/>
						<span :class="$style.radioBig">
							<span :class="$style.radioFill" />
						</span>
						<span>{{ item.labelCopy }}</span>
					</label>
				</li>
			</ul>

			<div :class="$style.ctaSection">
				<BaseButton
					:class="[$style.sheerCTA, { [$style.isDisabled]: !segmentId }]"
					:tabindex="!segmentId ? '-1' : '0'"
					data-sheerid-iframe="true"
					:href="href"
					appearance="primary"
					size="medium"
					:is-working="isWorking"
					@click="load"
				>
					{{ ctaCopy }}
				</BaseButton>
			</div>
			<div v-rich-content :class="$style.disclaimer" v-html="disclaimer" />
		</form>
	</section>
</template>

<script>
import loadSheerId from '@/utils/sheerid';

export default {
	props: {
		id: {
			type: String,
			default: null,
		},
		formHeader: {
			type: String,
			default: '',
		},
		formCopy: {
			type: [String, Array],
			default: '',
		},

		ctaCopy: {
			type: String,
			default: 'Submit',
		},

		disclaimer: {
			type: [String, Array],
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},
	},

	data: () => ({ segmentId: '', isWorking: false }),

	computed: {
		href() {
			return `https://services.sheerid.com/verify/${this.segmentId + '/'}`;
		},
	},

	mounted() {
		loadSheerId();
	},

	methods: {
		async load(buttonText) {
			this.isWorking = true;
			const sleep = (time) => new Promise((resolve) => setTimeout(resolve, time));
			await sleep(1500);
			this.isWorking = false;
			// this is due to logic in sheerid js https://services.sheerid.com/jsapi/modules/iframe-1.2.js
			// that adds position: absolute; only on iOS devices
			let checks = 0;
			let el;
			do {
				if (checks > 0) await sleep(1000);
				el = document.querySelector('#sheerid-lightbox-wrap');
				checks += 1;
			} while (checks < 10 && !el);
			document.querySelector('#sheerid-lightbox-wrap').classList.remove('fade');
			if (el && window.getComputedStyle(el).position === 'absolute') {
				window.scrollTo(0, 0);
			}
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.sheerID {
	padding-bottom: 3rem;
}

.segmentForm {
	@include use-text-style('type-200');

	padding: 0 size('m-');
	margin: 0 auto;

	p {
		max-width: 54rem;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5;
		text-align: center;
	}

	h2 {
		@include use-text-style('heading-150');

		max-width: 54rem;
		margin: 3rem auto;
		font-weight: 300;
		text-align: center;
	}

	ul {
		max-width: 24rem;
		margin: 0 auto 3rem;
		list-style: none;

		@include above('medium') {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			max-width: 96rem;
			margin: 0 auto 3rem;
		}
	}

	li {
		display: flex;
		align-items: flex-start;
		margin: 0 0 2rem;
		cursor: pointer;

		@include above('medium') {
			flex: 0 1 auto;

			&:not(:last-child) {
				margin-right: 2.6rem;
			}
		}
	}

	.disclaimer {
		margin: 2rem 0 5rem;
		font-size: 1.1rem;
		line-height: 1.36364;
		text-align: center;

		p {
			font-weight: 700;
		}
	}
	.ctaSection {
		margin-bottom: 5rem;
		text-align: center;

		.sheerCTA {
			@include use-text-style('type-100');

			&.isDisabled {
				color: color('primary-200');
				pointer-events: none;
				background-color: color('button-disabled');
				border-color: color('button-disabled');
			}
		}
	}
}

.label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.radio {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0 !important;
}

.radioBig {
	position: relative;
	display: block;
	flex: 0 0 auto;
	width: 2.6rem;
	height: 2.6rem;
	margin: 0 3.2rem 0 0;
	border: 1px solid color('primary');
	border-radius: 50%;

	@include above('medium') {
		margin: 0 2.6rem 0 0;
	}
}

.radio:checked ~ .radioBig {
	background: color('primary');
}

.radioFill {
	position: absolute;
	top: 0.5rem;
	left: 0.85rem;
	width: 0.7rem;
	height: 1.15rem;
	border: 2px solid color('white');
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
}
</style>
