<template>
	<div>
		<p :class="$style.testimonial">“{{ slide.testimonial }}”</p>
		<div v-if="slide.author" :class="$style.author">{{ slide.author }}</div>
		<div v-if="slide.logo && Object.keys(slide.logo).length" :class="$style.logoWrapper">
			<BaseImage :image="slide.logo" fit contain compression-level="high" sizes="" />
		</div>
	</div>
</template>

<script>
export default {
	props: {
		slide: {
			type: Object,
			default: null,
		},

		setTimer: {
			type: Boolean,
			default: false,
		},
	},

	data: () => ({ fadeTimeout: null }),

	mounted() {
		if (this.setTimer) {
			this.activeTimer();
		}
	},

	methods: {
		activeTimer() {
			this.fadeTimeout = setTimeout(() => {
				this.$emit('ended');
			}, this.slide.autoIntervalDelay || 1000);
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.testimonial {
	@include use-text-style('heading-500');

	font-family: font-family('secondary');
	line-height: 1.1765;

	@include above('medium') {
		@include use-text-style('heading-900');
	}
}

.author {
	@include use-text-style('type-400');

	margin: 4.3rem 0 0;
	font-weight: 300;

	@include above('medium') {
		@include use-text-style('type-500');

		margin: 3.9rem 0 0;
	}
}

.logoWrapper {
	position: relative;
	height: 7.5rem;
	margin: 3.75rem 0 0;

	@include above('medium') {
		display: none;
	}
}
</style>
