<template>
	<ProviderCustomColors
		:id="id"
		class="u-block-spacing u-wrap"
		v-bind="getColorProps($props)"
		:default-colors="{ copyColor: '#535354' }"
		:class="[
			$style.block,
			{
				[$style.mobileContentFirst]: layoutMobile == 'Content first',
				[$style.desktopContentFirst]: layoutDesktop === 'Content first',
				[$style.imageDesktopBigger]: hasBiggerImage,
				[$style.backgroudGray]: backgroundColor === 'Gray',
			},
		]"
	>
		<h2 v-if="heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ heading }}</h2>

		<p v-if="description" class="u-subheading u-subheading--pre-line" :class="$style.description">{{ description }}</p>

		<div :class="$style.row">
			<div :class="$style.image">
				<div :class="$style.imageInner">
					<template v-if="video && video.url">
						<client-only>
							<ProviderElementActivityTracker v-slot="{ isFocused }">
								<MoleculeAutoplayVideoPlayPause v-if="medium" :show-button="isFocused">
									<video v-lazy.video="videoUrl(video.url)" autoplay muted loop :class="$style.video"></video>
								</MoleculeAutoplayVideoPlayPause>
							</ProviderElementActivityTracker>
						</client-only>

						<div :class="$style.videoImageWrapper">
							<BaseImage
								:image="mobileImage"
								:images="{ medium: null }"
								sizes="calc(100vw - 40px)"
								compression-level="medium"
							/>
						</div>
					</template>

					<figure v-else :class="$style.figure">
						<BaseImage
							:image="mobileImage"
							:images="{ medium: desktopImage }"
							:sizes="`(min-width: 1200px) ${hasBiggerImage ? '800' : '686'}px, (min-width: 1024px) ${
								hasBiggerImage ? '61' : '52.3'
							}vw, (min-width: 768px) 45vw, calc(100vw - 40px)`"
							compression-level="medium"
						/>
						<figcaption v-if="imageCaption" :class="$style.figureCaption">{{ imageCaption }}</figcaption>
					</figure>

					<client-only>
						<button v-if="hasVideoOverlay" type="button" :class="$style.playButton" @click="openVideoModal">
							<BaseIcon name="play" title="Play Video" width="24" height="24" />
						</button>
					</client-only>
				</div>
			</div>

			<div :class="$style.content">
				<div :class="$style.contentInner">
					<div v-if="hasContent.main" v-rich-content :class="$style.contentWysiwyg" v-html="content" />
					<hr v-if="hasContent.both" :class="$style.contentSeparator" />
					<div v-if="hasContent.secondary" v-rich-content :class="$style.contentWysiwyg" v-html="contentSecondary" />

					<div v-if="ctaLink && ctaLink.url && ctaText" :class="$style.buttonWrapper">
						<BaseButton :smart="ctaLink.url" size="medium" appearance="primary">
							{{ ctaText }}
						</BaseButton>
					</div>

					<div v-if="appButtons === 'Yes'" :class="$style.appButtons">
						<div :class="$style.appImage">
							<BaseImage :image="require('~/assets/images/apple.svg')" alt="apple" :aspect="1" />
						</div>
						<div :class="$style.appImage">
							<BaseImage :image="require('~/assets/images/android.svg')" alt="android" :aspect="1" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<client-only>
			<GlobalModal
				v-if="hasVideoOverlay && isVideoModalOpen"
				appearance="video"
				:video="videoOverlay.html"
				:use-nocookie-url="useNocookieUrl"
				:player-parameters="playerParameters"
				:video-tracking-name="videoTrackingName"
				@close="closeVideoModal"
			/>
		</client-only>
	</ProviderCustomColors>
</template>

<script>
import ProviderCustomColors, { getColorProps } from '@components/provider-custom-colors';
import ProviderElementActivityTracker from '@components/provider-element-activity-tracker';
import MoleculeAutoplayVideoPlayPause from '@components/molecule-autoplay-video-play-pause';
import GlobalModal from '@components/global-modal';
import { mapState } from 'vuex';

export default {
	components: {
		ProviderCustomColors,
		ProviderElementActivityTracker,
		MoleculeAutoplayVideoPlayPause,
		GlobalModal,
	},

	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		description: {
			type: String,
			default: '',
		},

		content: {
			type: String,
			default: '',
		},

		contentSecondary: {
			type: [String, Array],
			default: '',
		},

		ctaLink: {
			type: Object,
			default: null,
		},

		ctaText: {
			type: String,
			default: '',
		},

		mobileImage: {
			type: Object,
			default: () => ({}),
		},

		desktopImage: {
			type: Object,
			default: () => ({}),
		},

		imageSizeDesktop: {
			type: String,
			default: 'Default',
		},

		imageCaption: {
			type: String,
			default: '',
		},

		backgroundColor: {
			type: String,
			default: 'Green',
		},

		layoutDesktop: {
			type: String,
			default: 'Image first',
		},

		layoutMobile: {
			type: String,
			default: 'Image first',
		},

		appButtons: {
			type: String,
			default: 'No',
		},

		video: {
			type: Object,
			default: null,
		},

		videoOverlay: {
			type: Object,
			default: () => ({}),
		},

		useNocookieUrl: {
			type: Boolean,
			default: false,
		},

		playerParameters: {
			type: String,
			default: '',
		},

		headingColor: {
			type: String,
			default: '',
		},

		copyColor: {
			type: String,
			default: '',
		},
	},

	data() {
		return { isVideoModalOpen: false };
	},

	computed: {
		...mapState('screen', ['medium']),

		hasContent() {
			const { content, contentSecondary } = this;
			const main = Boolean(content && typeof content === 'string' && content !== '<p></p>');
			const secondary = Boolean(
				contentSecondary && typeof contentSecondary === 'string' && contentSecondary !== '<p></p>'
			);

			return { main, secondary, both: main && secondary };
		},

		videoTrackingName() {
			return 'TODO';
		},

		hasVideoOverlay() {
			if (process.server) return false;
			return Boolean(this.videoOverlay && this.videoOverlay.html);
		},

		hasBiggerImage() {
			return this.imageSizeDesktop === 'Bigger';
		},
	},

	methods: {
		getColorProps,

		openVideoModal() {
			this.isVideoModalOpen = true;
		},

		closeVideoModal() {
			this.isVideoModalOpen = false;
		},

		videoUrl(url) {
			const videoUrl = decodeURIComponent(url);
			if (videoUrl.startsWith('https://molekule.cdn.prismic.io/')) {
				const videoFile = videoUrl.split('/');
				return '/prismic-images/molekule/' + videoFile[videoFile.length - 1];
			}
			return url;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

$medium-overlap: 8rem;
$large-overlap: 20rem;

.heading {
	max-width: 87rem;
	padding: 0 size('s');
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.description {
	padding: 0 size('s');
}

.row {
	display: flex;
	flex-direction: column;

	@include above('medium') {
		flex-direction: row;
	}
}

.image {
	position: relative;
	align-self: center;
	width: 100%;
	padding: 0 size('s');

	@include above('medium') {
		position: relative;
		flex: 0 0 auto;
		width: 45%;
		padding: size('m') 0;
		margin-right: -$medium-overlap;
	}

	@include above('large') {
		width: 52.3%;
		margin-right: -$large-overlap;
	}

	.desktopContentFirst & {
		@include above('medium') {
			margin-right: 0;
			margin-left: -$medium-overlap;
		}

		@include above('large') {
			margin-left: -$large-overlap;
		}
	}

	.imageDesktopBigger & {
		@include above('large') {
			width: 61%;
			padding-top: 0;
			padding-bottom: 0;
			margin-right: -$large-overlap;
		}
	}

	&::before {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 50%;
		content: '';
		background-color: color('secondary-200');

		.backgroudGray & {
			background-color: color('primary-600');
		}

		.mobileContentFirst & {
			top: 0;
		}

		@include above('medium') {
			display: none;
		}
	}
}

.imageInner {
	position: relative;
}

.videoImageWrapper {
	@include above('medium') {
		display: none;
	}
}

.video {
	display: block;
	width: 100%;
	height: auto;
}

.figure {
	position: relative;
	display: block;
	width: 100%;
}

.figureCaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem size('s');
	font-weight: 700;
	color: color('white');
	white-space: pre-line;
	background-color: rgba(color('black'), 0.5);

	@include use-text-style('type');
	@include use-text-style('type-100');

	@include above('large') {
		padding: 0.5rem size('m');
	}
}

.playButton {
	position: absolute;
	top: calc(50% - 2.5rem);
	left: calc(50% - 2.5rem);
	width: 5rem;
	height: 5rem;
	background-color: color('white');
	border-radius: 50%;
}

.content {
	width: 100%;
	padding: size('m') size('s') size('m');
	background-color: color('secondary-200');

	@include above('medium') {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 82rem;
		padding: size('l') $medium-overlap + size('s') size('l') size('s');
		padding-right: size('s');
		padding-left: $medium-overlap + size('s');
	}

	@include above('large') {
		padding-right: size('l');
		padding-left: $large-overlap + size('l');
	}

	.backgroudGray & {
		background-color: color('primary-600');
	}

	.mobileContentFirst & {
		@include below('medium') {
			order: -1;
		}
	}

	.desktopContentFirst & {
		@include above('medium') {
			order: -1;
			padding: size('l') $medium-overlap + size('s') size('l') size('s');
		}

		@include above('large') {
			padding-right: $large-overlap + size('l');
			padding-left: size('l');
		}
	}

	h3 {
		@include use-text-style('heading-100');

		margin-bottom: size('s');
		font-weight: 300;

		@include above('xlarge') {
			@include use-text-style('heading-300');
		}
	}

	p,
	ol {
		@include use-text-style('type');
		@include use-text-style('type-100');

		&:not(:last-child) {
			margin-bottom: size('s');
		}
	}

	/* stylelint-disable-next-line no-descending-specificity */
	ol {
		padding-left: 5rem;
		list-style: none;
		counter-reset: counter;

		li {
			position: relative;
			margin: 2.4rem 0;
			counter-increment: counter;

			&::before {
				position: absolute;
				top: -0.6rem;
				left: -5rem;
				content: '0' counter(counter);

				@include font-family('secondary');
				@include use-text-style('heading-100');
			}
		}
	}
}

.contentSeparator {
	max-width: 29rem;
	margin: size('s') auto size('s') 0;
	border-top: 1px solid color('border');
}

.contentInner {
	width: 100%;
	max-width: 44rem;
	margin: 0 auto;
}

.contentWysiwyg {
	a {
		color: inherit;
	}
}

.buttonWrapper {
	margin-top: size('s');
	text-align: center;

	@include above('medium') {
		text-align: left;
	}
}

.appButtons {
	display: flex;
	flex-wrap: wrap;
	margin-top: size('s');
}

.appImage {
	flex: 0 0 auto;
	width: 6rem;

	&:not(:last-child) {
		margin-right: size('s');
	}
}
</style>
