<template>
	<div :id="id" :class="$style.container">
		<div
			v-for="(slide, index) in slidesReady"
			:key="index"
			:class="[$style.slide, { [$style.isActive]: index === activeSlide, [$style.wasActive]: index === previousSlide }]"
		>
			<div :class="$style.image">
				<BaseImage
					fit
					:image="addImagesToSlides[index] ? slide.mobileImage : null"
					:images="{ medium: addImagesToSlides[index] ? slide.desktopImage : null }"
					:critical="critical && index === activeSlide"
					sizes="100vw"
					compression-level="medium"
				/>
			</div>

			<div :class="$style.content">
				<component
					:is="slide.headingElement || 'h2'"
					v-if="slide.heading"
					class="u-heading u-heading--pre-line"
					:class="$style.heading"
					>{{ slide.heading }}</component
				>

				<p v-if="slide.subheading" class="u-subheading" :class="$style.subheading">{{ slide.subheading }}</p>
				<div :class="$style.spacingAdjust"></div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		mobileImage: {
			type: Object,
			default: () => ({}),
		},

		desktopImage: {
			type: Object,
			default: () => ({}),
		},

		items: {
			type: Array,
			default: () => [],
		},

		transitionTime: {
			type: Number,
			default: 0,
		},

		critical: {
			type: Boolean,
			default: false,
		},
	},

	data() {
		return { activeSlide: 0, previousSlide: -1, maxSlide: 0 };
	},

	computed: {
		slides() {
			const { items, heading, mobileImage, desktopImage } = this;
			if (items.length === 0 && (heading || mobileImage || desktopImage)) {
				return [{ heading, subheading: '', mobileImage, desktopImage }];
			}

			return items.map((item) => ({
				heading: item.heading,
				headingElement: item.headingElement,
				subheading: item.subheading,
				desktopImage: item.desktopImage,
				mobileImage: item.mobileImage,
			}));
		},

		slidesMinimumThree() {
			const { slides } = this;
			if (slides.length === 2) {
				return [...slides, ...slides];
			}
			return slides;
		},

		slidesReady() {
			return this.slidesMinimumThree;
		},

		addImagesToSlides() {
			const { slidesReady, maxSlide } = this;

			return slidesReady.map((_, index) => index <= maxSlide || index - 1 === maxSlide || index - 2 === maxSlide);
		},
	},

	mounted() {
		if (this.slidesReady.length > 1) {
			this.slidesInterval = setInterval(this.nextSlide, (this.transitionTime || 5) * 1000);
		}
	},

	beforeDestroy() {
		if (this.slidesInterval) {
			clearInterval(this.slidesInterval);
		}
	},

	methods: {
		nextSlide() {
			this.previousSlide = this.activeSlide;
			this.activeSlide = (this.activeSlide + 1) % this.slidesReady.length;
			this.maxSlide = Math.max(this.maxSlide, this.activeSlide);
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.container {
	position: relative;
	height: 52rem;
	padding: 0 size('s');
	overflow: hidden;
	background-color: color('black');

	@include above('large') {
		height: 54em;
	}
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transform: translateX(100%);

	@include transition('slide');

	&.isActive {
		z-index: 1;
		transform: translateX(0);
	}

	&.wasActive {
		z-index: 1;
		transform: translateX(-100%);
	}
}

.image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-color: rgba(color('black'), 0.3);
	}
}

.content {
	position: relative;
	z-index: 1;
	padding: 0 3rem;
	color: color('white');
	text-align: center;
}

.heading {
	display: block;
	font-weight: 400;
}

.subheading {
	color: color('white');
}

.spacingAdjust {
	margin-top: -6rem;
}
</style>
