<template>
	<div
		:class="{
			[$style.hasFloatingLabel]: hasFloatingLabel,
			[$style.isFloating]: isFloating,
		}"
	>
		<!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
		<label v-if="label" :for="labelFor" :class="{ 'u-visuallyhidden': labelHidden && !hasFloatingLabel }">
			{{ label }}
		</label>
		<div v-if="placeholder && hasFloatingLabel" :class="$style.pseudoPlaceholder" aria-hidden="true">
			{{ placeholder }}
		</div>
		<input
			:id="labelFor"
			:value="value"
			:placeholder="!hasFloatingLabel && placeholder"
			v-bind="$attrs"
			@input="updateValue"
			@focus="handleFocus"
			@blur="handleBlur"
		/>
	</div>
</template>

<script>
export default {
	inheritAttrs: false,

	props: {
		label: {
			type: String,
			default: '',
		},

		labelFor: {
			type: String,
			default: null,
		},

		labelHidden: {
			type: Boolean,
			default: false,
		},

		placeholder: {
			type: String,
			default: '',
		},

		value: {
			type: [String, Number],
			default: null,
		},

		hasFloatingLabel: {
			type: Boolean,
			default: false,
		},

		phoneMask: {
			type: Boolean,
			default: false,
		},
	},

	data() {
		return {
			isFloating: Boolean(this.value),
		};
	},

	methods: {
		updateValue(event) {
			event.target.value = this.phoneMask
				? this.formatPhoneNumber(event.target.value.replace(/[^0-9]+/g, ''))
				: event.target.value;
			this.$emit('input', event.target.value);
		},

		handleFocus() {
			this.isFloating = true;
		},

		handleBlur(event) {
			if (event.target.value === '') {
				this.isFloating = false;
			}
		},
		formatPhoneNumber(val) {
			const phoneFormat = val
				.replace(/(\d{1,3})(\d{1,3})?(\d{1,4})?/g, function (txt, f, s, t) {
					if (t) {
						return `${f}-${s}-${t}`;
					} else if (s) {
						return `${f}-${s}`;
					} else if (f) {
						return `${f}`;
					}
				})
				.substring(0, 12);
			return phoneFormat;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.hasFloatingLabel {
	position: relative;
	z-index: 0;

	label {
		@include use-text-style('type-100');

		position: absolute;
		top: 1rem;
		left: 0.5rem;
		z-index: -1;
		transition: top time('fast') ease('out');
	}

	&.isFloating label {
		top: -2.25rem;
	}

	input {
		background: color('white');
	}
}

.pseudoPlaceholder {
	@include use-text-style('type-200');

	position: absolute;
	top: 1.7rem;
	left: 2rem;
	z-index: 3;
	line-height: 1;
	color: color('primary');
	pointer-events: none;
	opacity: 0.6;
	transition: opacity 0.1s ease-in-out;

	.isFloating & {
		opacity: 0;
	}
}
</style>
