<template>
	<div>
		<label v-if="label" :for="labelFor" :class="{ 'u-visuallyhidden': labelHidden }">{{ label }}</label>
		<textarea :id="labelFor" :value="value" v-bind="$attrs" @input="updateValue" />
	</div>
</template>

<script>
export default {
	inheritAttrs: false,

	props: {
		label: {
			type: String,
			default: '',
		},

		labelFor: {
			type: String,
			default: null,
		},

		labelHidden: {
			type: Boolean,
			default: false,
		},

		value: {
			type: [String, Number],
			default: null,
		},
	},

	methods: {
		updateValue(event) {
			this.$emit('input', event.target.value);
		},
	},
};
</script>
