<template>
	<div>
		<label v-if="label" :for="labelFor" :class="{ 'u-visuallyhidden': labelHidden }">{{ label }}</label>
		<select :id="labelFor" v-model="val" v-bind="$attrs">
			<option v-for="(option, index) in options" :key="index" :value="option.value">
				{{ option.text }}
			</option>
		</select>
	</div>
</template>

<script>
export default {
	inheritAttrs: false,

	props: {
		label: {
			type: String,
			default: '',
		},

		labelFor: {
			type: String,
			default: null,
		},

		labelHidden: {
			type: Boolean,
			default: false,
		},

		value: {
			type: [String, Number, Object],
			default: null,
		},

		options: {
			type: Array,
			required: true,
		},
	},

	computed: {
		val: {
			get() {
				return this.value;
			},

			set(val) {
				this.$emit('input', val);
			},
		},
	},
};
</script>
