<template>
	<li :class="$style.item" @mouseleave="closeDropdown" @focusout="handleFocusout">
		<div @click.capture="handleTopLevelItemClick">
			<component
				:is="item.link.element"
				v-bind="item.link.props"
				:class="$style.link"
				:aria-expanded="String(isDropdownOpen)"
				aria-haspopup="true"
				:aria-controls="`${item.text}-dropdown`"
				@keydown.native.enter.space="handleTopLevelItemKeydown"
			>
				{{ item.text }}
			</component>
		</div>

		<transition name="fade">
			<div v-show="isDropdownOpen" :id="`${item.text}-dropdown`" :class="$style.dropdown">
				<div :class="$style.dropdownLeft">
					<nuxt-link
						v-for="(subItem, index) in submenuNormalized"
						:key="index"
						:to="(subItem.link && subItem.link.url) || '/'"
						:class="[$style.dropdownNav, { [$style.dropdownNavActive]: activeItemIndex === index }]"
						:aria-expanded="activeItemIndex === index ? 'true' : 'false'"
						:aria-controls="`header-dropdown-${index}`"
						@mouseenter.native="setActiveItemIndex(index)"
						@focusin.native="setActiveItemIndex(index)"
						@click.native="click"
					>
						<span v-if="subItem.text" :class="$style.dropdownNavTxt">
							{{ subItem.text }} <span v-if="subItem.productNameSmall">{{ subItem.productNameSmall }}</span>
						</span>
					</nuxt-link>
					<div v-if="ctaText && ctaLink && ctaLink.url" :class="$style.dropdownNav">
						<BaseButton
							:smart="ctaLink.url"
							:target="ctaLink.target"
							appearance="primary"
							size="medium"
							@click.native="
								closeDropdown();
								$emit('linkClick', { name: ctaText });
							"
						>
							{{ ctaText }}
						</BaseButton>
					</div>
				</div>

				<div v-if="productsNormalized && productsNormalized.length" :class="$style.dropdownRight">
					<transition-group name="fade-in-out" tag="div">
						<div
							v-for="(product, index) in productsNormalized"
							v-show="activeItemIndex === index"
							:id="`header-dropdown-${index}`"
							:key="`product-${index}`"
							:class="$style.dropdownItem"
						>
							<div :class="$style.dropdownInfo">
								<div
									v-if="
										product.productDescriptionV2 &&
										typeof product.productDescriptionV2 === 'string' &&
										product.productDescriptionV2 !== '<p></p>'
									"
									v-rich-content
									:class="$style.dropdownInfoDesc"
									@click="descriptionClick"
									@keydown.space.enter="descriptionClick"
									v-html="product.productDescriptionV2"
								></div>

								<div v-if="product.productCoverage && product.productCoverage.url" :class="$style.dropdownInfoSize">
									<BaseImage :image="product.productCoverage" sizes="60px" compression-level="medium" />
								</div>

								<BaseButton
									v-if="product.ctaLink && product.ctaLink.url"
									:smart="product.ctaLink.url"
									size="medium"
									appearance="primary"
									@click.native="clickCta"
								>
									{{ product.ctaText || product.ctaLink.url }}
								</BaseButton>
							</div>

							<div
								v-if="product.productImageDesktop && product.productImageDesktop.url"
								:class="$style.dropdownImageColumn"
							>
								<nuxt-link
									:to="product.productUrl && product.productUrl.url"
									:class="$style.dropdownImageWrapper"
									@click.native="click"
								>
									<BaseImage
										:images="{ large: product.productImageDesktop }"
										sizes="(min-width: 1200px) 683px, calc(100vw - 735px)"
										compression-level="medium"
									/>
								</nuxt-link>
							</div>
						</div>
					</transition-group>
				</div>
			</div>
		</transition>
	</li>
</template>

<script>
export default {
	props: {
		item: {
			type: Object,
			required: true,
		},

		submenu: {
			type: Array,
			default: () => [],
		},

		products: {
			type: Array,
			default: () => [],
		},

		ctaText: {
			type: String,
			default: '',
		},

		ctaLink: {
			type: Object,
			default: null,
		},

		openBodyClass: {
			type: String,
			default: '',
		},
	},

	data: () => ({
		isDropdownOpen: false,
		activeItemIndex: 0,
		supportsHover: false,
	}),

	head() {
		return {
			bodyAttrs: {
				class: this.isDropdownOpen ? `${this.$style.dropdownOpen} ${this.openBodyClass}` : '',
			},
		};
	},

	computed: {
		productsNormalized() {
			return this.products.map((product) => ({
				...product,
				link: product.productUrl,
				text: product.productName,
				productImageDesktop: product.productImageDesktop,
			}));
		},

		submenuNormalized() {
			if (this.productsNormalized.length) return this.productsNormalized;

			return this.submenu;
		},
	},

	methods: {
		openDropdown(e) {
			this.isDropdownOpen = true;
		},

		closeDropdown(e) {
			this.isDropdownOpen = false;
		},

		setActiveItemIndex(index) {
			this.activeItemIndex = index;
		},

		click() {
			this.closeDropdown();
			this.$emit('linkClick', { name: this.submenuNormalized[this.activeItemIndex].text });
		},

		clickCta(e) {
			this.closeDropdown();
			this.$emit('linkClick', {
				name: this.submenuNormalized[this.activeItemIndex].ctaText || e.target.textContent.trim(),
			});
		},

		descriptionClick(e) {
			if (e.target.tagName !== 'A') return;
			this.closeDropdown();
		},

		handleTopLevelItemClick(e) {
			this.$emit('link-click', { name: this.item.text });
			if (!this.isDropdownOpen) {
				e.preventDefault();
				this.openDropdown();
			} else {
				this.closeDropdown();
			}
		},

		handleTopLevelItemKeydown(e) {
			if (this.isDropdownOpen) return;

			e.preventDefault();
			this.openDropdown();
		},

		handleFocusout(e) {
			if (e.relatedTarget !== this.$el && !this.$el.contains(e.relatedTarget)) {
				this.closeDropdown();
			}
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.dropdownOpen {
	position: relative;

	@media (hover: none) {
		cursor: pointer;
	}
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: z-index('header-dropdown-backdrop');
		display: block;
		pointer-events: none;
		content: '';
		background-color: rgba(color('black'), 0.2);
	}
}

.item {
	position: relative;
	margin-right: 5rem;

	@include between(7.68rem, 'large') {
		margin-right: 1.5rem;
	}

	@include between('large', 'xlarge') {
		margin-right: 3.6rem;
	}
}

.link {
	position: relative;
	display: inline-block;
	color: color('primary-200');
	white-space: nowrap;

	@include use-text-style('type-100');

	@include above('medium') {
		padding: 2.85rem 0;
	}

	&::after {
		position: absolute;
		top: size('m++');
		right: 0;
		left: 0;
		height: 0.1rem;
		content: '';
		background-color: transparent;
		transition: all 0.4s ease;
	}
}

.linkIcon {
	margin-left: 0.5rem;
}

.link:hover,
.link:focus,
.link:global(.nuxt-link-exact-active),
.item:hover .link {
	color: color('text');

	&::after {
		background-color: color('black');
	}

	.linkIcon {
		fill: color('text');
	}
}

.dropdown {
	position: absolute;
	top: size('header');
	left: -5rem;
	z-index: 1;
	display: inline-block;
	justify-content: space-between;
	width: max-content;
	background-color: color('white');

	@include between(7.68rem, 'large') {
		left: -1.5rem;
	}
}

.dropdownLeft {
	padding: 2.85rem size('m++') 0;
}

.dropdownRight {
	position: relative;
	display: none;
	flex: 0 0 auto;

	@include above('large') {
		flex: 0 1 auto;
		width: 100rem;
	}
}

.dropdownNav {
	display: block;
	margin-bottom: size('s++');
	color: scale-color(color('primary-400'), $lightness: -20%);
	text-align: left;

	&:last-child {
		margin-bottom: 2.85rem;
	}
}

.dropdownNavActive {
	color: color('text');
}

.dropdownNavTxt {
	position: relative;
	display: inline-block;

	@include use-text-style('type-100');

	span {
		font-size: 1.8rem;
	}

	.dropdownNav &::after {
		position: absolute;
		right: 0;
		bottom: -0.25rem;
		left: 0;
		height: 0.1rem;
		content: '';
		background-color: transparent;
		transition: all 0.4s ease;
	}

	.dropdownNav:hover &,
	.dropdownNav:focus &,
	.dropdownNav:global(.nuxt-link-exact-active) & {
		&::after {
			background-color: color('black');
		}
	}
}

.dropdownNavReviews {
	display: block;
}

.dropdownItem {
	display: flex;
}

.dropdownInfo {
	flex: 0 0 auto;
	width: 32rem;
	padding: size('m') size('l') size('s') 0;
}

.dropdownInfoDesc {
	font-size: 2.6rem;

	p {
		&:not(:last-child) {
			margin-bottom: size('s');
		}
	}

	a:only-child {
		@include font-family('primary');
	}
}

.dropdownInfoSize {
	width: 6rem;
	margin: size('s') 0;
}

.dropdownImageColumn {
	flex: 1 1 auto;
	width: 40%;
	max-width: 68.3rem;

	@include below('large') {
		display: none;
	}
}

.dropdownImageWrapper {
	display: block;
}
</style>
