<template>
	<div>
		<!-- eslint-disable-next-line vue-a11y/label-has-for -->
		<label for="global-cart-qty-input" class="u-visuallyhidden">Quantity</label>
		<input
			id="global-cart-qty-input"
			ref="input"
			type="number"
			:value="val"
			min="0"
			max="20"
			v-bind="$attrs"
			:class="inputClass"
			@input="handleInput"
			@focusout="emitUpdateQty"
			@keyup.enter="emitUpdateQty"
		/>
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: [String, Number],
			required: true,
		},

		inputClass: {
			type: String,
			default: null,
		},
	},

	data() {
		return {
			val: Math.max(this.value, 10),
		};
	},

	watch: {
		value: {
			immediate: true,
			handler() {
				this.val = Math.max(this.value, 10);
			},
		},
	},

	mounted() {
		this.$el.focus();
	},

	methods: {
		handleInput(e) {
			const newVal = parseInt(e.target.value);

			if (!newVal && e.target.value === '') {
				this.val = '';
			} else if (newVal < 0) {
				e.target.value = 0;
				this.val = 0;
			} else if (newVal <= 20) {
				this.val = newVal;
			} else if (newVal > 20) {
				e.target.value = 20;
				this.val = 20;
			}
		},

		emitUpdateQty() {
			this.$emit('update-qty', this.val || 0);
		},

		// This is used in global-cart-panel
		refUpdateQty(qty) {
			this.$refs.input.value = qty;
			this.val = qty;
		},
	},
};
</script>
