<template>
	<transition name="fade" appear>
		<AtomModalDialog is-open>
			<div
				ref="modal"
				aria-modal="true"
				:aria-label="label"
				:class="[$style.modal, $style[appearance], classObject]"
				role="dialog"
				@click="close"
			>
				<BaseScrollLock />
				<div :class="$style.wrap">
					<div class="modalBody" :class="$style.body" @click.stop>
						<button v-if="closeButton" type="button" :class="$style.close" aria-label="Close" @click="close">
							<BaseIcon name="cross" width="18" height="18" title="Close" />
						</button>

						<div v-if="videoDetails && videoDetails.url" :class="$style.iframe">
							<iframe
								ref="videoIframe"
								:src="videoDetails.url"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
							/>
						</div>

						<template v-else>
							<slot />
						</template>
					</div>
				</div>
			</div>
		</AtomModalDialog>
	</transition>
</template>

<script>
import AtomModalDialog from '@components/atom-modal-dialog';
import tealiumTrackYoutubeMixin from '@/mixins/tealium-track-youtube';
import extractAndAdjustVideoUrl from '@/utils/extract-and-adjust-video-url';

let focusedElBeforeOpen;
let focusableEls;
let firstFocusableEl;
let lastFocusableEl;

export default {
	components: { AtomModalDialog },

	mixins: [tealiumTrackYoutubeMixin],

	props: {
		video: {
			type: String,
			default: '',
		},

		videoTrackingName: {
			type: String,
			default: '',
		},

		backdrop: {
			type: Boolean,
			default: true,
		},

		label: {
			type: String,
			default: '',
		},

		closeButton: {
			type: Boolean,
			default: true,
		},

		appearance: {
			type: String,
			default: '',
		},

		useNocookieUrl: {
			type: Boolean,
			default: false,
		},

		playerParameters: {
			type: String,
			default: '',
		},
	},

	computed: {
		classObject() {
			return {
				[this.$style.backdrop]: this.backdrop,
			};
		},

		videoDetails() {
			if (process.server) return null;
			return extractAndAdjustVideoUrl(this.video, {
				useNocookieUrl: this.useNocookieUrl,
				playerParams: this.playerParameters,
			});
		},
	},

	beforeMount() {
		window.addEventListener('keydown', this.keyDown);
		focusedElBeforeOpen = document.activeElement;
	},

	mounted() {
		// array of all focusable elements
		focusableEls = Array.from(
			this.$refs.modal.querySelectorAll(
				'a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), [tabindex="0"]'
			)
		);

		firstFocusableEl = focusableEls[0];
		lastFocusableEl = focusableEls[focusableEls.length - 1];

		// focus on the first element in the modal
		if (firstFocusableEl) {
			firstFocusableEl.focus();
		}

		if (this.videoDetails && this.videoDetails.isYoutubeVideo) {
			this.tealiumVideoDestroy = this.tealiumTrackYouTubeVideo(this.$refs.videoIframe);
		}
	},

	beforeDestroy() {
		window.removeEventListener('keydown', this.keyDown);

		if (this.tealiumVideoDestroy) {
			this.tealiumVideoDestroy();
		}

		// put focus back on the original element
		if (focusedElBeforeOpen) {
			focusedElBeforeOpen.focus();
		}
	},

	methods: {
		close() {
			this.$emit('close');
		},

		keyDown(e) {
			if (e.keyCode === 27) {
				// esc key
				this.close();
			} else if (e.keyCode === 9) {
				// tab
				if (focusableEls.length === 1) {
					e.preventDefault();
					return;
				}

				if (e.shiftKey) {
					this.backwardTab(e);
				} else {
					this.forwardTab(e);
				}
			}
		},

		forwardTab(e) {
			if (document.activeElement === lastFocusableEl) {
				e.preventDefault();
				firstFocusableEl.focus();
			}
		},

		backwardTab(e) {
			if (document.activeElement === firstFocusableEl) {
				e.preventDefault();
				lastFocusableEl.focus();
			}
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: z-index('modal');
	width: 100vw;
	padding: size('s');
	overflow-x: hidden;
	overflow-y: auto;
	cursor: pointer;
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}

.wrap {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.body {
	position: relative;
	width: 100%;
	margin: auto;
	cursor: default;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 4.4rem;
	height: 4.4rem;

	@include above('small') {
		top: 1.2rem;
		right: 1.2rem;
	}
}

.iframe {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		background: color('primary');
	}
}

// Appearances
.video {
	padding-top: 6rem;
	padding-bottom: 6rem;

	@include above('medium') {
		padding: 10rem 14rem;
	}

	@include above('large') {
		padding-right: 25rem;
		padding-left: 25rem;
	}

	.close {
		top: -4.4rem;

		svg {
			fill: color('white');
		}
	}
}
</style>
