<template>
	<GlobalModal
		v-if="isModalOpen"
		:class="$style.modal"
		:label="label"
		:style="{
			'--width': (width && `${width}px`) || widthsBasedOnImages.mobile || '56rem',
			'--width-desktop': (widthDesktop && `${widthDesktop}px`) || widthsBasedOnImages.desktop || '56rem',
			'--height': height ? `${height}px` : 'unset',
			'--height-desktop': heightDesktop ? `${heightDesktop}px` : 'unset',
		}"
		@close="close"
	>
		<div :class="[$style.box, $style[contentAlignment]]" :style="{ backgroundColor }">
			<div
				v-if="contentFirst && contentFirst.length !== 0 && contentFirst !== '<p></p>'"
				:class="[$style.content, $style.first]"
				v-html="contentFirst"
			></div>

			<form v-if="showNewsletterForm === 'Yes'" @submit.prevent="submit">
				<FormInput
					v-model="form.email"
					label="Email"
					:label-hidden="true"
					type="email"
					placeholder="Enter your email"
					required
					:class="$style.field"
					autocomplete="email"
					has-floating-label
				/>

				<BaseButton type="submit" size="medium" appearance="primary" :is-working="form.submitted">
					{{ newsletterButtonText }}
				</BaseButton>
			</form>

			<div v-if="(imageMobile && imageMobile.url) || (image && image.url)" :class="$style.imageWrapper">
				<BaseImage
					:image="imageMobile"
					:images="{ medium: image }"
					sizes="(min-width: 768px) 416px, calc(100vw - 80px)"
					compression-level="high"
				/>
			</div>

			<div
				v-if="contentSecond && contentSecond.length !== 0 && contentSecond !== '<p></p>'"
				:class="[$style.content, $style.second]"
				v-html="contentSecond"
			></div>

			<div v-if="ctaText" :class="$style.buttonWrapper" :style="{ color: ctaVariant === 'Outline' && ctaTextColor }">
				<BaseButton
					:appearance="ctaVariant"
					size="medium"
					:smart="ctaLink && ctaLink.url"
					:target="ctaLink && ctaLink.target"
					@click.native="ctaClicked"
				>
					{{ ctaText }}
				</BaseButton>
			</div>

			<div
				v-if="contentBottom && contentBottom.length !== 0 && contentBottom !== '<p></p>'"
				:class="[$style.content, $style.bottom]"
				v-html="contentBottom"
			></div>
		</div>
	</GlobalModal>
</template>

<script>
import { getCookie, setCookie } from 'tiny-cookie';
import GlobalModal from '@components/global-modal';
import copy from 'copy-to-clipboard';
const FormInput = () => import('@components/form-input');

export default {
	components: {
		GlobalModal,
		FormInput,
	},

	props: {
		id: {
			type: String,
			default: '',
		},

		label: {
			type: String,
			default: '',
		},

		showAutomatically: {
			type: Number,
			default: 0,
		},

		showAgainAfter: {
			type: Number,
			default: null,
		},

		width: {
			type: Number,
			default: null,
		},

		height: {
			type: Number,
			default: null,
		},

		widthDesktop: {
			type: Number,
			default: null,
		},

		heightDesktop: {
			type: Number,
			default: null,
		},

		contentAlignment: {
			type: String,
			default: 'Left',
		},

		contentFirst: {
			type: [String, Array],
			default: '',
		},

		showNewsletterForm: {
			type: String,
			default: 'No',
		},

		newsletterButtonText: {
			type: String,
			default: '',
		},

		imageMobile: {
			type: Object,
			default: () => ({}),
		},

		image: {
			type: Object,
			default: () => ({}),
		},

		contentSecond: {
			type: [String, Array],
			default: '',
		},

		ctaVariant: {
			type: String,
			default: 'Green',
		},

		ctaTextColor: {
			type: String,
			default: '',
		},

		ctaText: {
			type: String,
			default: '',
		},

		ctaLink: {
			type: Object,
			default: null,
		},

		ctaCopyToClipboard: {
			type: String,
			default: '',
		},

		contentBottom: {
			type: [String, Array],
			default: '',
		},

		backgroundColor: {
			type: String,
			default: '',
		},
	},

	data: () => ({
		isModalOpen: false,
		form: {
			submitted: false,
			email: '',
		},
		stringToAppendToAction: '',
	}),

	computed: {
		storageName() {
			return `promo-modal-${this.id}`;
		},

		widthsBasedOnImages() {
			const { imageMobile, image } = this;

			const width = imageMobile && imageMobile.width;
			const widthDesktop = image && image.width;

			return {
				mobile: width ? `${(width + parseFloat(this.$style.modalPadding) * 2) / 10}rem` : null,
				desktop: widthDesktop ? `${(widthDesktop + parseFloat(this.$style.modalPaddingDesktop) * 2) / 10}rem` : null,
			};
		},
	},

	mounted() {
		if (typeof this.showAutomatically === 'number' && !this.getVisited()) {
			setTimeout(this.open, this.showAutomatically * 1000);
		}

		if (this.$route.query.id === this.id || (this.$route.hash && this.$route.hash.substr(1) === this.id)) {
			this.open();
		}
	},

	methods: {
		getVisited() {
			return getCookie(this.storageName);
		},

		setVisited() {
			const { showAgainAfter } = this;
			if (showAgainAfter === 0) return;
			setCookie(this.storageName, true, { expires: `${showAgainAfter || 30}D` });
		},

		open(stringToAppendToAction = '') {
			this.stringToAppendToAction = stringToAppendToAction;
			this.isModalOpen = true;
		},

		close() {
			this.isModalOpen = false;

			// set cookie so it doesn't show again
			this.setVisited();
		},

		submit() {
			// disable the submit button
			this.form.submitted = true;
			const { stringToAppendToAction } = this;

			this.$axios
				.post('/custom-apis/subscribe', { email: this.form.email })
				.then((response) => {
					this.form.submitted = false;
					this.close();

					const label = 'Modal';
					this.$tealiumEvent('email_signup', {
						event_category: 'Newsletter',
						event_action: `Signed up for Newsletter${stringToAppendToAction ? ' - ' + stringToAppendToAction : ''}`,
						event_label: label,
						add_location: label,
						customer_email: this.form.email,
					});
				})
				.catch((error) => {
					this.form.submitted = false;
					console.error(error);
				});
		},

		ctaClicked() {
			this.close();
			if (this.ctaCopyToClipboard) {
				copy(this.ctaCopyToClipboard);
			}
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

$modal-padding: 2rem;
$modal-padding-desktop: 6rem;

.modal :global(.modalBody) {
	width: var(--width);
	max-width: 100%;
	height: var(--height);
	overflow-y: auto;

	@include above(500px) {
		width: var(--width-desktop);
		height: var(--height-desktop);
	}
}

.box {
	padding: size('m') $modal-padding;
	background-color: color('white');
	box-shadow: shadow('modal');

	@include above(500px) {
		padding: size('l') $modal-padding-desktop;
	}

	> *:not(:last-child) {
		margin-bottom: size('s');
	}

	&.Center {
		text-align: center;
	}

	input[type='email'] {
		-webkit-appearance: none;
	}
}

/* stylelint-disable no-descending-specificity */
.content {
	h2,
	h3,
	h4 {
		font-weight: 700;

		&:not(:last-child) {
			margin-bottom: size('s');
		}
	}

	h2 {
		@include use-text-style('heading-700');
	}

	h3 {
		@include use-text-style('heading-200');
	}

	h4 {
		@include use-text-style('heading-100');
	}

	p {
		color: color('primary-100');

		@include use-text-style('type');
		@include use-text-style('type-100');

		&:not(:last-child) {
			margin-bottom: size('s');
		}
	}

	&.first {
		h2,
		h3,
		h4 {
			font-weight: 400;

			@include font-family('secondary');
		}
	}

	&.bottom {
		p {
			@include use-text-style('type-400');
		}
	}
}

.field {
	margin: 3rem 0 2rem;
}

:export {
	modalPadding: convert-units($modal-padding, 'px');
	modalPaddingDesktop: convert-units($modal-padding-desktop, 'px');
}
</style>
