<template>
	<li :class="$style.item">
		<component
			:is="item.link.element"
			v-bind="item.link.props"
			class="u-font-secondary"
			:class="$style.link"
			@click.native="linkClick(item.text)"
		>
			{{ item.text }}
		</component>

		<button type="button" :class="$style.button" @click="openDropdown">
			<BaseIcon id="menu-forwards" name="chevron-right" title="View Products" width="26" height="26" />
		</button>

		<transition name="slide-from-right">
			<div v-show="isDropdownOpen" :class="$style.dropdown">
				<div v-for="(subItem, index) in submenuNormalized" :key="index" :class="$style.dropdownItem">
					<nuxt-link :to="(subItem.link && subItem.link.url) || '/'" @click.native="linkClick(subItem.text)">
						<span v-if="subItem.text" class="u-font-secondary" :class="$style.dropdownHeading">
							{{ subItem.text }} <span v-if="subItem.productNameSmall">{{ subItem.productNameSmall }}</span>
						</span>
					</nuxt-link>

					<div v-if="subItem.productImageMobile && subItem.productImageMobile.url" :class="$style.dropdownImage">
						<nuxt-link
							:to="(subItem.link && subItem.link.url) || '/'"
							:class="$style.dropdownImageLink"
							@click.native="linkClick(subItem.text)"
						>
							<BaseImage :image="subItem.productImageMobile" sizes="300px" compression-level="medium" />
						</nuxt-link>
					</div>
				</div>
			</div>
		</transition>
	</li>
</template>

<script>
export default {
	props: {
		item: {
			type: Object,
			required: true,
		},

		submenu: {
			type: Array,
			default: () => [],
		},

		products: {
			type: Array,
			default: () => [],
		},

		isDropdownOpen: {
			type: Boolean,
			default: false,
		},
	},

	computed: {
		productsNormalized() {
			return this.products.map((product) => ({
				...product,
				link: product.productUrl,
				text: product.productName,
				productImageMobile: product.productImageMobile,
			}));
		},

		submenuNormalized() {
			if (this.productsNormalized.length) return this.productsNormalized;

			return this.submenu;
		},
	},

	methods: {
		openDropdown() {
			this.$emit('openDropdown');
		},

		linkClick(name) {
			this.$emit('linkClick', { name });
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.item {
	position: relative;
}

.link {
	position: relative;
	display: block;
	padding: 0.5rem 0;

	@include use-text-style('heading-400');

	&:hover,
	&:focus {
		color: color('text');
	}
}

.button {
	position: absolute;
	top: 0;
	right: -1.5rem;
	bottom: 0;
	width: 4.4rem;
	outline: 0;
}

.dropdown {
	position: fixed;
	top: size('header');
	top: var(--header-height, size('header'));
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: color('white');
}

.dropdownItem {
	padding: 1.4rem 0 0;
	text-align: center;
}

.dropdownHeading {
	@include use-text-style('heading-400');

	span {
		@include use-text-style('heading-100');
	}
}

.dropdownImage {
	padding: 5.3rem 0 5.1rem;
}

.dropdownImageLink {
	display: block;
	width: 30rem;
	margin: 0 auto;
}
</style>
