<template>
	<div
		v-if="showChatWidget === 'Zendesk' && !isLoaded"
		:class="[$style.chatWidget, { [$style.hasVisibleScrollbar]: scrollBarWidth > 0 }]"
		:style="{ paddingRight: `${scrollBarWidth}px` }"
	>
		<div :class="$style.bottom">
			<button :class="$style.button" @click="startChat">
				<div v-if="isWorking" :class="$style.loader"><BaseSpinner /></div>
				<div :class="$style.buttonInner">
					<div class="u-visuallyhidden">open support widget</div>
					<BaseIcon name="zendesk-question-mark" />
					<div :class="$style.label">Help</div>
				</div>
			</button>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
	data() {
		return {
			isWorking: false,
			isLoaded: false,
			scrollBarWidth: 0,
		};
	},

	computed: {
		...mapState({ showChatWidget: (state) => state.globalData.other.showChatWidget }),
	},

	beforeMount() {
		this.scrollBarWidth = window.innerWidth - document.documentElement.clientWidth;
	},

	methods: {
		loadScript() {
			return new Promise((resolve, reject) => {
				window.zESettings = { webWidget: { chat: { departments: { enabled: [] } } } };
				const zendeskWebWidgetId = process.env.ZENDESK_WEB_WIDGET_ID;
				if (!zendeskWebWidgetId) {
					return;
				}

				const script = document.createElement('script');
				script.src = `https://static.zdassets.com/ekr/snippet.js?key=${zendeskWebWidgetId}`;
				script.async = true;
				script.onload = resolve;
				script.onerror = reject;
				script.id = 'ze-snippet';
				document.head.appendChild(script);
			});
		},

		async startChat() {
			this.isWorking = true;

			try {
				await this.loadScript();
				if (!window.zE) {
					throw new Error('Error when loading zendesk: zE not found in window');
				}
			} catch (e) {
				alert('Error when loading chat');
				throw e;
			}

			const { zE } = window;

			zE('webWidget', 'setLocale', 'en-US');
			zE('webWidget', 'hide');
			zE('webWidget:on', 'open', () => {
				if (this.isLoaded) return;
				this.isWorking = false;
				this.isLoaded = true;
			});
			zE('webWidget', 'open');
			zE('webWidget', 'show');
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

:global {
	.zEWidget-launcher,
	.zEWidget-webWidget {
		z-index: z-index('chat-widget-their') !important;
	}
}

.chatWidget {
	position: fixed;
	bottom: 1rem;
	left: 0;
	z-index: z-index('chat-widget-our');
	width: calc(100% - 2rem);
	pointer-events: none;

	&.hasVisibleScrollbar {
		width: calc(100vw - 2rem);
	}
}

.bottom {
	display: flex;
	justify-content: flex-end;
}

.button {
	position: relative;
	display: block;
	overflow: hidden;
	color: color('text');
	pointer-events: auto;
	background-color: color('secondary-300');
	border-radius: 2.5rem;
	// opacity: 0.5;
	fill: currentColor;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #d7d5d4;
}

.buttonInner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;

	@include above('large') {
		width: auto;
		padding: 0 2.2rem;
	}

	svg {
		box-sizing: content-box;
		width: 2rem;
		height: 2rem;
	}
}

.label {
	margin-left: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		Helvetica Neue, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 700;

	@include below('large') {
		display: none;
	}
}
</style>
