<template>
	<ul class="u-nolist" :class="$style['dots-wrapper']" v-bind="$attrs" v-on="$listeners">
		<li v-for="(pageNum, i) in numberOfSlides" :key="pageNum" :class="$style['dot-wrapper']">
			<button
				:aria-label="`Go to ${getSlideTitle(i)}`"
				:aria-current="String(currentSlide === i)"
				@click="$emit('switchslide', i)"
			>
				<div :class="currentSlide === i ? $style['dot--active'] : $style.dot" />
			</button>
		</li>
	</ul>
</template>

<script>
export default {
	props: {
		numberOfSlides: {
			type: Number,
			required: true,
		},

		currentSlide: {
			type: Number,
			required: true,
		},

		getSlideTitle: {
			type: Function,
			required: true,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.dots-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot-wrapper {
	padding: 0.5rem;
	cursor: pointer;
}

.dot {
	width: 0.7rem;
	height: 0.7rem;
	margin: 0 0.2rem;
	background-color: #c1c1c1;
	border-radius: 50%;
	transition: all ease('out') time('slow');
}

.dot--active {
	composes: dot;
	background: color('primary');
}
</style>
