<template>
	<section
		:class="$style.wrapper"
		:aria-label="`Carousel content with ${numberOfSlides} slide${(numberOfSlides > 1 && 's') || ''}`"
		tabindex="-1"
		@focusin="pauseAutoplayInterval"
		@focusout="resumeAutoplayInterval"
	>
		<div :class="$style.carousel">
			<!--eslint-disable vuejs-accessibility/mouse-events-have-key-events-->
			<ul
				ref="carousel"
				class="u-nolist"
				:class="$style.slides"
				:style="{ transform: `translate(${currentOffset}, 0)` }"
				@mouseover="pauseOnHover && !isFocusActive ? pauseAutoplayInterval() : null"
				@mouseleave="pauseOnHover && !isFocusActive ? resumeAutoplayInterval() : null"
			>
				<slot />
			</ul>
			<!--eslint-enable vuejs-accessibility/mouse-events-have-key-events-->
		</div>

		<slot v-if="hasNavigation" name="navigation" v-bind="{ hasPagination, currentSlide, switchSlide }">
			<MoleculeCarouselNavigation v-bind="{ hasPagination, currentSlide }" @switchslide="switchSlide" />
		</slot>

		<MoleculeCarouselControls
			:has-pagination="hasPagination"
			:has-tab-navigation="hasTabNavigation"
			:has-play-pause="hasPlayPause"
			:number-of-slides="numberOfSlides"
			:current-slide="currentSlide"
			:get-slide-title="getAriaLabel"
			:tab-items="tabItems"
			:is-playing="isSetToPlay"
			@switchslide="switchSlide"
			@pause="handleClickPause"
			@play="handleClickPlay"
		/>
	</section>
</template>

<script>
import MoleculeCarouselControls from '@components/molecule-carousel-controls';
import MoleculeCarouselNavigation from '@components/molecule-carousel-navigation';
import debounce from 'lodash/debounce';

const Hammer = process.browser ? require('@/vendor/hammer').default : null;

let observer = null;
const observerMap = new WeakMap();

function observerCallback(entries) {
	entries.forEach(({ isIntersecting, target }) => {
		if (!isIntersecting) return;
		observerMap.get(target).handleResize();
	});
}

export default {
	components: {
		MoleculeCarouselControls,
		MoleculeCarouselNavigation,
	},

	props: {
		autoplay: {
			type: Boolean,
			default: true,
		},

		autoplayDelay: {
			type: Number,
			default: 3000,
		},

		loop: {
			type: Boolean,
			default: true,
		},

		pauseOnHover: {
			type: Boolean,
			default: true,
		},

		hasNavigation: {
			type: Boolean,
			default: true,
		},

		hasPagination: {
			type: Boolean,
			default: true,
		},

		hasTabNavigation: {
			type: Boolean,
			default: false,
		},

		hasPlayPause: {
			type: Boolean,
			default: false,
		},

		initialSlide: {
			type: Number,
			default: 0,
		},
		tabItems: {
			type: Array,
			default: () => [],
		},
	},

	data() {
		return {
			currentSlide: this.initialSlide,
			slideWidth: 0,
			slideTitles: [],
			interval: null,
			autoplayCycleDidFinish: false,
			isPlaying: false,
			isSetToPlay: false,
			isFocusActive: false,
			rafPending: false,
			debouncedResize: debounce(this.handleResize, 100),
			numberOfSlides: (this.$slots.default && this.$slots.default.length) || 0,
		};
	},

	computed: {
		currentOffset() {
			return `-${this.slideWidth * this.currentSlide}px`;
		},

		canAutoplay() {
			return (this.loop || !this.autoplayCycleDidFinish) && this.isSetToPlay;
		},
	},

	watch: {
		currentSlide(val) {
			this.$emit('slidechanged', val);
		},

		autoplay(val) {
			if (!val) {
				this.pauseAutoplayInterval();
			} else {
				this.resumeAutoplayInterval();
			}
		},
	},

	beforeCreate() {
		if ((process.client || process.env.STORYBOOK_ENV) && !observer) {
			observer = new IntersectionObserver(observerCallback, { rootMargin: '100px' });
		}
	},

	mounted() {
		this.$nextTick(() => this.init());
		window.addEventListener('resize', this.debouncedResize);
	},

	updated() {
		const slots = (this.$slots.default && this.$slots.default.length) || 0;
		if (this.numberOfSlides !== slots) {
			this.numberOfSlides = slots;
			this.currentSlide = 0;
		}
	},

	destroyed() {
		window.removeEventListener('resize', this.debouncedResize);

		if (this.hammer) {
			this.hammer.destroy();
		}

		if (observer && this.$el && this.$el instanceof Element) {
			observer.unobserve(this.$el);
		}
	},

	methods: {
		getSlideTitle(title) {
			this.slideTitles.push(title);
		},

		getAriaLabel(i) {
			if (this.slideTitles[i]) {
				return `Slide ${i + 1}: ${this.slideTitles[i]}`;
			}

			return `Slide ${i + 1} of ${this.numberOfSlides}.`;
		},

		init() {
			this.getSlideWidth();

			observer.observe(this.$el);
			observerMap.set(this.$el, this);

			if (this.autoplay) {
				this.startAutoplayInterval();
			}

			this.attachPanEventListeners();
		},

		handleResize() {
			this.getSlideWidth();
		},

		getSlideWidth() {
			const { carousel } = this.$refs;

			if (carousel) {
				this.slideWidth = parseInt(getComputedStyle(carousel).width);
			}
		},

		switchSlide(slideNum) {
			this.restartAutoplayInterval();

			this.currentSlide = slideNum > this.numberOfSlides - 1 ? 0 : slideNum < 0 ? this.numberOfSlides - 1 : slideNum;
		},

		startAutoplayInterval() {
			this.isPlaying = true;
			this.isSetToPlay = true;

			this.interval = setInterval(() => {
				if (this.currentSlide + 1 >= this.numberOfSlides) {
					if (this.loop) {
						this.currentSlide = 0;
					} else {
						clearInterval(this.interval);
						this.isPlaying = false;
						this.autoplayCycleDidFinish = true;
						this.isSetToPlay = false;
					}
				} else {
					this.currentSlide++;
				}
			}, this.autoplayDelay);
		},

		pauseAutoplayInterval() {
			if (this.canAutoplay && this.isPlaying) {
				clearInterval(this.interval);
				this.isPlaying = false;
			}
		},

		resumeAutoplayInterval() {
			if (this.canAutoplay && !this.isPlaying) {
				this.startAutoplayInterval();
				this.isPlaying = true;
			}
		},

		restartAutoplayInterval() {
			if (this.canAutoplay) {
				clearInterval(this.interval);
				this.startAutoplayInterval();
				this.isPlaying = true;
			}
		},

		handleClickPause() {
			clearInterval(this.interval);
			this.isPlaying = false;
			this.isSetToPlay = false;
		},

		handleClickPlay() {
			// Go back to first slide if loop is set to false
			// and the current slide is the last one
			if (!this.loop && this.currentSlide === this.numberOfSlides - 1) {
				this.currentSlide = 0;
			}

			this.startAutoplayInterval();
			this.isPlaying = true;
			this.isSetToPlay = true;
		},

		attachPanEventListeners() {
			if (this.$refs.carousel && !this.hammer) {
				const hammer = new Hammer(this.$refs.carousel);
				this.hammer = hammer;
				hammer.on('panstart', this.handleGestureStart);
				hammer.on('panmove', this.handleGestureMove);
				hammer.on('panend', this.handleGestureEnd);
			}
		},

		handleGestureStart() {
			this.$refs.carousel.style.transition = 'initial';
		},

		handleGestureMove(e) {
			e.srcEvent.preventDefault();
			this.pauseAutoplayInterval();

			if (this.rafPending || this.numberOfSlides === 1) {
				return;
			}

			this.rafPending = true;
			window.requestAnimationFrame(() => this.onAnimFrame(e.deltaX));
		},

		handleGestureEnd(e) {
			e.srcEvent.preventDefault();
			this.rafPending = false;
			this.updateSwipeRestPosition(e.deltaX);
			this.resumeAutoplayInterval();
		},

		onAnimFrame(deltaX) {
			if (!this.rafPending) {
				return;
			}

			const newXTransform = parseInt(this.currentOffset) + deltaX + 'px';
			const transformStyle = 'translate(' + newXTransform + ', 0)';

			this.setCarouselTransform(transformStyle);
			this.rafPending = false;
		},

		updateSwipeRestPosition(deltaX) {
			const currentXPosition = parseInt(this.currentOffset) + deltaX;

			this.$refs.carousel.style.transition = this.$style['initial-transition'];

			const resetToCurrentSlide = () => {
				const transformStyle = 'translate(' + this.currentOffset + ', 0)';
				this.setCarouselTransform(transformStyle);
			};

			if (currentXPosition > parseInt(this.currentOffset) + 10) {
				if (this.currentSlide === 0) {
					resetToCurrentSlide();
				} else {
					this.currentSlide--;
				}
			} else if (currentXPosition < parseInt(this.currentOffset) - 10) {
				if (this.currentSlide === this.numberOfSlides - 1) {
					resetToCurrentSlide();
				} else {
					this.currentSlide++;
				}
			} else {
				resetToCurrentSlide();
			}
		},

		setCarouselTransform(transformStyle) {
			this.$refs.carousel.style.webkitTransform = transformStyle;
			this.$refs.carousel.style.MozTransform = transformStyle;
			this.$refs.carousel.style.msTransform = transformStyle;
			this.$refs.carousel.style.transform = transformStyle;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

$slides-transition: all ease('out') time('slow');

.wrapper {
	position: relative;
}

.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slides {
	display: flex;
	touch-action: pan-y pinch-zoom;
	transition: $slides-transition;
}

:export {
	/* stylelint-disable-next-line property-no-unknown */
	initial-transition: $slides-transition;
}
</style>
