<template>
	<div :style="{ '--z-index': zIndex }" v-on="$listeners">
		<div :class="$style.MoleculeAutoplayVideoPlayPause">
			<slot />
			<BaseButton
				v-if="showButton"
				:class="showButton ? $style.buttonShown : $style.button"
				appearance="secondary"
				size="medium"
				:aria-label="isPlaying ? 'Pause video' : 'Play video'"
				@click="playOrPause"
			>
				{{ isPlaying ? 'Pause' : 'Play' }}
			</BaseButton>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		showButton: {
			type: Boolean,
			default: false,
		},

		zIndex: {
			type: Number,
			default: 1,
		},
	},

	data: () => ({ isPlaying: false }),

	mounted() {
		this.$nextTick(() => {
			if (!this.$slots.default) return;
			const video = this.$slots.default[0].elm;

			video.addEventListener('playing', this.handlePlaying);
			video.addEventListener('pause', this.handlePause);
		});
	},

	beforeDestroy() {
		if (!this.$slots.default) return;
		const video = this.$slots.default[0].elm;
		video.addEventListener('playing', this.handlePlaying);
		video.addEventListener('pause', this.handlePause);
	},

	methods: {
		async playOrPause() {
			const video = this.$slots.default[0].elm;

			if (this.isPlaying) {
				video.pause();
				this.isPlaying = false;
			} else {
				await video.play();
				this.isPlaying = true;
			}
		},

		handlePlaying() {
			this.isPlaying = true;
		},

		handlePause() {
			this.isPlaying = false;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.MoleculeAutoplayVideoPlayPause {
	width: 100%;
	height: 100%;
}

.button {
	position: absolute;
	bottom: 1.618rem;
	left: 1.618rem;
	z-index: var(--z-index);
	pointer-events: all;
	opacity: 0;

	@include transition('fade');
}

.buttonShown {
	composes: button;
	opacity: 1;
}
</style>
