<template>
	<button
		type="button"
		:class="$style.wrapper"
		:title="isPlaying ? 'Pause' : 'Play'"
		:aria-label="isPlaying ? 'Pause' : 'Play'"
		@click="isPlaying ? pause() : play()"
	>
		<span v-if="isPlaying">Pause</span>
		<span v-else>Play</span>
	</button>
</template>

<script>
export default {
	props: {
		isPlaying: {
			type: Boolean,
			required: true,
		},
	},

	methods: {
		pause() {
			this.$emit('pause');
		},

		play() {
			this.$emit('play');
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.wrapper {
	cursor: pointer;
}
</style>
