<template>
	<div
		:style="{
			'--custom-heading-color': headingColor || defaultColors.headingColor,
			'--custom-copy-color': copyColor || defaultColors.copyColor,
			'--custom-heading-color-desktop':
				headingColorDesktop || defaultColors.headingColorDesktop || headingColor || defaultColors.headingColor,
			'--custom-copy-color-desktop':
				copyColorDesktop || defaultColors.copyColorDesktop || copyColor || defaultColors.copyColor,
		}"
		:class="[$style.providerCustomColors, { [$style.hasDesktopColors]: hasDesktopColors }]"
	>
		<slot
			v-bind="{ customHeadingColorClass: $style.customHeadingColor, customCopyColorClass: $style.customCopyColor }"
		/>
	</div>
</template>

<script>
export const customColorsProps = {
	headingColor: {
		type: String,
		default: '',
	},

	copyColor: {
		type: String,
		default: '',
	},

	headingColorDesktop: {
		type: String,
		default: '',
	},

	copyColorDesktop: {
		type: String,
		default: '',
	},
};

export const getColorProps = (props) => ({
	headingColor: props.headingColor,
	copyColor: props.copyColor,
	headingColorDesktop: props.headingColorDesktop,
	copyColorDesktop: props.copyColorDesktop,
});

export default {
	name: 'ProviderCustomColors',

	props: {
		...customColorsProps,

		defaultColors: {
			type: Object,
			default: () => ({}),
		},

		hasDesktopColors: {
			type: Boolean,
			default: false,
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.providerCustomColors {
	color: var(--custom-copy-color);

	.customCopyColor {
		color: var(--custom-copy-color);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.customHeadingColor {
		color: var(--custom-heading-color);
	}

	&.hasDesktopColors {
		@include above('medium') {
			color: var(--custom-copy-color-desktop);

			.customCopyColor {
				color: var(--custom-copy-color-desktop);
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			.customHeadingColor {
				color: var(--custom-heading-color-desktop);
			}
		}
	}
}
</style>
