<template>
	<div>
		<component
			:is="!never && i < 3 ? 'AsyncComponentWrapper' : 'LazyHydrate'"
			v-for="({ is, name, props, on, never, slice }, i) in components"
			:key="`${name}-${i}`"
			v-bind="{ never }"
			:when-visible="!never && i >= 3 && { rootMargin: '600px' }"
		>
			<component :is="is" v-if="is && !slice" v-bind="{ ...props, critical: i < 2 }" v-on="on" />
			<slot v-else v-bind="{ slice, index: i }" />
		</component>
	</div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration';
const AsyncComponentWrapper = {
	name: 'AsyncComponentWrapper',

	render() {
		return (this.$scopedSlots.default && this.$scopedSlots.default()) || null;
	},
};

export default {
	components: { LazyHydrate, AsyncComponentWrapper },

	props: {
		sliceComponents: {
			type: Array,
			required: true,
		},
	},

	computed: {
		components() {
			return this.sliceComponents
				.filter((c) => c.props.renderCondition !== false)
				.map((c, i) => ({
					...c,
					props: Object.entries(c.props).reduce((final, [key, val]) => {
						if (key !== 'vueOn') final[key] = val;
						return final;
					}, {}),
					on: c.props.vueOn || null,
					never: c.name.endsWith('NeverHydrate'),
				}));
		},
	},
};
</script>
