<template>
	<div class="grid w-full">
		<form autocomplete="off">
			<div class="grid-cols-1 gap-4 grid w-full mt-2">
				<MkInput
					v-if="businessAddress"
					:id="id + 'company_name'"
					:value="addressData['companyName']"
					class="mb-4"
					variant="outline"
					label="Company name (optional)"
					@input="updateForm('companyName', $event)"
				/>
			</div>
			<div class="grid-cols-1 md:gap-6 gap-4 md:grid-cols-2 grid w-full mt-2">
				<MkInput
					:id="id + 'first_name'"
					:value="addressData['firstName']"
					:set-focus="setFocus"
					class="mb-4"
					variant="outline"
					label="First name"
					rules="required|alpha_spaces"
					@input="updateForm('firstName', $event)"
				/>
				<MkInput
					:id="id + 'last_name'"
					:value="addressData['lastName']"
					class="mb-4"
					variant="outline"
					label="Last name"
					rules="required|alpha_spaces"
					@input="updateForm('lastName', $event)"
				/>
			</div>
			<div>
				<MkGoogleAddress
					:id="id + 'address_1'"
					:country="getCountry"
					label="Address 1"
					placeholder=" "
					:value="addressData['streetAddress1']"
					rules="required"
					variant="outline"
					class="mb-4"
					@AC_PLACE_CHANGED="fillInUserAddress"
					@change="updateForm('streetAddress1', $event)"
				/>
				<MkInput
					:id="id + 'address_2'"
					class="mb-4"
					variant="outline"
					:value="addressData['streetAddress2']"
					label="Address 2 (optional)"
					@input="updateForm('streetAddress2', $event)"
				/>
				<MkInput
					:id="id + 'city'"
					class="mb-4"
					variant="outline"
					:value="addressData['city']"
					:label="isEurope ? 'Town/City' : 'City'"
					rules="required"
					@input="updateForm('city', $event)"
				/>
			</div>
			<div v-if="!isEurope" class="grid-cols-1 md:gap-6 gap-4 md:grid-cols-2 grid w-full mt-2">
				<MkSelectDropdown
					:id="id + 'state'"
					:value="addressData['state']"
					:options="state_code_list"
					variant="outline"
					label="State"
					rules="required"
					@change="updateForm('state', $event)"
				/>
				<MkInput
					:id="id + 'postal_code'"
					:value="addressData['postalCode']"
					variant="outline"
					label="Postal Code"
					rules="required"
					:maxlength="10"
					@input="updateForm('postalCode', $event)"
				/>
				<MkSelectDropdown
					:id="id + 'country'"
					:value="addressData['country']"
					:options="country_code_list"
					variant="outline"
					label="Country"
					rules="required"
					@change="updateForm('country', $event)"
				/>
				<MkInput
					:id="id + 'phone_number'"
					class="mb-4"
					:value="addressData['phoneNumber']"
					variant="outline"
					type="phoneNumber"
					label="Phone number"
					maxlength="14"
					rules="required|phone"
					@input="updateForm('phoneNumber', $event)"
				/>
			</div>
			<div v-if="isEurope" class="grid-cols-1 md:gap-6 gap-4 md:grid-cols-2 grid w-full mt-2">
				<MkSelectDropdown
					:id="id + 'country'"
					:value="addressData['country']"
					:options="country_code_list"
					variant="outline"
					label="Country/Region"
					rules="required"
					@change="updateForm('country', $event)"
				/>
				<MkInput
					:id="id + 'postal_code'"
					:value="addressData['postalCode']"
					class="mb-4"
					variant="outline"
					label="Postal Code"
					rules="required"
					:maxlength="10"
					@input="updateForm('postalCode', $event)"
				/>
			</div>
			<MkInput
				v-if="isEurope"
				:id="id + 'phone_number'"
				class="mb-4"
				:value="addressData['phoneNumber']"
				variant="outline"
				type="phoneNumber"
				label="Phone number"
				maxlength="14"
				rules="required|phone"
				@input="updateForm('phoneNumber', $event)"
			/>
		</form>
	</div>
</template>
<script>
import StateList from '@/components/json/state_list.json';
import { defaultLocaleToAlpha2 } from '@/utils/locale-helpers';
import { mapState } from 'vuex';
import MkInput from '~/components/D2C/atoms/MkInput.vue';
import MkSelectDropdown from '~/components/D2C/atoms/MkSelectDropdown.vue';
import MkGoogleAddress from '~/components/D2C/atoms/MkGoogleAddress.vue';
export default {
	name: 'MkAddressForm',
	components: {
		MkSelectDropdown,
		MkInput,
		MkGoogleAddress,
	},
	props: {
		addressData: {
			type: Object,
			default() {
				return {};
			},
		},
		businessAddress: {
			type: Boolean,
			default: false,
		},
		id: {
			type: String,
			default: '',
		},
		setFocus: {
			type: String,
			default: 'false',
		},
	},
	data() {
		return {
			country_code_list: [
				{
					text: 'United States',
					value: 'US',
				},
				{
					text: 'Canada',
					value: 'CA',
				},
				{
					text: 'United Kingdom',
					value: 'GB',
				},
			],
			state_code_list: StateList.US,
			currentRegion: 'US',
		};
	},
	computed: {
		...mapState(['isEurope']),
		getCountry() {
			return defaultLocaleToAlpha2[this.$store.state.locale] || 'US';
		},
	},
	mounted() {
		this.currentRegion = defaultLocaleToAlpha2[this.$store.state.locale] || 'US';
		this.state_code_list = StateList[this.currentRegion] || 'US';
		this.addressData.country = this.currentRegion; // eslint-disable-line
	},
	methods: {
		updateForm(fieldName, value) {
			if (fieldName === 'country') {
				this.state_code_list = StateList[value];
			}
			this.$set(this.addressData, fieldName, value);
			this.$emit('input', this.addressData);
		},
		fillInUserAddress(addressData) {
			// const pfx = this.prefix
			const a = 'streetAddress1';
			const c = 'city';
			const s = 'state';
			const p = 'postalCode';
			const n = 'country';
			const {
				street_number = '', // eslint-disable-line
				route = '',
				postal_code = '', // eslint-disable-line
				administrative_area_level_1 = '', // eslint-disable-line
				locality = '',
				country = '',
        postal_town = ''
			} = addressData;
			// eslint-disable-next-line
			const new_address_object = {
				[a]: `${street_number}` ? `${street_number} ${route}` : `${route}`, // eslint-disable-line
				[c]: locality || postal_town || ' ',
				[s]: administrative_area_level_1 || ' ', // eslint-disable-line
				[p]: postal_code || '', // eslint-disable-line
				[n]: country || ' ',
			};
			// @@NOTE : remove all empty strings
			// eslint-disable-next-line
			if (this.isEurope) {
					delete new_address_object[s]
			}
			for (const propName in new_address_object) {
				if (
					!new_address_object[propName].length ||
					new_address_object[propName] === null ||
					new_address_object[propName] === undefined
				) {
					delete new_address_object[propName];
				}
			}
			// @@NOTE : Update address object
			// eslint-disable-next-line
			for (const key in new_address_object) {
				this.$set(this.addressData, key, new_address_object[key]);
				this.$emit('input', this.addressData);
			}
			this.$forceUpdate();
		},
	},
};
</script>
