<template>
  <div class="border border-black rounded-md">
    <div
      class="flex flex-col md:flex-row justify-between pl-4 pr-4 py-4 md:py-6 md:pl-8 md:pr-6 lg:pl-6 lg:pr-6 lg:py-6"
    >
      <div>
        <p class="font-primary-font-bold text-base leading-6">MollyMo</p>
        <p class="font-primary-font-light text-base leading-6 mt-1 lg:mt-2">
          Molekule Air
        </p>
      </div>
      <div class="mt-4 md:mt-0">
        <p class="font-primary-font-bold text-base leading-6 md:text-right">
          Purchased
        </p>
        <p class="font-primary-font-light text-base leading-6 mt-1 lg:mt-2">
          00/00/2019
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MkAutoRefills',
}
</script>
