<template>
  <div class="mt-2">
    <div
      class="flex-col md:rounded-lg lg:rounded bg-white px-4 md:px-6 lg:px-10 py-6 lg:py-10 mb-2"
    >
      <div class="flex justify-between items-center">
        <MkStepProgress
          :step-title="showLogin ? 'Sign in' : 'Device'"
          :step-number="stepNumber"
          :class-active="stepsCompleted == 2 ? 'active' : ''"
        />
      </div>
      <p
        tabindex="0"
        class="font-primary-font-light text-base leading-6 mt-6 md:mt-8"
      >
        Which devices do you want to activate auto-refills for?
      </p>
      <div class="flex w-full items-center mt-6">
        <MkCheck radio-title="" />
        <p tabindex="0" class="font-primary-font-light text-base pl-4">
          All devices
        </p>
      </div>
      <div>
        <MkAutoRefills class="mt-8 md:mt-6 lg:mt-8" />
      </div>
      <div class="mt-8 lg:mt-10">
        <MkPrimaryButton
          :disabled="false"
          class="font-primary-font-regular text-xl leading-6"
          button-title="Next"
          font-size="text-xl"
        />
      </div>
    </div>
  </div>
</template>

<script>
import MkStepProgress from '~/components/D2C/atoms/MkStepProgress.vue'
import MkCheck from '~/components/D2C/atoms/MkCheck.vue'
import MkAutoRefills from '~/components/D2C/molecules/MkAutoRefills.vue'
import MkPrimaryButton from '~/components/D2C/atoms/MkPrimaryButton.vue'

export default {
  name: 'MkDevices',
  components: {
    MkStepProgress,
    MkCheck,
    MkAutoRefills,
    MkPrimaryButton,
  },
  props: {
    stepsCompleted: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      stepNumber: 1,
    }
  },
}
</script>
