<template>
	<div :id="`sub_${itemObj.id}`">
		<MkInfoMessage :info-obj="itemObj.infoObj" />
		<div
			:class="showSuccess || turnOffSuccess || dateRenewalSuccess ? '' : 'md:rounded-lg lg:rounded'"
			class="w-full lg:w-960 bg-white px-4 pt-4 pb-6 mb-6 md:mb-8 lg:mb-10 md:p-6 lg:p-14 mb-2"
		>
			<h2 class="font-secondary-font-regular text-xl lg:text-base2 leading-6 lg:leading-10 mb-4 md:mb-2 lg:mb-8">
				{{ itemObj.planName || '' }}
			</h2>
			<h3 class="font-primary-font-light text-lg lg:text-xl leading-5 md:leading-6">
				{{ itemObj.name }}
			</h3>
			<div class="flex flex-col md:flex-row mt-10 md:mt-8 lg:mt-10">
				<div class="mx-auto md:mx-0 items-center justify-center md:justify-start md:items-start md:mr-8 lg:mr-10">
					<MkProductImage
						size-class="max-w-200 md:max-w-152 lg:max-w-200"
						:product-name="itemObj.name"
						:product-sku="itemObj.sku"
					/>
					<!-- <img
            src="~/assets/images/molecule-air-mini-plus.png"
            class="max-w-200 md:max-w-152 lg:max-w-200"
            :alt="itemObj.planName || itemObj.name"
          /> -->
				</div>
				<div class="mt-8 md:mt-0">
					<div class="grid grid-row-auto md:grid-cols-4 lg:grid-cols-3 md:gap-y-4 lg:gap-y-6">
						<div class="col-span-1">
							<p class="font-primary-font-bold text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6">
								Plan details
							</p>
						</div>
						<div class="col-span-3 lg:col-span-2 mb-6 md:mb-0 md:ml-7 lg:ml-0">
							<p
								class="mt-2 md:mt-0 font-primary-font-light text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6"
							>
								{{ itemObj.planDescription }}.
								<span
									class="”screen-reader-only”"
									:aria-label="`$${getCentPrice(itemObj.price)} every ${itemObj.period} Months`"
								></span>
								<span aria-hidden="”true”" class="font-primary-font-regular">
									${{ itemObj.price | centsToDollars }} every {{ itemObj.period }} mos.
								</span>
							</p>
						</div>
						<div class="col-span-1">
							<p class="font-primary-font-bold text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6">
								Next renewal date
							</p>
						</div>
						<div class="col-span-3 lg:col-span-2 mb-6 md:mb-0 md:ml-7 lg:ml-0">
							<div
								class="inline-block mt-2 md:mt-0 font-primary-font-light text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6"
							>
								<p>{{ itemObj.nextOrderDate | formatDateAurora('MM/DD/YYYY') }}</p>
							</div>
							<div
								:ref="rowIndex + 'tooltip'"
								class="focus:ring-1 focus:ring-black inline-block relative group p-0.5"
								role="tooltip"
								tabindex="0"
							>
								<span class="icon-notification" aria-label="Features auto-refills tooltip"></span>
								<MkCartTooltip
									class="hidden group-hover:block"
									:icon-position="toolTipPosition"
									tooltip="Filter refill pack will ship 1-2 business days after your next renewal date."
								></MkCartTooltip>
							</div>
						</div>
						<div class="col-span-1">
							<p class="font-primary-font-bold text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6">
								Serial #
							</p>
						</div>
						<div class="col-span-3 lg:col-span-2 mb-0 md:mb-0 md:ml-7 lg:ml-0">
							<p
								class="mt-2 md:mt-0 font-primary-font-light text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6 break-words"
							>
								{{ itemObj.serialNumber || '' }}
							</p>
						</div>
					</div>
					<MkSecondaryButton
						v-if="isEnable"
						button-title="Activate auto-refills"
						mksecondary-class="mx-auto md:mx-0"
						mksecondary-width="w-full md:w-260 lg:w-248 h-10 lg:h-14 justify-center items-center"
						class="mt-4 md:mt-10 text-xl"
						@click="$emit('subscription-select', subscriptionItem)"
					/>
					<div class="border-b border-grey-20 mt-8 md:mt-6 lg:mt-10"></div>
					<div
						class="flex flex-col md:grid md:grid-flow-col md:auto-cols-auto md:gap-y-14 lg:gap-x-16 justify-between mt-8 md:mt-6 lg:mt-10 md:pr-12 lg:pr-24"
					>
						<div>
							<p class="font-primary-font-bold text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6">
								Shipping address
							</p>
							<div class="flex flex-row items-start">
								<p
									v-if="itemObj.shippingDetails"
									class="break-all font-primary-font-light text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6 mt-2 max-w-200"
								>
									{{ itemObj.shippingDetails['streetName'] }}
									<span
										:ref="rowIndex + 'edit_shipping'"
										tabindex="0"
										role="button"
										class="w-5 ml-2 cursor-pointer focus:ring-1 focus:ring-black"
										@click="editOptions('edit_shipping', itemObj)"
										@keydown.enter="editOptions('edit_shipping', itemObj)">
									<img
										class="w-5"
										alt="Edit Shipping Address"
										src="~/assets/images/edit-icon.svg"
									/>
									</span>
								</p>
							</div>
						</div>
						<div class="mt-6 md:mt-0 text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6">
							<p class="font-primary-font-bold">Payment</p>
							<p v-if="itemObj.paymentStatus === 'declined'" class="font-primary-font-bold text-error-20 mt-1 md:mt-2">
								Payment declined
							</p>
							<div class="flex flex-row items-center">
								<p
									class="font-primary-font-light mt-2 text-base uppercase md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6"
								>
									{{ itemObj.cardDetails ? `${itemObj.cardDetails.brand} ${itemObj.cardDetails.last4}` : 'Affirm' }}
									<span
										v-if="itemObj.cardDetails && itemObj.paymentStatus !== 'declined'"
										:ref="rowIndex + 'edit_payment'"
										tabindex="0"
										role="button"
										class="w-5 ml-2 cursor-pointer focus:ring-1 focus:ring-black"
										@click="editOptions('edit_payment', itemObj)"
										@keydown.enter="editOptions('edit_payment', itemObj)"
									>
									<img										
										src="~/assets/images/edit-icon.svg"
										class="w-5"
										alt="Edit Payment"
									/>
									</span>
								</p>
							</div>
							<MkPrimaryButton
								v-if="itemObj.paymentStatus === 'declined'"
								btn-class="h-8 py-2 leading-4"
								class="font-primary-font-regular text-sm leading-6 mt-8 lg:mt-4"
								button-title="Update"
								font-size="text-sm"
								role="Button Update"
								tabindex="0"
								@click="editOptions('update_payment', itemObj)"
							/>
						</div>
						<div class="mt-6 md:mt-0 cursor-pointer flex justify-end items-start h-6">
							<div
								class="inline-block relative mk-tooltip"
								role="tooltip"
								@click="showTooltip()"
								@keyup.enter="showTooltip()"
							>
								<span
									:ref="'option_btn' + itemObj.id"
									role="button"
									tabindex="0"
									class="font-primary-font-bold text-base md:text-sm lg:text-base leading-6 md:leading-5 lg:leading-6 text-right md:text-left focus:ring-black focus:ring-1"
									aria-label="option"
									>Options</span
								>
								<MkCartTooltip
									v-show="showOptions"
									:rotate-left="true"
									type="option"
									:tool-tip-options="toolTipOptions"
									@selected="editOptions($event, itemObj)"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { mapState } from 'vuex';
import MkCartTooltip from '~/components/D2C/atoms/MkCartTooltip.vue';
import MkPrimaryButton from '~/components/D2C/atoms/MkPrimaryButton.vue';
import MkSecondaryButton from '~/components/D2C/atoms/MkSecondaryButton.vue';
import MkInfoMessage from '~/components/D2C/atoms/MkInfoMessage.vue';
import MkProductImage from '~/components/D2C/organisms/MkProductImage/MkProductImage.vue';
export default {
	name: 'MkRefillsProduct',
	components: {
		MkCartTooltip,
		MkPrimaryButton,
		MkSecondaryButton,
		MkInfoMessage,
		MkProductImage,
	},
	props: {
		subscriptionItem: {
			type: Object,
			default: () => {},
		},
		selectedSubscription: {
			type: Object,
			default: () => {},
		},
		rowIndex: {
			type: Number,
			default: 0,
		},
		dateRenewalSuccess: {
			type: Boolean,
			default: false,
		},
		turnOffSuccess: {
			type: Boolean,
			default: false,
		},
		showSuccess: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {
			itemObj: {
				slug: '',
				slugName: '',
			},
			showOptions: false,
			infoObj: {
				type: 'error',
				msg: '',
				class: 'bg-error-10 rounded-b-none',
			},
			toolTipPosition: null,
			checkTransaction: {
				count: 0,
				errorMsg: '',
			},
		};
	},
	computed: {
		...mapState('USER_STORE', ['SUBSCRIPTIONS']),
		...mapState('MODAL_STORE', ['IS_ACTIVE']),
		toolTipOptions() {
			const options = [];
			this.subscriptionItem.state === 'Active'
				? options.push(
						{
							action: 'change_renewal',
							text: 'Change renewal date',
						},
						{
							action: 'turn_off',
							text: 'Turn off auto refills',
						}
				  )
				: options.push({
						action: 'turn_on',
						text: 'Turn on auto refills',
				  });

			return options;
		},
		isEnable() {
			if (this.subscriptionItem.state === 'Active') {
				return false;
			}
			return true;
		},
	},
	watch: {
		IS_ACTIVE: {
			deep: true,
			handler() {
				this.focus_btn();
			},
		},
		subscriptionItem: {
			deep: true,
			handler() {
				this.transactionCheck();
			},
		},
	},
	beforeMount() {
		const lineItemList = this.subscriptionItem.lineItemList && this.subscriptionItem.lineItemList[0];
		const shippingDetails = this.subscriptionItem && this.subscriptionItem.shippingAddress;
		const cardDetails = this.subscriptionItem && this.subscriptionItem.creditCard;
		this.itemObj.slug = (lineItemList && lineItemList.slug) || '';
		this.itemObj.slugName = (lineItemList && lineItemList.name) || '';
		this.itemObj.shippingDetails = shippingDetails;
		this.itemObj.cardDetails = cardDetails;
		this.itemObj = {
			...this.itemObj,
			...lineItemList,
			...this.subscriptionItem,
		};
		// for testing on Error info
		// DEV NOTE
		const tempItem = {
			...this.itemObj,
		};
		tempItem.paymentStatus = '';
		this.infoObj.msg = '';

		// for testing purpose ADDED 'AIR'
		if (cardDetails) {
			const $date = new Date();
			const $subDate = new Date(`${cardDetails.expMonth}/30/${cardDetails.expYear}`);
			const oneDay = 1000 * 60 * 60 * 24;
			const diffInTime = $subDate.getTime() - $date.getTime();
			const $diffDays = Math.round(diffInTime / oneDay);
			if (Date.parse($subDate) <= Date.parse($date)) {
				tempItem.paymentStatus = 'declined';
				this.infoObj.type = 'error';
				this.infoObj.msg = 'There was an issue processing your payment. Please update your info';
			} else if ($diffDays <= 30 && $diffDays > 0) {
				this.infoObj.type = 'info';
				this.infoObj.msg = '<b>Heads up:</b> Your card expires soon';
				this.infoObj.class = 'bg-information-text';
			}
			this.itemObj = {
				...tempItem,
				infoObj: {
					...this.infoObj,
				},
			};
		}
		this.focus_btn();
		this.transactionCheck();
	},
	methods: {
		showTooltip() {
			this.showOptions = !this.showOptions;
			if (this.showOptions) {
				this.$root.$utility.fieldFocus(this, '0_turn_off');
			} else {
				this.$root.$utility.fieldFocus(this, '0_turn_on');
			}
		},
		getCentPrice($price) {
			return this.$options.filters.centsToDollars($price);
		},
		editOptions(event, value) {
			this.$emit('emitted-event', event, value);
			const payload = {
				from: event,
				index: this.rowIndex,
			};
			this.$emit('set-focus', payload);
		},
		focus_btn() {
			if (!this.IS_ACTIVE) {
				if (this.selectedSubscription.id === this.subscriptionItem.id) {
					this.$root.$utility.elementFocus(this, 'option_btn' + this.itemObj.id);
				}
			}
		},
		transactionCheck() {
			const $obj = {
				count: 0,
				errorMsg: '',
			};
			if (
				this.subscriptionItem &&
				this.subscriptionItem.transactions &&
				this.subscriptionItem.transactions.length >= 4
			) {
				const array = this.subscriptionItem.transactions.slice(
					Math.max(this.subscriptionItem.transactions.length - 4, 0)
				);
				array.forEach((el) => {
					if (el.type === 'failed') {
						$obj.count++;
						$obj.errorMsg = el.messages;
					}
				});
				if ($obj.count >= 4) {
					this.itemObj.infoObj.msg = 'Your credit card payment has been declined';
					this.itemObj.paymentStatus = 'declined';
				} else {
					this.itemObj.infoObj.msg = '';
					this.itemObj.paymentStatus = '';
				}
			}
			this.checkTransaction = $obj;
		},
	},
};
</script>
