<template>
  <div class="flex flex-col items-center w-full lg:w-4/12">
    <MkSaveBigIcon />
    <h2
      class="primary-font-bold text-base text-white lg:mt-14 lg:mb-4 md:mt-6 md:mb-4 mt-5 mb-2"
    >
      Save big
    </h2>
    <p
      class="primary-font-regular text-white text-center text-sm lg:w-6/12 md:w-10/12 w-250"
    >
      Auto-refills cost less than paying per filter. And shipping is free.
    </p>
  </div>
</template>

<script>
import MkSaveBigIcon from '~/components/D2C/atoms/MkSaveBigIcon.vue'

export default {
  name: 'MkSaveBig',
  components: {
    MkSaveBigIcon,
  },
  props: {},
}
</script>
