<template>
  <div class="w-full bg-mint-10 py-10 lg:py-20 px-4 md:px-0">
    <p
      class="justify-center items-center text-center font-secondary-font-regular lg:font-primary-font-light text-24 leading-7 lg:text-32 lg:leading-10 text-black lg:text-grey-40"
    >
      Bundle & save. 30-day home trial. 100% refundable.
    </p>
    <div
      class="flex flex-row justify-between items-center text-center pt-12 md:pt-10 lg:pt-20 md:px-10 lg:px-20"
    >
      <div
        v-for="(product, index) in PRODUCTS_BY_CATEGORY"
        :key="index"
        class="md:w-210 lg:w-1/4"
      >
        <div class="justify-center items-center">
          <img src="~/assets/images/air_pro.png" class="w-full" alt="air_pro" />
        </div>
        <div class="mt-8 md:mt-6">
          <p
            class="font-secondary-font-regular text-xl md:text-18 lg:text-24 leading-6 lg:leading-8"
          >
            {{ product.name['en-US'] }}
          </p>
          <p
            class="font-primary-font-light text-xl md:text-18 leading-6 text-black md:text-grey-40 lg:text-black mt-2 lg:mt-1"
          >
            — Save ${{
              (product.masterVariant.prices[0].value.centAmount -
                product.masterVariant.prices[0].discounted.value.centAmount)
                | centsToDollars
            }}
            —
          </p>
          <p
            class="font-primary-font-light text-xl md:text-18 leading-6 text-black md:text-grey-40 lg:text-black mt-6"
          >
            $63/month*
          </p>
          <div
            class="flex font-primary-font-light text-xl md:text-18 leading-6 justify-center items-center mt-1 md:mt-2 lg:mt-4"
          >
            <p class="line-through text-black md:text-grey-40">
              ${{
                product.masterVariant.prices[0].value.centAmount
                  | centsToDollars
              }}
            </p>
            <p
              class="pl-1 md:pl-2 lg:pl-5 text-black md:text-grey-40 lg:text-black"
            >
              ${{
                product.masterVariant.prices[0].discounted.value.centAmount
                  | centsToDollars
              }}
            </p>
          </div>
          <div
            class="flex justify-center items-center text-center mt-6 lg:mt-4"
          >
            <MkPrimaryButton
              btn-class="min-w-150 font-primary-font-regular text-sm leading-5 cursor-pointer"
              button-title="Add to cart"
              font-size="text-xl"
              @click="addToCart(product)"
            />
          </div>
          <div
            class="flex md:flex-col lg:flex-row justify-center items-center lg:items-baseline mt-10 md:mt-6 lg:mt-10"
          >
            <p class="font-primary-font-light text-sm leading-6 lg:leading-5">
              *Starting at 0% APR with
            </p>
            <div class="flex flex-row items-center md:items-baseline">
              <div class="w-10 h-4 md:w-14 md:h-5 lg:pl-1">
                <img
                  src="~/assets/images/affirm.png"
                  class="w-full"
                  alt="affirm"
                />
              </div>
              <p
                class="font-primary-font-light md:font-primary-font-regular lg:font-primary-font-bold text-sm leading-6 lg:leading-5 md:pl-2 lg:pl-1"
              >
                Prequalify now
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MkPrimaryButton from '~/components/D2C/atoms/MkPrimaryButton.vue'
export default {
  name: 'MkBundleProduct',
  components: {
    MkPrimaryButton,
  },
  data() {
    return {
      products: [],
    }
  },
  async mounted() {
    await this.$store.dispatch(
      'PRODUCT_STORE/GET_PRODUCTS_BY_CATEGORY',
      'purifier-bundle'
    )
  },
  computed: {
    ...mapState('CART_STORE', ['CART', 'CART_ID']),
    ...mapState('USER_STORE', ['AUTHENTICATED', 'CUSTOMERID']),
    ...mapState('PRODUCT_STORE', ['PRODUCTS_BY_CATEGORY']),
  },
  methods: {
    async addToCart($item) {
      try {
        const newCartPayload = {
          tealiumVisitorId: '',
        }
        const newProductPayload = {
          action: 'ADD_LINE_ITEM',
          variantId: 1,
          variantSKU: $item.masterVariant.sku, // "air-pro-2-air-mini+",
          productId: '-',
        }

        if (this.AUTHENTICATED) {
          newCartPayload.customerId = this.CUSTOMERID
        }
        try {
          if (!this.CART_ID) {
            await this.$store.dispatch('CART_STORE/CREATE_CART', newCartPayload)
          }
          await this.$store.dispatch(
            'CART_STORE/ADD_REMOVE_FROM_CART',
            newProductPayload
          )
          await this.$store.dispatch(
            'MK_CART_STORE/TOGGLE_SIDE_CART',
            'MK_SIDE_CART'
          )
        } catch (error) {
          // move to global error handler
          console.log(error)
        }
      } catch (exp) {}
    },
  },
}
</script>
