<template>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:h-720 md:bg-grey-10">
    <div class="relative flex items-center justify-center hidden md:grid">
      <div class="absolute top-0 bottom-0 left-0 right-0 md:py-12 lg:py-20">
        <MKProductImage
          :image-style="' box-border h-full w-auto'"
          :product-detail="product"
        />
      </div>
    </div>

    <div
      class="flex flex-col justify-between px-4 pt-10 pb-6 md:p-8 lg:p-16 md:bg-white"
    >
      <div
        class="flex flex-col items-center text-center md:items-start md:text-left"
      >
        <MKProductDetails
          :product-detail="product"
          product-style="leading-7 lg:leading-10"
        />
        <MKProductRating
          :key="rating"
          :product-detail="product"
          :rating="rating"
          :review="review"
          :is-single="true"
        />
      </div>
      <div
        class="relative flex items-center justify-center mt-10 mb-10 md:hidden"
      >
        <MKProductImage
          :image-style="'h-96 box-border'"
          :product-detail="product"
        />
      </div>
      <div
        class="flex flex-col text-center md:text-left md:flex-row md:justify-between"
      >
        <MKProductLink width="md:whitespace-pre-line md:text-xs" />
        <MKProductCart :product-details="product" :product-style="viewClass" />
      </div>
    </div>
  </div>
</template>
<script>
import MKProductRating from '@/components/D2C/atoms/MkProductRating/MkProductRating.vue'
import MKProductDetails from '~/components/D2C/molecules/MkProductDetails/MkProductDetails.vue'
import MKProductLink from '~/components/D2C/molecules/MkProductLink/MkProductLink.vue'
import MKProductImage from '~/components/D2C/organisms/MkProductImage/MkProductImage.vue'
import MKProductCart from '~/components/D2C/organisms/MkProductCart/MkProductCart.vue'
export default {
  name: 'MkProductSingleWidget',
  components: {
    MKProductRating,
    MKProductDetails,
    MKProductLink,
    MKProductImage,
    MKProductCart,
  },
  props: {
    color: {
      type: String,
      default: '',
    },
    imageName: {
      type: String,
      default: '',
    },
    product: {
      type: Object,
      default() {
        return {
          averageRating: 0,
          reviewCount: 0,
        }
      },
    },
    viewClass: {
      type: String,
      default: '',
    },
  },
  data() {
    return {}
  },
  computed: {
    rating() {
      return parseFloat(this.product.averageRating) || 0
    },
    review() {
      return parseFloat(this.product.reviewCount) || 0
    },
  },
  watch: {
    product() {
      this.$forceUpdate()
    },
  },
}
</script>
