<template>
	<div
		class="col-span-1 py-10 px-4 md:py-8 md:px lg:p-10 lg:h-720 relative flex flex-col justify-between"
		:class="color"
	>
		<div class="flex flex-col lg:flex-row lg:items-end justify-between text-center lg:text-left">
			<MKProductDetails :product-detail="product" product-style="leading-7 lg:leading-10" />
			<MKProductRating
				:key="rating"
				:product-detail="product"
				:rating="rating"
				:review="review"
				star-class="lg:absolute lg:right-10 lg:mt-1 lg:pt-3"
			/>
			<div>
				<p
					class="mt-2 flex-col text-lg text-black md:mt-1 h-7 md:text-base lg:text-2xl font-primary-font-light leading-5 md:leading-6 lg:leading-7"
				>
					<span :aria-label="`product price ${product['productPriceMSRP']['centAmount']} `" class="float-right"
						>{{ currencyDisplay }}{{ product['productPriceMSRP']['centAmount'] | centsToDollars }}</span
					>
				</p>
			</div>
		</div>
		<MKProductImage :product-detail="product" :image-style="'h-96 lg:absolute inset-0 m-auto'" />
		<div class="flex flex-col lg:items-end lg:flex-row justify-between text-center lg:text-left items-center">
			<MKProductCart :product-details="product" :product-style="viewClass" />
		</div>
	</div>
</template>
<script>
import { mapState } from 'vuex';
import MKProductRating from '@/components/D2C/atoms/MkProductRating/MkProductRating.vue';
import MKProductDetails from '~/components/D2C/molecules/MkProductDetails/MkProductDetails.vue';
import MKProductImage from '~/components/D2C/organisms/MkProductImage/MkProductImage.vue';
import MKProductCart from '~/components/D2C/organisms/MkProductCart/MkProductCart.vue';
export default {
	name: 'MkProductDoubleWidget',
	components: {
		MKProductRating,
		MKProductDetails,
		MKProductImage,
		MKProductCart,
	},
	props: {
		color: {
			type: String,
			default: '',
		},
		imageName: {
			type: String,
			default: '',
		},
		product: {
			type: Object,
			default() {
				return {
					averageRating: 0,
					reviewCount: 0,
				};
			},
		},
		viewClass: {
			type: String,
			default: '',
		},
	},
	data() {
		return {};
	},
	computed: {
		...mapState(['currencyDisplay']),
		rating() {
			return parseFloat(this.product.averageRating) || 0;
		},
		review() {
			return parseFloat(this.product.reviewCount) || 0;
		},
	},
};
</script>
