<template>
  <div class="md:flex md:items-end">
    <div
      v-show="!isAuthenticatedUser"
      class="text-black-300 transition-colors duration-200 relative block hover:text-black-100"
      @click="$store.commit('QUICK_REGISTER_STORE/TOGGLE_QUICK_REGISTER')"
    >
      <p
        tabindex="0"
        class="w-full text-sm text-black lg:text-sm lg:text-black font-primary-font-regular lg:mt-0 lg:flex lg:items-end cursor-pointer"
        :class="width"
        @keypress.enter="
          $store.commit('QUICK_REGISTER_STORE/TOGGLE_QUICK_REGISTER')
        "
      >
        {{ userCta }}
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MkProductLink',
  props: {
    width: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      userCta: `Register to see \n volume-based discounts`,
    }
  },
  computed: {
    REGISTRATION_SUCCESS() {
      const resp = this.$store.state.QUICK_REGISTER_STORE.REGISTRATION_RESPONSE
        .success
      return resp
    },
    isAuthenticatedUser() {
      return (
        this.$store.state.USER_STORE.AUTHENTICATED || this.REGISTRATION_SUCCESS
      ) // TODO: Update this by auth store
    },
  },
  methods: {},
}
</script>
