<template>
	<div :id="id">
		<BlockComparisonTable
			v-bind="$props"
			:items="comparisonTableItems"
			disable-sticky-header
			:has-min-width="false"
			appearance="secondary"
			row-headers-min-width="auto"
			other-columns-min-width="auto"
			show-bottom-buttons-row-on-desktop
		>
			<template #topImagesMobile="{ topImages, headingBgColorClass, gridTemplateColumns, minWidth }">
				<div
					v-if="topImages.length"
					:class="[$style.stickyHeaderRow, headingBgColorClass]"
					:style="{
						gridTemplateColumns: getUpdatedColumns(gridTemplateColumns),
						minWidth,
					}"
				>
					<div />
					<div :class="$style.images">
						<div v-for="(img, i) in topImages.slice(1)" :key="i" :class="$style.imageWrapper">
							<BaseImage
								v-if="img && Object.keys(img).length"
								:image="img.mobileImage"
								:images="{ medium: img.desktopImage }"
								sizes="calc((100vw - 5rem) * .666 * .798)"
								compression-level="high"
							/>
						</div>
					</div>
				</div>
			</template>
		</BlockComparisonTable>
		<BlockSpecs
			:heading="heading2"
			:heading-desktop="heading2Desktop"
			:items="specsItems"
			:mobile-background-color="mobileBackgroundColor"
			:desktop-background-color="desktopBackgroundColor"
			:name-width="33"
			:value-width="66"
			v-bind="getColorProps($props)"
			appearance="secondary"
		/>
	</div>
</template>

<script>
import { getColorProps } from '@components/provider-custom-colors';
import BlockComparisonTable from '@components/block-comparison-table';
import BlockSpecs from '@components/block-specs';
import { fromEntries } from '@/utils';

export default {
	components: { BlockComparisonTable, BlockSpecs },

	inheritAttrs: false,

	props: {
		id: {
			type: String,
			default: null,
		},

		items: {
			type: Array,
			default: () => [],
		},

		showCtaRowOnDesktop: { type: Boolean, default: false },

		column2CtaLink: { type: Object, default: null },
		column3CtaLink: { type: Object, default: null },
		column2CtaText: { type: String, default: '' },
		column3CtaText: { type: String, default: '' },
		column2CtaTextDesktop: { type: String, default: '' },
		column3CtaTextDesktop: { type: String, default: '' },
		column2ImageMobile: { type: Object, default: null },
		column3ImageMobile: { type: Object, default: null },
		column2Image: { type: Object, default: null },
		column3Image: { type: Object, default: null },
		heading: { type: String, default: '' },
		headingDesktop: { type: String, default: '' },
		heading2: { type: String, default: '' },
		heading2Desktop: { type: String, default: '' },
		ctaRowHeader: { type: String, default: '' },
		desktopBackgroundColor: { type: String, default: '' },
		desktopHeaderBackgroundColor: { type: String, default: '' },
		desktopRowHeadersBackgroundColor: { type: String, default: '' },
		mobileBackgroundColor: { type: String, default: '' },
		mobileHeaderBackgroundColor: { type: String, default: '' },
		mobileRowHeadersBackgroundColor: { type: String, default: '' },

		headingColor: { type: String, default: '' },
		copyColor: { type: String, default: '' },
		headingColorDesktop: { type: String, default: '' },
		copyColorDesktop: { type: String, default: '' },
	},

	computed: {
		comparisonTableItems() {
			return this.items.filter((row) => row.rowType !== 'Shared');
		},

		specsItems() {
			return this.items
				.filter((row) => row.rowType === 'Shared')
				.map((row) => ({
					name: row.column1,
					value: row.column2,
				}));
		},
	},

	methods: {
		fromEntries,

		getColorProps,

		getUpdatedColumns(cols) {
			let gridTemplateColumns = '';
			cols = cols.split(' ').map((col) => parseFloat(col));

			gridTemplateColumns += `${cols[0]}%`;

			gridTemplateColumns += ` ${cols[1] + cols[2]}%`;

			return gridTemplateColumns;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.stickyHeaderRow {
	display: grid;
	align-items: flex-end;
	padding: 0 4rem;
}

.images {
	display: flex;
}

.imageWrapper {
	position: relative;

	&:first-child {
		left: -3rem;
		z-index: 1;
		flex: 1 0 79.8%;
	}

	&:nth-child(2) {
		position: relative;
		left: calc(-35% - 3rem);
		flex: 1 0 73.7%;
	}
}
</style>
