<template>
	<MkTalkable />
</template>
<script>
import MkTalkable from '~/components/D2C/organisms/MkTalkable.vue';
export default {
	components: {
		MkTalkable,
	},
	head() {
		return {
			script: [
				{
					innerHTML:
						"window._talkableq=window._talkableq||[];_talkableq.push(['init',{site_id:'" +
						process.env.talkable_site_id +
						"'}]);window._talkableq.push(['authenticate_customer',{email:'',first_name:'',last_name:'', traffic_source: ''}]);window._talkableq.push(['register_affiliate',{}]);",
					type: 'text/javascript',
				},
				{
					src: '//d2jjzw81hqbuqv.cloudfront.net/integration/clients/' + process.env.talkable_site_id + '.min.js',
					async: true,
				},
			],
			__dangerouslyDisableSanitizers: ['script'],
			bodyAttrs: {
				class: this.$style && this.$style.talkable,
			},
		};
	},
};
</script>
<style>
.talkable {
	background-color: #f2f2f2;
}
</style>
