/* eslint-disable */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import "./custom.css"; */
@font-face {
	font-family: 'Akkurat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/akkurat/lineto-akkurat-pro-regular.woff2') format('woff2'),
		url('../fonts/akkurat/lineto-akkurat-pro-regular.woff') format('woff');
}

@font-face {
	font-family: 'Akkurat';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/akkurat/lineto-akkurat-pro-italic.woff2') format('woff2'),
		url('../fonts/akkurat/lineto-akkurat-pro-italic.woff') format('woff');
}

@font-face {
	font-family: 'Akkurat';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/akkurat/lineto-akkurat-pro-light.woff2') format('woff2'),
		url('../fonts/akkurat/lineto-akkurat-pro-light.woff') format('woff');
}

@font-face {
	font-family: 'Akkurat';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/akkurat/lineto-akkurat-pro-lightitalic.woff2') format('woff2'),
		url('../fonts/akkurat/lineto-akkurat-pro-lightitalic.woff') format('woff');
}

@font-face {
	font-family: 'Akkurat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/akkurat/lineto-akkurat-pro-bold.woff2') format('woff2'),
		url('../fonts/akkurat/lineto-akkurat-pro-bold.woff') format('woff');
}

@font-face {
	font-family: 'Akkurat';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/akkurat/lineto-akkurat-pro-bolditalic.woff2') format('woff2'),
		url('../fonts/akkurat/lineto-akkurat-pro-bolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Plantin';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/plantin/30BBC3_0_0.woff2') format('woff2'), url('../fonts/plantin/30BBC3_0_0.woff') format('woff');
}

@font-face {
	font-family: 'Plantin';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/plantin/30BBD6_0_0.woff2') format('woff2'), url('../fonts/plantin/30BBD6_0_0.woff') format('woff');
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

@layer base {
	input:focus-within ~ label,
	input:not(:placeholder-shown) ~ label {
		@apply transform scale-75 -translate-y-6;
	}

	.card-ul li {
		@apply list-none mr-1.5;
	}

	.card-ul li img {
		@apply w-auto h-6;
	}

	.divider-line {
		/* @apply w-full border-b border-grey-40 mt-8 lg:mt-12; */
	}

	.edit-button {
		@apply text-base font-primary-font-bold;
	}

	.edit-button:hover {
		@apply underline;
	}

	input:focus-within ~ label {
		@apply text-black;
	}

	.outline input:focus-within ~ label,
	.outline input:not(:placeholder-shown) ~ label {
		@apply z-0 px-1 pt-3 pb-1 ml-3 leading-4 transform scale-75 -translate-y-1 bg-transparent font-primary-font-bold;
	}

	input[type='text']:focus,
	input[type='text']:focus-within,
	input[type='password']:focus,
	input[type='password']:focus-within,
	input[type='select']:focus,
	input[type='select']:focus-within {
		@apply origin-bottom-left pl-4;
	}

	input[type='text']:disabled,
	input[type='select']:disabled,
	.autocomplete input:disabled {
		-webkit-text-fill-color: #d7d5d4;
	}

	.mk-small-drpdwn .outline input:focus-within ~ label,
	.mk-small-drpdwn .outline input:not(:placeholder-shown) ~ label {
		@apply z-0 px-1 pt-1 pb-0 ml-3 font-bold leading-4 transform scale-75 -translate-y-1 bg-transparent;
	}

	.skip-main:focus {
		@apply text-white bg-black left-auto top-auto w-1/6 p-1.5 h-auto overflow-auto text-center z-999 border-solid border-black;
	}

	@font-face {
		font-family: 'Plantin MT Pro Regular';
		src: url('../fonts/Monotype-PlantinMTPro-Regular.otf');
		/* src: url('../../fonts/Monotype-PlantinMTPro-Regular.woff2') format('woff2'),
       url('../../fonts/Monotype-PlantinMTPro-Regular.woff') format('woff'),
       url('../../fonts/Monotype-PlantinMTPro-Regular.ttf') format('truetype'),
       url('../../fonts/Monotype-PlantinMTPro-Regular.svg') format('svg'),
       url('../../fonts/Monotype-PlantinMTPro-Regular.eot')
         format('embedded-opentype'); */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Plantin MT Pro Italic';
		src: url('../fonts/Monotype-PlantinMTStd-Italic.otf');
		/* src: url('../../fonts/Monotype-PlantinMTStd-Italic.woff2') format('woff2'),
       url('../../fonts/Monotype-PlantinMTStd-Italic.woff') format('woff'),
       url('../../fonts/Monotype-PlantinMTStd-Italic.ttf') format('truetype'),
       url('../../fonts/Monotype-PlantinMTStd-Italic.svg') format('svg'),
       url('../../fonts/Monotype-PlantinMTStd-Italic.eot?')
         format('embedded-opentype'); */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Akkurat Pro Regular';
		src: url('../fonts/AkkuratPro-Regular.otf');
		src: url('../fonts/AkkuratPro-Regular.woff') format('woff'),
			url('../fonts/AkkuratPro-Regular.eot?') format('embedded-opentype');
		/*
       url('../../fonts/AkkuratPro-Regular.woff') format('woff'),
       url('../../fonts/AkkuratPro-Regular.ttf') format('truetype'),
       url('../../fonts/AkkuratPro-Regular.svg') format('svg'),
       u */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Akkurat Pro Light Italic';
		src: url('../fonts/AkkuratPro-LightItalic.otf');
		src: url('../fonts/AkkuratPro-LightItalic.woff') format('woff'),
			url('../fonts/AkkuratPro-LightItalic.eot?') format('embedded-opentype');
		/*
       url('../../fonts/AkkuratPro-LightItalic.woff') format('woff'),
       url('../../fonts/AkkuratPro-LightItalic.ttf') format('truetype'),
       url('../../fonts/AkkuratPro-LightItalic.svg') format('svg'),
        */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Akkurat Pro Light';
		src: url('../fonts/AkkuratPro-Light.otf');
		src: url('../fonts/AkkuratPro-Light.woff') format('woff'),
			url('../fonts/AkkuratPro-Light.eot?') format('embedded-opentype');
		/* src: url('../../fonts/AkkuratPro-Light.woff2') format('woff2'),
       url('../../fonts/AkkuratPro-Light.woff') format('woff'),
       url('../../fonts/AkkuratPro-Light.ttf') format('truetype'),
       url('../../fonts/AkkuratPro-Light.svg') format('svg'),
        */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Akkurat Pro Italic';
		src: url('../fonts/AkkuratPro-Italic.otf');
		src: url('../fonts/AkkuratPro-Italic.woff') format('woff'),
			url('../fonts/AkkuratPro-Italic.eot?') format('embedded-opentype');
		/* ,
       url('../../fonts/AkkuratPro-Italic.woff') format('woff'),
       url('../../fonts/AkkuratPro-Italic.ttf') format('truetype'),
       url('../../fonts/AkkuratPro-Italic.svg') format('svg'),
        */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Akkurat Pro Bold Italic';
		src: url('../fonts/AkkuratPro-BoldItalic.otf');
		src: url('../fonts/AkkuratPro-BoldItalic.woff') format('woff'),
			url('../fonts/AkkuratPro-BoldItalic.eot?') format('embedded-opentype');
		/* ,
       url('../../fonts/AkkuratPro-BoldItalic.woff') format('woff'),
       url('../../fonts/AkkuratPro-BoldItalic.ttf') format('truetype'),
       url('../../fonts/AkkuratPro-BoldItalic.svg') format('svg'),
        */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Akkurat Pro Bold';
		src: url('../fonts/AkkuratPro-Bold.otf');
		src: url('../fonts/AkkuratPro-Bold.woff') format('woff'),
			url('../fonts/AkkuratPro-Bold.eot?') format('embedded-opentype');
		/*
       url('../../fonts/AkkuratPro-Bold.woff') format('woff'),
       url('../../fonts/AkkuratPro-Bold.ttf') format('truetype'),
       url('../../fonts/AkkuratPro-Bold.svg') format('svg'),
        */
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.eot?vclfsv');
		src: url('../fonts/icomoon.eot?vclfsv#iefix') format('embedded-opentype'),
			url('../fonts/icomoon.ttf?vclfsv') format('truetype'), url('../fonts/icomoon.woff?vclfsv') format('woff'),
			url('../fonts/icomoon.svg?vclfsv#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	[class^='icon-'],
	[class*=' icon-'] {
		font-family: 'icomoon' !important;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	icon-logo:before {
		content: '\e911';
	}

	.icon-notification:before {
		content: '\e918';
		color: #d7d5d4;
	}

	.icon-notification::before:hover {
		@apply text-black;
	}

	.icon-check:before {
		content: '\e901';
		margin-left: -1em;
		color: rgb(255, 255, 255);
	}

	.icon-plus:before {
		content: '\e902';
		color: #535354;
	}

	.icon-plus-poNumber:before {
		content: '\e902';
		color: #000;
	}

	.icon-minus:before {
		content: '\e903';
		color: #535354;
	}

	.icon-xl-close:before {
		content: '\e904';
		color: #d7d5d4;
	}

	.icon-eye-view:before {
		content: '\e905';
	}

	.icon-down-arrow:before {
		content: '\e906';
	}

	.icon-left-arrow:before {
		content: '\e907';
	}

	.icon-cart:before {
		content: '\e908';
		color: #535354;
	}

	.icon-close:before {
		content: '\e909';
		color: #d7d5d4;
	}

	.icon-delete:before {
		content: '\e90a';
	}

	.icon-hamburger:before {
		content: '\e90c';
		color: #535354;
	}

	.icon-sm-minus:before {
		content: '\e90d';
		color: #535354;
	}

	.icon-sm-plus:before {
		content: '\e90e';
		color: #535354;
	}

	.icon-star:before {
		content: '\e912';
	}

	.icon-navigation-right-arrow:before {
		content: '\e914';
		color: rgb(255, 255, 255);
		background-color: #000;
		border-radius: 50%;
	}

	.icon-navigation-right-arrow-poNumber::before {
		content: '\e915';
		color: rgb(211, 211, 211);
		background-color: #fff;
		border-radius: 50%;
	}

	.icon-circle-navigation-right-arrow:before {
		content: '\e915';
	}

	.icon-right-arrow:before {
		content: '\e916';
	}

	.icon-up-arrow:before {
		content: '\e917';
	}

	.icon-notification:before {
		content: '\e90b';
	}

	[type='radio']:checked,
	[type='checkbox']:checked {
		background-image: url('~assets/images/radio-check.svg');
	}

	body:not(.tab-key-press) button:focus,
	body:not(.tab-key-press) input:focus,
	body:not(.tab-key-press) select:focus,
	body:not(.tab-key-press) text:focus,
	body:not(.tab-key-press) .mk-focus-disable:focus,
	body:not(.tab-key-press) [role='link'],
	body:not(.tab-key-press) [role='button'] {
		outline: none;
	}

	/* .mk-focus-disable:focus{
  outline:none;
}
.mk-focus-disable{
  &:focus-visible {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color !important;
  }
}
.mk-focus-disable{
  &:focus {
    outline:none;
  }
} */
	.mk-link:focus,
	.mk-link:hover {
		@apply underline;
	}

	.pac-container {
		border: none;
		box-shadow: none;
	}

	.layer-bg::before {
		content: '';
		background: #f4f2f2;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.mk-tooltip:focus > .mk-tooltip-text {
		display: block;
	}

	.mk-or-text {
		@apply relative;
	}
	.mk-or-text:before,
	.mk-or-text:after {
		content: '';
		@apply absolute;
		@apply w-8;
		height: 1px;
		@apply bg-black;
		top: 57%;
	}
	.mk-or-text:before {
		left: -35px;
	}
	.mk-or-text:after {
		right: -35px;
	}
}
