<template>
  <div class="layer-bg relative mx-auto w-full">
    <div class="bg"></div>
    <div class="flex flex-col mx-auto max-w-screen-xl">
      <MkGiftRegister />
    </div>
  </div>
</template>
<script>
import MkGiftRegister from '~/components/D2C/organisms/MkGiftRegister.vue'
export default {
  name: 'GiftRegister',
  components: {
    MkGiftRegister,
  },
  layout: 'aurora-layout',
  middleware: 'auth',
  data() {
    return {
      giftEnabled: false,
    }
  },
  methods: {
    hideAutorefill(flag) {
      this.giftEnabled = flag
    },
  },
}
</script>
<style lang="postcss">
.bg {
  background-image: url('~assets/images/bg_register_gift.png');
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: absolute;
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  .bg {
    background-image: url('~assets/images/bg_register_gift-mobile.png');
    height: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bg {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .bg {
    height: 609px;
  }
}
</style>
