<template>
	<div :class="$style.block">
		<h2 class="u-font-secondary" :class="$style.heading">{{ heading }}</h2>

		<div :class="$style.message" v-html="message" />

		<BaseButton :to="ctaLink.url" size="medium" appearance="primary" :target="ctaLink.target">{{ ctaText }}</BaseButton>
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
	props: {
		error: {
			type: Object,
			default: null,
		},
	},

	head() {
		return {
			title: this.error.message,
			bodyAttrs: {
				class: this.$style.error,
			},
		};
	},

	computed: {
		...mapState({
			errorPage(state) {
				const { error } = state.globalData;

				return (error && error[String(this.error.statusCode)]) || error.Default || {};
			},
		}),

		heading() {
			const { heading } = this.errorPage;
			return heading || 'Oops!';
		},

		message() {
			const { message } = this.errorPage;
			const { message: errorMessage = '' } = this.error || {};
			return (typeof message === 'string' && message) || errorMessage || 'This page could not be found';
		},

		ctaLink() {
			const { ctaLink } = this.errorPage;
			return ctaLink && Object.keys(ctaLink).length ? ctaLink : { url: '/' };
		},

		ctaText() {
			const { ctaText } = this.errorPage;
			return ctaText || 'Go to Homepage';
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.error {
	padding-top: 0;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 500px;
	padding: 0 size('s');
	text-align: center;
}

.heading {
	@include use-text-style('heading-400');

	@include above('large') {
		@include use-text-style('heading-700');
	}
}

.message {
	margin: 3rem 0;
	color: color('primary-100');

	@include use-text-style('type');
	@include use-text-style('type-200');

	@include above('large') {
		@include use-text-style('type-100');
	}
}
</style>
