<template>
	<div :id="id" class="u-block-spacing" :class="$style.block">
		<h2 v-if="heading" class="u-heading u-heading--pre-line">{{ heading }}</h2>

		<p v-if="description" class="u-subheading u-subheading--pre-line">{{ description }}</p>

		<div :class="$style.row">
			<div :class="$style.col">
				<div :class="$style.imageWrapper">
					<BaseImage
						:image="imageMobile"
						:images="{ large: imageDesktop }"
						sizes="(min-width: 1200px) 636px, (min-width: 768px) calc((100vw - 40px) * 0.57), calc(100vw - 40px)"
						compression-level="low"
					/>
				</div>
			</div>
			<div :class="$style.col">
				<div :class="$style.contentWrapper">
					<div v-rich-content class="u-copy" :class="$style.content" v-html="content"></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		description: {
			type: String,
			default: '',
		},

		content: {
			type: [String, Array],
			default: '',
		},

		imageMobile: {
			type: Object,
			default: () => ({}),
		},

		imageDesktop: {
			type: Object,
			default: () => ({}),
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	max-width: 117rem + size('s') * 2;
	padding: 0 size('s');
	margin-right: auto;
	margin-left: auto;
}

.row {
	@include above('medium') {
		display: flex;
		align-items: center;
		margin: 0 size('s') * -1;
	}

	@include above('xlarge') {
		margin: 0 size('m') * -1;
	}
}

.col {
	@include above('medium') {
		flex: 0 0 auto;
		padding: 0 size('s');
	}

	@include above('xlarge') {
		padding: 0 size('m');
	}

	&:first-child {
		margin-bottom: size('m');

		@include above('medium') {
			flex: 0 0 auto;
			order: 1;
			width: 57%;
			margin-bottom: 0;
		}
	}

	&:last-child {
		@include above('medium') {
			flex: 1 1 auto;
		}
	}
}

.content {
	p {
		&:not(:last-child) {
			margin-bottom: size('s');
		}
	}
}
</style>
