<template>
  <div class="">
    <button
      ref="quick_reg_close"
      aria-label="Close"
      class="rounded-md text-gray-300 hover:text-white focus:ring-black pt-0 mx-4 md:mx-4 absolute right-0 top-4"
      @keydown.shift.tab.prevent="focusToLastField"
      @click="toggleOff"
      @keypress.enter="toggleOff"
    >
      <svg
        class="h-6 w-6 text-black"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 25 25"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <p
      class="font-secondary-font-regular text-2xl leading-7 lg:leading-8 flex justify-center items-center mt-16 md:mt-11 lg:mt-15"
    >
      Your cart is empty
    </p>
    <div class="flex justify-center items-center mt-16 md:mt-13 lg:mt-16">
      <MkEmptyCarticon />
    </div>
    <MkSecondaryButton
      class="mb-10 w-full flex justify-center px-2 md:px-4 mt-20 lg:mt-16"
      button-title="Continue shopping"
      mksecondary-width="w-full"
      @click="continueShopping"
    />
  </div>
</template>
<script>
import MkSecondaryButton from '~/components/D2C/atoms/MkSecondaryButton.vue'
import MkEmptyCarticon from '~/components/D2C/atoms/MkEmptyCartImg.vue'
export default {
  name: 'MkEmpty',
  components: {
    MkSecondaryButton,
    MkEmptyCarticon,
  },
  data() {
    return {
      queryData: '', // Added for DEMO Route
    }
  },
  methods: {
    toggleOff() {
      this.$store.dispatch('MK_CART_STORE/TOGGLE_SIDE_CART', 'HIDE')
    },
    continueShopping() {
      this.$store.dispatch('MK_CART_STORE/TOGGLE_SIDE_CART', 'HIDE')
      this.$router.push('/shop')
    },
  },
}
</script>
