<template>
	<div :id="id" class="u-block-spacing" :class="$style.block">
		<h2 v-if="heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ heading }}</h2>

		<p v-if="description" class="u-subheading u-subheading--pre-line" :class="$style.description">{{ description }}</p>

		<div :class="$style.listing">
			<div v-for="(item, index) in items" :key="index" :class="$style.item">
				<div :class="$style.video">
					<client-only>
						<ProviderElementActivityTracker v-if="medium && item.video && item.video.url" v-slot="{ isFocused }">
							<MoleculeAutoplayVideoPlayPause :class="$style.videoInner" :show-button="isFocused">
								<video
									v-lazy.video="videoUrl(item.video.url)"
									:class="$style.videoInnerVideo"
									autoplay
									muted
									loop
								></video>
							</MoleculeAutoplayVideoPlayPause>
						</ProviderElementActivityTracker>
					</client-only>
					<div :class="$style.imageWrapper">
						<BaseImage
							:image="item.imageMobile"
							:images="{ medium: null }"
							sizes="calc(100vw - 40px)"
							compression-level="medium"
						/>
					</div>
				</div>

				<div :class="$style.info">
					<div class="u-copy" :class="$style.infoNote">
						{{ item.note }}
					</div>

					<h3 v-if="item.heading" :class="$style.infoHeading">{{ item.heading }}</h3>

					<p v-if="item.description" class="u-copy" :class="$style.infoDescription">{{ item.description }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ProviderElementActivityTracker from '@components/provider-element-activity-tracker';
import MoleculeAutoplayVideoPlayPause from '@components/molecule-autoplay-video-play-pause';
import { mapState } from 'vuex';

export default {
	components: { ProviderElementActivityTracker, MoleculeAutoplayVideoPlayPause },

	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		description: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},
	},

	computed: {
		...mapState('screen', ['medium']),
	},

	methods: {
		videoUrl(url) {
			const videoUrl = decodeURIComponent(url);
			if (videoUrl.startsWith('https://molekule.cdn.prismic.io/')) {
				const videoFile = videoUrl.split('/');
				return '/prismic-images/molekule/' + videoFile[videoFile.length - 1];
			}
			return url;
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	padding: size('m') 0 0;
	overflow: hidden;
	background-color: color('secondary-200');

	@include above('medium') {
		padding: 0;
		background: none;
	}
}

.heading,
.description {
	padding: 0 size('s');
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.description {
	max-width: 62rem;
}

.listing {
	max-width: 70rem;
	margin: 0 auto;

	@include above('large') {
		display: flex;
		max-width: none;
		margin: 0 -1 * size('xxs');
	}
}

.item {
	display: flex;
	flex-direction: column;

	@include above('medium') {
		flex-direction: column-reverse;
		text-align: center;
	}

	@include above('large') {
		display: flex;
		flex: 0 0 auto;
		width: 50%;
		padding: 0 size('xxs');
	}

	&:not(:last-child) {
		@include above('medium') {
			margin-bottom: size('m');
		}

		@include above('large') {
			margin-bottom: 0;
		}
	}
}

.info {
	padding: size('s') size('s') size('m');

	@include above('medium') {
		position: relative;
		z-index: 2;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-self: center;
		justify-content: center;
		max-width: 57rem;
		padding: size('xl');
		margin-bottom: -14rem;
		background-color: color('secondary-200');
	}

	@include above('large') {
		flex-grow: 1;
		margin-bottom: 0;
	}

	@include above('xlarge') {
		min-height: 35.8rem;
		margin-bottom: -14rem;
	}
}

.infoNote {
	margin-bottom: size('s');

	@include above('medium') {
		position: absolute;
		bottom: size('s');
		left: size('s');
		margin-bottom: 0;
		text-align: left;
	}
}

.infoHeading {
	max-width: 42.5rem;
	margin: 0 0 size('s');
	font-weight: 300;
	white-space: pre-line;

	@include use-text-style('heading-300');

	@include above('medium') {
		margin: 0 auto size('s');
	}
}

.infoDescription {
	max-width: 45rem;
	white-space: pre-line;

	@include above('medium') {
		align-self: center;
	}

	@include above('large') {
		max-width: 38rem;
	}
}

.video {
	position: relative;
	padding: 0 size('s');

	.item:not(:first-child) & {
		&::after {
			position: absolute;
			top: -1 * size('m');
			left: 0;
			display: block;
			width: 100%;
			height: 50%;
			content: '';
			background-color: color('white');

			@include above('medium') {
				display: none;
			}
		}
	}

	@include above('large') {
		padding: 0;
	}
}

.videoInner {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}

.imageWrapper {
	position: relative;
	z-index: 1;

	@include above('medium') {
		display: none;
	}
}

.videoInnerVideo {
	display: block;
	width: 100%;
}
</style>
