<template>
	<div :id="id" :class="$style.block">
		<h2 v-if="heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ heading }}</h2>

		<p v-if="description" class="u-copy" :class="$style.description">{{ description }}</p>

		<div :class="$style.row">
			<ul class="u-nolist" :class="$style.list">
				<li :class="$style.item">
					<span class="u-font-secondary" :class="$style.label">Free Radical</span>
					<span :class="$style.value">(OH<sup>•</sup>)</span>
				</li>
				<li :class="$style.item">
					<span :class="$style.plus" aria-hidden="true" />
					<span class="screen-reader-only">plus</span>
				</li>
				<li :class="$style.item">
					<span class="u-font-secondary" :class="$style.label">Oxygen</span>
					<span :class="$style.value">(O<sub>2</sub>)</span>
				</li>
				<li :class="$style.item">
					<span :class="$style.plus" aria-hidden="true" />
					<span class="screen-reader-only">plus</span>
				</li>
				<li :class="$style.item">
					<span class="u-font-secondary" :class="$style.label">Virus</span>
					<span :class="$style.value">(C,O,H,N)</span>
				</li>
			</ul>

			<BaseIcon id="leads-to-arrow" name="arrow-long" width="53" height="18" :class="$style.arrow" title="leads to" />

			<ul class="u-nolist" :class="$style.list">
				<li :class="$style.item">
					<span class="u-font-secondary" :class="$style.label">Carbon Dioxide</span>
					<span :class="$style.value">(CO<sub>2</sub>)</span>
				</li>
				<li :class="$style.item">
					<span :class="$style.plus" aria-hidden="true" />
					<span class="screen-reader-only">plus</span>
				</li>
				<li :class="$style.item">
					<span class="u-font-secondary" :class="$style.label">Water</span>
					<span :class="$style.value">(H<sub>2</sub>O)</span>
				</li>
				<li :class="$style.item">
					<span :class="$style.plus" aria-hidden="true" />
					<span class="screen-reader-only">plus</span>
				</li>
				<li :class="$style.item">
					<span class="u-font-secondary" :class="$style.label">Trace Elements</span>
					<span :class="$style.value">(N<sub>2</sub>, etc)</span>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		description: {
			type: String,
			default: '',
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	padding: size('m') size('s');
	overflow: hidden;
	background-color: color('secondary-200');

	@include above('medium') {
		text-align: center;
	}

	@include above('xlarge') {
		padding: size('l') size('s');
	}
}

.description {
	max-width: 61.5rem;
	margin: 0 auto;
	margin-top: size('s') - size('m');
	margin-bottom: size('m');
	color: color('primary-100');
	white-space: pre-line;

	@include above('xlarge') {
		margin-top: size('s') - size('l');
		margin-bottom: size('l');
	}
}

.row {
	@include below('medium') {
		max-width: 60rem;
		margin-right: auto;
		margin-left: auto;
	}

	@include above('medium') {
		display: flex;
		justify-content: center;
	}
}

.list {
	display: flex;
	justify-content: space-between;
	margin-bottom: size('s');

	@include above('medium') {
		margin-bottom: 0;
	}
}

.item {
	flex: 0 1 auto;
	margin: 0 0.4rem;
	text-align: center;

	@include above('medium') {
		flex: 0 0 auto;
		margin: 0 0.8rem;
	}

	@include above('large') {
		margin: 0 2rem;
	}
}

.label {
	display: block;
	margin-bottom: 0.4rem;

	@include use-text-style('type-200');
}

.value {
	display: block;
	color: color('primary-100');

	@include use-text-style('type-100');
}

.plus {
	position: relative;
	display: block;
	width: 1.4rem;
	margin-top: 0.9rem;
	border-top: 2px solid;

	&::after {
		position: absolute;
		top: -0.8rem;
		left: 0.6rem;
		display: block;
		height: 1.4rem;
		content: '';
		border-left: 2px solid;
	}
}

.arrow {
	display: none;

	@include above('medium') {
		display: block;
		margin: 0 1rem;
	}

	@include above('large') {
		margin: 0 4rem;
	}
}
</style>
