<template>
	<div :id="id" class="u-block-spacing" :class="$style.block">
		<h2 v-if="heading" class="u-heading u-heading--pre-line" :class="$style.heading">{{ heading }}</h2>

		<p v-if="description" class="u-copy" :class="$style.description">{{ description }}</p>

		<div :class="$style.listing">
			<div v-for="(item, index) in items" :key="index" :class="$style.item">
				<div v-if="(item.image && item.image.url) || (item.imageMobile && item.imageMobile.url)">
					<BaseImage
						:image="item.imageMobile"
						:images="{ medium: item.image }"
						sizes="(min-width: 768px) 33.4vw, 100vw"
						compression-level="medium"
						:params="{ cs: 'strip' }"
					/>
				</div>

				<div :class="$style.info">
					<h3 v-if="item.heading" class="u-font-secondary" :class="$style.infoHeading">
						{{ item.heading }}
					</h3>

					<p v-if="item.description" class="u-copy" :class="$style.infoDescription">
						{{ item.description }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		heading: {
			type: String,
			default: '',
		},

		description: {
			type: String,
			default: '',
		},

		items: {
			type: Array,
			default: () => [],
		},
	},
};
</script>

<style lang="scss" module>
@import '@design';

.block {
	overflow: hidden;
}

.heading {
	padding: 0 size('s');
}

.description {
	max-width: 90rem;
	padding: 0 size('s');
	margin-top: size('s') - size('m');
	margin-right: auto;
	margin-bottom: size('m');
	margin-left: auto;

	@include above('medium') {
		text-align: center;
	}

	@include above('xlarge') {
		margin-top: size('s') - size('l');
		margin-bottom: size('l');
	}
}

.listing {
	@include above('medium') {
		display: flex;
		margin: 0 -1 * size('base');
	}
}

.item {
	@include above('medium') {
		flex: 0 0 auto;
		width: (100% / 3);
		padding: 0 size('base');
	}
}

.info {
	padding: size('s');

	@include above('large') {
		padding-top: 2.2rem;
	}

	@include above('xlarge') {
		padding-right: size('l');
		padding-left: size('l');
	}
}

.infoHeading {
	@include use-text-style('heading-150');

	margin-bottom: size('xxs');

	@include above('large') {
		margin-bottom: size('s');
	}
}
</style>
