<!DOCTYPE html>
<html>
	<head>
		<!-- Based on https://github.com/nuxt/nuxt.js/blob/917782a642a33b9146479f78c1111bf5d9df1d1c/packages/vue-app/template/views/error.html -->
		<title><%= messages.server_error %></title>
		<meta charset="utf-8" />
		<meta
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
			name="viewport"
		/>
		<style>
			.__nuxt-error-page {
				padding: 1rem;
				background: #f7f8fb;
				color: #47494e;
				text-align: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				font-family: sans-serif;
				font-weight: 100 !important;
				-ms-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
				-webkit-font-smoothing: antialiased;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			.__nuxt-error-page .error {
				max-width: 450px;
			}
			.__nuxt-error-page .title {
				font-size: 24px;
				font-size: 1.5rem;
				margin-top: 15px;
				color: #47494e;
				margin-bottom: 8px;
			}
			.__nuxt-error-page .description {
				color: #7f828b;
				line-height: 21px;
				margin-bottom: 10px;
			}
			.__nuxt-error-page a {
				color: #7f828b !important;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<script>
			if (document.cookie.indexOf('io.prismic.preview=') !== -1) {
				window.prismic = {
					endpoint: '<%= JSON.stringify(process.env.PRISMIC_ENDPOINT) %>',
				};
				var s = document.createElement('script');
				s.src = 'https://static.cdn.prismic.io/prismic.min.js';
				document.head.appendChild(s);
			}
		</script>
		<div class="__nuxt-error-page">
			<div class="error">
				<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#DBE1EC" viewBox="0 0 48 48">
					<path
						d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
					/>
				</svg>
				<div class="title"><%= messages.server_error %></div>
				<div class="description"
					><% if (debug) { %>{{ message }}<% } else { %><%= messages.server_error_details %><% } %></div
				>
			</div>
		</div>
	</body>
</html>
