<template>
	<div>
		<div id="talkable-offer" />
	</div>
</template>

<script>
export default {
	async asyncData({ store, req }) {
		return { page: await store.dispatch('pages/FETCH_PAGE_DATA', { pageName: 'share', req }) };
	},

	head() {
		return {
			title: (this.page && this.page.seo.title) || '',
			...(this.page &&
				this.page.seo.description && {
					meta: [{ hid: 'description', name: 'description', content: this.page.seo.description }],
				}),
			script: [
				{
					innerHTML:
						"window._talkableq=window._talkableq||[];_talkableq.push(['init',{site_id:'" +
						process.env.talkable_site_id +
						"'}]);window._talkableq.push(['authenticate_customer',{email:'',first_name:'',last_name:'', traffic_source: ''}]);window._talkableq.push(['register_affiliate',{}]);",
					type: 'text/javascript',
				},
				{
					src: '//d2jjzw81hqbuqv.cloudfront.net/integration/clients/' + process.env.talkable_site_id + '.min.js',
					async: true,
				},
			],
			__dangerouslyDisableSanitizers: ['script'],
			bodyAttrs: {
				class: this.$style && this.$style.talkable,
			},
		};
	},
};
</script>

<style lang="scss" module>
@import '@design';

.talkable {
	background-color: #f2f2f2;
}
</style>
